In [1]:
from faker import Faker

In [2]:
fake =Faker('ko_KR')
Faker.seed(0);

In [19]:
fake.address();

In [3]:
fake.email()

'ni@naver.com'

In [14]:
fake.name()

'이지민'

In [22]:
print("id:", fake.email(),
     "passward:", fake.password(length=8, special_chars=False, upper_case=False))
print("name:", fake.name())
print("phone:", fake.phone_number(),
     "address", fake.address())
print("ssn:", fake.ssn())
print()

id: iyeongjin@iii.org passward: pden069e
name: 장채원
phone: 02-9602-7142 address 경상남도 충주시 압구정5길
ssn: 630821-1206650

In [1]:
import pymysql

In [5]:
db = pymysql.connect(host='localhost', user='root', password='root', db='mall')
curs = db.cursor()
query = "select * from users"
curs.execute(query)
rows = curs.fetchall()
for row in rows:
    print(row)
db.close()

In [6]:
query = "INSERT INTO users(id, password, name, cellphone, address, ssn, CI, DI, birthday, gender, join_date) VALUES('gildong@naver.com','abcd1234','홍길동','010-1234-1234','전남 장성군 황룡면 아곡리', '911212-1010101', '-','-','1991-12-12','-', now());"
print(query)

INSERT INTO users(id, password, name, cellphone, address, ssn, CI, DI, birthday, gender, join_date) VALUES('gildong@naver.com','abcd1234','홍길동','010-1234-1234','전남 장성군 황룡면 아곡리', '911212-1010101', '-','-','1991-12-12','-', now());

In [7]:
db = pymysql.connect(host='localhost', user='root', password='root', db='mall')
curs = db.cursor()
curs.execute(query)
db.commit()
db.close()

In [8]:
query = "INSERT INTO users(id, password, name, cellphone,\
address, ssn, CI, DI, birthday, gender, join_date)\
VALUES('"\
+fake.email()\
+"','"\
+fake.password(length=8, special_chars=False, upper_case=True)\
+"','"\
+fake.phone_number()\
+"','"\
+fake.name()\
+"','"\
+fake.phone_number()\
+"','"\
+fake.address()\
+"','"\
+fake.ssn()\
+"','-','-',now(),'-',now());"
print(query)

INSERT INTO users(id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date)VALUES('minjuni@naver.com','Y7XoXxDj','044-342-3209','김명자','064-722-0186','전라북도 춘천시 테헤란거리 (지후이박리)','510519-2179533','-','-',now(),'-',now());

In [9]:
ssn=fake.ssn()
print(ssn)
print(ssn[0:2])
print(ssn[7])
if ssn[7]=='1' or ssn[7]=='2':
    print('birthday: 19'+ssn[0:2]+'-'+ssn[2:4]+'-'+ssn[4:6])
elif ssn[7]=='3' or ssn[7]=='4':
    print('birthday: 20'+ssn[0:2]+'-'+ssn[2:4]+'-'+ssn[4:6])
if ssn[7]=='1' or ssn[7]=='3':
    print('gender: M')
elif ssn[7]=='2' or ssn[7]=='4':
    print('gender: F')

410305-1256012
41
1
birthday: 1941-03-05
gender: M

In [10]:
db= pymysql.connect(host='localhost',user='root',password='root',db='mall')
curs =db.cursor()
ssn=fake.ssn()
if ssn[7]=='1' or ssn[7]=='2':
    birthday= '19'+ssn[0:2]+'-'+ssn[2:4]+'-'+ssn[4:6]
elif ssn[7]=='3' or ssn[7]=='4':
    birthday= '20'+ssn[0:2]+'-'+ssn[2:4]+'-'+ssn[4:6]
if ssn[7]=='1' or ssn[7]=='3':
    gender='M'
elif ssn[7]=='2' or ssn[7]=='4':
    gender = 'F'
query = "INSERT INTO users(id, password, name, cellphone,\
address, ssn, CI, DI, birthday, gender, join_date)\
VALUES('"\
+fake.email() +"','"\
+fake.password(length=8, special_chars=False, upper_case=True)\
+"','"\
+fake.name() +"','"\
+fake.phone_number() +"','"\
+fake.address() +"','"\
+ssn +"','-','-','"\
+birthday+"','"\
+gender+"', now());"
curs.execute(query)
db.commit()
db.close()

In [11]:
db= pymysql.connect(host='localhost',user='root',password='root',db='mall')
curs =db.cursor()
query = "select * from users"
curs.execute(query)
rows = curs.fetchall()
for row in rows:
    print(row)
db.close

(1, 'gildong@naver.com', 'abcd1234', '홍길동', '010-1234-1234', '전남 장성군 황룡면 아곡리', '911212-1010101', '-', '-', datetime.date(1991, 12, 12), '-', datetime.date(2020, 10, 6))
(2, 'gimjeongsun@gmail.com', 'x97Agw1Q', '이시우', '031-709-1634', '경상북도 홍성군 봉은사022길', '300928-2910139', '-', '-', datetime.date(1930, 9, 28), 'F', datetime.date(2020, 10, 6))

In [19]:
import pymysql
db= pymysql.connect(host='localhost',user='root',password='root',db='mall')
curs =db.cursor()
seq = 994
for _ in range(7):
    while True:
        ssn=fake.ssn()
        if (ssn[2]=='0' and ssn[3]=='0') or (ssn[4]=='0' and ssn[5]=='0'):
            continue
        break
    if ssn[7]=='1' or ssn[7]=='2':
        birthday= '19'+ssn[0:2]+'-'+ssn[2:4]+'-'+ssn[4:6]
    elif ssn[7]=='3' or ssn[7]=='4':
        birthday= '20'+ssn[0:2]+'-'+ssn[2:4]+'-'+ssn[4:6]
    if ssn[7]=='1' or ssn[7]=='3':
        gender='M'
    elif ssn[7]=='2' or ssn[7]=='4':
        gender = 'F'
    query = "INSERT IGNORE INTO users(seq, id, password, name, cellphone,\
address, ssn, CI, DI, birthday, gender, join_date) \
VALUES("\
    +str(seq)+",'"+fake.email() +"','"\
    +fake.password(length=8, special_chars=False, upper_case=False)\
    +"','"\
    +fake.name() +"','"\
    +fake.phone_number() +"','"\
    +fake.address() +"','"\
    +ssn +"','-','-','"\
    +birthday+"','"\
    +gender+"', '"\
    +str(fake.date_between(start_date='-10y', end_date='-2m'))+"');"
    ret=curs.execute(query)
    print(query)
    if ret == 1:
        seq += 1
    else:
        print("error",seq,"ret",ret)
db.commit()
db.close()

INSERT IGNORE INTO users(seq, id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date) VALUES(994,'juweon89@gimgim.net','3230ggko','이경희','052-899-9446','전라북도 광명시 백제고분가 (준혁박이리)','440917-2775353','-','-','1944-09-17','F', '2011-03-23');
INSERT IGNORE INTO users(seq, id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date) VALUES(995,'yunyeweon@naver.com','73yw0h31','홍중수','054-225-0338','대전광역시 구로구 영동대0가','540327-1450755','-','-','1954-03-27','M', '2018-02-23');
INSERT IGNORE INTO users(seq, id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date) VALUES(996,'yejingim@yu.kr','29g40klj','김민지','070-8794-2650','경상남도 음성군 삼성로 (춘자이읍)','650907-1041810','-','-','1965-09-07','M', '2015-06-03');
INSERT IGNORE INTO users(seq, id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date) VALUES(997,'coeseonghyeon@heoyanggim.org','uegk67a2','김도현','032-440-0640','경상북도 음성군 서초중앙986거리','890418-2658367','-','-','1989-04-18','F', '2015-10-13');
INSERT IGNORE INTO users(seq, id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date) VALUES(998,'bagjeongnam@iibag.kr','l9rxhprs','김은영','042-522-4578','전라북도 이천시 봉은사가','380314-1617448','-','-','1938-03-14','M', '2015-03-19');
INSERT IGNORE INTO users(seq, id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date) VALUES(999,'seungmin40@hanmail.net','7yq6veor','김지원','011-934-2124','충청북도 화성시 오금가 (현준안박읍)','560922-1180514','-','-','1956-09-22','M', '2020-09-07');
INSERT IGNORE INTO users(seq, id, password, name, cellphone,address, ssn, CI, DI, birthday, gender, join_date) VALUES(1000,'yangbyeongceol@gimibaeg.net','eeh73dpd','박서영','053-669-9667','충청북도 보령시 압구정4길 (은영한마을)','460514-1014021','-','-','1946-05-14','M', '2014-04-18');