In [2]:
import random

order_id =1
for users_seq in range(1, 200):
    for _ in range(random.randint(4,12)):
        print("회원 번호:", users_seq, "주문 번호:", order_id)
        order_id += 1
for users_seq in range(201, 1001):
    for _ in range(random.randint(1, 4)):
        print("회원 번호:", users_seq, "주문 번호:", order_id)
        order_id += 1

회원 번호: 1 주문 번호: 1
회원 번호: 1 주문 번호: 2
회원 번호: 1 주문 번호: 3
회원 번호: 1 주문 번호: 4
회원 번호: 1 주문 번호: 5
회원 번호: 2 주문 번호: 6
회원 번호: 2 주문 번호: 7
회원 번호: 2 주문 번호: 8
회원 번호: 2 주문 번호: 9
회원 번호: 2 주문 번호: 10
회원 번호: 3 주문 번호: 11
회원 번호: 3 주문 번호: 12
회원 번호: 3 주문 번호: 13
회원 번호: 3 주문 번호: 14
회원 번호: 3 주문 번호: 15
회원 번호: 3 주문 번호: 16
회원 번호: 3 주문 번호: 17
회원 번호: 3 주문 번호: 18
회원 번호: 3 주문 번호: 19
회원 번호: 3 주문 번호: 20
회원 번호: 4 주문 번호: 21
회원 번호: 4 주문 번호: 22
회원 번호: 4 주문 번호: 23
회원 번호: 4 주문 번호: 24
회원 번호: 4 주문 번호: 25
회원 번호: 4 주문 번호: 26
회원 번호: 4 주문 번호: 27
회원 번호: 4 주문 번호: 28
회원 번호: 4 주문 번호: 29
회원 번호: 4 주문 번호: 30
회원 번호: 4 주문 번호: 31
회원 번호: 4 주문 번호: 32
회원 번호: 5 주문 번호: 33
회원 번호: 5 주문 번호: 34
회원 번호: 5 주문 번호: 35
회원 번호: 5 주문 번호: 36
회원 번호: 5 주문 번호: 37
회원 번호: 5 주문 번호: 38
회원 번호: 5 주문 번호: 39
회원 번호: 5 주문 번호: 40
회원 번호: 5 주문 번호: 41
회원 번호: 5 주문 번호: 42
회원 번호: 5 주문 번호: 43
회원 번호: 5 주문 번호: 44
회원 번호: 6 주문 번호: 45
회원 번호: 6 주문 번호: 46
회원 번호: 6 주문 번호: 47
회원 번호: 6 주문 번호: 48
회원 번호: 6 주문 번호: 49
회원 번호: 6 주문 번호: 50
회원 번호: 7 주문 번호: 51
회원 번호: 7 주문 번호: 52
회원 번호: 7 주문 번호: 53
회원 번호: 7 주문 번호: 54
회원 번호: 7 주문 번호: 55
회원 번호: 7 주문 번호: 56
회원 번호: 7 주문 번호: 57
회원 번호: 8 주문 번호: 58
회원 번호: 8 주문 번호: 59
회원 번호: 8 주문 번호: 60
회원 번호: 8 주문 번호: 61
회원 번호: 8 주문 번호: 62
회원 번호: 8 주문 번호: 63
회원 번호: 8 주문 번호: 64
회원 번호: 8 주문 번호: 65
회원 번호: 8 주문 번호: 66
회원 번호: 9 주문 번호: 67
회원 번호: 9 주문 번호: 68
회원 번호: 9 주문 번호: 69
회원 번호: 9 주문 번호: 70
회원 번호: 9 주문 번호: 71
회원 번호: 9 주문 번호: 72
회원 번호: 10 주문 번호: 73
회원 번호: 10 주문 번호: 74
회원 번호: 10 주문 번호: 75
회원 번호: 10 주문 번호: 76
회원 번호: 11 주문 번호: 77
회원 번호: 11 주문 번호: 78
회원 번호: 11 주문 번호: 79
회원 번호: 11 주문 번호: 80
회원 번호: 11 주문 번호: 81
회원 번호: 11 주문 번호: 82
회원 번호: 11 주문 번호: 83
회원 번호: 11 주문 번호: 84
회원 번호: 11 주문 번호: 85
회원 번호: 12 주문 번호: 86
회원 번호: 12 주문 번호: 87
회원 번호: 12 주문 번호: 88
회원 번호: 12 주문 번호: 89
회원 번호: 12 주문 번호: 90
회원 번호: 13 주문 번호: 91
회원 번호: 13 주문 번호: 92
회원 번호: 13 주문 번호: 93
회원 번호: 13 주문 번호: 94
회원 번호: 13 주문 번호: 95
회원 번호: 13 주문 번호: 96
회원 번호: 13 주문 번호: 97
회원 번호: 13 주문 번호: 98
회원 번호: 13 주문 번호: 99
회원 번호: 13 주문 번호: 100
회원 번호: 13 주문 번호: 101
회원 번호: 13 주문 번호: 102
회원 번호: 14 주문 번호: 103
회원 번호: 14 주문 번호: 104
회원 번호: 14 주문 번호: 105
회원 번호: 14 주문 번호: 106
회원 번호: 14 주문 번호: 107
회원 번호: 14 주문 번호: 108
회원 번호: 14 주문 번호: 109
회원 번호: 14 주문 번호: 110
회원 번호: 14 주문 번호: 111
회원 번호: 14 주문 번호: 112
회원 번호: 14 주문 번호: 113
회원 번호: 15 주문 번호: 114
회원 번호: 15 주문 번호: 115
회원 번호: 15 주문 번호: 116
회원 번호: 15 주문 번호: 117
회원 번호: 15 주문 번호: 118
회원 번호: 16 주문 번호: 119
회원 번호: 16 주문 번호: 120
회원 번호: 16 주문 번호: 121
회원 번호: 16 주문 번호: 122
회원 번호: 16 주문 번호: 123
회원 번호: 16 주문 번호: 124
회원 번호: 16 주문 번호: 125
회원 번호: 17 주문 번호: 126
회원 번호: 17 주문 번호: 127
회원 번호: 17 주문 번호: 128
회원 번호: 17 주문 번호: 129
회원 번호: 17 주문 번호: 130
회원 번호: 17 주문 번호: 131
회원 번호: 17 주문 번호: 132
회원 번호: 17 주문 번호: 133
회원 번호: 17 주문 번호: 134
회원 번호: 17 주문 번호: 135
회원 번호: 17 주문 번호: 136
회원 번호: 17 주문 번호: 137
회원 번호: 18 주문 번호: 138
회원 번호: 18 주문 번호: 139
회원 번호: 18 주문 번호: 140
회원 번호: 18 주문 번호: 141
회원 번호: 18 주문 번호: 142
회원 번호: 18 주문 번호: 143
회원 번호: 18 주문 번호: 144
회원 번호: 18 주문 번호: 145
회원 번호: 19 주문 번호: 146
회원 번호: 19 주문 번호: 147
회원 번호: 19 주문 번호: 148
회원 번호: 19 주문 번호: 149
회원 번호: 19 주문 번호: 150
회원 번호: 19 주문 번호: 151
회원 번호: 19 주문 번호: 152
회원 번호: 19 주문 번호: 153
회원 번호: 19 주문 번호: 154
회원 번호: 20 주문 번호: 155
회원 번호: 20 주문 번호: 156
회원 번호: 20 주문 번호: 157
회원 번호: 20 주문 번호: 158
회원 번호: 20 주문 번호: 159
회원 번호: 20 주문 번호: 160
회원 번호: 20 주문 번호: 161
회원 번호: 20 주문 번호: 162
회원 번호: 20 주문 번호: 163
회원 번호: 20 주문 번호: 164
회원 번호: 20 주문 번호: 165
회원 번호: 21 주문 번호: 166
회원 번호: 21 주문 번호: 167
회원 번호: 21 주문 번호: 168
회원 번호: 21 주문 번호: 169
회원 번호: 21 주문 번호: 170
회원 번호: 21 주문 번호: 171
회원 번호: 21 주문 번호: 172
회원 번호: 21 주문 번호: 173
회원 번호: 22 주문 번호: 174
회원 번호: 22 주문 번호: 175
회원 번호: 22 주문 번호: 176
회원 번호: 22 주문 번호: 177
회원 번호: 22 주문 번호: 178
회원 번호: 22 주문 번호: 179
회원 번호: 22 주문 번호: 180
회원 번호: 22 주문 번호: 181
회원 번호: 22 주문 번호: 182
회원 번호: 22 주문 번호: 183
회원 번호: 22 주문 번호: 184
회원 번호: 23 주문 번호: 185
회원 번호: 23 주문 번호: 186
회원 번호: 23 주문 번호: 187
회원 번호: 23 주문 번호: 188
회원 번호: 23 주문 번호: 189
회원 번호: 23 주문 번호: 190
회원 번호: 23 주문 번호: 191
회원 번호: 23 주문 번호: 192
회원 번호: 24 주문 번호: 193
회원 번호: 24 주문 번호: 194
회원 번호: 24 주문 번호: 195
회원 번호: 24 주문 번호: 196
회원 번호: 24 주문 번호: 197
회원 번호: 24 주문 번호: 198
회원 번호: 24 주문 번호: 199
회원 번호: 24 주문 번호: 200
회원 번호: 24 주문 번호: 201
회원 번호: 24 주문 번호: 202
회원 번호: 25 주문 번호: 203
회원 번호: 25 주문 번호: 204
회원 번호: 25 주문 번호: 205
회원 번호: 25 주문 번호: 206
회원 번호: 26 주문 번호: 207
회원 번호: 26 주문 번호: 208
회원 번호: 26 주문 번호: 209
회원 번호: 26 주문 번호: 210
회원 번호: 26 주문 번호: 211
회원 번호: 26 주문 번호: 212
회원 번호: 26 주문 번호: 213
회원 번호: 26 주문 번호: 214
회원 번호: 26 주문 번호: 215
회원 번호: 26 주문 번호: 216
회원 번호: 27 주문 번호: 217
회원 번호: 27 주문 번호: 218
회원 번호: 27 주문 번호: 219
회원 번호: 27 주문 번호: 220
회원 번호: 27 주문 번호: 221
회원 번호: 27 주문 번호: 222
회원 번호: 27 주문 번호: 223
회원 번호: 27 주문 번호: 224
회원 번호: 27 주문 번호: 225
회원 번호: 27 주문 번호: 226
회원 번호: 27 주문 번호: 227
회원 번호: 28 주문 번호: 228
회원 번호: 28 주문 번호: 229
회원 번호: 28 주문 번호: 230
회원 번호: 28 주문 번호: 231
회원 번호: 28 주문 번호: 232
회원 번호: 28 주문 번호: 233
회원 번호: 28 주문 번호: 234
회원 번호: 29 주문 번호: 235
회원 번호: 29 주문 번호: 236
회원 번호: 29 주문 번호: 237
회원 번호: 29 주문 번호: 238
회원 번호: 29 주문 번호: 239
회원 번호: 29 주문 번호: 240
회원 번호: 29 주문 번호: 241
회원 번호: 29 주문 번호: 242
회원 번호: 29 주문 번호: 243
회원 번호: 29 주문 번호: 244
회원 번호: 29 주문 번호: 245
회원 번호: 29 주문 번호: 246
회원 번호: 30 주문 번호: 247
회원 번호: 30 주문 번호: 248
회원 번호: 30 주문 번호: 249
회원 번호: 30 주문 번호: 250
회원 번호: 30 주문 번호: 251
회원 번호: 31 주문 번호: 252
회원 번호: 31 주문 번호: 253
회원 번호: 31 주문 번호: 254
회원 번호: 31 주문 번호: 255
회원 번호: 31 주문 번호: 256
회원 번호: 31 주문 번호: 257
회원 번호: 31 주문 번호: 258
회원 번호: 32 주문 번호: 259
회원 번호: 32 주문 번호: 260
회원 번호: 32 주문 번호: 261
회원 번호: 32 주문 번호: 262
회원 번호: 32 주문 번호: 263
회원 번호: 32 주문 번호: 264
회원 번호: 32 주문 번호: 265
회원 번호: 32 주문 번호: 266
회원 번호: 32 주문 번호: 267
회원 번호: 32 주문 번호: 268
회원 번호: 33 주문 번호: 269
회원 번호: 33 주문 번호: 270
회원 번호: 33 주문 번호: 271
회원 번호: 33 주문 번호: 272
회원 번호: 33 주문 번호: 273
회원 번호: 33 주문 번호: 274
회원 번호: 33 주문 번호: 275
회원 번호: 33 주문 번호: 276
회원 번호: 33 주문 번호: 277
회원 번호: 33 주문 번호: 278
회원 번호: 34 주문 번호: 279
회원 번호: 34 주문 번호: 280
회원 번호: 34 주문 번호: 281
회원 번호: 34 주문 번호: 282
회원 번호: 34 주문 번호: 283
회원 번호: 35 주문 번호: 284
회원 번호: 35 주문 번호: 285
회원 번호: 35 주문 번호: 286
회원 번호: 35 주문 번호: 287
회원 번호: 35 주문 번호: 288
회원 번호: 35 주문 번호: 289
회원 번호: 36 주문 번호: 290
회원 번호: 36 주문 번호: 291
회원 번호: 36 주문 번호: 292
회원 번호: 36 주문 번호: 293
회원 번호: 36 주문 번호: 294
회원 번호: 36 주문 번호: 295
회원 번호: 36 주문 번호: 296
회원 번호: 36 주문 번호: 297
회원 번호: 37 주문 번호: 298
회원 번호: 37 주문 번호: 299
회원 번호: 37 주문 번호: 300
회원 번호: 37 주문 번호: 301
회원 번호: 37 주문 번호: 302
회원 번호: 37 주문 번호: 303
회원 번호: 37 주문 번호: 304
회원 번호: 37 주문 번호: 305
회원 번호: 37 주문 번호: 306
회원 번호: 38 주문 번호: 307
회원 번호: 38 주문 번호: 308
회원 번호: 38 주문 번호: 309
회원 번호: 38 주문 번호: 310
회원 번호: 38 주문 번호: 311
회원 번호: 38 주문 번호: 312
회원 번호: 38 주문 번호: 313
회원 번호: 38 주문 번호: 314
회원 번호: 38 주문 번호: 315
회원 번호: 38 주문 번호: 316
회원 번호: 38 주문 번호: 317
회원 번호: 39 주문 번호: 318
회원 번호: 39 주문 번호: 319
회원 번호: 39 주문 번호: 320
회원 번호: 39 주문 번호: 321
회원 번호: 39 주문 번호: 322
회원 번호: 39 주문 번호: 323
회원 번호: 39 주문 번호: 324
회원 번호: 39 주문 번호: 325
회원 번호: 40 주문 번호: 326
회원 번호: 40 주문 번호: 327
회원 번호: 40 주문 번호: 328
회원 번호: 40 주문 번호: 329
회원 번호: 40 주문 번호: 330
회원 번호: 40 주문 번호: 331
회원 번호: 41 주문 번호: 332
회원 번호: 41 주문 번호: 333
회원 번호: 41 주문 번호: 334
회원 번호: 41 주문 번호: 335
회원 번호: 41 주문 번호: 336
회원 번호: 41 주문 번호: 337
회원 번호: 41 주문 번호: 338
회원 번호: 42 주문 번호: 339
회원 번호: 42 주문 번호: 340
회원 번호: 42 주문 번호: 341
회원 번호: 42 주문 번호: 342
회원 번호: 42 주문 번호: 343
회원 번호: 42 주문 번호: 344
회원 번호: 42 주문 번호: 345
회원 번호: 42 주문 번호: 346
회원 번호: 42 주문 번호: 347
회원 번호: 43 주문 번호: 348
회원 번호: 43 주문 번호: 349
회원 번호: 43 주문 번호: 350
회원 번호: 43 주문 번호: 351
회원 번호: 43 주문 번호: 352
회원 번호: 43 주문 번호: 353
회원 번호: 43 주문 번호: 354
회원 번호: 43 주문 번호: 355
회원 번호: 43 주문 번호: 356
회원 번호: 43 주문 번호: 357
회원 번호: 43 주문 번호: 358
회원 번호: 43 주문 번호: 359
회원 번호: 44 주문 번호: 360
회원 번호: 44 주문 번호: 361
회원 번호: 44 주문 번호: 362
회원 번호: 44 주문 번호: 363
회원 번호: 44 주문 번호: 364
회원 번호: 44 주문 번호: 365
회원 번호: 44 주문 번호: 366
회원 번호: 44 주문 번호: 367
회원 번호: 44 주문 번호: 368
회원 번호: 44 주문 번호: 369
회원 번호: 44 주문 번호: 370
회원 번호: 45 주문 번호: 371
회원 번호: 45 주문 번호: 372
회원 번호: 45 주문 번호: 373
회원 번호: 45 주문 번호: 374
회원 번호: 45 주문 번호: 375
회원 번호: 45 주문 번호: 376
회원 번호: 45 주문 번호: 377
회원 번호: 45 주문 번호: 378
회원 번호: 45 주문 번호: 379
회원 번호: 45 주문 번호: 380
회원 번호: 46 주문 번호: 381
회원 번호: 46 주문 번호: 382
회원 번호: 46 주문 번호: 383
회원 번호: 46 주문 번호: 384
회원 번호: 46 주문 번호: 385
회원 번호: 46 주문 번호: 386
회원 번호: 46 주문 번호: 387
회원 번호: 46 주문 번호: 388
회원 번호: 46 주문 번호: 389
회원 번호: 47 주문 번호: 390
회원 번호: 47 주문 번호: 391
회원 번호: 47 주문 번호: 392
회원 번호: 47 주문 번호: 393
회원 번호: 47 주문 번호: 394
회원 번호: 47 주문 번호: 395
회원 번호: 47 주문 번호: 396
회원 번호: 47 주문 번호: 397
회원 번호: 47 주문 번호: 398
회원 번호: 48 주문 번호: 399
회원 번호: 48 주문 번호: 400
회원 번호: 48 주문 번호: 401
회원 번호: 48 주문 번호: 402
회원 번호: 48 주문 번호: 403
회원 번호: 48 주문 번호: 404
회원 번호: 49 주문 번호: 405
회원 번호: 49 주문 번호: 406
회원 번호: 49 주문 번호: 407
회원 번호: 49 주문 번호: 408
회원 번호: 49 주문 번호: 409
회원 번호: 49 주문 번호: 410
회원 번호: 49 주문 번호: 411
회원 번호: 49 주문 번호: 412
회원 번호: 50 주문 번호: 413
회원 번호: 50 주문 번호: 414
회원 번호: 50 주문 번호: 415
회원 번호: 50 주문 번호: 416
회원 번호: 50 주문 번호: 417
회원 번호: 50 주문 번호: 418
회원 번호: 50 주문 번호: 419
회원 번호: 50 주문 번호: 420
회원 번호: 50 주문 번호: 421
회원 번호: 50 주문 번호: 422
회원 번호: 50 주문 번호: 423
회원 번호: 51 주문 번호: 424
회원 번호: 51 주문 번호: 425
회원 번호: 51 주문 번호: 426
회원 번호: 51 주문 번호: 427
회원 번호: 51 주문 번호: 428
회원 번호: 51 주문 번호: 429
회원 번호: 51 주문 번호: 430
회원 번호: 51 주문 번호: 431
회원 번호: 51 주문 번호: 432
회원 번호: 51 주문 번호: 433
회원 번호: 52 주문 번호: 434
회원 번호: 52 주문 번호: 435
회원 번호: 52 주문 번호: 436
회원 번호: 52 주문 번호: 437
회원 번호: 53 주문 번호: 438
회원 번호: 53 주문 번호: 439
회원 번호: 53 주문 번호: 440
회원 번호: 53 주문 번호: 441
회원 번호: 53 주문 번호: 442
회원 번호: 54 주문 번호: 443
회원 번호: 54 주문 번호: 444
회원 번호: 54 주문 번호: 445
회원 번호: 54 주문 번호: 446
회원 번호: 54 주문 번호: 447
회원 번호: 55 주문 번호: 448
회원 번호: 55 주문 번호: 449
회원 번호: 55 주문 번호: 450
회원 번호: 55 주문 번호: 451
회원 번호: 55 주문 번호: 452
회원 번호: 55 주문 번호: 453
회원 번호: 55 주문 번호: 454
회원 번호: 55 주문 번호: 455
회원 번호: 55 주문 번호: 456
회원 번호: 56 주문 번호: 457
회원 번호: 56 주문 번호: 458
회원 번호: 56 주문 번호: 459
회원 번호: 56 주문 번호: 460
회원 번호: 56 주문 번호: 461
회원 번호: 56 주문 번호: 462
회원 번호: 56 주문 번호: 463
회원 번호: 56 주문 번호: 464
회원 번호: 57 주문 번호: 465
회원 번호: 57 주문 번호: 466
회원 번호: 57 주문 번호: 467
회원 번호: 57 주문 번호: 468
회원 번호: 57 주문 번호: 469
회원 번호: 57 주문 번호: 470
회원 번호: 57 주문 번호: 471
회원 번호: 58 주문 번호: 472
회원 번호: 58 주문 번호: 473
회원 번호: 58 주문 번호: 474
회원 번호: 58 주문 번호: 475
회원 번호: 58 주문 번호: 476
회원 번호: 58 주문 번호: 477
회원 번호: 58 주문 번호: 478
회원 번호: 58 주문 번호: 479
회원 번호: 58 주문 번호: 480
회원 번호: 59 주문 번호: 481
회원 번호: 59 주문 번호: 482
회원 번호: 59 주문 번호: 483
회원 번호: 59 주문 번호: 484
회원 번호: 59 주문 번호: 485
회원 번호: 59 주문 번호: 486
회원 번호: 59 주문 번호: 487
회원 번호: 59 주문 번호: 488
회원 번호: 60 주문 번호: 489
회원 번호: 60 주문 번호: 490
회원 번호: 60 주문 번호: 491
회원 번호: 60 주문 번호: 492
회원 번호: 60 주문 번호: 493
회원 번호: 60 주문 번호: 494
회원 번호: 60 주문 번호: 495
회원 번호: 60 주문 번호: 496
회원 번호: 61 주문 번호: 497
회원 번호: 61 주문 번호: 498
회원 번호: 61 주문 번호: 499
회원 번호: 61 주문 번호: 500
회원 번호: 61 주문 번호: 501
회원 번호: 61 주문 번호: 502
회원 번호: 62 주문 번호: 503
회원 번호: 62 주문 번호: 504
회원 번호: 62 주문 번호: 505
회원 번호: 62 주문 번호: 506
회원 번호: 62 주문 번호: 507
회원 번호: 62 주문 번호: 508
회원 번호: 63 주문 번호: 509
회원 번호: 63 주문 번호: 510
회원 번호: 63 주문 번호: 511
회원 번호: 63 주문 번호: 512
회원 번호: 63 주문 번호: 513
회원 번호: 63 주문 번호: 514
회원 번호: 63 주문 번호: 515
회원 번호: 63 주문 번호: 516
회원 번호: 63 주문 번호: 517
회원 번호: 63 주문 번호: 518
회원 번호: 64 주문 번호: 519
회원 번호: 64 주문 번호: 520
회원 번호: 64 주문 번호: 521
회원 번호: 64 주문 번호: 522
회원 번호: 65 주문 번호: 523
회원 번호: 65 주문 번호: 524
회원 번호: 65 주문 번호: 525
회원 번호: 65 주문 번호: 526
회원 번호: 66 주문 번호: 527
회원 번호: 66 주문 번호: 528
회원 번호: 66 주문 번호: 529
회원 번호: 66 주문 번호: 530
회원 번호: 67 주문 번호: 531
회원 번호: 67 주문 번호: 532
회원 번호: 67 주문 번호: 533
회원 번호: 67 주문 번호: 534
회원 번호: 67 주문 번호: 535
회원 번호: 67 주문 번호: 536
회원 번호: 67 주문 번호: 537
회원 번호: 67 주문 번호: 538
회원 번호: 67 주문 번호: 539
회원 번호: 67 주문 번호: 540
회원 번호: 67 주문 번호: 541
회원 번호: 68 주문 번호: 542
회원 번호: 68 주문 번호: 543
회원 번호: 68 주문 번호: 544
회원 번호: 68 주문 번호: 545
회원 번호: 68 주문 번호: 546
회원 번호: 68 주문 번호: 547
회원 번호: 68 주문 번호: 548
회원 번호: 68 주문 번호: 549
회원 번호: 68 주문 번호: 550
회원 번호: 69 주문 번호: 551
회원 번호: 69 주문 번호: 552
회원 번호: 69 주문 번호: 553
회원 번호: 69 주문 번호: 554
회원 번호: 69 주문 번호: 555
회원 번호: 69 주문 번호: 556
회원 번호: 69 주문 번호: 557
회원 번호: 70 주문 번호: 558
회원 번호: 70 주문 번호: 559
회원 번호: 70 주문 번호: 560
회원 번호: 70 주문 번호: 561
회원 번호: 70 주문 번호: 562
회원 번호: 70 주문 번호: 563
회원 번호: 70 주문 번호: 564
회원 번호: 70 주문 번호: 565
회원 번호: 70 주문 번호: 566
회원 번호: 71 주문 번호: 567

회원 번호: 71 주문 번호: 568
회원 번호: 71 주문 번호: 569
회원 번호: 71 주문 번호: 570
회원 번호: 71 주문 번호: 571
회원 번호: 71 주문 번호: 572
회원 번호: 71 주문 번호: 573
회원 번호: 71 주문 번호: 574
회원 번호: 71 주문 번호: 575
회원 번호: 71 주문 번호: 576
회원 번호: 71 주문 번호: 577
회원 번호: 72 주문 번호: 578
회원 번호: 72 주문 번호: 579
회원 번호: 72 주문 번호: 580
회원 번호: 72 주문 번호: 581
회원 번호: 72 주문 번호: 582
회원 번호: 72 주문 번호: 583
회원 번호: 72 주문 번호: 584
회원 번호: 73 주문 번호: 585
회원 번호: 73 주문 번호: 586
회원 번호: 73 주문 번호: 587
회원 번호: 73 주문 번호: 588
회원 번호: 73 주문 번호: 589
회원 번호: 73 주문 번호: 590
회원 번호: 73 주문 번호: 591
회원 번호: 73 주문 번호: 592
회원 번호: 73 주문 번호: 593
회원 번호: 73 주문 번호: 594
회원 번호: 73 주문 번호: 595
회원 번호: 73 주문 번호: 596
회원 번호: 74 주문 번호: 597
회원 번호: 74 주문 번호: 598
회원 번호: 74 주문 번호: 599
회원 번호: 74 주문 번호: 600
회원 번호: 74 주문 번호: 601
회원 번호: 75 주문 번호: 602
회원 번호: 75 주문 번호: 603
회원 번호: 75 주문 번호: 604
회원 번호: 75 주문 번호: 605
회원 번호: 75 주문 번호: 606
회원 번호: 75 주문 번호: 607
회원 번호: 75 주문 번호: 608
회원 번호: 75 주문 번호: 609
회원 번호: 76 주문 번호: 610
회원 번호: 76 주문 번호: 611
회원 번호: 76 주문 번호: 612
회원 번호: 76 주문 번호: 613
회원 번호: 76 주문 번호: 614
회원 번호: 76 주문 번호: 615
회원 번호: 76 주문 번호: 616
회원 번호: 76 주문 번호: 617
회원 번호: 77 주문 번호: 618
회원 번호: 77 주문 번호: 619
회원 번호: 77 주문 번호: 620
회원 번호: 77 주문 번호: 621
회원 번호: 77 주문 번호: 622
회원 번호: 77 주문 번호: 623
회원 번호: 77 주문 번호: 624
회원 번호: 78 주문 번호: 625
회원 번호: 78 주문 번호: 626
회원 번호: 78 주문 번호: 627
회원 번호: 78 주문 번호: 628
회원 번호: 79 주문 번호: 629
회원 번호: 79 주문 번호: 630
회원 번호: 79 주문 번호: 631
회원 번호: 79 주문 번호: 632
회원 번호: 79 주문 번호: 633
회원 번호: 79 주문 번호: 634
회원 번호: 80 주문 번호: 635
회원 번호: 80 주문 번호: 636
회원 번호: 80 주문 번호: 637
회원 번호: 80 주문 번호: 638
회원 번호: 81 주문 번호: 639
회원 번호: 81 주문 번호: 640
회원 번호: 81 주문 번호: 641
회원 번호: 81 주문 번호: 642
회원 번호: 81 주문 번호: 643
회원 번호: 81 주문 번호: 644
회원 번호: 81 주문 번호: 645
회원 번호: 81 주문 번호: 646
회원 번호: 81 주문 번호: 647
회원 번호: 81 주문 번호: 648
회원 번호: 81 주문 번호: 649
회원 번호: 82 주문 번호: 650
회원 번호: 82 주문 번호: 651
회원 번호: 82 주문 번호: 652
회원 번호: 82 주문 번호: 653
회원 번호: 82 주문 번호: 654
회원 번호: 82 주문 번호: 655
회원 번호: 82 주문 번호: 656
회원 번호: 82 주문 번호: 657
회원 번호: 82 주문 번호: 658
회원 번호: 83 주문 번호: 659
회원 번호: 83 주문 번호: 660
회원 번호: 83 주문 번호: 661
회원 번호: 83 주문 번호: 662
회원 번호: 83 주문 번호: 663
회원 번호: 83 주문 번호: 664
회원 번호: 83 주문 번호: 665
회원 번호: 83 주문 번호: 666
회원 번호: 83 주문 번호: 667
회원 번호: 83 주문 번호: 668
회원 번호: 83 주문 번호: 669
회원 번호: 84 주문 번호: 670
회원 번호: 84 주문 번호: 671
회원 번호: 84 주문 번호: 672
회원 번호: 84 주문 번호: 673
회원 번호: 84 주문 번호: 674
회원 번호: 84 주문 번호: 675
회원 번호: 84 주문 번호: 676
회원 번호: 84 주문 번호: 677
회원 번호: 84 주문 번호: 678
회원 번호: 84 주문 번호: 679
회원 번호: 84 주문 번호: 680
회원 번호: 85 주문 번호: 681
회원 번호: 85 주문 번호: 682
회원 번호: 85 주문 번호: 683
회원 번호: 85 주문 번호: 684
회원 번호: 85 주문 번호: 685
회원 번호: 85 주문 번호: 686
회원 번호: 85 주문 번호: 687
회원 번호: 85 주문 번호: 688
회원 번호: 85 주문 번호: 689
회원 번호: 85 주문 번호: 690
회원 번호: 85 주문 번호: 691
회원 번호: 85 주문 번호: 692
회원 번호: 86 주문 번호: 693
회원 번호: 86 주문 번호: 694
회원 번호: 86 주문 번호: 695
회원 번호: 86 주문 번호: 696
회원 번호: 86 주문 번호: 697
회원 번호: 86 주문 번호: 698
회원 번호: 86 주문 번호: 699
회원 번호: 86 주문 번호: 700
회원 번호: 86 주문 번호: 701
회원 번호: 86 주문 번호: 702
회원 번호: 87 주문 번호: 703
회원 번호: 87 주문 번호: 704
회원 번호: 87 주문 번호: 705
회원 번호: 87 주문 번호: 706
회원 번호: 87 주문 번호: 707
회원 번호: 87 주문 번호: 708
회원 번호: 88 주문 번호: 709
회원 번호: 88 주문 번호: 710
회원 번호: 88 주문 번호: 711
회원 번호: 88 주문 번호: 712
회원 번호: 88 주문 번호: 713
회원 번호: 88 주문 번호: 714
회원 번호: 88 주문 번호: 715
회원 번호: 88 주문 번호: 716
회원 번호: 88 주문 번호: 717
회원 번호: 88 주문 번호: 718
회원 번호: 88 주문 번호: 719
회원 번호: 88 주문 번호: 720
회원 번호: 89 주문 번호: 721
회원 번호: 89 주문 번호: 722
회원 번호: 89 주문 번호: 723
회원 번호: 89 주문 번호: 724
회원 번호: 89 주문 번호: 725
회원 번호: 89 주문 번호: 726
회원 번호: 89 주문 번호: 727
회원 번호: 89 주문 번호: 728
회원 번호: 89 주문 번호: 729
회원 번호: 89 주문 번호: 730
회원 번호: 89 주문 번호: 731
회원 번호: 90 주문 번호: 732
회원 번호: 90 주문 번호: 733
회원 번호: 90 주문 번호: 734
회원 번호: 90 주문 번호: 735
회원 번호: 90 주문 번호: 736
회원 번호: 90 주문 번호: 737
회원 번호: 90 주문 번호: 738
회원 번호: 91 주문 번호: 739
회원 번호: 91 주문 번호: 740
회원 번호: 91 주문 번호: 741
회원 번호: 91 주문 번호: 742
회원 번호: 91 주문 번호: 743
회원 번호: 91 주문 번호: 744
회원 번호: 91 주문 번호: 745
회원 번호: 91 주문 번호: 746
회원 번호: 92 주문 번호: 747
회원 번호: 92 주문 번호: 748
회원 번호: 92 주문 번호: 749
회원 번호: 92 주문 번호: 750
회원 번호: 92 주문 번호: 751
회원 번호: 92 주문 번호: 752
회원 번호: 92 주문 번호: 753
회원 번호: 93 주문 번호: 754
회원 번호: 93 주문 번호: 755
회원 번호: 93 주문 번호: 756
회원 번호: 93 주문 번호: 757
회원 번호: 94 주문 번호: 758
회원 번호: 94 주문 번호: 759
회원 번호: 94 주문 번호: 760
회원 번호: 94 주문 번호: 761
회원 번호: 94 주문 번호: 762
회원 번호: 94 주문 번호: 763
회원 번호: 94 주문 번호: 764
회원 번호: 95 주문 번호: 765
회원 번호: 95 주문 번호: 766
회원 번호: 95 주문 번호: 767
회원 번호: 95 주문 번호: 768
회원 번호: 96 주문 번호: 769
회원 번호: 96 주문 번호: 770
회원 번호: 96 주문 번호: 771
회원 번호: 96 주문 번호: 772
회원 번호: 96 주문 번호: 773
회원 번호: 96 주문 번호: 774
회원 번호: 96 주문 번호: 775
회원 번호: 96 주문 번호: 776
회원 번호: 96 주문 번호: 777
회원 번호: 96 주문 번호: 778
회원 번호: 96 주문 번호: 779
회원 번호: 97 주문 번호: 780
회원 번호: 97 주문 번호: 781
회원 번호: 97 주문 번호: 782
회원 번호: 97 주문 번호: 783
회원 번호: 98 주문 번호: 784
회원 번호: 98 주문 번호: 785
회원 번호: 98 주문 번호: 786
회원 번호: 98 주문 번호: 787
회원 번호: 98 주문 번호: 788
회원 번호: 98 주문 번호: 789
회원 번호: 99 주문 번호: 790
회원 번호: 99 주문 번호: 791
회원 번호: 99 주문 번호: 792
회원 번호: 99 주문 번호: 793
회원 번호: 99 주문 번호: 794
회원 번호: 99 주문 번호: 795
회원 번호: 99 주문 번호: 796
회원 번호: 99 주문 번호: 797
회원 번호: 100 주문 번호: 798
회원 번호: 100 주문 번호: 799
회원 번호: 100 주문 번호: 800
회원 번호: 100 주문 번호: 801
회원 번호: 100 주문 번호: 802
회원 번호: 100 주문 번호: 803
회원 번호: 100 주문 번호: 804
회원 번호: 100 주문 번호: 805
회원 번호: 100 주문 번호: 806
회원 번호: 100 주문 번호: 807
회원 번호: 100 주문 번호: 808
회원 번호: 101 주문 번호: 809
회원 번호: 101 주문 번호: 810
회원 번호: 101 주문 번호: 811
회원 번호: 101 주문 번호: 812
회원 번호: 101 주문 번호: 813
회원 번호: 102 주문 번호: 814
회원 번호: 102 주문 번호: 815
회원 번호: 102 주문 번호: 816
회원 번호: 102 주문 번호: 817
회원 번호: 102 주문 번호: 818
회원 번호: 103 주문 번호: 819
회원 번호: 103 주문 번호: 820
회원 번호: 103 주문 번호: 821
회원 번호: 103 주문 번호: 822
회원 번호: 103 주문 번호: 823
회원 번호: 103 주문 번호: 824
회원 번호: 103 주문 번호: 825
회원 번호: 103 주문 번호: 826
회원 번호: 103 주문 번호: 827
회원 번호: 103 주문 번호: 828
회원 번호: 104 주문 번호: 829
회원 번호: 104 주문 번호: 830
회원 번호: 104 주문 번호: 831
회원 번호: 104 주문 번호: 832
회원 번호: 104 주문 번호: 833
회원 번호: 104 주문 번호: 834
회원 번호: 104 주문 번호: 835
회원 번호: 104 주문 번호: 836
회원 번호: 105 주문 번호: 837
회원 번호: 105 주문 번호: 838
회원 번호: 105 주문 번호: 839
회원 번호: 105 주문 번호: 840
회원 번호: 105 주문 번호: 841
회원 번호: 105 주문 번호: 842
회원 번호: 106 주문 번호: 843
회원 번호: 106 주문 번호: 844
회원 번호: 106 주문 번호: 845
회원 번호: 106 주문 번호: 846
회원 번호: 106 주문 번호: 847
회원 번호: 106 주문 번호: 848
회원 번호: 106 주문 번호: 849
회원 번호: 106 주문 번호: 850
회원 번호: 107 주문 번호: 851
회원 번호: 107 주문 번호: 852
회원 번호: 107 주문 번호: 853
회원 번호: 107 주문 번호: 854
회원 번호: 107 주문 번호: 855
회원 번호: 107 주문 번호: 856
회원 번호: 107 주문 번호: 857
회원 번호: 107 주문 번호: 858
회원 번호: 107 주문 번호: 859
회원 번호: 108 주문 번호: 860
회원 번호: 108 주문 번호: 861
회원 번호: 108 주문 번호: 862
회원 번호: 108 주문 번호: 863
회원 번호: 108 주문 번호: 864
회원 번호: 108 주문 번호: 865
회원 번호: 108 주문 번호: 866
회원 번호: 108 주문 번호: 867
회원 번호: 108 주문 번호: 868
회원 번호: 109 주문 번호: 869
회원 번호: 109 주문 번호: 870
회원 번호: 109 주문 번호: 871
회원 번호: 109 주문 번호: 872
회원 번호: 110 주문 번호: 873
회원 번호: 110 주문 번호: 874
회원 번호: 110 주문 번호: 875
회원 번호: 110 주문 번호: 876
회원 번호: 110 주문 번호: 877
회원 번호: 110 주문 번호: 878
회원 번호: 110 주문 번호: 879
회원 번호: 111 주문 번호: 880
회원 번호: 111 주문 번호: 881
회원 번호: 111 주문 번호: 882
회원 번호: 111 주문 번호: 883
회원 번호: 111 주문 번호: 884
회원 번호: 111 주문 번호: 885
회원 번호: 111 주문 번호: 886
회원 번호: 111 주문 번호: 887
회원 번호: 111 주문 번호: 888
회원 번호: 111 주문 번호: 889
회원 번호: 112 주문 번호: 890
회원 번호: 112 주문 번호: 891
회원 번호: 112 주문 번호: 892
회원 번호: 112 주문 번호: 893
회원 번호: 112 주문 번호: 894
회원 번호: 112 주문 번호: 895
회원 번호: 112 주문 번호: 896
회원 번호: 112 주문 번호: 897
회원 번호: 112 주문 번호: 898
회원 번호: 112 주문 번호: 899
회원 번호: 112 주문 번호: 900
회원 번호: 112 주문 번호: 901
회원 번호: 113 주문 번호: 902
회원 번호: 113 주문 번호: 903
회원 번호: 113 주문 번호: 904
회원 번호: 113 주문 번호: 905
회원 번호: 113 주문 번호: 906
회원 번호: 114 주문 번호: 907
회원 번호: 114 주문 번호: 908
회원 번호: 114 주문 번호: 909
회원 번호: 114 주문 번호: 910
회원 번호: 114 주문 번호: 911
회원 번호: 115 주문 번호: 912
회원 번호: 115 주문 번호: 913
회원 번호: 115 주문 번호: 914
회원 번호: 115 주문 번호: 915
회원 번호: 115 주문 번호: 916
회원 번호: 116 주문 번호: 917
회원 번호: 116 주문 번호: 918
회원 번호: 116 주문 번호: 919
회원 번호: 116 주문 번호: 920
회원 번호: 116 주문 번호: 921
회원 번호: 116 주문 번호: 922
회원 번호: 116 주문 번호: 923
회원 번호: 116 주문 번호: 924
회원 번호: 116 주문 번호: 925
회원 번호: 116 주문 번호: 926
회원 번호: 117 주문 번호: 927
회원 번호: 117 주문 번호: 928
회원 번호: 117 주문 번호: 929
회원 번호: 117 주문 번호: 930
회원 번호: 117 주문 번호: 931
회원 번호: 117 주문 번호: 932
회원 번호: 117 주문 번호: 933
회원 번호: 117 주문 번호: 934
회원 번호: 117 주문 번호: 935
회원 번호: 117 주문 번호: 936
회원 번호: 117 주문 번호: 937
회원 번호: 117 주문 번호: 938
회원 번호: 118 주문 번호: 939
회원 번호: 118 주문 번호: 940
회원 번호: 118 주문 번호: 941
회원 번호: 118 주문 번호: 942
회원 번호: 118 주문 번호: 943
회원 번호: 118 주문 번호: 944
회원 번호: 118 주문 번호: 945
회원 번호: 118 주문 번호: 946
회원 번호: 118 주문 번호: 947
회원 번호: 118 주문 번호: 948
회원 번호: 119 주문 번호: 949
회원 번호: 119 주문 번호: 950
회원 번호: 119 주문 번호: 951
회원 번호: 119 주문 번호: 952
회원 번호: 119 주문 번호: 953
회원 번호: 119 주문 번호: 954
회원 번호: 119 주문 번호: 955
회원 번호: 120 주문 번호: 956
회원 번호: 120 주문 번호: 957
회원 번호: 120 주문 번호: 958
회원 번호: 120 주문 번호: 959
회원 번호: 120 주문 번호: 960
회원 번호: 120 주문 번호: 961
회원 번호: 120 주문 번호: 962
회원 번호: 121 주문 번호: 963
회원 번호: 121 주문 번호: 964
회원 번호: 121 주문 번호: 965
회원 번호: 121 주문 번호: 966
회원 번호: 121 주문 번호: 967
회원 번호: 121 주문 번호: 968
회원 번호: 121 주문 번호: 969
회원 번호: 121 주문 번호: 970
회원 번호: 121 주문 번호: 971
회원 번호: 122 주문 번호: 972
회원 번호: 122 주문 번호: 973
회원 번호: 122 주문 번호: 974
회원 번호: 122 주문 번호: 975
회원 번호: 122 주문 번호: 976
회원 번호: 122 주문 번호: 977
회원 번호: 122 주문 번호: 978
회원 번호: 122 주문 번호: 979
회원 번호: 123 주문 번호: 980
회원 번호: 123 주문 번호: 981
회원 번호: 123 주문 번호: 982
회원 번호: 123 주문 번호: 983
회원 번호: 123 주문 번호: 984
회원 번호: 124 주문 번호: 985
회원 번호: 124 주문 번호: 986
회원 번호: 124 주문 번호: 987
회원 번호: 124 주문 번호: 988
회원 번호: 124 주문 번호: 989
회원 번호: 124 주문 번호: 990
회원 번호: 124 주문 번호: 991
회원 번호: 124 주문 번호: 992
회원 번호: 125 주문 번호: 993
회원 번호: 125 주문 번호: 994
회원 번호: 125 주문 번호: 995
회원 번호: 125 주문 번호: 996
회원 번호: 125 주문 번호: 997
회원 번호: 125 주문 번호: 998
회원 번호: 125 주문 번호: 999
회원 번호: 125 주문 번호: 1000
회원 번호: 126 주문 번호: 1001
회원 번호: 126 주문 번호: 1002
회원 번호: 126 주문 번호: 1003
회원 번호: 126 주문 번호: 1004
회원 번호: 126 주문 번호: 1005
회원 번호: 126 주문 번호: 1006
회원 번호: 126 주문 번호: 1007
회원 번호: 126 주문 번호: 1008
회원 번호: 126 주문 번호: 1009
회원 번호: 126 주문 번호: 1010
회원 번호: 126 주문 번호: 1011
회원 번호: 127 주문 번호: 1012
회원 번호: 127 주문 번호: 1013
회원 번호: 127 주문 번호: 1014
회원 번호: 127 주문 번호: 1015
회원 번호: 127 주문 번호: 1016
회원 번호: 127 주문 번호: 1017
회원 번호: 127 주문 번호: 1018
회원 번호: 127 주문 번호: 1019

회원 번호: 128 주문 번호: 1020
회원 번호: 128 주문 번호: 1021
회원 번호: 128 주문 번호: 1022
회원 번호: 128 주문 번호: 1023
회원 번호: 128 주문 번호: 1024
회원 번호: 128 주문 번호: 1025
회원 번호: 128 주문 번호: 1026
회원 번호: 128 주문 번호: 1027
회원 번호: 128 주문 번호: 1028
회원 번호: 128 주문 번호: 1029
회원 번호: 128 주문 번호: 1030
회원 번호: 129 주문 번호: 1031
회원 번호: 129 주문 번호: 1032
회원 번호: 129 주문 번호: 1033
회원 번호: 129 주문 번호: 1034
회원 번호: 129 주문 번호: 1035
회원 번호: 129 주문 번호: 1036
회원 번호: 129 주문 번호: 1037
회원 번호: 129 주문 번호: 1038
회원 번호: 129 주문 번호: 1039
회원 번호: 130 주문 번호: 1040
회원 번호: 130 주문 번호: 1041
회원 번호: 130 주문 번호: 1042
회원 번호: 130 주문 번호: 1043
회원 번호: 130 주문 번호: 1044
회원 번호: 130 주문 번호: 1045
회원 번호: 130 주문 번호: 1046
회원 번호: 131 주문 번호: 1047
회원 번호: 131 주문 번호: 1048
회원 번호: 131 주문 번호: 1049
회원 번호: 131 주문 번호: 1050
회원 번호: 131 주문 번호: 1051
회원 번호: 132 주문 번호: 1052
회원 번호: 132 주문 번호: 1053
회원 번호: 132 주문 번호: 1054
회원 번호: 132 주문 번호: 1055
회원 번호: 132 주문 번호: 1056
회원 번호: 132 주문 번호: 1057
회원 번호: 132 주문 번호: 1058
회원 번호: 133 주문 번호: 1059
회원 번호: 133 주문 번호: 1060
회원 번호: 133 주문 번호: 1061
회원 번호: 133 주문 번호: 1062
회원 번호: 133 주문 번호: 1063
회원 번호: 133 주문 번호: 1064
회원 번호: 133 주문 번호: 1065
회원 번호: 133 주문 번호: 1066
회원 번호: 133 주문 번호: 1067
회원 번호: 134 주문 번호: 1068
회원 번호: 134 주문 번호: 1069
회원 번호: 134 주문 번호: 1070
회원 번호: 134 주문 번호: 1071
회원 번호: 134 주문 번호: 1072
회원 번호: 134 주문 번호: 1073
회원 번호: 134 주문 번호: 1074
회원 번호: 134 주문 번호: 1075
회원 번호: 134 주문 번호: 1076
회원 번호: 134 주문 번호: 1077
회원 번호: 134 주문 번호: 1078
회원 번호: 135 주문 번호: 1079
회원 번호: 135 주문 번호: 1080
회원 번호: 135 주문 번호: 1081
회원 번호: 135 주문 번호: 1082
회원 번호: 135 주문 번호: 1083
회원 번호: 135 주문 번호: 1084
회원 번호: 135 주문 번호: 1085
회원 번호: 135 주문 번호: 1086
회원 번호: 135 주문 번호: 1087
회원 번호: 135 주문 번호: 1088
회원 번호: 135 주문 번호: 1089
회원 번호: 135 주문 번호: 1090
회원 번호: 136 주문 번호: 1091
회원 번호: 136 주문 번호: 1092
회원 번호: 136 주문 번호: 1093
회원 번호: 136 주문 번호: 1094
회원 번호: 136 주문 번호: 1095
회원 번호: 136 주문 번호: 1096
회원 번호: 136 주문 번호: 1097
회원 번호: 136 주문 번호: 1098
회원 번호: 136 주문 번호: 1099
회원 번호: 136 주문 번호: 1100
회원 번호: 136 주문 번호: 1101
회원 번호: 136 주문 번호: 1102
회원 번호: 137 주문 번호: 1103
회원 번호: 137 주문 번호: 1104
회원 번호: 137 주문 번호: 1105
회원 번호: 137 주문 번호: 1106
회원 번호: 137 주문 번호: 1107
회원 번호: 137 주문 번호: 1108
회원 번호: 137 주문 번호: 1109
회원 번호: 137 주문 번호: 1110
회원 번호: 138 주문 번호: 1111
회원 번호: 138 주문 번호: 1112
회원 번호: 138 주문 번호: 1113
회원 번호: 138 주문 번호: 1114
회원 번호: 138 주문 번호: 1115
회원 번호: 138 주문 번호: 1116
회원 번호: 138 주문 번호: 1117
회원 번호: 138 주문 번호: 1118
회원 번호: 138 주문 번호: 1119
회원 번호: 138 주문 번호: 1120
회원 번호: 138 주문 번호: 1121
회원 번호: 138 주문 번호: 1122
회원 번호: 139 주문 번호: 1123
회원 번호: 139 주문 번호: 1124
회원 번호: 139 주문 번호: 1125
회원 번호: 139 주문 번호: 1126
회원 번호: 139 주문 번호: 1127
회원 번호: 139 주문 번호: 1128
회원 번호: 139 주문 번호: 1129
회원 번호: 139 주문 번호: 1130
회원 번호: 139 주문 번호: 1131
회원 번호: 140 주문 번호: 1132
회원 번호: 140 주문 번호: 1133
회원 번호: 140 주문 번호: 1134
회원 번호: 140 주문 번호: 1135
회원 번호: 141 주문 번호: 1136
회원 번호: 141 주문 번호: 1137
회원 번호: 141 주문 번호: 1138
회원 번호: 141 주문 번호: 1139
회원 번호: 141 주문 번호: 1140
회원 번호: 141 주문 번호: 1141
회원 번호: 141 주문 번호: 1142
회원 번호: 141 주문 번호: 1143
회원 번호: 141 주문 번호: 1144
회원 번호: 141 주문 번호: 1145
회원 번호: 142 주문 번호: 1146
회원 번호: 142 주문 번호: 1147
회원 번호: 142 주문 번호: 1148
회원 번호: 142 주문 번호: 1149
회원 번호: 143 주문 번호: 1150
회원 번호: 143 주문 번호: 1151
회원 번호: 143 주문 번호: 1152
회원 번호: 143 주문 번호: 1153
회원 번호: 144 주문 번호: 1154
회원 번호: 144 주문 번호: 1155
회원 번호: 144 주문 번호: 1156
회원 번호: 144 주문 번호: 1157
회원 번호: 144 주문 번호: 1158
회원 번호: 145 주문 번호: 1159
회원 번호: 145 주문 번호: 1160
회원 번호: 145 주문 번호: 1161
회원 번호: 145 주문 번호: 1162
회원 번호: 145 주문 번호: 1163
회원 번호: 146 주문 번호: 1164
회원 번호: 146 주문 번호: 1165
회원 번호: 146 주문 번호: 1166
회원 번호: 146 주문 번호: 1167
회원 번호: 146 주문 번호: 1168
회원 번호: 147 주문 번호: 1169
회원 번호: 147 주문 번호: 1170
회원 번호: 147 주문 번호: 1171
회원 번호: 147 주문 번호: 1172
회원 번호: 147 주문 번호: 1173
회원 번호: 148 주문 번호: 1174
회원 번호: 148 주문 번호: 1175
회원 번호: 148 주문 번호: 1176
회원 번호: 148 주문 번호: 1177
회원 번호: 148 주문 번호: 1178
회원 번호: 148 주문 번호: 1179
회원 번호: 149 주문 번호: 1180
회원 번호: 149 주문 번호: 1181
회원 번호: 149 주문 번호: 1182
회원 번호: 149 주문 번호: 1183
회원 번호: 149 주문 번호: 1184
회원 번호: 149 주문 번호: 1185
회원 번호: 149 주문 번호: 1186
회원 번호: 149 주문 번호: 1187
회원 번호: 149 주문 번호: 1188
회원 번호: 150 주문 번호: 1189
회원 번호: 150 주문 번호: 1190
회원 번호: 150 주문 번호: 1191
회원 번호: 150 주문 번호: 1192
회원 번호: 150 주문 번호: 1193
회원 번호: 150 주문 번호: 1194
회원 번호: 150 주문 번호: 1195
회원 번호: 150 주문 번호: 1196
회원 번호: 151 주문 번호: 1197
회원 번호: 151 주문 번호: 1198
회원 번호: 151 주문 번호: 1199
회원 번호: 151 주문 번호: 1200
회원 번호: 151 주문 번호: 1201
회원 번호: 151 주문 번호: 1202
회원 번호: 151 주문 번호: 1203
회원 번호: 151 주문 번호: 1204
회원 번호: 151 주문 번호: 1205
회원 번호: 151 주문 번호: 1206
회원 번호: 151 주문 번호: 1207
회원 번호: 152 주문 번호: 1208
회원 번호: 152 주문 번호: 1209
회원 번호: 152 주문 번호: 1210
회원 번호: 152 주문 번호: 1211
회원 번호: 153 주문 번호: 1212
회원 번호: 153 주문 번호: 1213
회원 번호: 153 주문 번호: 1214
회원 번호: 153 주문 번호: 1215
회원 번호: 153 주문 번호: 1216
회원 번호: 154 주문 번호: 1217
회원 번호: 154 주문 번호: 1218
회원 번호: 154 주문 번호: 1219
회원 번호: 154 주문 번호: 1220
회원 번호: 154 주문 번호: 1221
회원 번호: 154 주문 번호: 1222
회원 번호: 154 주문 번호: 1223
회원 번호: 154 주문 번호: 1224
회원 번호: 154 주문 번호: 1225
회원 번호: 154 주문 번호: 1226
회원 번호: 154 주문 번호: 1227
회원 번호: 155 주문 번호: 1228
회원 번호: 155 주문 번호: 1229
회원 번호: 155 주문 번호: 1230
회원 번호: 155 주문 번호: 1231
회원 번호: 156 주문 번호: 1232
회원 번호: 156 주문 번호: 1233
회원 번호: 156 주문 번호: 1234
회원 번호: 156 주문 번호: 1235
회원 번호: 156 주문 번호: 1236
회원 번호: 156 주문 번호: 1237
회원 번호: 156 주문 번호: 1238
회원 번호: 157 주문 번호: 1239
회원 번호: 157 주문 번호: 1240
회원 번호: 157 주문 번호: 1241
회원 번호: 157 주문 번호: 1242
회원 번호: 157 주문 번호: 1243
회원 번호: 157 주문 번호: 1244
회원 번호: 157 주문 번호: 1245
회원 번호: 157 주문 번호: 1246
회원 번호: 157 주문 번호: 1247
회원 번호: 157 주문 번호: 1248
회원 번호: 157 주문 번호: 1249
회원 번호: 157 주문 번호: 1250
회원 번호: 158 주문 번호: 1251
회원 번호: 158 주문 번호: 1252
회원 번호: 158 주문 번호: 1253
회원 번호: 158 주문 번호: 1254
회원 번호: 158 주문 번호: 1255
회원 번호: 158 주문 번호: 1256
회원 번호: 158 주문 번호: 1257
회원 번호: 158 주문 번호: 1258
회원 번호: 158 주문 번호: 1259
회원 번호: 158 주문 번호: 1260
회원 번호: 158 주문 번호: 1261
회원 번호: 158 주문 번호: 1262
회원 번호: 159 주문 번호: 1263
회원 번호: 159 주문 번호: 1264
회원 번호: 159 주문 번호: 1265
회원 번호: 159 주문 번호: 1266
회원 번호: 159 주문 번호: 1267
회원 번호: 159 주문 번호: 1268
회원 번호: 160 주문 번호: 1269
회원 번호: 160 주문 번호: 1270
회원 번호: 160 주문 번호: 1271
회원 번호: 160 주문 번호: 1272
회원 번호: 160 주문 번호: 1273
회원 번호: 160 주문 번호: 1274
회원 번호: 160 주문 번호: 1275
회원 번호: 160 주문 번호: 1276
회원 번호: 160 주문 번호: 1277
회원 번호: 160 주문 번호: 1278
회원 번호: 161 주문 번호: 1279
회원 번호: 161 주문 번호: 1280
회원 번호: 161 주문 번호: 1281
회원 번호: 161 주문 번호: 1282
회원 번호: 161 주문 번호: 1283
회원 번호: 161 주문 번호: 1284
회원 번호: 161 주문 번호: 1285
회원 번호: 161 주문 번호: 1286
회원 번호: 161 주문 번호: 1287
회원 번호: 162 주문 번호: 1288
회원 번호: 162 주문 번호: 1289
회원 번호: 162 주문 번호: 1290
회원 번호: 162 주문 번호: 1291
회원 번호: 163 주문 번호: 1292
회원 번호: 163 주문 번호: 1293
회원 번호: 163 주문 번호: 1294
회원 번호: 163 주문 번호: 1295
회원 번호: 163 주문 번호: 1296
회원 번호: 163 주문 번호: 1297
회원 번호: 163 주문 번호: 1298
회원 번호: 163 주문 번호: 1299
회원 번호: 163 주문 번호: 1300
회원 번호: 164 주문 번호: 1301
회원 번호: 164 주문 번호: 1302
회원 번호: 164 주문 번호: 1303
회원 번호: 164 주문 번호: 1304
회원 번호: 164 주문 번호: 1305
회원 번호: 164 주문 번호: 1306
회원 번호: 165 주문 번호: 1307
회원 번호: 165 주문 번호: 1308
회원 번호: 165 주문 번호: 1309
회원 번호: 165 주문 번호: 1310
회원 번호: 165 주문 번호: 1311
회원 번호: 165 주문 번호: 1312
회원 번호: 166 주문 번호: 1313
회원 번호: 166 주문 번호: 1314
회원 번호: 166 주문 번호: 1315
회원 번호: 166 주문 번호: 1316
회원 번호: 166 주문 번호: 1317
회원 번호: 166 주문 번호: 1318
회원 번호: 166 주문 번호: 1319
회원 번호: 167 주문 번호: 1320
회원 번호: 167 주문 번호: 1321
회원 번호: 167 주문 번호: 1322
회원 번호: 167 주문 번호: 1323
회원 번호: 167 주문 번호: 1324
회원 번호: 167 주문 번호: 1325
회원 번호: 167 주문 번호: 1326
회원 번호: 167 주문 번호: 1327
회원 번호: 168 주문 번호: 1328
회원 번호: 168 주문 번호: 1329
회원 번호: 168 주문 번호: 1330
회원 번호: 168 주문 번호: 1331
회원 번호: 168 주문 번호: 1332
회원 번호: 168 주문 번호: 1333
회원 번호: 168 주문 번호: 1334
회원 번호: 168 주문 번호: 1335
회원 번호: 169 주문 번호: 1336
회원 번호: 169 주문 번호: 1337
회원 번호: 169 주문 번호: 1338
회원 번호: 169 주문 번호: 1339
회원 번호: 169 주문 번호: 1340
회원 번호: 170 주문 번호: 1341
회원 번호: 170 주문 번호: 1342
회원 번호: 170 주문 번호: 1343
회원 번호: 170 주문 번호: 1344
회원 번호: 170 주문 번호: 1345
회원 번호: 170 주문 번호: 1346
회원 번호: 170 주문 번호: 1347
회원 번호: 170 주문 번호: 1348
회원 번호: 170 주문 번호: 1349
회원 번호: 170 주문 번호: 1350
회원 번호: 170 주문 번호: 1351
회원 번호: 171 주문 번호: 1352
회원 번호: 171 주문 번호: 1353
회원 번호: 171 주문 번호: 1354
회원 번호: 171 주문 번호: 1355
회원 번호: 171 주문 번호: 1356
회원 번호: 171 주문 번호: 1357
회원 번호: 171 주문 번호: 1358
회원 번호: 172 주문 번호: 1359
회원 번호: 172 주문 번호: 1360
회원 번호: 172 주문 번호: 1361
회원 번호: 172 주문 번호: 1362
회원 번호: 172 주문 번호: 1363
회원 번호: 172 주문 번호: 1364
회원 번호: 172 주문 번호: 1365
회원 번호: 172 주문 번호: 1366
회원 번호: 173 주문 번호: 1367
회원 번호: 173 주문 번호: 1368
회원 번호: 173 주문 번호: 1369
회원 번호: 173 주문 번호: 1370
회원 번호: 173 주문 번호: 1371
회원 번호: 173 주문 번호: 1372
회원 번호: 173 주문 번호: 1373
회원 번호: 174 주문 번호: 1374
회원 번호: 174 주문 번호: 1375
회원 번호: 174 주문 번호: 1376
회원 번호: 174 주문 번호: 1377
회원 번호: 174 주문 번호: 1378
회원 번호: 175 주문 번호: 1379
회원 번호: 175 주문 번호: 1380
회원 번호: 175 주문 번호: 1381
회원 번호: 175 주문 번호: 1382
회원 번호: 175 주문 번호: 1383
회원 번호: 175 주문 번호: 1384
회원 번호: 175 주문 번호: 1385
회원 번호: 175 주문 번호: 1386
회원 번호: 175 주문 번호: 1387
회원 번호: 175 주문 번호: 1388
회원 번호: 175 주문 번호: 1389
회원 번호: 175 주문 번호: 1390
회원 번호: 176 주문 번호: 1391
회원 번호: 176 주문 번호: 1392
회원 번호: 176 주문 번호: 1393
회원 번호: 176 주문 번호: 1394
회원 번호: 177 주문 번호: 1395
회원 번호: 177 주문 번호: 1396
회원 번호: 177 주문 번호: 1397
회원 번호: 177 주문 번호: 1398
회원 번호: 177 주문 번호: 1399
회원 번호: 177 주문 번호: 1400
회원 번호: 177 주문 번호: 1401
회원 번호: 177 주문 번호: 1402
회원 번호: 177 주문 번호: 1403
회원 번호: 177 주문 번호: 1404
회원 번호: 177 주문 번호: 1405
회원 번호: 178 주문 번호: 1406
회원 번호: 178 주문 번호: 1407
회원 번호: 178 주문 번호: 1408
회원 번호: 178 주문 번호: 1409
회원 번호: 178 주문 번호: 1410
회원 번호: 178 주문 번호: 1411
회원 번호: 178 주문 번호: 1412
회원 번호: 178 주문 번호: 1413
회원 번호: 178 주문 번호: 1414
회원 번호: 179 주문 번호: 1415
회원 번호: 179 주문 번호: 1416
회원 번호: 179 주문 번호: 1417
회원 번호: 179 주문 번호: 1418
회원 번호: 179 주문 번호: 1419
회원 번호: 179 주문 번호: 1420
회원 번호: 179 주문 번호: 1421
회원 번호: 180 주문 번호: 1422
회원 번호: 180 주문 번호: 1423
회원 번호: 180 주문 번호: 1424
회원 번호: 180 주문 번호: 1425
회원 번호: 180 주문 번호: 1426
회원 번호: 180 주문 번호: 1427
회원 번호: 180 주문 번호: 1428
회원 번호: 180 주문 번호: 1429
회원 번호: 180 주문 번호: 1430
회원 번호: 180 주문 번호: 1431
회원 번호: 180 주문 번호: 1432
회원 번호: 180 주문 번호: 1433
회원 번호: 181 주문 번호: 1434
회원 번호: 181 주문 번호: 1435
회원 번호: 181 주문 번호: 1436
회원 번호: 181 주문 번호: 1437
회원 번호: 181 주문 번호: 1438
회원 번호: 182 주문 번호: 1439
회원 번호: 182 주문 번호: 1440
회원 번호: 182 주문 번호: 1441
회원 번호: 182 주문 번호: 1442
회원 번호: 182 주문 번호: 1443
회원 번호: 183 주문 번호: 1444
회원 번호: 183 주문 번호: 1445
회원 번호: 183 주문 번호: 1446
회원 번호: 183 주문 번호: 1447
회원 번호: 183 주문 번호: 1448
회원 번호: 183 주문 번호: 1449
회원 번호: 183 주문 번호: 1450
회원 번호: 183 주문 번호: 1451
회원 번호: 183 주문 번호: 1452
회원 번호: 183 주문 번호: 1453
회원 번호: 183 주문 번호: 1454
회원 번호: 184 주문 번호: 1455
회원 번호: 184 주문 번호: 1456
회원 번호: 184 주문 번호: 1457
회원 번호: 184 주문 번호: 1458
회원 번호: 184 주문 번호: 1459
회원 번호: 184 주문 번호: 1460
회원 번호: 184 주문 번호: 1461
회원 번호: 184 주문 번호: 1462
회원 번호: 185 주문 번호: 1463
회원 번호: 185 주문 번호: 1464
회원 번호: 185 주문 번호: 1465
회원 번호: 185 주문 번호: 1466
회원 번호: 185 주문 번호: 1467
회원 번호: 185 주문 번호: 1468
회원 번호: 185 주문 번호: 1469
회원 번호: 185 주문 번호: 1470
회원 번호: 185 주문 번호: 1471
회원 번호: 185 주문 번호: 1472
회원 번호: 185 주문 번호: 1473
회원 번호: 185 주문 번호: 1474
회원 번호: 186 주문 번호: 1475
회원 번호: 186 주문 번호: 1476
회원 번호: 186 주문 번호: 1477
회원 번호: 186 주문 번호: 1478
회원 번호: 186 주문 번호: 1479
회원 번호: 187 주문 번호: 1480

회원 번호: 187 주문 번호: 1481
회원 번호: 187 주문 번호: 1482
회원 번호: 187 주문 번호: 1483
회원 번호: 188 주문 번호: 1484
회원 번호: 188 주문 번호: 1485
회원 번호: 188 주문 번호: 1486
회원 번호: 188 주문 번호: 1487
회원 번호: 188 주문 번호: 1488
회원 번호: 188 주문 번호: 1489
회원 번호: 188 주문 번호: 1490
회원 번호: 188 주문 번호: 1491
회원 번호: 188 주문 번호: 1492
회원 번호: 188 주문 번호: 1493
회원 번호: 189 주문 번호: 1494
회원 번호: 189 주문 번호: 1495
회원 번호: 189 주문 번호: 1496
회원 번호: 189 주문 번호: 1497
회원 번호: 189 주문 번호: 1498
회원 번호: 190 주문 번호: 1499
회원 번호: 190 주문 번호: 1500
회원 번호: 190 주문 번호: 1501
회원 번호: 190 주문 번호: 1502
회원 번호: 190 주문 번호: 1503
회원 번호: 190 주문 번호: 1504
회원 번호: 191 주문 번호: 1505
회원 번호: 191 주문 번호: 1506
회원 번호: 191 주문 번호: 1507
회원 번호: 191 주문 번호: 1508
회원 번호: 191 주문 번호: 1509
회원 번호: 191 주문 번호: 1510
회원 번호: 191 주문 번호: 1511
회원 번호: 191 주문 번호: 1512
회원 번호: 192 주문 번호: 1513
회원 번호: 192 주문 번호: 1514
회원 번호: 192 주문 번호: 1515
회원 번호: 192 주문 번호: 1516
회원 번호: 192 주문 번호: 1517
회원 번호: 192 주문 번호: 1518
회원 번호: 192 주문 번호: 1519
회원 번호: 192 주문 번호: 1520
회원 번호: 192 주문 번호: 1521
회원 번호: 192 주문 번호: 1522
회원 번호: 192 주문 번호: 1523
회원 번호: 192 주문 번호: 1524
회원 번호: 193 주문 번호: 1525
회원 번호: 193 주문 번호: 1526
회원 번호: 193 주문 번호: 1527
회원 번호: 193 주문 번호: 1528
회원 번호: 193 주문 번호: 1529
회원 번호: 193 주문 번호: 1530
회원 번호: 194 주문 번호: 1531
회원 번호: 194 주문 번호: 1532
회원 번호: 194 주문 번호: 1533
회원 번호: 194 주문 번호: 1534
회원 번호: 194 주문 번호: 1535
회원 번호: 194 주문 번호: 1536
회원 번호: 194 주문 번호: 1537
회원 번호: 195 주문 번호: 1538
회원 번호: 195 주문 번호: 1539
회원 번호: 195 주문 번호: 1540
회원 번호: 195 주문 번호: 1541
회원 번호: 195 주문 번호: 1542
회원 번호: 195 주문 번호: 1543
회원 번호: 195 주문 번호: 1544
회원 번호: 196 주문 번호: 1545
회원 번호: 196 주문 번호: 1546
회원 번호: 196 주문 번호: 1547
회원 번호: 196 주문 번호: 1548
회원 번호: 196 주문 번호: 1549
회원 번호: 196 주문 번호: 1550
회원 번호: 196 주문 번호: 1551
회원 번호: 196 주문 번호: 1552
회원 번호: 196 주문 번호: 1553
회원 번호: 196 주문 번호: 1554
회원 번호: 196 주문 번호: 1555
회원 번호: 197 주문 번호: 1556
회원 번호: 197 주문 번호: 1557
회원 번호: 197 주문 번호: 1558
회원 번호: 197 주문 번호: 1559
회원 번호: 197 주문 번호: 1560
회원 번호: 197 주문 번호: 1561
회원 번호: 197 주문 번호: 1562
회원 번호: 197 주문 번호: 1563
회원 번호: 198 주문 번호: 1564
회원 번호: 198 주문 번호: 1565
회원 번호: 198 주문 번호: 1566
회원 번호: 198 주문 번호: 1567
회원 번호: 199 주문 번호: 1568
회원 번호: 199 주문 번호: 1569
회원 번호: 199 주문 번호: 1570
회원 번호: 199 주문 번호: 1571
회원 번호: 199 주문 번호: 1572
회원 번호: 199 주문 번호: 1573
회원 번호: 199 주문 번호: 1574
회원 번호: 199 주문 번호: 1575
회원 번호: 199 주문 번호: 1576
회원 번호: 199 주문 번호: 1577
회원 번호: 201 주문 번호: 1578
회원 번호: 201 주문 번호: 1579
회원 번호: 201 주문 번호: 1580
회원 번호: 201 주문 번호: 1581
회원 번호: 202 주문 번호: 1582
회원 번호: 203 주문 번호: 1583
회원 번호: 203 주문 번호: 1584
회원 번호: 204 주문 번호: 1585
회원 번호: 204 주문 번호: 1586
회원 번호: 204 주문 번호: 1587
회원 번호: 204 주문 번호: 1588
회원 번호: 205 주문 번호: 1589
회원 번호: 205 주문 번호: 1590
회원 번호: 205 주문 번호: 1591
회원 번호: 205 주문 번호: 1592
회원 번호: 206 주문 번호: 1593
회원 번호: 206 주문 번호: 1594
회원 번호: 206 주문 번호: 1595
회원 번호: 206 주문 번호: 1596
회원 번호: 207 주문 번호: 1597
회원 번호: 207 주문 번호: 1598
회원 번호: 208 주문 번호: 1599
회원 번호: 208 주문 번호: 1600
회원 번호: 208 주문 번호: 1601
회원 번호: 208 주문 번호: 1602
회원 번호: 209 주문 번호: 1603
회원 번호: 209 주문 번호: 1604
회원 번호: 209 주문 번호: 1605
회원 번호: 209 주문 번호: 1606
회원 번호: 210 주문 번호: 1607
회원 번호: 211 주문 번호: 1608
회원 번호: 212 주문 번호: 1609
회원 번호: 212 주문 번호: 1610
회원 번호: 212 주문 번호: 1611
회원 번호: 213 주문 번호: 1612
회원 번호: 213 주문 번호: 1613
회원 번호: 213 주문 번호: 1614
회원 번호: 214 주문 번호: 1615
회원 번호: 214 주문 번호: 1616
회원 번호: 214 주문 번호: 1617
회원 번호: 214 주문 번호: 1618
회원 번호: 215 주문 번호: 1619
회원 번호: 216 주문 번호: 1620
회원 번호: 216 주문 번호: 1621
회원 번호: 216 주문 번호: 1622
회원 번호: 217 주문 번호: 1623
회원 번호: 217 주문 번호: 1624
회원 번호: 218 주문 번호: 1625
회원 번호: 218 주문 번호: 1626
회원 번호: 219 주문 번호: 1627
회원 번호: 219 주문 번호: 1628
회원 번호: 219 주문 번호: 1629
회원 번호: 219 주문 번호: 1630
회원 번호: 220 주문 번호: 1631
회원 번호: 220 주문 번호: 1632
회원 번호: 220 주문 번호: 1633
회원 번호: 220 주문 번호: 1634
회원 번호: 221 주문 번호: 1635
회원 번호: 222 주문 번호: 1636
회원 번호: 222 주문 번호: 1637
회원 번호: 222 주문 번호: 1638
회원 번호: 222 주문 번호: 1639
회원 번호: 223 주문 번호: 1640
회원 번호: 223 주문 번호: 1641
회원 번호: 224 주문 번호: 1642
회원 번호: 224 주문 번호: 1643
회원 번호: 225 주문 번호: 1644
회원 번호: 225 주문 번호: 1645
회원 번호: 226 주문 번호: 1646
회원 번호: 226 주문 번호: 1647
회원 번호: 226 주문 번호: 1648
회원 번호: 226 주문 번호: 1649
회원 번호: 227 주문 번호: 1650
회원 번호: 227 주문 번호: 1651
회원 번호: 228 주문 번호: 1652
회원 번호: 228 주문 번호: 1653
회원 번호: 229 주문 번호: 1654
회원 번호: 229 주문 번호: 1655
회원 번호: 229 주문 번호: 1656
회원 번호: 229 주문 번호: 1657
회원 번호: 230 주문 번호: 1658
회원 번호: 231 주문 번호: 1659
회원 번호: 231 주문 번호: 1660
회원 번호: 232 주문 번호: 1661
회원 번호: 232 주문 번호: 1662
회원 번호: 232 주문 번호: 1663
회원 번호: 232 주문 번호: 1664
회원 번호: 233 주문 번호: 1665
회원 번호: 233 주문 번호: 1666
회원 번호: 233 주문 번호: 1667
회원 번호: 234 주문 번호: 1668
회원 번호: 234 주문 번호: 1669
회원 번호: 234 주문 번호: 1670
회원 번호: 235 주문 번호: 1671
회원 번호: 236 주문 번호: 1672
회원 번호: 236 주문 번호: 1673
회원 번호: 236 주문 번호: 1674
회원 번호: 236 주문 번호: 1675
회원 번호: 237 주문 번호: 1676
회원 번호: 237 주문 번호: 1677
회원 번호: 238 주문 번호: 1678
회원 번호: 238 주문 번호: 1679
회원 번호: 238 주문 번호: 1680
회원 번호: 238 주문 번호: 1681
회원 번호: 239 주문 번호: 1682
회원 번호: 239 주문 번호: 1683
회원 번호: 239 주문 번호: 1684
회원 번호: 239 주문 번호: 1685
회원 번호: 240 주문 번호: 1686
회원 번호: 241 주문 번호: 1687
회원 번호: 241 주문 번호: 1688
회원 번호: 241 주문 번호: 1689
회원 번호: 241 주문 번호: 1690
회원 번호: 242 주문 번호: 1691
회원 번호: 243 주문 번호: 1692
회원 번호: 244 주문 번호: 1693
회원 번호: 245 주문 번호: 1694
회원 번호: 245 주문 번호: 1695
회원 번호: 246 주문 번호: 1696
회원 번호: 246 주문 번호: 1697
회원 번호: 246 주문 번호: 1698
회원 번호: 246 주문 번호: 1699
회원 번호: 247 주문 번호: 1700
회원 번호: 247 주문 번호: 1701
회원 번호: 247 주문 번호: 1702
회원 번호: 247 주문 번호: 1703
회원 번호: 248 주문 번호: 1704
회원 번호: 248 주문 번호: 1705
회원 번호: 248 주문 번호: 1706
회원 번호: 248 주문 번호: 1707
회원 번호: 249 주문 번호: 1708
회원 번호: 249 주문 번호: 1709
회원 번호: 250 주문 번호: 1710
회원 번호: 250 주문 번호: 1711
회원 번호: 250 주문 번호: 1712
회원 번호: 250 주문 번호: 1713
회원 번호: 251 주문 번호: 1714
회원 번호: 251 주문 번호: 1715
회원 번호: 251 주문 번호: 1716
회원 번호: 251 주문 번호: 1717
회원 번호: 252 주문 번호: 1718
회원 번호: 253 주문 번호: 1719
회원 번호: 253 주문 번호: 1720
회원 번호: 253 주문 번호: 1721
회원 번호: 254 주문 번호: 1722
회원 번호: 254 주문 번호: 1723
회원 번호: 254 주문 번호: 1724
회원 번호: 254 주문 번호: 1725
회원 번호: 255 주문 번호: 1726
회원 번호: 256 주문 번호: 1727
회원 번호: 256 주문 번호: 1728
회원 번호: 256 주문 번호: 1729
회원 번호: 256 주문 번호: 1730
회원 번호: 257 주문 번호: 1731
회원 번호: 257 주문 번호: 1732
회원 번호: 257 주문 번호: 1733
회원 번호: 257 주문 번호: 1734
회원 번호: 258 주문 번호: 1735
회원 번호: 258 주문 번호: 1736
회원 번호: 258 주문 번호: 1737
회원 번호: 258 주문 번호: 1738
회원 번호: 259 주문 번호: 1739
회원 번호: 260 주문 번호: 1740
회원 번호: 261 주문 번호: 1741
회원 번호: 262 주문 번호: 1742
회원 번호: 262 주문 번호: 1743
회원 번호: 262 주문 번호: 1744
회원 번호: 262 주문 번호: 1745
회원 번호: 263 주문 번호: 1746
회원 번호: 263 주문 번호: 1747
회원 번호: 263 주문 번호: 1748
회원 번호: 263 주문 번호: 1749
회원 번호: 264 주문 번호: 1750
회원 번호: 264 주문 번호: 1751
회원 번호: 264 주문 번호: 1752
회원 번호: 264 주문 번호: 1753
회원 번호: 265 주문 번호: 1754
회원 번호: 265 주문 번호: 1755
회원 번호: 265 주문 번호: 1756
회원 번호: 265 주문 번호: 1757
회원 번호: 266 주문 번호: 1758
회원 번호: 267 주문 번호: 1759
회원 번호: 267 주문 번호: 1760
회원 번호: 267 주문 번호: 1761
회원 번호: 268 주문 번호: 1762
회원 번호: 269 주문 번호: 1763
회원 번호: 269 주문 번호: 1764
회원 번호: 269 주문 번호: 1765
회원 번호: 269 주문 번호: 1766
회원 번호: 270 주문 번호: 1767
회원 번호: 270 주문 번호: 1768
회원 번호: 271 주문 번호: 1769
회원 번호: 271 주문 번호: 1770
회원 번호: 272 주문 번호: 1771
회원 번호: 272 주문 번호: 1772
회원 번호: 272 주문 번호: 1773
회원 번호: 272 주문 번호: 1774
회원 번호: 273 주문 번호: 1775
회원 번호: 273 주문 번호: 1776
회원 번호: 273 주문 번호: 1777
회원 번호: 273 주문 번호: 1778
회원 번호: 274 주문 번호: 1779
회원 번호: 274 주문 번호: 1780
회원 번호: 275 주문 번호: 1781
회원 번호: 275 주문 번호: 1782
회원 번호: 275 주문 번호: 1783
회원 번호: 276 주문 번호: 1784
회원 번호: 276 주문 번호: 1785
회원 번호: 276 주문 번호: 1786
회원 번호: 276 주문 번호: 1787
회원 번호: 277 주문 번호: 1788
회원 번호: 277 주문 번호: 1789
회원 번호: 277 주문 번호: 1790
회원 번호: 278 주문 번호: 1791
회원 번호: 278 주문 번호: 1792
회원 번호: 278 주문 번호: 1793
회원 번호: 279 주문 번호: 1794
회원 번호: 279 주문 번호: 1795
회원 번호: 280 주문 번호: 1796
회원 번호: 280 주문 번호: 1797
회원 번호: 280 주문 번호: 1798
회원 번호: 281 주문 번호: 1799
회원 번호: 281 주문 번호: 1800
회원 번호: 281 주문 번호: 1801
회원 번호: 282 주문 번호: 1802
회원 번호: 282 주문 번호: 1803
회원 번호: 283 주문 번호: 1804
회원 번호: 283 주문 번호: 1805
회원 번호: 283 주문 번호: 1806
회원 번호: 283 주문 번호: 1807
회원 번호: 284 주문 번호: 1808
회원 번호: 284 주문 번호: 1809
회원 번호: 284 주문 번호: 1810
회원 번호: 284 주문 번호: 1811
회원 번호: 285 주문 번호: 1812
회원 번호: 285 주문 번호: 1813
회원 번호: 285 주문 번호: 1814
회원 번호: 285 주문 번호: 1815
회원 번호: 286 주문 번호: 1816
회원 번호: 286 주문 번호: 1817
회원 번호: 286 주문 번호: 1818
회원 번호: 287 주문 번호: 1819
회원 번호: 287 주문 번호: 1820
회원 번호: 288 주문 번호: 1821
회원 번호: 288 주문 번호: 1822
회원 번호: 289 주문 번호: 1823
회원 번호: 289 주문 번호: 1824
회원 번호: 289 주문 번호: 1825
회원 번호: 290 주문 번호: 1826
회원 번호: 291 주문 번호: 1827
회원 번호: 292 주문 번호: 1828
회원 번호: 293 주문 번호: 1829
회원 번호: 293 주문 번호: 1830
회원 번호: 294 주문 번호: 1831
회원 번호: 295 주문 번호: 1832
회원 번호: 295 주문 번호: 1833
회원 번호: 295 주문 번호: 1834
회원 번호: 295 주문 번호: 1835
회원 번호: 296 주문 번호: 1836
회원 번호: 296 주문 번호: 1837
회원 번호: 297 주문 번호: 1838
회원 번호: 297 주문 번호: 1839
회원 번호: 297 주문 번호: 1840
회원 번호: 297 주문 번호: 1841
회원 번호: 298 주문 번호: 1842
회원 번호: 298 주문 번호: 1843
회원 번호: 298 주문 번호: 1844
회원 번호: 299 주문 번호: 1845
회원 번호: 299 주문 번호: 1846
회원 번호: 299 주문 번호: 1847
회원 번호: 300 주문 번호: 1848
회원 번호: 300 주문 번호: 1849
회원 번호: 300 주문 번호: 1850
회원 번호: 301 주문 번호: 1851
회원 번호: 301 주문 번호: 1852
회원 번호: 301 주문 번호: 1853
회원 번호: 301 주문 번호: 1854
회원 번호: 302 주문 번호: 1855
회원 번호: 302 주문 번호: 1856
회원 번호: 303 주문 번호: 1857
회원 번호: 304 주문 번호: 1858
회원 번호: 304 주문 번호: 1859
회원 번호: 304 주문 번호: 1860
회원 번호: 305 주문 번호: 1861
회원 번호: 306 주문 번호: 1862
회원 번호: 306 주문 번호: 1863
회원 번호: 306 주문 번호: 1864
회원 번호: 307 주문 번호: 1865
회원 번호: 308 주문 번호: 1866
회원 번호: 308 주문 번호: 1867
회원 번호: 308 주문 번호: 1868
회원 번호: 308 주문 번호: 1869
회원 번호: 309 주문 번호: 1870
회원 번호: 310 주문 번호: 1871
회원 번호: 310 주문 번호: 1872
회원 번호: 311 주문 번호: 1873
회원 번호: 311 주문 번호: 1874
회원 번호: 311 주문 번호: 1875
회원 번호: 311 주문 번호: 1876
회원 번호: 312 주문 번호: 1877
회원 번호: 312 주문 번호: 1878
회원 번호: 313 주문 번호: 1879
회원 번호: 313 주문 번호: 1880
회원 번호: 313 주문 번호: 1881
회원 번호: 314 주문 번호: 1882
회원 번호: 315 주문 번호: 1883
회원 번호: 315 주문 번호: 1884
회원 번호: 316 주문 번호: 1885
회원 번호: 317 주문 번호: 1886
회원 번호: 317 주문 번호: 1887
회원 번호: 318 주문 번호: 1888
회원 번호: 318 주문 번호: 1889
회원 번호: 318 주문 번호: 1890
회원 번호: 319 주문 번호: 1891
회원 번호: 319 주문 번호: 1892
회원 번호: 319 주문 번호: 1893
회원 번호: 319 주문 번호: 1894
회원 번호: 320 주문 번호: 1895
회원 번호: 320 주문 번호: 1896
회원 번호: 320 주문 번호: 1897
회원 번호: 320 주문 번호: 1898
회원 번호: 321 주문 번호: 1899
회원 번호: 322 주문 번호: 1900
회원 번호: 322 주문 번호: 1901
회원 번호: 322 주문 번호: 1902
회원 번호: 322 주문 번호: 1903
회원 번호: 323 주문 번호: 1904
회원 번호: 323 주문 번호: 1905
회원 번호: 323 주문 번호: 1906
회원 번호: 323 주문 번호: 1907
회원 번호: 324 주문 번호: 1908
회원 번호: 324 주문 번호: 1909
회원 번호: 325 주문 번호: 1910
회원 번호: 326 주문 번호: 1911
회원 번호: 327 주문 번호: 1912
회원 번호: 327 주문 번호: 1913
회원 번호: 327 주문 번호: 1914
회원 번호: 327 주문 번호: 1915

회원 번호: 328 주문 번호: 1916
회원 번호: 328 주문 번호: 1917
회원 번호: 328 주문 번호: 1918
회원 번호: 329 주문 번호: 1919
회원 번호: 329 주문 번호: 1920
회원 번호: 330 주문 번호: 1921
회원 번호: 331 주문 번호: 1922
회원 번호: 331 주문 번호: 1923
회원 번호: 331 주문 번호: 1924
회원 번호: 331 주문 번호: 1925
회원 번호: 332 주문 번호: 1926
회원 번호: 333 주문 번호: 1927
회원 번호: 333 주문 번호: 1928
회원 번호: 333 주문 번호: 1929
회원 번호: 334 주문 번호: 1930
회원 번호: 334 주문 번호: 1931
회원 번호: 334 주문 번호: 1932
회원 번호: 334 주문 번호: 1933
회원 번호: 335 주문 번호: 1934
회원 번호: 336 주문 번호: 1935
회원 번호: 337 주문 번호: 1936
회원 번호: 338 주문 번호: 1937
회원 번호: 339 주문 번호: 1938
회원 번호: 339 주문 번호: 1939
회원 번호: 340 주문 번호: 1940
회원 번호: 340 주문 번호: 1941
회원 번호: 340 주문 번호: 1942
회원 번호: 341 주문 번호: 1943
회원 번호: 341 주문 번호: 1944
회원 번호: 342 주문 번호: 1945
회원 번호: 342 주문 번호: 1946
회원 번호: 342 주문 번호: 1947
회원 번호: 342 주문 번호: 1948
회원 번호: 343 주문 번호: 1949
회원 번호: 343 주문 번호: 1950
회원 번호: 343 주문 번호: 1951
회원 번호: 344 주문 번호: 1952
회원 번호: 344 주문 번호: 1953
회원 번호: 344 주문 번호: 1954
회원 번호: 345 주문 번호: 1955
회원 번호: 345 주문 번호: 1956
회원 번호: 345 주문 번호: 1957
회원 번호: 346 주문 번호: 1958
회원 번호: 347 주문 번호: 1959
회원 번호: 347 주문 번호: 1960
회원 번호: 347 주문 번호: 1961
회원 번호: 348 주문 번호: 1962
회원 번호: 348 주문 번호: 1963
회원 번호: 348 주문 번호: 1964
회원 번호: 349 주문 번호: 1965
회원 번호: 349 주문 번호: 1966
회원 번호: 350 주문 번호: 1967
회원 번호: 350 주문 번호: 1968
회원 번호: 350 주문 번호: 1969
회원 번호: 351 주문 번호: 1970
회원 번호: 351 주문 번호: 1971
회원 번호: 351 주문 번호: 1972
회원 번호: 352 주문 번호: 1973
회원 번호: 352 주문 번호: 1974
회원 번호: 352 주문 번호: 1975
회원 번호: 353 주문 번호: 1976
회원 번호: 354 주문 번호: 1977
회원 번호: 354 주문 번호: 1978
회원 번호: 355 주문 번호: 1979
회원 번호: 356 주문 번호: 1980
회원 번호: 356 주문 번호: 1981
회원 번호: 356 주문 번호: 1982
회원 번호: 356 주문 번호: 1983
회원 번호: 357 주문 번호: 1984
회원 번호: 357 주문 번호: 1985
회원 번호: 357 주문 번호: 1986
회원 번호: 357 주문 번호: 1987
회원 번호: 358 주문 번호: 1988
회원 번호: 358 주문 번호: 1989
회원 번호: 358 주문 번호: 1990
회원 번호: 358 주문 번호: 1991
회원 번호: 359 주문 번호: 1992
회원 번호: 360 주문 번호: 1993
회원 번호: 360 주문 번호: 1994
회원 번호: 360 주문 번호: 1995
회원 번호: 361 주문 번호: 1996
회원 번호: 361 주문 번호: 1997
회원 번호: 362 주문 번호: 1998
회원 번호: 362 주문 번호: 1999
회원 번호: 363 주문 번호: 2000
회원 번호: 363 주문 번호: 2001
회원 번호: 364 주문 번호: 2002
회원 번호: 364 주문 번호: 2003
회원 번호: 365 주문 번호: 2004
회원 번호: 365 주문 번호: 2005
회원 번호: 365 주문 번호: 2006
회원 번호: 365 주문 번호: 2007
회원 번호: 366 주문 번호: 2008
회원 번호: 366 주문 번호: 2009
회원 번호: 366 주문 번호: 2010
회원 번호: 366 주문 번호: 2011
회원 번호: 367 주문 번호: 2012
회원 번호: 367 주문 번호: 2013
회원 번호: 367 주문 번호: 2014
회원 번호: 368 주문 번호: 2015
회원 번호: 368 주문 번호: 2016
회원 번호: 368 주문 번호: 2017
회원 번호: 369 주문 번호: 2018
회원 번호: 369 주문 번호: 2019
회원 번호: 369 주문 번호: 2020
회원 번호: 370 주문 번호: 2021
회원 번호: 370 주문 번호: 2022
회원 번호: 371 주문 번호: 2023
회원 번호: 372 주문 번호: 2024
회원 번호: 372 주문 번호: 2025
회원 번호: 372 주문 번호: 2026
회원 번호: 372 주문 번호: 2027
회원 번호: 373 주문 번호: 2028
회원 번호: 374 주문 번호: 2029
회원 번호: 374 주문 번호: 2030
회원 번호: 374 주문 번호: 2031
회원 번호: 374 주문 번호: 2032
회원 번호: 375 주문 번호: 2033
회원 번호: 375 주문 번호: 2034
회원 번호: 375 주문 번호: 2035
회원 번호: 375 주문 번호: 2036
회원 번호: 376 주문 번호: 2037
회원 번호: 376 주문 번호: 2038
회원 번호: 376 주문 번호: 2039
회원 번호: 377 주문 번호: 2040
회원 번호: 377 주문 번호: 2041
회원 번호: 377 주문 번호: 2042
회원 번호: 377 주문 번호: 2043
회원 번호: 378 주문 번호: 2044
회원 번호: 378 주문 번호: 2045
회원 번호: 378 주문 번호: 2046
회원 번호: 378 주문 번호: 2047
회원 번호: 379 주문 번호: 2048
회원 번호: 379 주문 번호: 2049
회원 번호: 379 주문 번호: 2050
회원 번호: 379 주문 번호: 2051
회원 번호: 380 주문 번호: 2052
회원 번호: 380 주문 번호: 2053
회원 번호: 380 주문 번호: 2054
회원 번호: 381 주문 번호: 2055
회원 번호: 381 주문 번호: 2056
회원 번호: 381 주문 번호: 2057
회원 번호: 382 주문 번호: 2058
회원 번호: 382 주문 번호: 2059
회원 번호: 383 주문 번호: 2060
회원 번호: 383 주문 번호: 2061
회원 번호: 384 주문 번호: 2062
회원 번호: 384 주문 번호: 2063
회원 번호: 384 주문 번호: 2064
회원 번호: 384 주문 번호: 2065
회원 번호: 385 주문 번호: 2066
회원 번호: 386 주문 번호: 2067
회원 번호: 386 주문 번호: 2068
회원 번호: 386 주문 번호: 2069
회원 번호: 386 주문 번호: 2070
회원 번호: 387 주문 번호: 2071
회원 번호: 387 주문 번호: 2072
회원 번호: 387 주문 번호: 2073
회원 번호: 388 주문 번호: 2074
회원 번호: 388 주문 번호: 2075
회원 번호: 388 주문 번호: 2076
회원 번호: 389 주문 번호: 2077
회원 번호: 389 주문 번호: 2078
회원 번호: 390 주문 번호: 2079
회원 번호: 391 주문 번호: 2080
회원 번호: 391 주문 번호: 2081
회원 번호: 392 주문 번호: 2082
회원 번호: 392 주문 번호: 2083
회원 번호: 392 주문 번호: 2084
회원 번호: 393 주문 번호: 2085
회원 번호: 393 주문 번호: 2086
회원 번호: 394 주문 번호: 2087
회원 번호: 394 주문 번호: 2088
회원 번호: 394 주문 번호: 2089
회원 번호: 394 주문 번호: 2090
회원 번호: 395 주문 번호: 2091
회원 번호: 396 주문 번호: 2092
회원 번호: 397 주문 번호: 2093
회원 번호: 397 주문 번호: 2094
회원 번호: 398 주문 번호: 2095
회원 번호: 398 주문 번호: 2096
회원 번호: 399 주문 번호: 2097
회원 번호: 399 주문 번호: 2098
회원 번호: 400 주문 번호: 2099
회원 번호: 400 주문 번호: 2100
회원 번호: 400 주문 번호: 2101
회원 번호: 401 주문 번호: 2102
회원 번호: 401 주문 번호: 2103
회원 번호: 401 주문 번호: 2104
회원 번호: 402 주문 번호: 2105
회원 번호: 402 주문 번호: 2106
회원 번호: 402 주문 번호: 2107
회원 번호: 402 주문 번호: 2108
회원 번호: 403 주문 번호: 2109
회원 번호: 403 주문 번호: 2110
회원 번호: 404 주문 번호: 2111
회원 번호: 404 주문 번호: 2112
회원 번호: 404 주문 번호: 2113
회원 번호: 405 주문 번호: 2114
회원 번호: 406 주문 번호: 2115
회원 번호: 406 주문 번호: 2116
회원 번호: 407 주문 번호: 2117
회원 번호: 408 주문 번호: 2118
회원 번호: 408 주문 번호: 2119
회원 번호: 408 주문 번호: 2120
회원 번호: 409 주문 번호: 2121
회원 번호: 409 주문 번호: 2122
회원 번호: 410 주문 번호: 2123
회원 번호: 410 주문 번호: 2124
회원 번호: 410 주문 번호: 2125
회원 번호: 411 주문 번호: 2126
회원 번호: 411 주문 번호: 2127
회원 번호: 411 주문 번호: 2128
회원 번호: 411 주문 번호: 2129
회원 번호: 412 주문 번호: 2130
회원 번호: 412 주문 번호: 2131
회원 번호: 412 주문 번호: 2132
회원 번호: 412 주문 번호: 2133
회원 번호: 413 주문 번호: 2134
회원 번호: 413 주문 번호: 2135
회원 번호: 414 주문 번호: 2136
회원 번호: 415 주문 번호: 2137
회원 번호: 416 주문 번호: 2138
회원 번호: 416 주문 번호: 2139
회원 번호: 417 주문 번호: 2140
회원 번호: 417 주문 번호: 2141
회원 번호: 417 주문 번호: 2142
회원 번호: 418 주문 번호: 2143
회원 번호: 419 주문 번호: 2144
회원 번호: 419 주문 번호: 2145
회원 번호: 419 주문 번호: 2146
회원 번호: 420 주문 번호: 2147
회원 번호: 420 주문 번호: 2148
회원 번호: 420 주문 번호: 2149
회원 번호: 421 주문 번호: 2150
회원 번호: 421 주문 번호: 2151
회원 번호: 421 주문 번호: 2152
회원 번호: 422 주문 번호: 2153
회원 번호: 422 주문 번호: 2154
회원 번호: 422 주문 번호: 2155
회원 번호: 422 주문 번호: 2156
회원 번호: 423 주문 번호: 2157
회원 번호: 423 주문 번호: 2158
회원 번호: 423 주문 번호: 2159
회원 번호: 423 주문 번호: 2160
회원 번호: 424 주문 번호: 2161
회원 번호: 425 주문 번호: 2162
회원 번호: 426 주문 번호: 2163
회원 번호: 426 주문 번호: 2164
회원 번호: 427 주문 번호: 2165
회원 번호: 427 주문 번호: 2166
회원 번호: 427 주문 번호: 2167
회원 번호: 427 주문 번호: 2168
회원 번호: 428 주문 번호: 2169
회원 번호: 428 주문 번호: 2170
회원 번호: 429 주문 번호: 2171
회원 번호: 430 주문 번호: 2172
회원 번호: 430 주문 번호: 2173
회원 번호: 430 주문 번호: 2174
회원 번호: 430 주문 번호: 2175
회원 번호: 431 주문 번호: 2176
회원 번호: 431 주문 번호: 2177
회원 번호: 431 주문 번호: 2178
회원 번호: 432 주문 번호: 2179
회원 번호: 432 주문 번호: 2180
회원 번호: 432 주문 번호: 2181
회원 번호: 432 주문 번호: 2182
회원 번호: 433 주문 번호: 2183
회원 번호: 433 주문 번호: 2184
회원 번호: 434 주문 번호: 2185
회원 번호: 435 주문 번호: 2186
회원 번호: 435 주문 번호: 2187
회원 번호: 436 주문 번호: 2188
회원 번호: 436 주문 번호: 2189
회원 번호: 436 주문 번호: 2190
회원 번호: 437 주문 번호: 2191
회원 번호: 437 주문 번호: 2192
회원 번호: 437 주문 번호: 2193
회원 번호: 438 주문 번호: 2194
회원 번호: 438 주문 번호: 2195
회원 번호: 438 주문 번호: 2196
회원 번호: 439 주문 번호: 2197
회원 번호: 440 주문 번호: 2198
회원 번호: 441 주문 번호: 2199
회원 번호: 441 주문 번호: 2200
회원 번호: 441 주문 번호: 2201
회원 번호: 442 주문 번호: 2202
회원 번호: 442 주문 번호: 2203
회원 번호: 443 주문 번호: 2204
회원 번호: 444 주문 번호: 2205
회원 번호: 445 주문 번호: 2206
회원 번호: 445 주문 번호: 2207
회원 번호: 445 주문 번호: 2208
회원 번호: 445 주문 번호: 2209
회원 번호: 446 주문 번호: 2210
회원 번호: 446 주문 번호: 2211
회원 번호: 447 주문 번호: 2212
회원 번호: 448 주문 번호: 2213
회원 번호: 448 주문 번호: 2214
회원 번호: 448 주문 번호: 2215
회원 번호: 448 주문 번호: 2216
회원 번호: 449 주문 번호: 2217
회원 번호: 449 주문 번호: 2218
회원 번호: 449 주문 번호: 2219
회원 번호: 449 주문 번호: 2220
회원 번호: 450 주문 번호: 2221
회원 번호: 450 주문 번호: 2222
회원 번호: 451 주문 번호: 2223
회원 번호: 452 주문 번호: 2224
회원 번호: 452 주문 번호: 2225
회원 번호: 452 주문 번호: 2226
회원 번호: 452 주문 번호: 2227
회원 번호: 453 주문 번호: 2228
회원 번호: 453 주문 번호: 2229
회원 번호: 453 주문 번호: 2230
회원 번호: 454 주문 번호: 2231
회원 번호: 454 주문 번호: 2232
회원 번호: 454 주문 번호: 2233
회원 번호: 454 주문 번호: 2234
회원 번호: 455 주문 번호: 2235
회원 번호: 455 주문 번호: 2236
회원 번호: 455 주문 번호: 2237
회원 번호: 455 주문 번호: 2238
회원 번호: 456 주문 번호: 2239
회원 번호: 457 주문 번호: 2240
회원 번호: 457 주문 번호: 2241
회원 번호: 458 주문 번호: 2242
회원 번호: 459 주문 번호: 2243
회원 번호: 459 주문 번호: 2244
회원 번호: 460 주문 번호: 2245
회원 번호: 460 주문 번호: 2246
회원 번호: 460 주문 번호: 2247
회원 번호: 460 주문 번호: 2248
회원 번호: 461 주문 번호: 2249
회원 번호: 461 주문 번호: 2250
회원 번호: 461 주문 번호: 2251
회원 번호: 462 주문 번호: 2252
회원 번호: 463 주문 번호: 2253
회원 번호: 464 주문 번호: 2254
회원 번호: 465 주문 번호: 2255
회원 번호: 466 주문 번호: 2256
회원 번호: 467 주문 번호: 2257
회원 번호: 467 주문 번호: 2258
회원 번호: 467 주문 번호: 2259
회원 번호: 467 주문 번호: 2260
회원 번호: 468 주문 번호: 2261
회원 번호: 468 주문 번호: 2262
회원 번호: 468 주문 번호: 2263
회원 번호: 468 주문 번호: 2264
회원 번호: 469 주문 번호: 2265
회원 번호: 469 주문 번호: 2266
회원 번호: 470 주문 번호: 2267
회원 번호: 470 주문 번호: 2268
회원 번호: 470 주문 번호: 2269
회원 번호: 470 주문 번호: 2270
회원 번호: 471 주문 번호: 2271
회원 번호: 471 주문 번호: 2272
회원 번호: 472 주문 번호: 2273
회원 번호: 472 주문 번호: 2274
회원 번호: 472 주문 번호: 2275
회원 번호: 473 주문 번호: 2276
회원 번호: 474 주문 번호: 2277
회원 번호: 474 주문 번호: 2278
회원 번호: 475 주문 번호: 2279
회원 번호: 475 주문 번호: 2280
회원 번호: 476 주문 번호: 2281
회원 번호: 476 주문 번호: 2282
회원 번호: 477 주문 번호: 2283
회원 번호: 477 주문 번호: 2284
회원 번호: 478 주문 번호: 2285
회원 번호: 478 주문 번호: 2286
회원 번호: 478 주문 번호: 2287
회원 번호: 478 주문 번호: 2288
회원 번호: 479 주문 번호: 2289
회원 번호: 480 주문 번호: 2290
회원 번호: 480 주문 번호: 2291
회원 번호: 480 주문 번호: 2292
회원 번호: 480 주문 번호: 2293
회원 번호: 481 주문 번호: 2294
회원 번호: 481 주문 번호: 2295
회원 번호: 481 주문 번호: 2296
회원 번호: 482 주문 번호: 2297
회원 번호: 482 주문 번호: 2298
회원 번호: 482 주문 번호: 2299
회원 번호: 482 주문 번호: 2300
회원 번호: 483 주문 번호: 2301
회원 번호: 483 주문 번호: 2302
회원 번호: 483 주문 번호: 2303
회원 번호: 483 주문 번호: 2304
회원 번호: 484 주문 번호: 2305
회원 번호: 485 주문 번호: 2306
회원 번호: 485 주문 번호: 2307
회원 번호: 486 주문 번호: 2308
회원 번호: 486 주문 번호: 2309
회원 번호: 486 주문 번호: 2310
회원 번호: 486 주문 번호: 2311
회원 번호: 487 주문 번호: 2312
회원 번호: 487 주문 번호: 2313
회원 번호: 487 주문 번호: 2314
회원 번호: 487 주문 번호: 2315
회원 번호: 488 주문 번호: 2316
회원 번호: 488 주문 번호: 2317
회원 번호: 488 주문 번호: 2318
회원 번호: 489 주문 번호: 2319
회원 번호: 489 주문 번호: 2320
회원 번호: 489 주문 번호: 2321
회원 번호: 490 주문 번호: 2322
회원 번호: 490 주문 번호: 2323
회원 번호: 491 주문 번호: 2324
회원 번호: 491 주문 번호: 2325
회원 번호: 491 주문 번호: 2326
회원 번호: 492 주문 번호: 2327
회원 번호: 492 주문 번호: 2328
회원 번호: 492 주문 번호: 2329
회원 번호: 493 주문 번호: 2330
회원 번호: 494 주문 번호: 2331
회원 번호: 494 주문 번호: 2332
회원 번호: 494 주문 번호: 2333
회원 번호: 495 주문 번호: 2334
회원 번호: 495 주문 번호: 2335
회원 번호: 495 주문 번호: 2336
회원 번호: 496 주문 번호: 2337
회원 번호: 497 주문 번호: 2338
회원 번호: 497 주문 번호: 2339
회원 번호: 497 주문 번호: 2340
회원 번호: 498 주문 번호: 2341
회원 번호: 498 주문 번호: 2342
회원 번호: 499 주문 번호: 2343
회원 번호: 499 주문 번호: 2344
회원 번호: 500 주문 번호: 2345
회원 번호: 500 주문 번호: 2346
회원 번호: 501 주문 번호: 2347
회원 번호: 501 주문 번호: 2348
회원 번호: 502 주문 번호: 2349
회원 번호: 503 주문 번호: 2350
회원 번호: 503 주문 번호: 2351
회원 번호: 504 주문 번호: 2352
회원 번호: 504 주문 번호: 2353
회원 번호: 505 주문 번호: 2354
회원 번호: 505 주문 번호: 2355
회원 번호: 505 주문 번호: 2356
회원 번호: 506 주문 번호: 2357
회원 번호: 506 주문 번호: 2358
회원 번호: 506 주문 번호: 2359
회원 번호: 506 주문 번호: 2360
회원 번호: 507 주문 번호: 2361
회원 번호: 507 주문 번호: 2362
회원 번호: 508 주문 번호: 2363
회원 번호: 509 주문 번호: 2364
회원 번호: 509 주문 번호: 2365
회원 번호: 509 주문 번호: 2366
회원 번호: 509 주문 번호: 2367
회원 번호: 510 주문 번호: 2368
회원 번호: 510 주문 번호: 2369
회원 번호: 511 주문 번호: 2370
회원 번호: 511 주문 번호: 2371
회원 번호: 511 주문 번호: 2372
회원 번호: 512 주문 번호: 2373
회원 번호: 512 주문 번호: 2374
회원 번호: 513 주문 번호: 2375
회원 번호: 514 주문 번호: 2376
회원 번호: 514 주문 번호: 2377
회원 번호: 515 주문 번호: 2378
회원 번호: 515 주문 번호: 2379
회원 번호: 515 주문 번호: 2380
회원 번호: 515 주문 번호: 2381
회원 번호: 516 주문 번호: 2382
회원 번호: 516 주문 번호: 2383
회원 번호: 517 주문 번호: 2384
회원 번호: 517 주문 번호: 2385
회원 번호: 517 주문 번호: 2386
회원 번호: 517 주문 번호: 2387
회원 번호: 518 주문 번호: 2388
회원 번호: 518 주문 번호: 2389
회원 번호: 518 주문 번호: 2390
회원 번호: 518 주문 번호: 2391
회원 번호: 519 주문 번호: 2392
회원 번호: 519 주문 번호: 2393
회원 번호: 519 주문 번호: 2394
회원 번호: 520 주문 번호: 2395
회원 번호: 520 주문 번호: 2396
회원 번호: 521 주문 번호: 2397
회원 번호: 521 주문 번호: 2398
회원 번호: 522 주문 번호: 2399
회원 번호: 522 주문 번호: 2400
회원 번호: 523 주문 번호: 2401
회원 번호: 523 주문 번호: 2402
회원 번호: 524 주문 번호: 2403
회원 번호: 525 주문 번호: 2404
회원 번호: 526 주문 번호: 2405
회원 번호: 526 주문 번호: 2406
회원 번호: 526 주문 번호: 2407
회원 번호: 527 주문 번호: 2408
회원 번호: 527 주문 번호: 2409
회원 번호: 527 주문 번호: 2410
회원 번호: 528 주문 번호: 2411
회원 번호: 528 주문 번호: 2412
회원 번호: 528 주문 번호: 2413
회원 번호: 529 주문 번호: 2414
회원 번호: 530 주문 번호: 2415
회원 번호: 531 주문 번호: 2416
회원 번호: 531 주문 번호: 2417
회원 번호: 532 주문 번호: 2418
회원 번호: 532 주문 번호: 2419
회원 번호: 532 주문 번호: 2420
회원 번호: 533 주문 번호: 2421
회원 번호: 533 주문 번호: 2422
회원 번호: 534 주문 번호: 2423
회원 번호: 534 주문 번호: 2424
회원 번호: 534 주문 번호: 2425
회원 번호: 534 주문 번호: 2426
회원 번호: 535 주문 번호: 2427
회원 번호: 536 주문 번호: 2428
회원 번호: 536 주문 번호: 2429
회원 번호: 537 주문 번호: 2430
회원 번호: 537 주문 번호: 2431
회원 번호: 538 주문 번호: 2432
회원 번호: 539 주문 번호: 2433
회원 번호: 539 주문 번호: 2434
회원 번호: 539 주문 번호: 2435
회원 번호: 540 주문 번호: 2436
회원 번호: 541 주문 번호: 2437
회원 번호: 541 주문 번호: 2438
회원 번호: 542 주문 번호: 2439
회원 번호: 542 주문 번호: 2440
회원 번호: 542 주문 번호: 2441
회원 번호: 543 주문 번호: 2442
회원 번호: 544 주문 번호: 2443
회원 번호: 545 주문 번호: 2444
회원 번호: 545 주문 번호: 2445
회원 번호: 545 주문 번호: 2446
회원 번호: 545 주문 번호: 2447
회원 번호: 546 주문 번호: 2448
회원 번호: 546 주문 번호: 2449
회원 번호: 546 주문 번호: 2450
회원 번호: 547 주문 번호: 2451
회원 번호: 547 주문 번호: 2452
회원 번호: 547 주문 번호: 2453
회원 번호: 548 주문 번호: 2454
회원 번호: 548 주문 번호: 2455
회원 번호: 549 주문 번호: 2456
회원 번호: 549 주문 번호: 2457
회원 번호: 550 주문 번호: 2458
회원 번호: 551 주문 번호: 2459
회원 번호: 551 주문 번호: 2460
회원 번호: 551 주문 번호: 2461
회원 번호: 551 주문 번호: 2462
회원 번호: 552 주문 번호: 2463
회원 번호: 552 주문 번호: 2464
회원 번호: 552 주문 번호: 2465
회원 번호: 552 주문 번호: 2466
회원 번호: 553 주문 번호: 2467
회원 번호: 553 주문 번호: 2468
회원 번호: 553 주문 번호: 2469
회원 번호: 553 주문 번호: 2470
회원 번호: 554 주문 번호: 2471
회원 번호: 555 주문 번호: 2472
회원 번호: 555 주문 번호: 2473
회원 번호: 555 주문 번호: 2474
회원 번호: 555 주문 번호: 2475
회원 번호: 556 주문 번호: 2476
회원 번호: 556 주문 번호: 2477
회원 번호: 557 주문 번호: 2478
회원 번호: 558 주문 번호: 2479
회원 번호: 559 주문 번호: 2480
회원 번호: 559 주문 번호: 2481
회원 번호: 560 주문 번호: 2482
회원 번호: 560 주문 번호: 2483
회원 번호: 560 주문 번호: 2484
회원 번호: 560 주문 번호: 2485
회원 번호: 561 주문 번호: 2486
회원 번호: 561 주문 번호: 2487
회원 번호: 561 주문 번호: 2488
회원 번호: 561 주문 번호: 2489
회원 번호: 562 주문 번호: 2490
회원 번호: 563 주문 번호: 2491
회원 번호: 563 주문 번호: 2492
회원 번호: 564 주문 번호: 2493

회원 번호: 565 주문 번호: 2494
회원 번호: 566 주문 번호: 2495
회원 번호: 567 주문 번호: 2496
회원 번호: 568 주문 번호: 2497
회원 번호: 568 주문 번호: 2498
회원 번호: 569 주문 번호: 2499
회원 번호: 570 주문 번호: 2500
회원 번호: 571 주문 번호: 2501
회원 번호: 571 주문 번호: 2502
회원 번호: 571 주문 번호: 2503
회원 번호: 571 주문 번호: 2504
회원 번호: 572 주문 번호: 2505
회원 번호: 572 주문 번호: 2506
회원 번호: 572 주문 번호: 2507
회원 번호: 572 주문 번호: 2508
회원 번호: 573 주문 번호: 2509
회원 번호: 573 주문 번호: 2510
회원 번호: 573 주문 번호: 2511
회원 번호: 573 주문 번호: 2512
회원 번호: 574 주문 번호: 2513
회원 번호: 575 주문 번호: 2514
회원 번호: 576 주문 번호: 2515
회원 번호: 576 주문 번호: 2516
회원 번호: 577 주문 번호: 2517
회원 번호: 577 주문 번호: 2518
회원 번호: 577 주문 번호: 2519
회원 번호: 578 주문 번호: 2520
회원 번호: 578 주문 번호: 2521
회원 번호: 578 주문 번호: 2522
회원 번호: 578 주문 번호: 2523
회원 번호: 579 주문 번호: 2524
회원 번호: 579 주문 번호: 2525
회원 번호: 579 주문 번호: 2526
회원 번호: 579 주문 번호: 2527
회원 번호: 580 주문 번호: 2528
회원 번호: 580 주문 번호: 2529
회원 번호: 581 주문 번호: 2530
회원 번호: 581 주문 번호: 2531
회원 번호: 582 주문 번호: 2532
회원 번호: 582 주문 번호: 2533
회원 번호: 582 주문 번호: 2534
회원 번호: 583 주문 번호: 2535
회원 번호: 583 주문 번호: 2536
회원 번호: 584 주문 번호: 2537
회원 번호: 584 주문 번호: 2538
회원 번호: 585 주문 번호: 2539
회원 번호: 585 주문 번호: 2540
회원 번호: 585 주문 번호: 2541
회원 번호: 585 주문 번호: 2542
회원 번호: 586 주문 번호: 2543
회원 번호: 586 주문 번호: 2544
회원 번호: 586 주문 번호: 2545
회원 번호: 586 주문 번호: 2546
회원 번호: 587 주문 번호: 2547
회원 번호: 587 주문 번호: 2548
회원 번호: 587 주문 번호: 2549
회원 번호: 587 주문 번호: 2550
회원 번호: 588 주문 번호: 2551
회원 번호: 588 주문 번호: 2552
회원 번호: 588 주문 번호: 2553
회원 번호: 588 주문 번호: 2554
회원 번호: 589 주문 번호: 2555
회원 번호: 590 주문 번호: 2556
회원 번호: 590 주문 번호: 2557
회원 번호: 590 주문 번호: 2558
회원 번호: 590 주문 번호: 2559
회원 번호: 591 주문 번호: 2560
회원 번호: 591 주문 번호: 2561
회원 번호: 592 주문 번호: 2562
회원 번호: 592 주문 번호: 2563
회원 번호: 592 주문 번호: 2564
회원 번호: 593 주문 번호: 2565
회원 번호: 593 주문 번호: 2566
회원 번호: 593 주문 번호: 2567
회원 번호: 594 주문 번호: 2568
회원 번호: 595 주문 번호: 2569
회원 번호: 595 주문 번호: 2570
회원 번호: 595 주문 번호: 2571
회원 번호: 595 주문 번호: 2572
회원 번호: 596 주문 번호: 2573
회원 번호: 596 주문 번호: 2574
회원 번호: 596 주문 번호: 2575
회원 번호: 596 주문 번호: 2576
회원 번호: 597 주문 번호: 2577
회원 번호: 597 주문 번호: 2578
회원 번호: 598 주문 번호: 2579
회원 번호: 599 주문 번호: 2580
회원 번호: 599 주문 번호: 2581
회원 번호: 600 주문 번호: 2582
회원 번호: 600 주문 번호: 2583
회원 번호: 601 주문 번호: 2584
회원 번호: 601 주문 번호: 2585
회원 번호: 601 주문 번호: 2586
회원 번호: 601 주문 번호: 2587
회원 번호: 602 주문 번호: 2588
회원 번호: 602 주문 번호: 2589
회원 번호: 602 주문 번호: 2590
회원 번호: 603 주문 번호: 2591
회원 번호: 603 주문 번호: 2592
회원 번호: 604 주문 번호: 2593
회원 번호: 605 주문 번호: 2594
회원 번호: 605 주문 번호: 2595
회원 번호: 605 주문 번호: 2596
회원 번호: 606 주문 번호: 2597
회원 번호: 607 주문 번호: 2598
회원 번호: 607 주문 번호: 2599
회원 번호: 607 주문 번호: 2600
회원 번호: 608 주문 번호: 2601
회원 번호: 608 주문 번호: 2602
회원 번호: 608 주문 번호: 2603
회원 번호: 608 주문 번호: 2604
회원 번호: 609 주문 번호: 2605
회원 번호: 609 주문 번호: 2606
회원 번호: 609 주문 번호: 2607
회원 번호: 609 주문 번호: 2608
회원 번호: 610 주문 번호: 2609
회원 번호: 611 주문 번호: 2610
회원 번호: 611 주문 번호: 2611
회원 번호: 611 주문 번호: 2612
회원 번호: 612 주문 번호: 2613
회원 번호: 613 주문 번호: 2614
회원 번호: 613 주문 번호: 2615
회원 번호: 613 주문 번호: 2616
회원 번호: 613 주문 번호: 2617
회원 번호: 614 주문 번호: 2618
회원 번호: 614 주문 번호: 2619
회원 번호: 614 주문 번호: 2620
회원 번호: 614 주문 번호: 2621
회원 번호: 615 주문 번호: 2622
회원 번호: 615 주문 번호: 2623
회원 번호: 615 주문 번호: 2624
회원 번호: 616 주문 번호: 2625
회원 번호: 617 주문 번호: 2626
회원 번호: 617 주문 번호: 2627
회원 번호: 617 주문 번호: 2628
회원 번호: 618 주문 번호: 2629
회원 번호: 618 주문 번호: 2630
회원 번호: 618 주문 번호: 2631
회원 번호: 619 주문 번호: 2632
회원 번호: 619 주문 번호: 2633
회원 번호: 619 주문 번호: 2634
회원 번호: 619 주문 번호: 2635
회원 번호: 620 주문 번호: 2636
회원 번호: 620 주문 번호: 2637
회원 번호: 621 주문 번호: 2638
회원 번호: 622 주문 번호: 2639
회원 번호: 623 주문 번호: 2640
회원 번호: 623 주문 번호: 2641
회원 번호: 623 주문 번호: 2642
회원 번호: 623 주문 번호: 2643
회원 번호: 624 주문 번호: 2644
회원 번호: 624 주문 번호: 2645
회원 번호: 624 주문 번호: 2646
회원 번호: 624 주문 번호: 2647
회원 번호: 625 주문 번호: 2648
회원 번호: 625 주문 번호: 2649
회원 번호: 625 주문 번호: 2650
회원 번호: 626 주문 번호: 2651
회원 번호: 626 주문 번호: 2652
회원 번호: 626 주문 번호: 2653
회원 번호: 626 주문 번호: 2654
회원 번호: 627 주문 번호: 2655
회원 번호: 627 주문 번호: 2656
회원 번호: 627 주문 번호: 2657
회원 번호: 628 주문 번호: 2658
회원 번호: 628 주문 번호: 2659
회원 번호: 628 주문 번호: 2660
회원 번호: 629 주문 번호: 2661
회원 번호: 630 주문 번호: 2662
회원 번호: 630 주문 번호: 2663
회원 번호: 630 주문 번호: 2664
회원 번호: 630 주문 번호: 2665
회원 번호: 631 주문 번호: 2666
회원 번호: 631 주문 번호: 2667
회원 번호: 631 주문 번호: 2668
회원 번호: 632 주문 번호: 2669
회원 번호: 632 주문 번호: 2670
회원 번호: 633 주문 번호: 2671
회원 번호: 633 주문 번호: 2672
회원 번호: 633 주문 번호: 2673
회원 번호: 634 주문 번호: 2674
회원 번호: 634 주문 번호: 2675
회원 번호: 634 주문 번호: 2676
회원 번호: 634 주문 번호: 2677
회원 번호: 635 주문 번호: 2678
회원 번호: 636 주문 번호: 2679
회원 번호: 637 주문 번호: 2680
회원 번호: 637 주문 번호: 2681
회원 번호: 637 주문 번호: 2682
회원 번호: 638 주문 번호: 2683
회원 번호: 638 주문 번호: 2684
회원 번호: 638 주문 번호: 2685
회원 번호: 638 주문 번호: 2686
회원 번호: 639 주문 번호: 2687
회원 번호: 639 주문 번호: 2688
회원 번호: 639 주문 번호: 2689
회원 번호: 639 주문 번호: 2690
회원 번호: 640 주문 번호: 2691
회원 번호: 640 주문 번호: 2692
회원 번호: 640 주문 번호: 2693
회원 번호: 641 주문 번호: 2694
회원 번호: 642 주문 번호: 2695
회원 번호: 642 주문 번호: 2696
회원 번호: 642 주문 번호: 2697
회원 번호: 642 주문 번호: 2698
회원 번호: 643 주문 번호: 2699
회원 번호: 643 주문 번호: 2700
회원 번호: 643 주문 번호: 2701
회원 번호: 643 주문 번호: 2702
회원 번호: 644 주문 번호: 2703
회원 번호: 644 주문 번호: 2704
회원 번호: 644 주문 번호: 2705
회원 번호: 645 주문 번호: 2706
회원 번호: 646 주문 번호: 2707
회원 번호: 647 주문 번호: 2708
회원 번호: 647 주문 번호: 2709
회원 번호: 647 주문 번호: 2710
회원 번호: 648 주문 번호: 2711
회원 번호: 648 주문 번호: 2712
회원 번호: 649 주문 번호: 2713
회원 번호: 650 주문 번호: 2714
회원 번호: 650 주문 번호: 2715
회원 번호: 651 주문 번호: 2716
회원 번호: 651 주문 번호: 2717
회원 번호: 651 주문 번호: 2718
회원 번호: 651 주문 번호: 2719
회원 번호: 652 주문 번호: 2720
회원 번호: 652 주문 번호: 2721
회원 번호: 653 주문 번호: 2722
회원 번호: 653 주문 번호: 2723
회원 번호: 653 주문 번호: 2724
회원 번호: 653 주문 번호: 2725
회원 번호: 654 주문 번호: 2726
회원 번호: 655 주문 번호: 2727
회원 번호: 656 주문 번호: 2728
회원 번호: 657 주문 번호: 2729
회원 번호: 657 주문 번호: 2730
회원 번호: 658 주문 번호: 2731
회원 번호: 659 주문 번호: 2732
회원 번호: 659 주문 번호: 2733
회원 번호: 660 주문 번호: 2734
회원 번호: 660 주문 번호: 2735
회원 번호: 661 주문 번호: 2736
회원 번호: 661 주문 번호: 2737
회원 번호: 661 주문 번호: 2738
회원 번호: 661 주문 번호: 2739
회원 번호: 662 주문 번호: 2740
회원 번호: 662 주문 번호: 2741
회원 번호: 663 주문 번호: 2742
회원 번호: 664 주문 번호: 2743
회원 번호: 665 주문 번호: 2744
회원 번호: 665 주문 번호: 2745
회원 번호: 666 주문 번호: 2746
회원 번호: 667 주문 번호: 2747
회원 번호: 668 주문 번호: 2748
회원 번호: 669 주문 번호: 2749
회원 번호: 669 주문 번호: 2750
회원 번호: 670 주문 번호: 2751
회원 번호: 671 주문 번호: 2752
회원 번호: 672 주문 번호: 2753
회원 번호: 672 주문 번호: 2754
회원 번호: 673 주문 번호: 2755
회원 번호: 673 주문 번호: 2756
회원 번호: 673 주문 번호: 2757
회원 번호: 674 주문 번호: 2758
회원 번호: 674 주문 번호: 2759
회원 번호: 675 주문 번호: 2760
회원 번호: 675 주문 번호: 2761
회원 번호: 675 주문 번호: 2762
회원 번호: 676 주문 번호: 2763
회원 번호: 677 주문 번호: 2764
회원 번호: 677 주문 번호: 2765
회원 번호: 677 주문 번호: 2766
회원 번호: 678 주문 번호: 2767
회원 번호: 678 주문 번호: 2768
회원 번호: 679 주문 번호: 2769
회원 번호: 680 주문 번호: 2770
회원 번호: 680 주문 번호: 2771
회원 번호: 680 주문 번호: 2772
회원 번호: 681 주문 번호: 2773
회원 번호: 682 주문 번호: 2774
회원 번호: 682 주문 번호: 2775
회원 번호: 682 주문 번호: 2776
회원 번호: 683 주문 번호: 2777
회원 번호: 683 주문 번호: 2778
회원 번호: 683 주문 번호: 2779
회원 번호: 684 주문 번호: 2780
회원 번호: 684 주문 번호: 2781
회원 번호: 684 주문 번호: 2782
회원 번호: 685 주문 번호: 2783
회원 번호: 685 주문 번호: 2784
회원 번호: 686 주문 번호: 2785
회원 번호: 686 주문 번호: 2786
회원 번호: 686 주문 번호: 2787
회원 번호: 687 주문 번호: 2788
회원 번호: 687 주문 번호: 2789
회원 번호: 688 주문 번호: 2790
회원 번호: 688 주문 번호: 2791
회원 번호: 689 주문 번호: 2792
회원 번호: 690 주문 번호: 2793
회원 번호: 690 주문 번호: 2794
회원 번호: 691 주문 번호: 2795
회원 번호: 692 주문 번호: 2796
회원 번호: 693 주문 번호: 2797
회원 번호: 694 주문 번호: 2798
회원 번호: 695 주문 번호: 2799
회원 번호: 695 주문 번호: 2800
회원 번호: 696 주문 번호: 2801
회원 번호: 696 주문 번호: 2802
회원 번호: 696 주문 번호: 2803
회원 번호: 697 주문 번호: 2804
회원 번호: 697 주문 번호: 2805
회원 번호: 698 주문 번호: 2806
회원 번호: 698 주문 번호: 2807
회원 번호: 699 주문 번호: 2808
회원 번호: 699 주문 번호: 2809
회원 번호: 700 주문 번호: 2810
회원 번호: 701 주문 번호: 2811
회원 번호: 702 주문 번호: 2812
회원 번호: 703 주문 번호: 2813
회원 번호: 704 주문 번호: 2814
회원 번호: 705 주문 번호: 2815
회원 번호: 705 주문 번호: 2816
회원 번호: 705 주문 번호: 2817
회원 번호: 706 주문 번호: 2818
회원 번호: 706 주문 번호: 2819
회원 번호: 707 주문 번호: 2820
회원 번호: 707 주문 번호: 2821
회원 번호: 707 주문 번호: 2822
회원 번호: 708 주문 번호: 2823
회원 번호: 708 주문 번호: 2824
회원 번호: 708 주문 번호: 2825
회원 번호: 708 주문 번호: 2826
회원 번호: 709 주문 번호: 2827
회원 번호: 709 주문 번호: 2828
회원 번호: 709 주문 번호: 2829
회원 번호: 710 주문 번호: 2830
회원 번호: 710 주문 번호: 2831
회원 번호: 710 주문 번호: 2832
회원 번호: 710 주문 번호: 2833
회원 번호: 711 주문 번호: 2834
회원 번호: 711 주문 번호: 2835
회원 번호: 711 주문 번호: 2836
회원 번호: 711 주문 번호: 2837
회원 번호: 712 주문 번호: 2838
회원 번호: 713 주문 번호: 2839
회원 번호: 714 주문 번호: 2840
회원 번호: 714 주문 번호: 2841
회원 번호: 714 주문 번호: 2842
회원 번호: 714 주문 번호: 2843
회원 번호: 715 주문 번호: 2844
회원 번호: 715 주문 번호: 2845
회원 번호: 715 주문 번호: 2846
회원 번호: 716 주문 번호: 2847
회원 번호: 717 주문 번호: 2848
회원 번호: 717 주문 번호: 2849
회원 번호: 717 주문 번호: 2850
회원 번호: 717 주문 번호: 2851
회원 번호: 718 주문 번호: 2852
회원 번호: 718 주문 번호: 2853
회원 번호: 718 주문 번호: 2854
회원 번호: 718 주문 번호: 2855
회원 번호: 719 주문 번호: 2856
회원 번호: 719 주문 번호: 2857
회원 번호: 719 주문 번호: 2858
회원 번호: 720 주문 번호: 2859
회원 번호: 721 주문 번호: 2860
회원 번호: 721 주문 번호: 2861

회원 번호: 722 주문 번호: 2862
회원 번호: 722 주문 번호: 2863
회원 번호: 722 주문 번호: 2864
회원 번호: 723 주문 번호: 2865
회원 번호: 723 주문 번호: 2866
회원 번호: 724 주문 번호: 2867
회원 번호: 724 주문 번호: 2868
회원 번호: 724 주문 번호: 2869
회원 번호: 725 주문 번호: 2870
회원 번호: 726 주문 번호: 2871
회원 번호: 726 주문 번호: 2872
회원 번호: 726 주문 번호: 2873
회원 번호: 726 주문 번호: 2874
회원 번호: 727 주문 번호: 2875
회원 번호: 727 주문 번호: 2876
회원 번호: 727 주문 번호: 2877
회원 번호: 728 주문 번호: 2878
회원 번호: 728 주문 번호: 2879
회원 번호: 728 주문 번호: 2880
회원 번호: 729 주문 번호: 2881
회원 번호: 729 주문 번호: 2882
회원 번호: 729 주문 번호: 2883
회원 번호: 730 주문 번호: 2884
회원 번호: 730 주문 번호: 2885
회원 번호: 730 주문 번호: 2886
회원 번호: 731 주문 번호: 2887
회원 번호: 731 주문 번호: 2888
회원 번호: 731 주문 번호: 2889
회원 번호: 731 주문 번호: 2890
회원 번호: 732 주문 번호: 2891
회원 번호: 732 주문 번호: 2892
회원 번호: 732 주문 번호: 2893
회원 번호: 733 주문 번호: 2894
회원 번호: 733 주문 번호: 2895
회원 번호: 733 주문 번호: 2896
회원 번호: 734 주문 번호: 2897
회원 번호: 734 주문 번호: 2898
회원 번호: 735 주문 번호: 2899
회원 번호: 735 주문 번호: 2900
회원 번호: 735 주문 번호: 2901
회원 번호: 736 주문 번호: 2902
회원 번호: 736 주문 번호: 2903
회원 번호: 736 주문 번호: 2904
회원 번호: 737 주문 번호: 2905
회원 번호: 737 주문 번호: 2906
회원 번호: 738 주문 번호: 2907
회원 번호: 738 주문 번호: 2908
회원 번호: 739 주문 번호: 2909
회원 번호: 739 주문 번호: 2910
회원 번호: 739 주문 번호: 2911
회원 번호: 740 주문 번호: 2912
회원 번호: 740 주문 번호: 2913
회원 번호: 740 주문 번호: 2914
회원 번호: 740 주문 번호: 2915
회원 번호: 741 주문 번호: 2916
회원 번호: 741 주문 번호: 2917
회원 번호: 741 주문 번호: 2918
회원 번호: 742 주문 번호: 2919
회원 번호: 742 주문 번호: 2920
회원 번호: 742 주문 번호: 2921
회원 번호: 743 주문 번호: 2922
회원 번호: 744 주문 번호: 2923
회원 번호: 745 주문 번호: 2924
회원 번호: 745 주문 번호: 2925
회원 번호: 746 주문 번호: 2926
회원 번호: 746 주문 번호: 2927
회원 번호: 747 주문 번호: 2928
회원 번호: 748 주문 번호: 2929
회원 번호: 749 주문 번호: 2930
회원 번호: 750 주문 번호: 2931
회원 번호: 750 주문 번호: 2932
회원 번호: 751 주문 번호: 2933
회원 번호: 751 주문 번호: 2934
회원 번호: 751 주문 번호: 2935
회원 번호: 751 주문 번호: 2936
회원 번호: 752 주문 번호: 2937
회원 번호: 752 주문 번호: 2938
회원 번호: 752 주문 번호: 2939
회원 번호: 753 주문 번호: 2940
회원 번호: 753 주문 번호: 2941
회원 번호: 753 주문 번호: 2942
회원 번호: 753 주문 번호: 2943
회원 번호: 754 주문 번호: 2944
회원 번호: 754 주문 번호: 2945
회원 번호: 754 주문 번호: 2946
회원 번호: 754 주문 번호: 2947
회원 번호: 755 주문 번호: 2948
회원 번호: 755 주문 번호: 2949
회원 번호: 755 주문 번호: 2950
회원 번호: 755 주문 번호: 2951
회원 번호: 756 주문 번호: 2952
회원 번호: 757 주문 번호: 2953
회원 번호: 757 주문 번호: 2954
회원 번호: 757 주문 번호: 2955
회원 번호: 758 주문 번호: 2956
회원 번호: 758 주문 번호: 2957
회원 번호: 759 주문 번호: 2958
회원 번호: 759 주문 번호: 2959
회원 번호: 759 주문 번호: 2960
회원 번호: 759 주문 번호: 2961
회원 번호: 760 주문 번호: 2962
회원 번호: 760 주문 번호: 2963
회원 번호: 761 주문 번호: 2964
회원 번호: 761 주문 번호: 2965
회원 번호: 761 주문 번호: 2966
회원 번호: 761 주문 번호: 2967
회원 번호: 762 주문 번호: 2968
회원 번호: 762 주문 번호: 2969
회원 번호: 762 주문 번호: 2970
회원 번호: 763 주문 번호: 2971
회원 번호: 764 주문 번호: 2972
회원 번호: 764 주문 번호: 2973
회원 번호: 764 주문 번호: 2974
회원 번호: 765 주문 번호: 2975
회원 번호: 765 주문 번호: 2976
회원 번호: 765 주문 번호: 2977
회원 번호: 766 주문 번호: 2978
회원 번호: 766 주문 번호: 2979
회원 번호: 766 주문 번호: 2980
회원 번호: 767 주문 번호: 2981
회원 번호: 767 주문 번호: 2982
회원 번호: 768 주문 번호: 2983
회원 번호: 768 주문 번호: 2984
회원 번호: 769 주문 번호: 2985
회원 번호: 769 주문 번호: 2986
회원 번호: 770 주문 번호: 2987
회원 번호: 770 주문 번호: 2988
회원 번호: 770 주문 번호: 2989
회원 번호: 771 주문 번호: 2990
회원 번호: 772 주문 번호: 2991
회원 번호: 772 주문 번호: 2992
회원 번호: 772 주문 번호: 2993
회원 번호: 772 주문 번호: 2994
회원 번호: 773 주문 번호: 2995
회원 번호: 773 주문 번호: 2996
회원 번호: 774 주문 번호: 2997
회원 번호: 774 주문 번호: 2998
회원 번호: 774 주문 번호: 2999
회원 번호: 774 주문 번호: 3000
회원 번호: 775 주문 번호: 3001
회원 번호: 775 주문 번호: 3002
회원 번호: 775 주문 번호: 3003
회원 번호: 776 주문 번호: 3004
회원 번호: 776 주문 번호: 3005
회원 번호: 776 주문 번호: 3006
회원 번호: 776 주문 번호: 3007
회원 번호: 777 주문 번호: 3008
회원 번호: 778 주문 번호: 3009
회원 번호: 779 주문 번호: 3010
회원 번호: 779 주문 번호: 3011
회원 번호: 779 주문 번호: 3012
회원 번호: 779 주문 번호: 3013
회원 번호: 780 주문 번호: 3014
회원 번호: 780 주문 번호: 3015
회원 번호: 781 주문 번호: 3016
회원 번호: 781 주문 번호: 3017
회원 번호: 781 주문 번호: 3018
회원 번호: 781 주문 번호: 3019
회원 번호: 782 주문 번호: 3020
회원 번호: 782 주문 번호: 3021
회원 번호: 783 주문 번호: 3022
회원 번호: 783 주문 번호: 3023
회원 번호: 784 주문 번호: 3024
회원 번호: 784 주문 번호: 3025
회원 번호: 784 주문 번호: 3026
회원 번호: 785 주문 번호: 3027
회원 번호: 785 주문 번호: 3028
회원 번호: 786 주문 번호: 3029
회원 번호: 786 주문 번호: 3030
회원 번호: 787 주문 번호: 3031
회원 번호: 787 주문 번호: 3032
회원 번호: 788 주문 번호: 3033
회원 번호: 788 주문 번호: 3034
회원 번호: 789 주문 번호: 3035
회원 번호: 790 주문 번호: 3036
회원 번호: 790 주문 번호: 3037
회원 번호: 790 주문 번호: 3038
회원 번호: 790 주문 번호: 3039
회원 번호: 791 주문 번호: 3040
회원 번호: 791 주문 번호: 3041
회원 번호: 791 주문 번호: 3042
회원 번호: 792 주문 번호: 3043
회원 번호: 792 주문 번호: 3044
회원 번호: 792 주문 번호: 3045
회원 번호: 792 주문 번호: 3046
회원 번호: 793 주문 번호: 3047
회원 번호: 793 주문 번호: 3048
회원 번호: 793 주문 번호: 3049
회원 번호: 793 주문 번호: 3050
회원 번호: 794 주문 번호: 3051
회원 번호: 795 주문 번호: 3052
회원 번호: 795 주문 번호: 3053
회원 번호: 795 주문 번호: 3054
회원 번호: 796 주문 번호: 3055
회원 번호: 797 주문 번호: 3056
회원 번호: 797 주문 번호: 3057
회원 번호: 798 주문 번호: 3058
회원 번호: 798 주문 번호: 3059
회원 번호: 798 주문 번호: 3060
회원 번호: 798 주문 번호: 3061
회원 번호: 799 주문 번호: 3062
회원 번호: 799 주문 번호: 3063
회원 번호: 800 주문 번호: 3064
회원 번호: 801 주문 번호: 3065
회원 번호: 802 주문 번호: 3066
회원 번호: 802 주문 번호: 3067
회원 번호: 802 주문 번호: 3068
회원 번호: 803 주문 번호: 3069
회원 번호: 804 주문 번호: 3070
회원 번호: 804 주문 번호: 3071
회원 번호: 805 주문 번호: 3072
회원 번호: 805 주문 번호: 3073
회원 번호: 805 주문 번호: 3074
회원 번호: 806 주문 번호: 3075
회원 번호: 807 주문 번호: 3076
회원 번호: 807 주문 번호: 3077
회원 번호: 807 주문 번호: 3078
회원 번호: 807 주문 번호: 3079
회원 번호: 808 주문 번호: 3080
회원 번호: 808 주문 번호: 3081
회원 번호: 808 주문 번호: 3082
회원 번호: 808 주문 번호: 3083
회원 번호: 809 주문 번호: 3084
회원 번호: 809 주문 번호: 3085
회원 번호: 809 주문 번호: 3086
회원 번호: 809 주문 번호: 3087
회원 번호: 810 주문 번호: 3088
회원 번호: 810 주문 번호: 3089
회원 번호: 810 주문 번호: 3090
회원 번호: 811 주문 번호: 3091
회원 번호: 811 주문 번호: 3092
회원 번호: 811 주문 번호: 3093
회원 번호: 811 주문 번호: 3094
회원 번호: 812 주문 번호: 3095
회원 번호: 812 주문 번호: 3096
회원 번호: 813 주문 번호: 3097
회원 번호: 814 주문 번호: 3098
회원 번호: 814 주문 번호: 3099
회원 번호: 814 주문 번호: 3100
회원 번호: 815 주문 번호: 3101
회원 번호: 815 주문 번호: 3102
회원 번호: 816 주문 번호: 3103
회원 번호: 816 주문 번호: 3104
회원 번호: 816 주문 번호: 3105
회원 번호: 816 주문 번호: 3106
회원 번호: 817 주문 번호: 3107
회원 번호: 818 주문 번호: 3108
회원 번호: 818 주문 번호: 3109
회원 번호: 819 주문 번호: 3110
회원 번호: 820 주문 번호: 3111
회원 번호: 820 주문 번호: 3112
회원 번호: 820 주문 번호: 3113
회원 번호: 820 주문 번호: 3114
회원 번호: 821 주문 번호: 3115
회원 번호: 821 주문 번호: 3116
회원 번호: 821 주문 번호: 3117
회원 번호: 821 주문 번호: 3118
회원 번호: 822 주문 번호: 3119
회원 번호: 822 주문 번호: 3120
회원 번호: 822 주문 번호: 3121
회원 번호: 823 주문 번호: 3122
회원 번호: 824 주문 번호: 3123
회원 번호: 824 주문 번호: 3124
회원 번호: 824 주문 번호: 3125
회원 번호: 825 주문 번호: 3126
회원 번호: 825 주문 번호: 3127
회원 번호: 826 주문 번호: 3128
회원 번호: 826 주문 번호: 3129
회원 번호: 826 주문 번호: 3130
회원 번호: 827 주문 번호: 3131
회원 번호: 827 주문 번호: 3132
회원 번호: 827 주문 번호: 3133
회원 번호: 827 주문 번호: 3134
회원 번호: 828 주문 번호: 3135
회원 번호: 828 주문 번호: 3136
회원 번호: 829 주문 번호: 3137
회원 번호: 830 주문 번호: 3138
회원 번호: 830 주문 번호: 3139
회원 번호: 830 주문 번호: 3140
회원 번호: 830 주문 번호: 3141
회원 번호: 831 주문 번호: 3142
회원 번호: 831 주문 번호: 3143
회원 번호: 832 주문 번호: 3144
회원 번호: 832 주문 번호: 3145
회원 번호: 832 주문 번호: 3146
회원 번호: 832 주문 번호: 3147
회원 번호: 833 주문 번호: 3148
회원 번호: 833 주문 번호: 3149
회원 번호: 833 주문 번호: 3150
회원 번호: 833 주문 번호: 3151
회원 번호: 834 주문 번호: 3152
회원 번호: 834 주문 번호: 3153
회원 번호: 834 주문 번호: 3154
회원 번호: 834 주문 번호: 3155
회원 번호: 835 주문 번호: 3156
회원 번호: 835 주문 번호: 3157
회원 번호: 836 주문 번호: 3158
회원 번호: 836 주문 번호: 3159
회원 번호: 836 주문 번호: 3160
회원 번호: 836 주문 번호: 3161
회원 번호: 837 주문 번호: 3162
회원 번호: 837 주문 번호: 3163
회원 번호: 837 주문 번호: 3164
회원 번호: 837 주문 번호: 3165
회원 번호: 838 주문 번호: 3166
회원 번호: 838 주문 번호: 3167
회원 번호: 838 주문 번호: 3168
회원 번호: 838 주문 번호: 3169
회원 번호: 839 주문 번호: 3170
회원 번호: 839 주문 번호: 3171
회원 번호: 839 주문 번호: 3172
회원 번호: 839 주문 번호: 3173
회원 번호: 840 주문 번호: 3174
회원 번호: 841 주문 번호: 3175
회원 번호: 841 주문 번호: 3176
회원 번호: 841 주문 번호: 3177
회원 번호: 841 주문 번호: 3178
회원 번호: 842 주문 번호: 3179
회원 번호: 842 주문 번호: 3180
회원 번호: 842 주문 번호: 3181
회원 번호: 842 주문 번호: 3182
회원 번호: 843 주문 번호: 3183
회원 번호: 843 주문 번호: 3184
회원 번호: 843 주문 번호: 3185
회원 번호: 844 주문 번호: 3186
회원 번호: 845 주문 번호: 3187
회원 번호: 846 주문 번호: 3188
회원 번호: 846 주문 번호: 3189
회원 번호: 847 주문 번호: 3190
회원 번호: 847 주문 번호: 3191
회원 번호: 847 주문 번호: 3192
회원 번호: 848 주문 번호: 3193
회원 번호: 848 주문 번호: 3194
회원 번호: 848 주문 번호: 3195
회원 번호: 849 주문 번호: 3196
회원 번호: 849 주문 번호: 3197
회원 번호: 849 주문 번호: 3198
회원 번호: 849 주문 번호: 3199
회원 번호: 850 주문 번호: 3200
회원 번호: 850 주문 번호: 3201
회원 번호: 851 주문 번호: 3202
회원 번호: 851 주문 번호: 3203
회원 번호: 851 주문 번호: 3204
회원 번호: 852 주문 번호: 3205
회원 번호: 852 주문 번호: 3206
회원 번호: 852 주문 번호: 3207
회원 번호: 853 주문 번호: 3208
회원 번호: 854 주문 번호: 3209
회원 번호: 854 주문 번호: 3210
회원 번호: 854 주문 번호: 3211
회원 번호: 854 주문 번호: 3212
회원 번호: 855 주문 번호: 3213
회원 번호: 856 주문 번호: 3214
회원 번호: 856 주문 번호: 3215
회원 번호: 856 주문 번호: 3216
회원 번호: 856 주문 번호: 3217
회원 번호: 857 주문 번호: 3218
회원 번호: 858 주문 번호: 3219
회원 번호: 859 주문 번호: 3220
회원 번호: 859 주문 번호: 3221
회원 번호: 859 주문 번호: 3222
회원 번호: 860 주문 번호: 3223
회원 번호: 860 주문 번호: 3224
회원 번호: 861 주문 번호: 3225
회원 번호: 862 주문 번호: 3226
회원 번호: 862 주문 번호: 3227
회원 번호: 862 주문 번호: 3228
회원 번호: 862 주문 번호: 3229
회원 번호: 863 주문 번호: 3230
회원 번호: 863 주문 번호: 3231
회원 번호: 864 주문 번호: 3232
회원 번호: 865 주문 번호: 3233
회원 번호: 865 주문 번호: 3234
회원 번호: 866 주문 번호: 3235
회원 번호: 866 주문 번호: 3236
회원 번호: 866 주문 번호: 3237
회원 번호: 867 주문 번호: 3238
회원 번호: 867 주문 번호: 3239
회원 번호: 868 주문 번호: 3240
회원 번호: 868 주문 번호: 3241
회원 번호: 869 주문 번호: 3242
회원 번호: 869 주문 번호: 3243
회원 번호: 869 주문 번호: 3244
회원 번호: 870 주문 번호: 3245
회원 번호: 871 주문 번호: 3246
회원 번호: 871 주문 번호: 3247
회원 번호: 872 주문 번호: 3248
회원 번호: 872 주문 번호: 3249
회원 번호: 872 주문 번호: 3250
회원 번호: 873 주문 번호: 3251
회원 번호: 873 주문 번호: 3252
회원 번호: 873 주문 번호: 3253
회원 번호: 874 주문 번호: 3254
회원 번호: 875 주문 번호: 3255
회원 번호: 876 주문 번호: 3256
회원 번호: 876 주문 번호: 3257
회원 번호: 876 주문 번호: 3258
회원 번호: 877 주문 번호: 3259
회원 번호: 877 주문 번호: 3260
회원 번호: 877 주문 번호: 3261
회원 번호: 878 주문 번호: 3262
회원 번호: 878 주문 번호: 3263
회원 번호: 878 주문 번호: 3264
회원 번호: 879 주문 번호: 3265

회원 번호: 880 주문 번호: 3266
회원 번호: 880 주문 번호: 3267
회원 번호: 880 주문 번호: 3268
회원 번호: 881 주문 번호: 3269
회원 번호: 882 주문 번호: 3270
회원 번호: 882 주문 번호: 3271
회원 번호: 883 주문 번호: 3272
회원 번호: 883 주문 번호: 3273
회원 번호: 883 주문 번호: 3274
회원 번호: 883 주문 번호: 3275
회원 번호: 884 주문 번호: 3276
회원 번호: 884 주문 번호: 3277
회원 번호: 885 주문 번호: 3278
회원 번호: 886 주문 번호: 3279
회원 번호: 886 주문 번호: 3280
회원 번호: 887 주문 번호: 3281
회원 번호: 888 주문 번호: 3282
회원 번호: 888 주문 번호: 3283
회원 번호: 888 주문 번호: 3284
회원 번호: 889 주문 번호: 3285
회원 번호: 889 주문 번호: 3286
회원 번호: 890 주문 번호: 3287
회원 번호: 890 주문 번호: 3288
회원 번호: 891 주문 번호: 3289
회원 번호: 891 주문 번호: 3290
회원 번호: 891 주문 번호: 3291
회원 번호: 891 주문 번호: 3292
회원 번호: 892 주문 번호: 3293
회원 번호: 892 주문 번호: 3294
회원 번호: 893 주문 번호: 3295
회원 번호: 893 주문 번호: 3296
회원 번호: 893 주문 번호: 3297
회원 번호: 893 주문 번호: 3298
회원 번호: 894 주문 번호: 3299
회원 번호: 894 주문 번호: 3300
회원 번호: 895 주문 번호: 3301
회원 번호: 895 주문 번호: 3302
회원 번호: 895 주문 번호: 3303
회원 번호: 896 주문 번호: 3304
회원 번호: 896 주문 번호: 3305
회원 번호: 896 주문 번호: 3306
회원 번호: 897 주문 번호: 3307
회원 번호: 897 주문 번호: 3308
회원 번호: 897 주문 번호: 3309
회원 번호: 898 주문 번호: 3310
회원 번호: 898 주문 번호: 3311
회원 번호: 898 주문 번호: 3312
회원 번호: 898 주문 번호: 3313
회원 번호: 899 주문 번호: 3314
회원 번호: 900 주문 번호: 3315
회원 번호: 901 주문 번호: 3316
회원 번호: 901 주문 번호: 3317
회원 번호: 902 주문 번호: 3318
회원 번호: 902 주문 번호: 3319
회원 번호: 902 주문 번호: 3320
회원 번호: 902 주문 번호: 3321
회원 번호: 903 주문 번호: 3322
회원 번호: 903 주문 번호: 3323
회원 번호: 903 주문 번호: 3324
회원 번호: 904 주문 번호: 3325
회원 번호: 904 주문 번호: 3326
회원 번호: 904 주문 번호: 3327
회원 번호: 904 주문 번호: 3328
회원 번호: 905 주문 번호: 3329
회원 번호: 905 주문 번호: 3330
회원 번호: 905 주문 번호: 3331
회원 번호: 905 주문 번호: 3332
회원 번호: 906 주문 번호: 3333
회원 번호: 906 주문 번호: 3334
회원 번호: 906 주문 번호: 3335
회원 번호: 907 주문 번호: 3336
회원 번호: 908 주문 번호: 3337
회원 번호: 909 주문 번호: 3338
회원 번호: 909 주문 번호: 3339
회원 번호: 909 주문 번호: 3340
회원 번호: 910 주문 번호: 3341
회원 번호: 911 주문 번호: 3342
회원 번호: 912 주문 번호: 3343
회원 번호: 912 주문 번호: 3344
회원 번호: 913 주문 번호: 3345
회원 번호: 913 주문 번호: 3346
회원 번호: 913 주문 번호: 3347
회원 번호: 913 주문 번호: 3348
회원 번호: 914 주문 번호: 3349
회원 번호: 915 주문 번호: 3350
회원 번호: 915 주문 번호: 3351
회원 번호: 915 주문 번호: 3352
회원 번호: 915 주문 번호: 3353
회원 번호: 916 주문 번호: 3354
회원 번호: 916 주문 번호: 3355
회원 번호: 916 주문 번호: 3356
회원 번호: 917 주문 번호: 3357
회원 번호: 917 주문 번호: 3358
회원 번호: 917 주문 번호: 3359
회원 번호: 918 주문 번호: 3360
회원 번호: 918 주문 번호: 3361
회원 번호: 918 주문 번호: 3362
회원 번호: 919 주문 번호: 3363
회원 번호: 919 주문 번호: 3364
회원 번호: 920 주문 번호: 3365
회원 번호: 920 주문 번호: 3366
회원 번호: 920 주문 번호: 3367
회원 번호: 921 주문 번호: 3368
회원 번호: 921 주문 번호: 3369
회원 번호: 922 주문 번호: 3370
회원 번호: 922 주문 번호: 3371
회원 번호: 922 주문 번호: 3372
회원 번호: 923 주문 번호: 3373
회원 번호: 924 주문 번호: 3374
회원 번호: 924 주문 번호: 3375
회원 번호: 924 주문 번호: 3376
회원 번호: 924 주문 번호: 3377
회원 번호: 925 주문 번호: 3378
회원 번호: 925 주문 번호: 3379
회원 번호: 925 주문 번호: 3380
회원 번호: 925 주문 번호: 3381
회원 번호: 926 주문 번호: 3382
회원 번호: 926 주문 번호: 3383
회원 번호: 926 주문 번호: 3384
회원 번호: 927 주문 번호: 3385
회원 번호: 927 주문 번호: 3386
회원 번호: 927 주문 번호: 3387
회원 번호: 928 주문 번호: 3388
회원 번호: 928 주문 번호: 3389
회원 번호: 928 주문 번호: 3390
회원 번호: 928 주문 번호: 3391
회원 번호: 929 주문 번호: 3392
회원 번호: 929 주문 번호: 3393
회원 번호: 929 주문 번호: 3394
회원 번호: 930 주문 번호: 3395
회원 번호: 930 주문 번호: 3396
회원 번호: 930 주문 번호: 3397
회원 번호: 930 주문 번호: 3398
회원 번호: 931 주문 번호: 3399
회원 번호: 931 주문 번호: 3400
회원 번호: 931 주문 번호: 3401
회원 번호: 932 주문 번호: 3402
회원 번호: 932 주문 번호: 3403
회원 번호: 932 주문 번호: 3404
회원 번호: 933 주문 번호: 3405
회원 번호: 933 주문 번호: 3406
회원 번호: 933 주문 번호: 3407
회원 번호: 934 주문 번호: 3408
회원 번호: 934 주문 번호: 3409
회원 번호: 935 주문 번호: 3410
회원 번호: 935 주문 번호: 3411
회원 번호: 936 주문 번호: 3412
회원 번호: 936 주문 번호: 3413
회원 번호: 937 주문 번호: 3414
회원 번호: 937 주문 번호: 3415
회원 번호: 937 주문 번호: 3416
회원 번호: 938 주문 번호: 3417
회원 번호: 938 주문 번호: 3418
회원 번호: 938 주문 번호: 3419
회원 번호: 939 주문 번호: 3420
회원 번호: 939 주문 번호: 3421
회원 번호: 939 주문 번호: 3422
회원 번호: 940 주문 번호: 3423
회원 번호: 940 주문 번호: 3424
회원 번호: 941 주문 번호: 3425
회원 번호: 941 주문 번호: 3426
회원 번호: 941 주문 번호: 3427
회원 번호: 942 주문 번호: 3428
회원 번호: 942 주문 번호: 3429
회원 번호: 942 주문 번호: 3430
회원 번호: 942 주문 번호: 3431
회원 번호: 943 주문 번호: 3432
회원 번호: 943 주문 번호: 3433
회원 번호: 943 주문 번호: 3434
회원 번호: 943 주문 번호: 3435
회원 번호: 944 주문 번호: 3436
회원 번호: 944 주문 번호: 3437
회원 번호: 945 주문 번호: 3438
회원 번호: 945 주문 번호: 3439
회원 번호: 946 주문 번호: 3440
회원 번호: 946 주문 번호: 3441
회원 번호: 946 주문 번호: 3442
회원 번호: 946 주문 번호: 3443
회원 번호: 947 주문 번호: 3444
회원 번호: 947 주문 번호: 3445
회원 번호: 948 주문 번호: 3446
회원 번호: 948 주문 번호: 3447
회원 번호: 948 주문 번호: 3448
회원 번호: 948 주문 번호: 3449
회원 번호: 949 주문 번호: 3450
회원 번호: 949 주문 번호: 3451
회원 번호: 949 주문 번호: 3452
회원 번호: 949 주문 번호: 3453
회원 번호: 950 주문 번호: 3454
회원 번호: 950 주문 번호: 3455
회원 번호: 950 주문 번호: 3456
회원 번호: 950 주문 번호: 3457
회원 번호: 951 주문 번호: 3458
회원 번호: 951 주문 번호: 3459
회원 번호: 952 주문 번호: 3460
회원 번호: 953 주문 번호: 3461
회원 번호: 953 주문 번호: 3462
회원 번호: 953 주문 번호: 3463
회원 번호: 954 주문 번호: 3464
회원 번호: 954 주문 번호: 3465
회원 번호: 954 주문 번호: 3466
회원 번호: 954 주문 번호: 3467
회원 번호: 955 주문 번호: 3468
회원 번호: 956 주문 번호: 3469
회원 번호: 956 주문 번호: 3470
회원 번호: 957 주문 번호: 3471
회원 번호: 957 주문 번호: 3472
회원 번호: 958 주문 번호: 3473
회원 번호: 959 주문 번호: 3474
회원 번호: 960 주문 번호: 3475
회원 번호: 961 주문 번호: 3476
회원 번호: 961 주문 번호: 3477
회원 번호: 961 주문 번호: 3478
회원 번호: 962 주문 번호: 3479
회원 번호: 962 주문 번호: 3480
회원 번호: 962 주문 번호: 3481
회원 번호: 962 주문 번호: 3482
회원 번호: 963 주문 번호: 3483
회원 번호: 963 주문 번호: 3484
회원 번호: 963 주문 번호: 3485
회원 번호: 963 주문 번호: 3486
회원 번호: 964 주문 번호: 3487
회원 번호: 964 주문 번호: 3488
회원 번호: 964 주문 번호: 3489
회원 번호: 964 주문 번호: 3490
회원 번호: 965 주문 번호: 3491
회원 번호: 965 주문 번호: 3492
회원 번호: 966 주문 번호: 3493
회원 번호: 966 주문 번호: 3494
회원 번호: 966 주문 번호: 3495
회원 번호: 967 주문 번호: 3496
회원 번호: 967 주문 번호: 3497
회원 번호: 967 주문 번호: 3498
회원 번호: 968 주문 번호: 3499
회원 번호: 968 주문 번호: 3500
회원 번호: 969 주문 번호: 3501
회원 번호: 969 주문 번호: 3502
회원 번호: 969 주문 번호: 3503
회원 번호: 970 주문 번호: 3504
회원 번호: 970 주문 번호: 3505
회원 번호: 970 주문 번호: 3506
회원 번호: 971 주문 번호: 3507
회원 번호: 971 주문 번호: 3508
회원 번호: 971 주문 번호: 3509
회원 번호: 971 주문 번호: 3510
회원 번호: 972 주문 번호: 3511
회원 번호: 973 주문 번호: 3512
회원 번호: 973 주문 번호: 3513
회원 번호: 973 주문 번호: 3514
회원 번호: 974 주문 번호: 3515
회원 번호: 974 주문 번호: 3516
회원 번호: 974 주문 번호: 3517
회원 번호: 974 주문 번호: 3518
회원 번호: 975 주문 번호: 3519
회원 번호: 976 주문 번호: 3520
회원 번호: 976 주문 번호: 3521
회원 번호: 976 주문 번호: 3522
회원 번호: 976 주문 번호: 3523
회원 번호: 977 주문 번호: 3524
회원 번호: 977 주문 번호: 3525
회원 번호: 977 주문 번호: 3526
회원 번호: 977 주문 번호: 3527
회원 번호: 978 주문 번호: 3528
회원 번호: 978 주문 번호: 3529
회원 번호: 979 주문 번호: 3530
회원 번호: 979 주문 번호: 3531
회원 번호: 980 주문 번호: 3532
회원 번호: 980 주문 번호: 3533
회원 번호: 980 주문 번호: 3534
회원 번호: 981 주문 번호: 3535
회원 번호: 982 주문 번호: 3536
회원 번호: 983 주문 번호: 3537
회원 번호: 983 주문 번호: 3538
회원 번호: 984 주문 번호: 3539
회원 번호: 984 주문 번호: 3540
회원 번호: 984 주문 번호: 3541
회원 번호: 984 주문 번호: 3542
회원 번호: 985 주문 번호: 3543
회원 번호: 985 주문 번호: 3544
회원 번호: 985 주문 번호: 3545
회원 번호: 986 주문 번호: 3546
회원 번호: 986 주문 번호: 3547
회원 번호: 986 주문 번호: 3548
회원 번호: 987 주문 번호: 3549
회원 번호: 987 주문 번호: 3550
회원 번호: 987 주문 번호: 3551
회원 번호: 987 주문 번호: 3552
회원 번호: 988 주문 번호: 3553
회원 번호: 988 주문 번호: 3554
회원 번호: 988 주문 번호: 3555
회원 번호: 989 주문 번호: 3556
회원 번호: 989 주문 번호: 3557
회원 번호: 990 주문 번호: 3558
회원 번호: 990 주문 번호: 3559
회원 번호: 991 주문 번호: 3560
회원 번호: 991 주문 번호: 3561
회원 번호: 991 주문 번호: 3562
회원 번호: 991 주문 번호: 3563
회원 번호: 992 주문 번호: 3564
회원 번호: 992 주문 번호: 3565
회원 번호: 993 주문 번호: 3566
회원 번호: 993 주문 번호: 3567
회원 번호: 993 주문 번호: 3568
회원 번호: 994 주문 번호: 3569
회원 번호: 994 주문 번호: 3570
회원 번호: 994 주문 번호: 3571
회원 번호: 994 주문 번호: 3572
회원 번호: 995 주문 번호: 3573
회원 번호: 995 주문 번호: 3574
회원 번호: 995 주문 번호: 3575
회원 번호: 995 주문 번호: 3576
회원 번호: 996 주문 번호: 3577
회원 번호: 996 주문 번호: 3578
회원 번호: 996 주문 번호: 3579
회원 번호: 997 주문 번호: 3580
회원 번호: 997 주문 번호: 3581
회원 번호: 998 주문 번호: 3582
회원 번호: 998 주문 번호: 3583
회원 번호: 998 주문 번호: 3584
회원 번호: 999 주문 번호: 3585
회원 번호: 999 주문 번호: 3586
회원 번호: 1000 주문 번호: 3587
회원 번호: 1000 주문 번호: 3588
회원 번호: 1000 주문 번호: 3589

In [3]:
import random

for i in range(1, order_id):
    print("주문 번호:", i, "min_total_price:", random.randint(30000,200000))

주문 번호: 1 min_total_price: 88183
주문 번호: 2 min_total_price: 104571
주문 번호: 3 min_total_price: 116005
주문 번호: 4 min_total_price: 105602
주문 번호: 5 min_total_price: 66015
주문 번호: 6 min_total_price: 109236
주문 번호: 7 min_total_price: 110444
주문 번호: 8 min_total_price: 112145
주문 번호: 9 min_total_price: 133111
주문 번호: 10 min_total_price: 174298
주문 번호: 11 min_total_price: 120175
주문 번호: 12 min_total_price: 163752
주문 번호: 13 min_total_price: 196599
주문 번호: 14 min_total_price: 69802
주문 번호: 15 min_total_price: 158909
주문 번호: 16 min_total_price: 83881
주문 번호: 17 min_total_price: 129553
주문 번호: 18 min_total_price: 93637
주문 번호: 19 min_total_price: 147990
주문 번호: 20 min_total_price: 55869
주문 번호: 21 min_total_price: 199123
주문 번호: 22 min_total_price: 64764
주문 번호: 23 min_total_price: 149386
주문 번호: 24 min_total_price: 39771
주문 번호: 25 min_total_price: 193578
주문 번호: 26 min_total_price: 76800
주문 번호: 27 min_total_price: 80738
주문 번호: 28 min_total_price: 85953
주문 번호: 29 min_total_price: 176665
주문 번호: 30 min_total_price: 123289
주문 번호: 31 min_total_price: 35952
주문 번호: 32 min_total_price: 81616
주문 번호: 33 min_total_price: 113693
주문 번호: 34 min_total_price: 155836
주문 번호: 35 min_total_price: 66881
주문 번호: 36 min_total_price: 38643
주문 번호: 37 min_total_price: 176386
주문 번호: 38 min_total_price: 59187
주문 번호: 39 min_total_price: 111054
주문 번호: 40 min_total_price: 156776
주문 번호: 41 min_total_price: 66127
주문 번호: 42 min_total_price: 133937
주문 번호: 43 min_total_price: 96270
주문 번호: 44 min_total_price: 134693
주문 번호: 45 min_total_price: 73940
주문 번호: 46 min_total_price: 156416
주문 번호: 47 min_total_price: 173707
주문 번호: 48 min_total_price: 112242
주문 번호: 49 min_total_price: 101005
주문 번호: 50 min_total_price: 118582
주문 번호: 51 min_total_price: 34920
주문 번호: 52 min_total_price: 183856
주문 번호: 53 min_total_price: 90280
주문 번호: 54 min_total_price: 66818
주문 번호: 55 min_total_price: 120272
주문 번호: 56 min_total_price: 164164
주문 번호: 57 min_total_price: 30331
주문 번호: 58 min_total_price: 180660
주문 번호: 59 min_total_price: 31967
주문 번호: 60 min_total_price: 110521
주문 번호: 61 min_total_price: 129034
주문 번호: 62 min_total_price: 135145
주문 번호: 63 min_total_price: 34345
주문 번호: 64 min_total_price: 53829
주문 번호: 65 min_total_price: 79184
주문 번호: 66 min_total_price: 88859
주문 번호: 67 min_total_price: 128904
주문 번호: 68 min_total_price: 45561
주문 번호: 69 min_total_price: 96497
주문 번호: 70 min_total_price: 59589
주문 번호: 71 min_total_price: 158989
주문 번호: 72 min_total_price: 175253
주문 번호: 73 min_total_price: 142541
주문 번호: 74 min_total_price: 126764
주문 번호: 75 min_total_price: 36761
주문 번호: 76 min_total_price: 109635
주문 번호: 77 min_total_price: 66701
주문 번호: 78 min_total_price: 36018
주문 번호: 79 min_total_price: 98273
주문 번호: 80 min_total_price: 111824
주문 번호: 81 min_total_price: 101656
주문 번호: 82 min_total_price: 141328
주문 번호: 83 min_total_price: 127931
주문 번호: 84 min_total_price: 68337
주문 번호: 85 min_total_price: 43586
주문 번호: 86 min_total_price: 196773
주문 번호: 87 min_total_price: 123075
주문 번호: 88 min_total_price: 174291
주문 번호: 89 min_total_price: 157338
주문 번호: 90 min_total_price: 173578
주문 번호: 91 min_total_price: 76384
주문 번호: 92 min_total_price: 147311
주문 번호: 93 min_total_price: 56779
주문 번호: 94 min_total_price: 40845
주문 번호: 95 min_total_price: 125214
주문 번호: 96 min_total_price: 104474
주문 번호: 97 min_total_price: 76915
주문 번호: 98 min_total_price: 154770
주문 번호: 99 min_total_price: 57792
주문 번호: 100 min_total_price: 183058
주문 번호: 101 min_total_price: 134106
주문 번호: 102 min_total_price: 100357
주문 번호: 103 min_total_price: 136198
주문 번호: 104 min_total_price: 55473
주문 번호: 105 min_total_price: 188792
주문 번호: 106 min_total_price: 56415
주문 번호: 107 min_total_price: 106721
주문 번호: 108 min_total_price: 121399
주문 번호: 109 min_total_price: 98815
주문 번호: 110 min_total_price: 186311
주문 번호: 111 min_total_price: 67659
주문 번호: 112 min_total_price: 121160
주문 번호: 113 min_total_price: 181010
주문 번호: 114 min_total_price: 77293
주문 번호: 115 min_total_price: 191200
주문 번호: 116 min_total_price: 81488
주문 번호: 117 min_total_price: 194354
주문 번호: 118 min_total_price: 192682
주문 번호: 119 min_total_price: 132411
주문 번호: 120 min_total_price: 77163
주문 번호: 121 min_total_price: 73696
주문 번호: 122 min_total_price: 196072
주문 번호: 123 min_total_price: 167947
주문 번호: 124 min_total_price: 46032
주문 번호: 125 min_total_price: 94829
주문 번호: 126 min_total_price: 138518
주문 번호: 127 min_total_price: 170115
주문 번호: 128 min_total_price: 39394
주문 번호: 129 min_total_price: 72588
주문 번호: 130 min_total_price: 101504
주문 번호: 131 min_total_price: 187126
주문 번호: 132 min_total_price: 196992
주문 번호: 133 min_total_price: 74829
주문 번호: 134 min_total_price: 67975
주문 번호: 135 min_total_price: 152907
주문 번호: 136 min_total_price: 108233
주문 번호: 137 min_total_price: 183762
주문 번호: 138 min_total_price: 33151
주문 번호: 139 min_total_price: 144454
주문 번호: 140 min_total_price: 42100
주문 번호: 141 min_total_price: 44846
주문 번호: 142 min_total_price: 107536
주문 번호: 143 min_total_price: 82328
주문 번호: 144 min_total_price: 185328
주문 번호: 145 min_total_price: 110387
주문 번호: 146 min_total_price: 151726
주문 번호: 147 min_total_price: 111748
주문 번호: 148 min_total_price: 88062
주문 번호: 149 min_total_price: 77234
주문 번호: 150 min_total_price: 155501
주문 번호: 151 min_total_price: 75261
주문 번호: 152 min_total_price: 177302
주문 번호: 153 min_total_price: 102557
주문 번호: 154 min_total_price: 32481
주문 번호: 155 min_total_price: 66368
주문 번호: 156 min_total_price: 191452
주문 번호: 157 min_total_price: 134316
주문 번호: 158 min_total_price: 124604
주문 번호: 159 min_total_price: 106652
주문 번호: 160 min_total_price: 191256
주문 번호: 161 min_total_price: 103098
주문 번호: 162 min_total_price: 139609
주문 번호: 163 min_total_price: 43190
주문 번호: 164 min_total_price: 185080
주문 번호: 165 min_total_price: 35433
주문 번호: 166 min_total_price: 128767
주문 번호: 167 min_total_price: 196668
주문 번호: 168 min_total_price: 45023
주문 번호: 169 min_total_price: 190648
주문 번호: 170 min_total_price: 144686
주문 번호: 171 min_total_price: 43588
주문 번호: 172 min_total_price: 36427
주문 번호: 173 min_total_price: 71660
주문 번호: 174 min_total_price: 195463
주문 번호: 175 min_total_price: 132553
주문 번호: 176 min_total_price: 90536
주문 번호: 177 min_total_price: 185835
주문 번호: 178 min_total_price: 116099
주문 번호: 179 min_total_price: 36223
주문 번호: 180 min_total_price: 116111
주문 번호: 181 min_total_price: 163433
주문 번호: 182 min_total_price: 76878
주문 번호: 183 min_total_price: 138715
주문 번호: 184 min_total_price: 37423
주문 번호: 185 min_total_price: 141388
주문 번호: 186 min_total_price: 71837
주문 번호: 187 min_total_price: 173400
주문 번호: 188 min_total_price: 145826
주문 번호: 189 min_total_price: 141470
주문 번호: 190 min_total_price: 106695
주문 번호: 191 min_total_price: 132005
주문 번호: 192 min_total_price: 162864
주문 번호: 193 min_total_price: 74160
주문 번호: 194 min_total_price: 108344
주문 번호: 195 min_total_price: 56638
주문 번호: 196 min_total_price: 100408
주문 번호: 197 min_total_price: 185137
주문 번호: 198 min_total_price: 169190
주문 번호: 199 min_total_price: 39078
주문 번호: 200 min_total_price: 162542
주문 번호: 201 min_total_price: 106341
주문 번호: 202 min_total_price: 166688
주문 번호: 203 min_total_price: 62554
주문 번호: 204 min_total_price: 66524
주문 번호: 205 min_total_price: 42444
주문 번호: 206 min_total_price: 172453
주문 번호: 207 min_total_price: 153808
주문 번호: 208 min_total_price: 138114
주문 번호: 209 min_total_price: 161383
주문 번호: 210 min_total_price: 176658
주문 번호: 211 min_total_price: 30667
주문 번호: 212 min_total_price: 151252
주문 번호: 213 min_total_price: 157960
주문 번호: 214 min_total_price: 152630
주문 번호: 215 min_total_price: 145739
주문 번호: 216 min_total_price: 98072
주문 번호: 217 min_total_price: 142130
주문 번호: 218 min_total_price: 43850
주문 번호: 219 min_total_price: 130152
주문 번호: 220 min_total_price: 126726
주문 번호: 221 min_total_price: 72020
주문 번호: 222 min_total_price: 142388
주문 번호: 223 min_total_price: 131419
주문 번호: 224 min_total_price: 65463
주문 번호: 225 min_total_price: 56179
주문 번호: 226 min_total_price: 182795
주문 번호: 227 min_total_price: 88014
주문 번호: 228 min_total_price: 179811
주문 번호: 229 min_total_price: 133709
주문 번호: 230 min_total_price: 119457
주문 번호: 231 min_total_price: 93668
주문 번호: 232 min_total_price: 56770
주문 번호: 233 min_total_price: 73874
주문 번호: 234 min_total_price: 108429
주문 번호: 235 min_total_price: 103716
주문 번호: 236 min_total_price: 103701
주문 번호: 237 min_total_price: 185395
주문 번호: 238 min_total_price: 160610
주문 번호: 239 min_total_price: 176025
주문 번호: 240 min_total_price: 183929
주문 번호: 241 min_total_price: 109586
주문 번호: 242 min_total_price: 154059
주문 번호: 243 min_total_price: 140582
주문 번호: 244 min_total_price: 198451
주문 번호: 245 min_total_price: 126288
주문 번호: 246 min_total_price: 123333
주문 번호: 247 min_total_price: 97432
주문 번호: 248 min_total_price: 62102
주문 번호: 249 min_total_price: 95231
주문 번호: 250 min_total_price: 83232
주문 번호: 251 min_total_price: 150787
주문 번호: 252 min_total_price: 119399
주문 번호: 253 min_total_price: 146883
주문 번호: 254 min_total_price: 37705
주문 번호: 255 min_total_price: 87969
주문 번호: 256 min_total_price: 105180
주문 번호: 257 min_total_price: 129515
주문 번호: 258 min_total_price: 52136
주문 번호: 259 min_total_price: 130509
주문 번호: 260 min_total_price: 57370
주문 번호: 261 min_total_price: 129519
주문 번호: 262 min_total_price: 82173
주문 번호: 263 min_total_price: 32469
주문 번호: 264 min_total_price: 65161
주문 번호: 265 min_total_price: 95667
주문 번호: 266 min_total_price: 170198
주문 번호: 267 min_total_price: 44869
주문 번호: 268 min_total_price: 120593
주문 번호: 269 min_total_price: 33301
주문 번호: 270 min_total_price: 75497
주문 번호: 271 min_total_price: 137497
주문 번호: 272 min_total_price: 30671
주문 번호: 273 min_total_price: 34676
주문 번호: 274 min_total_price: 139896
주문 번호: 275 min_total_price: 191300
주문 번호: 276 min_total_price: 110996
주문 번호: 277 min_total_price: 120617
주문 번호: 278 min_total_price: 65138
주문 번호: 279 min_total_price: 101116

주문 번호: 280 min_total_price: 132341
주문 번호: 281 min_total_price: 129103
주문 번호: 282 min_total_price: 85370
주문 번호: 283 min_total_price: 173098
주문 번호: 284 min_total_price: 193453
주문 번호: 285 min_total_price: 145541
주문 번호: 286 min_total_price: 190303
주문 번호: 287 min_total_price: 177336
주문 번호: 288 min_total_price: 187431
주문 번호: 289 min_total_price: 117345
주문 번호: 290 min_total_price: 53130
주문 번호: 291 min_total_price: 157570
주문 번호: 292 min_total_price: 41923
주문 번호: 293 min_total_price: 60902
주문 번호: 294 min_total_price: 75057
주문 번호: 295 min_total_price: 105506
주문 번호: 296 min_total_price: 87688
주문 번호: 297 min_total_price: 117462
주문 번호: 298 min_total_price: 100091
주문 번호: 299 min_total_price: 119026
주문 번호: 300 min_total_price: 48796
주문 번호: 301 min_total_price: 193959
주문 번호: 302 min_total_price: 170132
주문 번호: 303 min_total_price: 148456
주문 번호: 304 min_total_price: 103689
주문 번호: 305 min_total_price: 87823
주문 번호: 306 min_total_price: 130372
주문 번호: 307 min_total_price: 91296
주문 번호: 308 min_total_price: 130600
주문 번호: 309 min_total_price: 114681
주문 번호: 310 min_total_price: 65155
주문 번호: 311 min_total_price: 176243
주문 번호: 312 min_total_price: 62078
주문 번호: 313 min_total_price: 33424
주문 번호: 314 min_total_price: 129339
주문 번호: 315 min_total_price: 163600
주문 번호: 316 min_total_price: 97831
주문 번호: 317 min_total_price: 55202
주문 번호: 318 min_total_price: 110079
주문 번호: 319 min_total_price: 102273
주문 번호: 320 min_total_price: 126157
주문 번호: 321 min_total_price: 86540
주문 번호: 322 min_total_price: 46686
주문 번호: 323 min_total_price: 51049
주문 번호: 324 min_total_price: 99469
주문 번호: 325 min_total_price: 153640
주문 번호: 326 min_total_price: 159716
주문 번호: 327 min_total_price: 31918
주문 번호: 328 min_total_price: 57475
주문 번호: 329 min_total_price: 86692
주문 번호: 330 min_total_price: 98437
주문 번호: 331 min_total_price: 53382
주문 번호: 332 min_total_price: 76074
주문 번호: 333 min_total_price: 94953
주문 번호: 334 min_total_price: 59009
주문 번호: 335 min_total_price: 174192
주문 번호: 336 min_total_price: 39295
주문 번호: 337 min_total_price: 107259
주문 번호: 338 min_total_price: 131178
주문 번호: 339 min_total_price: 154357
주문 번호: 340 min_total_price: 69573
주문 번호: 341 min_total_price: 166665
주문 번호: 342 min_total_price: 145024
주문 번호: 343 min_total_price: 83151
주문 번호: 344 min_total_price: 157277
주문 번호: 345 min_total_price: 61077
주문 번호: 346 min_total_price: 183041
주문 번호: 347 min_total_price: 157334
주문 번호: 348 min_total_price: 138470
주문 번호: 349 min_total_price: 138336
주문 번호: 350 min_total_price: 35218
주문 번호: 351 min_total_price: 47521
주문 번호: 352 min_total_price: 101894
주문 번호: 353 min_total_price: 62561
주문 번호: 354 min_total_price: 182860
주문 번호: 355 min_total_price: 174163
주문 번호: 356 min_total_price: 117950
주문 번호: 357 min_total_price: 122625
주문 번호: 358 min_total_price: 93460
주문 번호: 359 min_total_price: 161889
주문 번호: 360 min_total_price: 102244
주문 번호: 361 min_total_price: 153541
주문 번호: 362 min_total_price: 165894
주문 번호: 363 min_total_price: 41995
주문 번호: 364 min_total_price: 165687
주문 번호: 365 min_total_price: 77028
주문 번호: 366 min_total_price: 177914
주문 번호: 367 min_total_price: 110401
주문 번호: 368 min_total_price: 94622
주문 번호: 369 min_total_price: 151141
주문 번호: 370 min_total_price: 44978
주문 번호: 371 min_total_price: 150212
주문 번호: 372 min_total_price: 91214
주문 번호: 373 min_total_price: 174200
주문 번호: 374 min_total_price: 52410
주문 번호: 375 min_total_price: 102824
주문 번호: 376 min_total_price: 143859
주문 번호: 377 min_total_price: 115990
주문 번호: 378 min_total_price: 133483
주문 번호: 379 min_total_price: 37939
주문 번호: 380 min_total_price: 168997
주문 번호: 381 min_total_price: 94283
주문 번호: 382 min_total_price: 140768
주문 번호: 383 min_total_price: 123363
주문 번호: 384 min_total_price: 122056
주문 번호: 385 min_total_price: 187228
주문 번호: 386 min_total_price: 126096
주문 번호: 387 min_total_price: 184932
주문 번호: 388 min_total_price: 70896
주문 번호: 389 min_total_price: 47017
주문 번호: 390 min_total_price: 147612
주문 번호: 391 min_total_price: 99787
주문 번호: 392 min_total_price: 114298
주문 번호: 393 min_total_price: 121062
주문 번호: 394 min_total_price: 96286
주문 번호: 395 min_total_price: 99225
주문 번호: 396 min_total_price: 84989
주문 번호: 397 min_total_price: 177124
주문 번호: 398 min_total_price: 149449
주문 번호: 399 min_total_price: 151843
주문 번호: 400 min_total_price: 85235
주문 번호: 401 min_total_price: 163634
주문 번호: 402 min_total_price: 164838
주문 번호: 403 min_total_price: 66431
주문 번호: 404 min_total_price: 39069
주문 번호: 405 min_total_price: 106775
주문 번호: 406 min_total_price: 183272
주문 번호: 407 min_total_price: 155602
주문 번호: 408 min_total_price: 76638
주문 번호: 409 min_total_price: 123329
주문 번호: 410 min_total_price: 188083
주문 번호: 411 min_total_price: 75292
주문 번호: 412 min_total_price: 172167
주문 번호: 413 min_total_price: 147923
주문 번호: 414 min_total_price: 184285
주문 번호: 415 min_total_price: 180856
주문 번호: 416 min_total_price: 154742
주문 번호: 417 min_total_price: 81465
주문 번호: 418 min_total_price: 38918
주문 번호: 419 min_total_price: 77191
주문 번호: 420 min_total_price: 164933
주문 번호: 421 min_total_price: 78021
주문 번호: 422 min_total_price: 153747
주문 번호: 423 min_total_price: 160125
주문 번호: 424 min_total_price: 100648
주문 번호: 425 min_total_price: 52334
주문 번호: 426 min_total_price: 136474
주문 번호: 427 min_total_price: 121840
주문 번호: 428 min_total_price: 184175
주문 번호: 429 min_total_price: 73208
주문 번호: 430 min_total_price: 121180
주문 번호: 431 min_total_price: 45933
주문 번호: 432 min_total_price: 30004
주문 번호: 433 min_total_price: 79690
주문 번호: 434 min_total_price: 90359
주문 번호: 435 min_total_price: 66073
주문 번호: 436 min_total_price: 59790
주문 번호: 437 min_total_price: 109040
주문 번호: 438 min_total_price: 125769
주문 번호: 439 min_total_price: 62085
주문 번호: 440 min_total_price: 165352
주문 번호: 441 min_total_price: 68889
주문 번호: 442 min_total_price: 167088
주문 번호: 443 min_total_price: 92217
주문 번호: 444 min_total_price: 160415
주문 번호: 445 min_total_price: 41448
주문 번호: 446 min_total_price: 134910
주문 번호: 447 min_total_price: 35052
주문 번호: 448 min_total_price: 51411
주문 번호: 449 min_total_price: 48406
주문 번호: 450 min_total_price: 177867
주문 번호: 451 min_total_price: 152205
주문 번호: 452 min_total_price: 174649
주문 번호: 453 min_total_price: 111043
주문 번호: 454 min_total_price: 147738
주문 번호: 455 min_total_price: 74643
주문 번호: 456 min_total_price: 104160
주문 번호: 457 min_total_price: 40132
주문 번호: 458 min_total_price: 151871
주문 번호: 459 min_total_price: 180253
주문 번호: 460 min_total_price: 32037
주문 번호: 461 min_total_price: 102762
주문 번호: 462 min_total_price: 95596
주문 번호: 463 min_total_price: 148621
주문 번호: 464 min_total_price: 134025
주문 번호: 465 min_total_price: 153414
주문 번호: 466 min_total_price: 44264
주문 번호: 467 min_total_price: 159647
주문 번호: 468 min_total_price: 139735
주문 번호: 469 min_total_price: 147507
주문 번호: 470 min_total_price: 66686
주문 번호: 471 min_total_price: 197342
주문 번호: 472 min_total_price: 113845
주문 번호: 473 min_total_price: 76147
주문 번호: 474 min_total_price: 50792
주문 번호: 475 min_total_price: 191961
주문 번호: 476 min_total_price: 70951
주문 번호: 477 min_total_price: 36154
주문 번호: 478 min_total_price: 119344
주문 번호: 479 min_total_price: 92236
주문 번호: 480 min_total_price: 98046
주문 번호: 481 min_total_price: 44220
주문 번호: 482 min_total_price: 125544
주문 번호: 483 min_total_price: 83760
주문 번호: 484 min_total_price: 150678
주문 번호: 485 min_total_price: 103026
주문 번호: 486 min_total_price: 172928
주문 번호: 487 min_total_price: 66499
주문 번호: 488 min_total_price: 46410
주문 번호: 489 min_total_price: 176817
주문 번호: 490 min_total_price: 187172
주문 번호: 491 min_total_price: 151861
주문 번호: 492 min_total_price: 144578
주문 번호: 493 min_total_price: 95862
주문 번호: 494 min_total_price: 115119
주문 번호: 495 min_total_price: 39636
주문 번호: 496 min_total_price: 60015
주문 번호: 497 min_total_price: 159564
주문 번호: 498 min_total_price: 99556
주문 번호: 499 min_total_price: 71414
주문 번호: 500 min_total_price: 77763
주문 번호: 501 min_total_price: 169973
주문 번호: 502 min_total_price: 115979
주문 번호: 503 min_total_price: 123959
주문 번호: 504 min_total_price: 125063
주문 번호: 505 min_total_price: 43292
주문 번호: 506 min_total_price: 162477
주문 번호: 507 min_total_price: 62504
주문 번호: 508 min_total_price: 188623
주문 번호: 509 min_total_price: 98318
주문 번호: 510 min_total_price: 59749
주문 번호: 511 min_total_price: 161249
주문 번호: 512 min_total_price: 173740
주문 번호: 513 min_total_price: 47418
주문 번호: 514 min_total_price: 94712
주문 번호: 515 min_total_price: 34881
주문 번호: 516 min_total_price: 130712
주문 번호: 517 min_total_price: 105512
주문 번호: 518 min_total_price: 45238
주문 번호: 519 min_total_price: 168392
주문 번호: 520 min_total_price: 156530
주문 번호: 521 min_total_price: 63385
주문 번호: 522 min_total_price: 142981
주문 번호: 523 min_total_price: 145927
주문 번호: 524 min_total_price: 118984
주문 번호: 525 min_total_price: 117227
주문 번호: 526 min_total_price: 60247
주문 번호: 527 min_total_price: 169468
주문 번호: 528 min_total_price: 159642
주문 번호: 529 min_total_price: 56928
주문 번호: 530 min_total_price: 73014
주문 번호: 531 min_total_price: 155165
주문 번호: 532 min_total_price: 117912
주문 번호: 533 min_total_price: 89351
주문 번호: 534 min_total_price: 108195
주문 번호: 535 min_total_price: 37457
주문 번호: 536 min_total_price: 193827
주문 번호: 537 min_total_price: 100887
주문 번호: 538 min_total_price: 31311
주문 번호: 539 min_total_price: 179093
주문 번호: 540 min_total_price: 36189
주문 번호: 541 min_total_price: 166630
주문 번호: 542 min_total_price: 32351
주문 번호: 543 min_total_price: 181558
주문 번호: 544 min_total_price: 44283
주문 번호: 545 min_total_price: 78402
주문 번호: 546 min_total_price: 171863
주문 번호: 547 min_total_price: 32365
주문 번호: 548 min_total_price: 159751
주문 번호: 549 min_total_price: 151367
주문 번호: 550 min_total_price: 157502
주문 번호: 551 min_total_price: 176211
주문 번호: 552 min_total_price: 40575
주문 번호: 553 min_total_price: 83617
주문 번호: 554 min_total_price: 68282
주문 번호: 555 min_total_price: 167013
주문 번호: 556 min_total_price: 68260
주문 번호: 557 min_total_price: 119639
주문 번호: 558 min_total_price: 69268
주문 번호: 559 min_total_price: 144947
주문 번호: 560 min_total_price: 34868
주문 번호: 561 min_total_price: 130766
주문 번호: 562 min_total_price: 156362
주문 번호: 563 min_total_price: 174737
주문 번호: 564 min_total_price: 172527
주문 번호: 565 min_total_price: 195824
주문 번호: 566 min_total_price: 112726
주문 번호: 567 min_total_price: 65548
주문 번호: 568 min_total_price: 182947
주문 번호: 569 min_total_price: 196849
주문 번호: 570 min_total_price: 60370
주문 번호: 571 min_total_price: 124596
주문 번호: 572 min_total_price: 150806
주문 번호: 573 min_total_price: 82425
주문 번호: 574 min_total_price: 131676
주문 번호: 575 min_total_price: 69072
주문 번호: 576 min_total_price: 175906
주문 번호: 577 min_total_price: 129920
주문 번호: 578 min_total_price: 124514
주문 번호: 579 min_total_price: 153863
주문 번호: 580 min_total_price: 96896
주문 번호: 581 min_total_price: 161836
주문 번호: 582 min_total_price: 62231
주문 번호: 583 min_total_price: 142630
주문 번호: 584 min_total_price: 194252
주문 번호: 585 min_total_price: 131851
주문 번호: 586 min_total_price: 197350
주문 번호: 587 min_total_price: 142300
주문 번호: 588 min_total_price: 181667
주문 번호: 589 min_total_price: 43317
주문 번호: 590 min_total_price: 33363
주문 번호: 591 min_total_price: 195893
주문 번호: 592 min_total_price: 122951
주문 번호: 593 min_total_price: 134271
주문 번호: 594 min_total_price: 102232
주문 번호: 595 min_total_price: 53000
주문 번호: 596 min_total_price: 190452
주문 번호: 597 min_total_price: 188342
주문 번호: 598 min_total_price: 37508
주문 번호: 599 min_total_price: 72399
주문 번호: 600 min_total_price: 33745
주문 번호: 601 min_total_price: 136014
주문 번호: 602 min_total_price: 40948
주문 번호: 603 min_total_price: 41509
주문 번호: 604 min_total_price: 157990
주문 번호: 605 min_total_price: 74743
주문 번호: 606 min_total_price: 57236
주문 번호: 607 min_total_price: 120950
주문 번호: 608 min_total_price: 185560
주문 번호: 609 min_total_price: 126991
주문 번호: 610 min_total_price: 88126
주문 번호: 611 min_total_price: 162985
주문 번호: 612 min_total_price: 150499
주문 번호: 613 min_total_price: 170050
주문 번호: 614 min_total_price: 75154
주문 번호: 615 min_total_price: 59639
주문 번호: 616 min_total_price: 84481
주문 번호: 617 min_total_price: 88656
주문 번호: 618 min_total_price: 159553
주문 번호: 619 min_total_price: 109902
주문 번호: 620 min_total_price: 172273
주문 번호: 621 min_total_price: 126131
주문 번호: 622 min_total_price: 110034
주문 번호: 623 min_total_price: 66211
주문 번호: 624 min_total_price: 163762
주문 번호: 625 min_total_price: 198405
주문 번호: 626 min_total_price: 30519
주문 번호: 627 min_total_price: 90070
주문 번호: 628 min_total_price: 197229
주문 번호: 629 min_total_price: 98647
주문 번호: 630 min_total_price: 83024
주문 번호: 631 min_total_price: 114593
주문 번호: 632 min_total_price: 68845
주문 번호: 633 min_total_price: 186838
주문 번호: 634 min_total_price: 77464
주문 번호: 635 min_total_price: 180946
주문 번호: 636 min_total_price: 84687
주문 번호: 637 min_total_price: 198398
주문 번호: 638 min_total_price: 30859
주문 번호: 639 min_total_price: 106246
주문 번호: 640 min_total_price: 194042
주문 번호: 641 min_total_price: 176042
주문 번호: 642 min_total_price: 185391
주문 번호: 643 min_total_price: 197878
주문 번호: 644 min_total_price: 155933
주문 번호: 645 min_total_price: 194281
주문 번호: 646 min_total_price: 86928
주문 번호: 647 min_total_price: 191273
주문 번호: 648 min_total_price: 125523
주문 번호: 649 min_total_price: 187580
주문 번호: 650 min_total_price: 99426
주문 번호: 651 min_total_price: 31514
주문 번호: 652 min_total_price: 102664
주문 번호: 653 min_total_price: 90068
주문 번호: 654 min_total_price: 160704

주문 번호: 655 min_total_price: 149132
주문 번호: 656 min_total_price: 153061
주문 번호: 657 min_total_price: 79132
주문 번호: 658 min_total_price: 83064
주문 번호: 659 min_total_price: 184176
주문 번호: 660 min_total_price: 109143
주문 번호: 661 min_total_price: 152214
주문 번호: 662 min_total_price: 119537
주문 번호: 663 min_total_price: 54652
주문 번호: 664 min_total_price: 85943
주문 번호: 665 min_total_price: 198192
주문 번호: 666 min_total_price: 136046
주문 번호: 667 min_total_price: 39388
주문 번호: 668 min_total_price: 166284
주문 번호: 669 min_total_price: 61543
주문 번호: 670 min_total_price: 108537
주문 번호: 671 min_total_price: 73717
주문 번호: 672 min_total_price: 159165
주문 번호: 673 min_total_price: 193772
주문 번호: 674 min_total_price: 148004
주문 번호: 675 min_total_price: 31234
주문 번호: 676 min_total_price: 109564
주문 번호: 677 min_total_price: 124775
주문 번호: 678 min_total_price: 164043
주문 번호: 679 min_total_price: 108103
주문 번호: 680 min_total_price: 176134
주문 번호: 681 min_total_price: 114622
주문 번호: 682 min_total_price: 92828
주문 번호: 683 min_total_price: 143696
주문 번호: 684 min_total_price: 119844
주문 번호: 685 min_total_price: 39144
주문 번호: 686 min_total_price: 123588
주문 번호: 687 min_total_price: 189252
주문 번호: 688 min_total_price: 103994
주문 번호: 689 min_total_price: 85515
주문 번호: 690 min_total_price: 48482
주문 번호: 691 min_total_price: 62050
주문 번호: 692 min_total_price: 67914
주문 번호: 693 min_total_price: 75244
주문 번호: 694 min_total_price: 127144
주문 번호: 695 min_total_price: 39401
주문 번호: 696 min_total_price: 134693
주문 번호: 697 min_total_price: 127913
주문 번호: 698 min_total_price: 131420
주문 번호: 699 min_total_price: 181427
주문 번호: 700 min_total_price: 32142
주문 번호: 701 min_total_price: 60060
주문 번호: 702 min_total_price: 177750
주문 번호: 703 min_total_price: 93476
주문 번호: 704 min_total_price: 112441
주문 번호: 705 min_total_price: 64514
주문 번호: 706 min_total_price: 178594
주문 번호: 707 min_total_price: 55253
주문 번호: 708 min_total_price: 195630
주문 번호: 709 min_total_price: 88509
주문 번호: 710 min_total_price: 197815
주문 번호: 711 min_total_price: 107296
주문 번호: 712 min_total_price: 168538
주문 번호: 713 min_total_price: 155054
주문 번호: 714 min_total_price: 154702
주문 번호: 715 min_total_price: 124961
주문 번호: 716 min_total_price: 45929
주문 번호: 717 min_total_price: 147124
주문 번호: 718 min_total_price: 145264
주문 번호: 719 min_total_price: 36737
주문 번호: 720 min_total_price: 94582
주문 번호: 721 min_total_price: 189612
주문 번호: 722 min_total_price: 140422
주문 번호: 723 min_total_price: 53033
주문 번호: 724 min_total_price: 195961
주문 번호: 725 min_total_price: 125153
주문 번호: 726 min_total_price: 141727
주문 번호: 727 min_total_price: 157861
주문 번호: 728 min_total_price: 69220
주문 번호: 729 min_total_price: 198928
주문 번호: 730 min_total_price: 124831
주문 번호: 731 min_total_price: 56382
주문 번호: 732 min_total_price: 56182
주문 번호: 733 min_total_price: 189050
주문 번호: 734 min_total_price: 127002
주문 번호: 735 min_total_price: 117540
주문 번호: 736 min_total_price: 191371
주문 번호: 737 min_total_price: 196703
주문 번호: 738 min_total_price: 64186
주문 번호: 739 min_total_price: 100412
주문 번호: 740 min_total_price: 175393
주문 번호: 741 min_total_price: 42802
주문 번호: 742 min_total_price: 148494
주문 번호: 743 min_total_price: 151450
주문 번호: 744 min_total_price: 196917
주문 번호: 745 min_total_price: 154253
주문 번호: 746 min_total_price: 184500
주문 번호: 747 min_total_price: 44298
주문 번호: 748 min_total_price: 175998
주문 번호: 749 min_total_price: 182355
주문 번호: 750 min_total_price: 180331
주문 번호: 751 min_total_price: 125722
주문 번호: 752 min_total_price: 44655
주문 번호: 753 min_total_price: 198003
주문 번호: 754 min_total_price: 72115
주문 번호: 755 min_total_price: 46188
주문 번호: 756 min_total_price: 98284
주문 번호: 757 min_total_price: 92066
주문 번호: 758 min_total_price: 92169
주문 번호: 759 min_total_price: 166032
주문 번호: 760 min_total_price: 182001
주문 번호: 761 min_total_price: 148017
주문 번호: 762 min_total_price: 57399
주문 번호: 763 min_total_price: 59424
주문 번호: 764 min_total_price: 106156
주문 번호: 765 min_total_price: 166039
주문 번호: 766 min_total_price: 120042
주문 번호: 767 min_total_price: 189363
주문 번호: 768 min_total_price: 46011
주문 번호: 769 min_total_price: 37941
주문 번호: 770 min_total_price: 63363
주문 번호: 771 min_total_price: 94674
주문 번호: 772 min_total_price: 192287
주문 번호: 773 min_total_price: 48140
주문 번호: 774 min_total_price: 174287
주문 번호: 775 min_total_price: 154336
주문 번호: 776 min_total_price: 111716
주문 번호: 777 min_total_price: 143263
주문 번호: 778 min_total_price: 34911
주문 번호: 779 min_total_price: 81887
주문 번호: 780 min_total_price: 193044
주문 번호: 781 min_total_price: 171653
주문 번호: 782 min_total_price: 185250
주문 번호: 783 min_total_price: 120994
주문 번호: 784 min_total_price: 61321
주문 번호: 785 min_total_price: 171687
주문 번호: 786 min_total_price: 33736
주문 번호: 787 min_total_price: 108782
주문 번호: 788 min_total_price: 82453
주문 번호: 789 min_total_price: 144179
주문 번호: 790 min_total_price: 91596
주문 번호: 791 min_total_price: 110653
주문 번호: 792 min_total_price: 86828
주문 번호: 793 min_total_price: 76647
주문 번호: 794 min_total_price: 97094
주문 번호: 795 min_total_price: 63494
주문 번호: 796 min_total_price: 115323
주문 번호: 797 min_total_price: 57677
주문 번호: 798 min_total_price: 110578
주문 번호: 799 min_total_price: 64043
주문 번호: 800 min_total_price: 110556
주문 번호: 801 min_total_price: 188511
주문 번호: 802 min_total_price: 40882
주문 번호: 803 min_total_price: 55975
주문 번호: 804 min_total_price: 160304
주문 번호: 805 min_total_price: 108217
주문 번호: 806 min_total_price: 42572
주문 번호: 807 min_total_price: 39401
주문 번호: 808 min_total_price: 154332
주문 번호: 809 min_total_price: 124081
주문 번호: 810 min_total_price: 112548
주문 번호: 811 min_total_price: 118856
주문 번호: 812 min_total_price: 90360
주문 번호: 813 min_total_price: 106375
주문 번호: 814 min_total_price: 49640
주문 번호: 815 min_total_price: 34739
주문 번호: 816 min_total_price: 79035
주문 번호: 817 min_total_price: 151748
주문 번호: 818 min_total_price: 139852
주문 번호: 819 min_total_price: 117746
주문 번호: 820 min_total_price: 111228
주문 번호: 821 min_total_price: 60315
주문 번호: 822 min_total_price: 70758
주문 번호: 823 min_total_price: 63020
주문 번호: 824 min_total_price: 164446
주문 번호: 825 min_total_price: 72397
주문 번호: 826 min_total_price: 167498
주문 번호: 827 min_total_price: 55702
주문 번호: 828 min_total_price: 120088
주문 번호: 829 min_total_price: 57660
주문 번호: 830 min_total_price: 193195
주문 번호: 831 min_total_price: 86230
주문 번호: 832 min_total_price: 112078
주문 번호: 833 min_total_price: 83883
주문 번호: 834 min_total_price: 65645
주문 번호: 835 min_total_price: 41533
주문 번호: 836 min_total_price: 172230
주문 번호: 837 min_total_price: 189156
주문 번호: 838 min_total_price: 132776
주문 번호: 839 min_total_price: 154359
주문 번호: 840 min_total_price: 57893
주문 번호: 841 min_total_price: 79830
주문 번호: 842 min_total_price: 150527
주문 번호: 843 min_total_price: 61954
주문 번호: 844 min_total_price: 182738
주문 번호: 845 min_total_price: 153368
주문 번호: 846 min_total_price: 35358
주문 번호: 847 min_total_price: 68001
주문 번호: 848 min_total_price: 60200
주문 번호: 849 min_total_price: 183436
주문 번호: 850 min_total_price: 132330
주문 번호: 851 min_total_price: 82948
주문 번호: 852 min_total_price: 173514
주문 번호: 853 min_total_price: 137612
주문 번호: 854 min_total_price: 64255
주문 번호: 855 min_total_price: 77612
주문 번호: 856 min_total_price: 74970
주문 번호: 857 min_total_price: 82931
주문 번호: 858 min_total_price: 68636
주문 번호: 859 min_total_price: 67817
주문 번호: 860 min_total_price: 86451
주문 번호: 861 min_total_price: 189399
주문 번호: 862 min_total_price: 152495
주문 번호: 863 min_total_price: 106864
주문 번호: 864 min_total_price: 51267
주문 번호: 865 min_total_price: 160563
주문 번호: 866 min_total_price: 149246
주문 번호: 867 min_total_price: 137040
주문 번호: 868 min_total_price: 98985
주문 번호: 869 min_total_price: 122857
주문 번호: 870 min_total_price: 138730
주문 번호: 871 min_total_price: 41724
주문 번호: 872 min_total_price: 122499
주문 번호: 873 min_total_price: 171153
주문 번호: 874 min_total_price: 143099
주문 번호: 875 min_total_price: 154248
주문 번호: 876 min_total_price: 114884
주문 번호: 877 min_total_price: 141588
주문 번호: 878 min_total_price: 168356
주문 번호: 879 min_total_price: 122391
주문 번호: 880 min_total_price: 108210
주문 번호: 881 min_total_price: 171287
주문 번호: 882 min_total_price: 157169
주문 번호: 883 min_total_price: 133025
주문 번호: 884 min_total_price: 101572
주문 번호: 885 min_total_price: 191084
주문 번호: 886 min_total_price: 101022
주문 번호: 887 min_total_price: 129833
주문 번호: 888 min_total_price: 194919
주문 번호: 889 min_total_price: 197514
주문 번호: 890 min_total_price: 102704
주문 번호: 891 min_total_price: 169587
주문 번호: 892 min_total_price: 193818
주문 번호: 893 min_total_price: 124618
주문 번호: 894 min_total_price: 172821
주문 번호: 895 min_total_price: 127767
주문 번호: 896 min_total_price: 57019
주문 번호: 897 min_total_price: 106439

주문 번호: 898 min_total_price: 59067
주문 번호: 899 min_total_price: 167331
주문 번호: 900 min_total_price: 167898
주문 번호: 901 min_total_price: 37469
주문 번호: 902 min_total_price: 162862
주문 번호: 903 min_total_price: 133318
주문 번호: 904 min_total_price: 92519
주문 번호: 905 min_total_price: 118344
주문 번호: 906 min_total_price: 76878
주문 번호: 907 min_total_price: 83410
주문 번호: 908 min_total_price: 162546
주문 번호: 909 min_total_price: 89911
주문 번호: 910 min_total_price: 118598
주문 번호: 911 min_total_price: 82770
주문 번호: 912 min_total_price: 45365
주문 번호: 913 min_total_price: 35917
주문 번호: 914 min_total_price: 95363
주문 번호: 915 min_total_price: 104574
주문 번호: 916 min_total_price: 88523
주문 번호: 917 min_total_price: 108575
주문 번호: 918 min_total_price: 106426
주문 번호: 919 min_total_price: 173504
주문 번호: 920 min_total_price: 101261
주문 번호: 921 min_total_price: 154947
주문 번호: 922 min_total_price: 131319
주문 번호: 923 min_total_price: 157049
주문 번호: 924 min_total_price: 99069
주문 번호: 925 min_total_price: 190636
주문 번호: 926 min_total_price: 105087
주문 번호: 927 min_total_price: 181241
주문 번호: 928 min_total_price: 136696
주문 번호: 929 min_total_price: 193596
주문 번호: 930 min_total_price: 196442
주문 번호: 931 min_total_price: 184565
주문 번호: 932 min_total_price: 32948
주문 번호: 933 min_total_price: 181328
주문 번호: 934 min_total_price: 160304
주문 번호: 935 min_total_price: 63472
주문 번호: 936 min_total_price: 30445
주문 번호: 937 min_total_price: 42034
주문 번호: 938 min_total_price: 104000
주문 번호: 939 min_total_price: 193192
주문 번호: 940 min_total_price: 134770
주문 번호: 941 min_total_price: 167610
주문 번호: 942 min_total_price: 199738
주문 번호: 943 min_total_price: 120321
주문 번호: 944 min_total_price: 66911
주문 번호: 945 min_total_price: 141381
주문 번호: 946 min_total_price: 35373
주문 번호: 947 min_total_price: 97278
주문 번호: 948 min_total_price: 97825
주문 번호: 949 min_total_price: 125422
주문 번호: 950 min_total_price: 71990
주문 번호: 951 min_total_price: 158264
주문 번호: 952 min_total_price: 65685
주문 번호: 953 min_total_price: 195410
주문 번호: 954 min_total_price: 80643
주문 번호: 955 min_total_price: 132843
주문 번호: 956 min_total_price: 101708
주문 번호: 957 min_total_price: 104003
주문 번호: 958 min_total_price: 123106
주문 번호: 959 min_total_price: 45161
주문 번호: 960 min_total_price: 131238
주문 번호: 961 min_total_price: 184934
주문 번호: 962 min_total_price: 76310
주문 번호: 963 min_total_price: 185435
주문 번호: 964 min_total_price: 105383
주문 번호: 965 min_total_price: 91089
주문 번호: 966 min_total_price: 36867
주문 번호: 967 min_total_price: 53498
주문 번호: 968 min_total_price: 41123
주문 번호: 969 min_total_price: 199529
주문 번호: 970 min_total_price: 121416
주문 번호: 971 min_total_price: 31537
주문 번호: 972 min_total_price: 31600
주문 번호: 973 min_total_price: 72651
주문 번호: 974 min_total_price: 148040
주문 번호: 975 min_total_price: 160075
주문 번호: 976 min_total_price: 95644
주문 번호: 977 min_total_price: 96561
주문 번호: 978 min_total_price: 36480
주문 번호: 979 min_total_price: 135103
주문 번호: 980 min_total_price: 158593
주문 번호: 981 min_total_price: 138758
주문 번호: 982 min_total_price: 192209
주문 번호: 983 min_total_price: 173346
주문 번호: 984 min_total_price: 182034
주문 번호: 985 min_total_price: 60356
주문 번호: 986 min_total_price: 135369
주문 번호: 987 min_total_price: 139075
주문 번호: 988 min_total_price: 93446
주문 번호: 989 min_total_price: 159818
주문 번호: 990 min_total_price: 68212
주문 번호: 991 min_total_price: 160487
주문 번호: 992 min_total_price: 138433
주문 번호: 993 min_total_price: 73338
주문 번호: 994 min_total_price: 147470
주문 번호: 995 min_total_price: 127410
주문 번호: 996 min_total_price: 127940
주문 번호: 997 min_total_price: 145994
주문 번호: 998 min_total_price: 156536
주문 번호: 999 min_total_price: 64443
주문 번호: 1000 min_total_price: 189886
주문 번호: 1001 min_total_price: 112781
주문 번호: 1002 min_total_price: 111632
주문 번호: 1003 min_total_price: 66053
주문 번호: 1004 min_total_price: 147182
주문 번호: 1005 min_total_price: 194511
주문 번호: 1006 min_total_price: 59577
주문 번호: 1007 min_total_price: 65104
주문 번호: 1008 min_total_price: 36588
주문 번호: 1009 min_total_price: 69732
주문 번호: 1010 min_total_price: 62885
주문 번호: 1011 min_total_price: 59518
주문 번호: 1012 min_total_price: 101714
주문 번호: 1013 min_total_price: 96196
주문 번호: 1014 min_total_price: 121693
주문 번호: 1015 min_total_price: 145439
주문 번호: 1016 min_total_price: 100572
주문 번호: 1017 min_total_price: 43157
주문 번호: 1018 min_total_price: 67905
주문 번호: 1019 min_total_price: 168780
주문 번호: 1020 min_total_price: 178382
주문 번호: 1021 min_total_price: 152908
주문 번호: 1022 min_total_price: 176472
주문 번호: 1023 min_total_price: 79533
주문 번호: 1024 min_total_price: 166030
주문 번호: 1025 min_total_price: 132793
주문 번호: 1026 min_total_price: 84789
주문 번호: 1027 min_total_price: 153455
주문 번호: 1028 min_total_price: 168858
주문 번호: 1029 min_total_price: 133916
주문 번호: 1030 min_total_price: 86921
주문 번호: 1031 min_total_price: 129214
주문 번호: 1032 min_total_price: 71497
주문 번호: 1033 min_total_price: 92753
주문 번호: 1034 min_total_price: 196026
주문 번호: 1035 min_total_price: 127957
주문 번호: 1036 min_total_price: 130397
주문 번호: 1037 min_total_price: 111756
주문 번호: 1038 min_total_price: 36237
주문 번호: 1039 min_total_price: 134577
주문 번호: 1040 min_total_price: 113226
주문 번호: 1041 min_total_price: 115242
주문 번호: 1042 min_total_price: 107057
주문 번호: 1043 min_total_price: 149141
주문 번호: 1044 min_total_price: 92693
주문 번호: 1045 min_total_price: 47488
주문 번호: 1046 min_total_price: 43668
주문 번호: 1047 min_total_price: 70209
주문 번호: 1048 min_total_price: 148249
주문 번호: 1049 min_total_price: 110552
주문 번호: 1050 min_total_price: 93937
주문 번호: 1051 min_total_price: 78712
주문 번호: 1052 min_total_price: 94481
주문 번호: 1053 min_total_price: 181864
주문 번호: 1054 min_total_price: 89736
주문 번호: 1055 min_total_price: 101946
주문 번호: 1056 min_total_price: 104647
주문 번호: 1057 min_total_price: 140529
주문 번호: 1058 min_total_price: 189749
주문 번호: 1059 min_total_price: 103636
주문 번호: 1060 min_total_price: 81916
주문 번호: 1061 min_total_price: 182101
주문 번호: 1062 min_total_price: 91446
주문 번호: 1063 min_total_price: 82078
주문 번호: 1064 min_total_price: 46876
주문 번호: 1065 min_total_price: 62195
주문 번호: 1066 min_total_price: 88507
주문 번호: 1067 min_total_price: 171399
주문 번호: 1068 min_total_price: 64777
주문 번호: 1069 min_total_price: 70812
주문 번호: 1070 min_total_price: 181594
주문 번호: 1071 min_total_price: 66778
주문 번호: 1072 min_total_price: 184324
주문 번호: 1073 min_total_price: 60502
주문 번호: 1074 min_total_price: 43657
주문 번호: 1075 min_total_price: 125690
주문 번호: 1076 min_total_price: 48852
주문 번호: 1077 min_total_price: 56220
주문 번호: 1078 min_total_price: 189984
주문 번호: 1079 min_total_price: 177671
주문 번호: 1080 min_total_price: 107690
주문 번호: 1081 min_total_price: 198921
주문 번호: 1082 min_total_price: 198185
주문 번호: 1083 min_total_price: 43277
주문 번호: 1084 min_total_price: 162861
주문 번호: 1085 min_total_price: 139478
주문 번호: 1086 min_total_price: 105647
주문 번호: 1087 min_total_price: 100051
주문 번호: 1088 min_total_price: 65337
주문 번호: 1089 min_total_price: 168851
주문 번호: 1090 min_total_price: 142135
주문 번호: 1091 min_total_price: 90942
주문 번호: 1092 min_total_price: 141862
주문 번호: 1093 min_total_price: 155503
주문 번호: 1094 min_total_price: 117245
주문 번호: 1095 min_total_price: 170828
주문 번호: 1096 min_total_price: 128105
주문 번호: 1097 min_total_price: 65287
주문 번호: 1098 min_total_price: 147123
주문 번호: 1099 min_total_price: 87252
주문 번호: 1100 min_total_price: 152882
주문 번호: 1101 min_total_price: 131730
주문 번호: 1102 min_total_price: 164624
주문 번호: 1103 min_total_price: 156351
주문 번호: 1104 min_total_price: 123356
주문 번호: 1105 min_total_price: 113975
주문 번호: 1106 min_total_price: 161874
주문 번호: 1107 min_total_price: 133448
주문 번호: 1108 min_total_price: 177552
주문 번호: 1109 min_total_price: 124935
주문 번호: 1110 min_total_price: 56535
주문 번호: 1111 min_total_price: 109108
주문 번호: 1112 min_total_price: 97234
주문 번호: 1113 min_total_price: 61917
주문 번호: 1114 min_total_price: 163135
주문 번호: 1115 min_total_price: 123419
주문 번호: 1116 min_total_price: 72085
주문 번호: 1117 min_total_price: 104822
주문 번호: 1118 min_total_price: 50519
주문 번호: 1119 min_total_price: 141596
주문 번호: 1120 min_total_price: 68884
주문 번호: 1121 min_total_price: 39190
주문 번호: 1122 min_total_price: 111797
주문 번호: 1123 min_total_price: 77142
주문 번호: 1124 min_total_price: 146260
주문 번호: 1125 min_total_price: 94408
주문 번호: 1126 min_total_price: 191623
주문 번호: 1127 min_total_price: 71296
주문 번호: 1128 min_total_price: 48660
주문 번호: 1129 min_total_price: 165179
주문 번호: 1130 min_total_price: 119756
주문 번호: 1131 min_total_price: 72811
주문 번호: 1132 min_total_price: 52413
주문 번호: 1133 min_total_price: 107837
주문 번호: 1134 min_total_price: 32303
주문 번호: 1135 min_total_price: 80393
주문 번호: 1136 min_total_price: 54193
주문 번호: 1137 min_total_price: 32575
주문 번호: 1138 min_total_price: 197115
주문 번호: 1139 min_total_price: 55412
주문 번호: 1140 min_total_price: 54884
주문 번호: 1141 min_total_price: 141552
주문 번호: 1142 min_total_price: 52022
주문 번호: 1143 min_total_price: 105161
주문 번호: 1144 min_total_price: 53043
주문 번호: 1145 min_total_price: 62635
주문 번호: 1146 min_total_price: 83109
주문 번호: 1147 min_total_price: 85787
주문 번호: 1148 min_total_price: 40550
주문 번호: 1149 min_total_price: 108644
주문 번호: 1150 min_total_price: 58075
주문 번호: 1151 min_total_price: 75381
주문 번호: 1152 min_total_price: 171226
주문 번호: 1153 min_total_price: 69221
주문 번호: 1154 min_total_price: 183941
주문 번호: 1155 min_total_price: 104316
주문 번호: 1156 min_total_price: 73200
주문 번호: 1157 min_total_price: 96349
주문 번호: 1158 min_total_price: 96460
주문 번호: 1159 min_total_price: 93796
주문 번호: 1160 min_total_price: 49882
주문 번호: 1161 min_total_price: 165539
주문 번호: 1162 min_total_price: 144938
주문 번호: 1163 min_total_price: 72112
주문 번호: 1164 min_total_price: 132046
주문 번호: 1165 min_total_price: 41049
주문 번호: 1166 min_total_price: 184087
주문 번호: 1167 min_total_price: 46560
주문 번호: 1168 min_total_price: 80432
주문 번호: 1169 min_total_price: 139649
주문 번호: 1170 min_total_price: 142565
주문 번호: 1171 min_total_price: 54100
주문 번호: 1172 min_total_price: 39792
주문 번호: 1173 min_total_price: 194365
주문 번호: 1174 min_total_price: 148044
주문 번호: 1175 min_total_price: 43089
주문 번호: 1176 min_total_price: 34431
주문 번호: 1177 min_total_price: 124622
주문 번호: 1178 min_total_price: 130508
주문 번호: 1179 min_total_price: 100819
주문 번호: 1180 min_total_price: 58335
주문 번호: 1181 min_total_price: 119642
주문 번호: 1182 min_total_price: 169842
주문 번호: 1183 min_total_price: 103398
주문 번호: 1184 min_total_price: 66826
주문 번호: 1185 min_total_price: 90006
주문 번호: 1186 min_total_price: 59409
주문 번호: 1187 min_total_price: 121157
주문 번호: 1188 min_total_price: 52270
주문 번호: 1189 min_total_price: 174464
주문 번호: 1190 min_total_price: 102666
주문 번호: 1191 min_total_price: 188978
주문 번호: 1192 min_total_price: 142809
주문 번호: 1193 min_total_price: 112565
주문 번호: 1194 min_total_price: 147170
주문 번호: 1195 min_total_price: 175042
주문 번호: 1196 min_total_price: 68825
주문 번호: 1197 min_total_price: 50570
주문 번호: 1198 min_total_price: 84650
주문 번호: 1199 min_total_price: 175063
주문 번호: 1200 min_total_price: 192586
주문 번호: 1201 min_total_price: 63120

주문 번호: 1202 min_total_price: 87717
주문 번호: 1203 min_total_price: 47004
주문 번호: 1204 min_total_price: 182476
주문 번호: 1205 min_total_price: 93332
주문 번호: 1206 min_total_price: 106571
주문 번호: 1207 min_total_price: 97284
주문 번호: 1208 min_total_price: 53755
주문 번호: 1209 min_total_price: 131737
주문 번호: 1210 min_total_price: 153506
주문 번호: 1211 min_total_price: 82240
주문 번호: 1212 min_total_price: 143614
주문 번호: 1213 min_total_price: 98596
주문 번호: 1214 min_total_price: 151557
주문 번호: 1215 min_total_price: 56205
주문 번호: 1216 min_total_price: 83077
주문 번호: 1217 min_total_price: 80106
주문 번호: 1218 min_total_price: 158488
주문 번호: 1219 min_total_price: 147472
주문 번호: 1220 min_total_price: 54727
주문 번호: 1221 min_total_price: 128279
주문 번호: 1222 min_total_price: 143697
주문 번호: 1223 min_total_price: 100877
주문 번호: 1224 min_total_price: 152482
주문 번호: 1225 min_total_price: 36239
주문 번호: 1226 min_total_price: 38466
주문 번호: 1227 min_total_price: 156389
주문 번호: 1228 min_total_price: 90211
주문 번호: 1229 min_total_price: 108841
주문 번호: 1230 min_total_price: 153265
주문 번호: 1231 min_total_price: 86749
주문 번호: 1232 min_total_price: 157225
주문 번호: 1233 min_total_price: 107304
주문 번호: 1234 min_total_price: 40895
주문 번호: 1235 min_total_price: 60759
주문 번호: 1236 min_total_price: 50709
주문 번호: 1237 min_total_price: 178336
주문 번호: 1238 min_total_price: 59107
주문 번호: 1239 min_total_price: 193279
주문 번호: 1240 min_total_price: 139237
주문 번호: 1241 min_total_price: 55169
주문 번호: 1242 min_total_price: 57463
주문 번호: 1243 min_total_price: 101489
주문 번호: 1244 min_total_price: 165086
주문 번호: 1245 min_total_price: 40795
주문 번호: 1246 min_total_price: 30106
주문 번호: 1247 min_total_price: 173365
주문 번호: 1248 min_total_price: 103178
주문 번호: 1249 min_total_price: 90838
주문 번호: 1250 min_total_price: 50275
주문 번호: 1251 min_total_price: 37863
주문 번호: 1252 min_total_price: 134328
주문 번호: 1253 min_total_price: 134082
주문 번호: 1254 min_total_price: 54768
주문 번호: 1255 min_total_price: 116171
주문 번호: 1256 min_total_price: 35975
주문 번호: 1257 min_total_price: 92470
주문 번호: 1258 min_total_price: 126444
주문 번호: 1259 min_total_price: 119097
주문 번호: 1260 min_total_price: 122039
주문 번호: 1261 min_total_price: 120003
주문 번호: 1262 min_total_price: 149543
주문 번호: 1263 min_total_price: 142690
주문 번호: 1264 min_total_price: 162018
주문 번호: 1265 min_total_price: 185258
주문 번호: 1266 min_total_price: 130491
주문 번호: 1267 min_total_price: 104379
주문 번호: 1268 min_total_price: 159449
주문 번호: 1269 min_total_price: 68365
주문 번호: 1270 min_total_price: 148663
주문 번호: 1271 min_total_price: 69479
주문 번호: 1272 min_total_price: 97973
주문 번호: 1273 min_total_price: 188775
주문 번호: 1274 min_total_price: 145813
주문 번호: 1275 min_total_price: 125384
주문 번호: 1276 min_total_price: 126873
주문 번호: 1277 min_total_price: 73576
주문 번호: 1278 min_total_price: 175645
주문 번호: 1279 min_total_price: 98706
주문 번호: 1280 min_total_price: 133621
주문 번호: 1281 min_total_price: 190930
주문 번호: 1282 min_total_price: 98091
주문 번호: 1283 min_total_price: 125026
주문 번호: 1284 min_total_price: 61508
주문 번호: 1285 min_total_price: 59057
주문 번호: 1286 min_total_price: 35427
주문 번호: 1287 min_total_price: 79826
주문 번호: 1288 min_total_price: 127320
주문 번호: 1289 min_total_price: 96720
주문 번호: 1290 min_total_price: 171788
주문 번호: 1291 min_total_price: 67222
주문 번호: 1292 min_total_price: 198081
주문 번호: 1293 min_total_price: 71258
주문 번호: 1294 min_total_price: 76816
주문 번호: 1295 min_total_price: 124232
주문 번호: 1296 min_total_price: 136957
주문 번호: 1297 min_total_price: 121981
주문 번호: 1298 min_total_price: 176142
주문 번호: 1299 min_total_price: 187931
주문 번호: 1300 min_total_price: 194595
주문 번호: 1301 min_total_price: 49850
주문 번호: 1302 min_total_price: 58225
주문 번호: 1303 min_total_price: 123322
주문 번호: 1304 min_total_price: 48534
주문 번호: 1305 min_total_price: 142582
주문 번호: 1306 min_total_price: 46895
주문 번호: 1307 min_total_price: 168479
주문 번호: 1308 min_total_price: 35193
주문 번호: 1309 min_total_price: 170232
주문 번호: 1310 min_total_price: 116888
주문 번호: 1311 min_total_price: 118236
주문 번호: 1312 min_total_price: 47489
주문 번호: 1313 min_total_price: 125263
주문 번호: 1314 min_total_price: 197113
주문 번호: 1315 min_total_price: 188126
주문 번호: 1316 min_total_price: 42089
주문 번호: 1317 min_total_price: 146690
주문 번호: 1318 min_total_price: 196450
주문 번호: 1319 min_total_price: 195848
주문 번호: 1320 min_total_price: 177879
주문 번호: 1321 min_total_price: 57618
주문 번호: 1322 min_total_price: 167938
주문 번호: 1323 min_total_price: 87930
주문 번호: 1324 min_total_price: 109888
주문 번호: 1325 min_total_price: 172326
주문 번호: 1326 min_total_price: 35809
주문 번호: 1327 min_total_price: 61005
주문 번호: 1328 min_total_price: 83514
주문 번호: 1329 min_total_price: 45703
주문 번호: 1330 min_total_price: 149559
주문 번호: 1331 min_total_price: 64818
주문 번호: 1332 min_total_price: 71611
주문 번호: 1333 min_total_price: 111864
주문 번호: 1334 min_total_price: 118504
주문 번호: 1335 min_total_price: 156739
주문 번호: 1336 min_total_price: 109461
주문 번호: 1337 min_total_price: 124880
주문 번호: 1338 min_total_price: 130891
주문 번호: 1339 min_total_price: 84093
주문 번호: 1340 min_total_price: 82674
주문 번호: 1341 min_total_price: 38598
주문 번호: 1342 min_total_price: 44286
주문 번호: 1343 min_total_price: 114186
주문 번호: 1344 min_total_price: 56331
주문 번호: 1345 min_total_price: 107157
주문 번호: 1346 min_total_price: 134573
주문 번호: 1347 min_total_price: 55991
주문 번호: 1348 min_total_price: 151934
주문 번호: 1349 min_total_price: 188981
주문 번호: 1350 min_total_price: 30997
주문 번호: 1351 min_total_price: 150081
주문 번호: 1352 min_total_price: 61104
주문 번호: 1353 min_total_price: 178752
주문 번호: 1354 min_total_price: 187551
주문 번호: 1355 min_total_price: 30078
주문 번호: 1356 min_total_price: 171056
주문 번호: 1357 min_total_price: 98036
주문 번호: 1358 min_total_price: 95879
주문 번호: 1359 min_total_price: 151056
주문 번호: 1360 min_total_price: 129379
주문 번호: 1361 min_total_price: 159040
주문 번호: 1362 min_total_price: 58983
주문 번호: 1363 min_total_price: 101097
주문 번호: 1364 min_total_price: 56130
주문 번호: 1365 min_total_price: 135809
주문 번호: 1366 min_total_price: 142165
주문 번호: 1367 min_total_price: 71862
주문 번호: 1368 min_total_price: 178083
주문 번호: 1369 min_total_price: 82799
주문 번호: 1370 min_total_price: 136497
주문 번호: 1371 min_total_price: 57886
주문 번호: 1372 min_total_price: 173082
주문 번호: 1373 min_total_price: 98761
주문 번호: 1374 min_total_price: 93770
주문 번호: 1375 min_total_price: 78280
주문 번호: 1376 min_total_price: 103467
주문 번호: 1377 min_total_price: 124228
주문 번호: 1378 min_total_price: 115615
주문 번호: 1379 min_total_price: 138640
주문 번호: 1380 min_total_price: 126380
주문 번호: 1381 min_total_price: 134187
주문 번호: 1382 min_total_price: 33844
주문 번호: 1383 min_total_price: 50523
주문 번호: 1384 min_total_price: 70084
주문 번호: 1385 min_total_price: 168158
주문 번호: 1386 min_total_price: 92145
주문 번호: 1387 min_total_price: 128145
주문 번호: 1388 min_total_price: 31286
주문 번호: 1389 min_total_price: 189615
주문 번호: 1390 min_total_price: 196336
주문 번호: 1391 min_total_price: 112128
주문 번호: 1392 min_total_price: 184530
주문 번호: 1393 min_total_price: 192377
주문 번호: 1394 min_total_price: 192217
주문 번호: 1395 min_total_price: 60263
주문 번호: 1396 min_total_price: 181116
주문 번호: 1397 min_total_price: 92348
주문 번호: 1398 min_total_price: 60415
주문 번호: 1399 min_total_price: 120280
주문 번호: 1400 min_total_price: 68659
주문 번호: 1401 min_total_price: 99846
주문 번호: 1402 min_total_price: 145322
주문 번호: 1403 min_total_price: 106857
주문 번호: 1404 min_total_price: 184838
주문 번호: 1405 min_total_price: 193117
주문 번호: 1406 min_total_price: 49005
주문 번호: 1407 min_total_price: 91576
주문 번호: 1408 min_total_price: 94521
주문 번호: 1409 min_total_price: 42703
주문 번호: 1410 min_total_price: 111126
주문 번호: 1411 min_total_price: 70159
주문 번호: 1412 min_total_price: 147447
주문 번호: 1413 min_total_price: 60874
주문 번호: 1414 min_total_price: 176488
주문 번호: 1415 min_total_price: 161707
주문 번호: 1416 min_total_price: 117788
주문 번호: 1417 min_total_price: 192926
주문 번호: 1418 min_total_price: 95332
주문 번호: 1419 min_total_price: 167068
주문 번호: 1420 min_total_price: 41928
주문 번호: 1421 min_total_price: 42895
주문 번호: 1422 min_total_price: 122055
주문 번호: 1423 min_total_price: 182263
주문 번호: 1424 min_total_price: 135992
주문 번호: 1425 min_total_price: 96166
주문 번호: 1426 min_total_price: 101993
주문 번호: 1427 min_total_price: 190866
주문 번호: 1428 min_total_price: 61335
주문 번호: 1429 min_total_price: 98868
주문 번호: 1430 min_total_price: 31064
주문 번호: 1431 min_total_price: 48072
주문 번호: 1432 min_total_price: 79336
주문 번호: 1433 min_total_price: 118105
주문 번호: 1434 min_total_price: 94730
주문 번호: 1435 min_total_price: 99143
주문 번호: 1436 min_total_price: 36978
주문 번호: 1437 min_total_price: 162187
주문 번호: 1438 min_total_price: 73980
주문 번호: 1439 min_total_price: 50285
주문 번호: 1440 min_total_price: 33231
주문 번호: 1441 min_total_price: 41558
주문 번호: 1442 min_total_price: 198179
주문 번호: 1443 min_total_price: 129430
주문 번호: 1444 min_total_price: 97110
주문 번호: 1445 min_total_price: 66279
주문 번호: 1446 min_total_price: 63251
주문 번호: 1447 min_total_price: 183764
주문 번호: 1448 min_total_price: 118110
주문 번호: 1449 min_total_price: 101014
주문 번호: 1450 min_total_price: 133718
주문 번호: 1451 min_total_price: 93722
주문 번호: 1452 min_total_price: 171318
주문 번호: 1453 min_total_price: 183673
주문 번호: 1454 min_total_price: 176128
주문 번호: 1455 min_total_price: 170090
주문 번호: 1456 min_total_price: 139378
주문 번호: 1457 min_total_price: 169360
주문 번호: 1458 min_total_price: 139025
주문 번호: 1459 min_total_price: 83611
주문 번호: 1460 min_total_price: 174036
주문 번호: 1461 min_total_price: 148991
주문 번호: 1462 min_total_price: 103923
주문 번호: 1463 min_total_price: 174665
주문 번호: 1464 min_total_price: 32778
주문 번호: 1465 min_total_price: 116729
주문 번호: 1466 min_total_price: 81939
주문 번호: 1467 min_total_price: 86112
주문 번호: 1468 min_total_price: 99095
주문 번호: 1469 min_total_price: 46274
주문 번호: 1470 min_total_price: 169581
주문 번호: 1471 min_total_price: 153439
주문 번호: 1472 min_total_price: 112179
주문 번호: 1473 min_total_price: 135997
주문 번호: 1474 min_total_price: 165407
주문 번호: 1475 min_total_price: 51859
주문 번호: 1476 min_total_price: 32059
주문 번호: 1477 min_total_price: 121808
주문 번호: 1478 min_total_price: 49333
주문 번호: 1479 min_total_price: 68972
주문 번호: 1480 min_total_price: 89071
주문 번호: 1481 min_total_price: 120810
주문 번호: 1482 min_total_price: 76400
주문 번호: 1483 min_total_price: 52825
주문 번호: 1484 min_total_price: 87331
주문 번호: 1485 min_total_price: 89576
주문 번호: 1486 min_total_price: 64439
주문 번호: 1487 min_total_price: 131034
주문 번호: 1488 min_total_price: 190285
주문 번호: 1489 min_total_price: 178618
주문 번호: 1490 min_total_price: 122526
주문 번호: 1491 min_total_price: 153147
주문 번호: 1492 min_total_price: 123494
주문 번호: 1493 min_total_price: 119491
주문 번호: 1494 min_total_price: 141793
주문 번호: 1495 min_total_price: 104547
주문 번호: 1496 min_total_price: 77020
주문 번호: 1497 min_total_price: 170336
주문 번호: 1498 min_total_price: 109023
주문 번호: 1499 min_total_price: 198346
주문 번호: 1500 min_total_price: 195880
주문 번호: 1501 min_total_price: 152238
주문 번호: 1502 min_total_price: 48564
주문 번호: 1503 min_total_price: 81222
주문 번호: 1504 min_total_price: 111348
주문 번호: 1505 min_total_price: 42981
주문 번호: 1506 min_total_price: 143657
주문 번호: 1507 min_total_price: 150475
주문 번호: 1508 min_total_price: 166171
주문 번호: 1509 min_total_price: 78369
주문 번호: 1510 min_total_price: 114396
주문 번호: 1511 min_total_price: 46572
주문 번호: 1512 min_total_price: 69768
주문 번호: 1513 min_total_price: 108234
주문 번호: 1514 min_total_price: 93885
주문 번호: 1515 min_total_price: 30106
주문 번호: 1516 min_total_price: 77960
주문 번호: 1517 min_total_price: 81720
주문 번호: 1518 min_total_price: 57083
주문 번호: 1519 min_total_price: 89283
주문 번호: 1520 min_total_price: 136911
주문 번호: 1521 min_total_price: 136866
주문 번호: 1522 min_total_price: 112631
주문 번호: 1523 min_total_price: 191646
주문 번호: 1524 min_total_price: 169340
주문 번호: 1525 min_total_price: 84920
주문 번호: 1526 min_total_price: 58884
주문 번호: 1527 min_total_price: 79301
주문 번호: 1528 min_total_price: 147235
주문 번호: 1529 min_total_price: 153454
주문 번호: 1530 min_total_price: 174664
주문 번호: 1531 min_total_price: 113242
주문 번호: 1532 min_total_price: 128101
주문 번호: 1533 min_total_price: 85365
주문 번호: 1534 min_total_price: 104679
주문 번호: 1535 min_total_price: 46230
주문 번호: 1536 min_total_price: 141976
주문 번호: 1537 min_total_price: 110102
주문 번호: 1538 min_total_price: 31983
주문 번호: 1539 min_total_price: 60170
주문 번호: 1540 min_total_price: 188639
주문 번호: 1541 min_total_price: 190183
주문 번호: 1542 min_total_price: 107971
주문 번호: 1543 min_total_price: 190236
주문 번호: 1544 min_total_price: 99476
주문 번호: 1545 min_total_price: 148177
주문 번호: 1546 min_total_price: 62654
주문 번호: 1547 min_total_price: 31673
주문 번호: 1548 min_total_price: 58706
주문 번호: 1549 min_total_price: 125803
주문 번호: 1550 min_total_price: 100143
주문 번호: 1551 min_total_price: 131561
주문 번호: 1552 min_total_price: 65875
주문 번호: 1553 min_total_price: 34829
주문 번호: 1554 min_total_price: 71317
주문 번호: 1555 min_total_price: 99883
주문 번호: 1556 min_total_price: 154923
주문 번호: 1557 min_total_price: 155488
주문 번호: 1558 min_total_price: 119752
주문 번호: 1559 min_total_price: 42717
주문 번호: 1560 min_total_price: 30642
주문 번호: 1561 min_total_price: 185289
주문 번호: 1562 min_total_price: 159642
주문 번호: 1563 min_total_price: 127855
주문 번호: 1564 min_total_price: 73341
주문 번호: 1565 min_total_price: 59484
주문 번호: 1566 min_total_price: 138594
주문 번호: 1567 min_total_price: 64579

주문 번호: 1568 min_total_price: 54227
주문 번호: 1569 min_total_price: 122774
주문 번호: 1570 min_total_price: 161361
주문 번호: 1571 min_total_price: 130669
주문 번호: 1572 min_total_price: 59254
주문 번호: 1573 min_total_price: 95930
주문 번호: 1574 min_total_price: 106095
주문 번호: 1575 min_total_price: 103623
주문 번호: 1576 min_total_price: 152856
주문 번호: 1577 min_total_price: 159981
주문 번호: 1578 min_total_price: 95487
주문 번호: 1579 min_total_price: 180097
주문 번호: 1580 min_total_price: 138718
주문 번호: 1581 min_total_price: 88833
주문 번호: 1582 min_total_price: 73210
주문 번호: 1583 min_total_price: 86798
주문 번호: 1584 min_total_price: 116625
주문 번호: 1585 min_total_price: 123817
주문 번호: 1586 min_total_price: 141596
주문 번호: 1587 min_total_price: 132228
주문 번호: 1588 min_total_price: 98328
주문 번호: 1589 min_total_price: 113671
주문 번호: 1590 min_total_price: 69689
주문 번호: 1591 min_total_price: 110426
주문 번호: 1592 min_total_price: 121235
주문 번호: 1593 min_total_price: 46973
주문 번호: 1594 min_total_price: 126056
주문 번호: 1595 min_total_price: 60168
주문 번호: 1596 min_total_price: 44377
주문 번호: 1597 min_total_price: 97722
주문 번호: 1598 min_total_price: 199481
주문 번호: 1599 min_total_price: 130515
주문 번호: 1600 min_total_price: 79253
주문 번호: 1601 min_total_price: 41631
주문 번호: 1602 min_total_price: 66787
주문 번호: 1603 min_total_price: 174112
주문 번호: 1604 min_total_price: 121232
주문 번호: 1605 min_total_price: 153294
주문 번호: 1606 min_total_price: 109800
주문 번호: 1607 min_total_price: 39150
주문 번호: 1608 min_total_price: 186826
주문 번호: 1609 min_total_price: 91963
주문 번호: 1610 min_total_price: 54171
주문 번호: 1611 min_total_price: 150109
주문 번호: 1612 min_total_price: 94434
주문 번호: 1613 min_total_price: 51304
주문 번호: 1614 min_total_price: 55250
주문 번호: 1615 min_total_price: 110106
주문 번호: 1616 min_total_price: 51629
주문 번호: 1617 min_total_price: 105677
주문 번호: 1618 min_total_price: 146608
주문 번호: 1619 min_total_price: 98390
주문 번호: 1620 min_total_price: 164944
주문 번호: 1621 min_total_price: 147409
주문 번호: 1622 min_total_price: 140332
주문 번호: 1623 min_total_price: 69218
주문 번호: 1624 min_total_price: 35278
주문 번호: 1625 min_total_price: 97571
주문 번호: 1626 min_total_price: 50156
주문 번호: 1627 min_total_price: 137115
주문 번호: 1628 min_total_price: 122410
주문 번호: 1629 min_total_price: 198393
주문 번호: 1630 min_total_price: 191468
주문 번호: 1631 min_total_price: 69962
주문 번호: 1632 min_total_price: 77942
주문 번호: 1633 min_total_price: 40409
주문 번호: 1634 min_total_price: 108596
주문 번호: 1635 min_total_price: 46843
주문 번호: 1636 min_total_price: 197298
주문 번호: 1637 min_total_price: 104694
주문 번호: 1638 min_total_price: 130804
주문 번호: 1639 min_total_price: 82192
주문 번호: 1640 min_total_price: 180743
주문 번호: 1641 min_total_price: 113258
주문 번호: 1642 min_total_price: 121217
주문 번호: 1643 min_total_price: 162965
주문 번호: 1644 min_total_price: 163160
주문 번호: 1645 min_total_price: 60534
주문 번호: 1646 min_total_price: 72199
주문 번호: 1647 min_total_price: 65819
주문 번호: 1648 min_total_price: 30793
주문 번호: 1649 min_total_price: 48751
주문 번호: 1650 min_total_price: 169134
주문 번호: 1651 min_total_price: 63163
주문 번호: 1652 min_total_price: 165095
주문 번호: 1653 min_total_price: 123132
주문 번호: 1654 min_total_price: 47832
주문 번호: 1655 min_total_price: 191356
주문 번호: 1656 min_total_price: 165072
주문 번호: 1657 min_total_price: 91390
주문 번호: 1658 min_total_price: 191540
주문 번호: 1659 min_total_price: 59648
주문 번호: 1660 min_total_price: 179318
주문 번호: 1661 min_total_price: 147779
주문 번호: 1662 min_total_price: 95557
주문 번호: 1663 min_total_price: 171990
주문 번호: 1664 min_total_price: 110095
주문 번호: 1665 min_total_price: 89409
주문 번호: 1666 min_total_price: 65294
주문 번호: 1667 min_total_price: 106243
주문 번호: 1668 min_total_price: 113987
주문 번호: 1669 min_total_price: 175498
주문 번호: 1670 min_total_price: 146217
주문 번호: 1671 min_total_price: 137130
주문 번호: 1672 min_total_price: 44437
주문 번호: 1673 min_total_price: 196766
주문 번호: 1674 min_total_price: 46893
주문 번호: 1675 min_total_price: 154791
주문 번호: 1676 min_total_price: 123893
주문 번호: 1677 min_total_price: 68093
주문 번호: 1678 min_total_price: 40584
주문 번호: 1679 min_total_price: 139282
주문 번호: 1680 min_total_price: 39335
주문 번호: 1681 min_total_price: 55565
주문 번호: 1682 min_total_price: 188930
주문 번호: 1683 min_total_price: 92620
주문 번호: 1684 min_total_price: 180794
주문 번호: 1685 min_total_price: 94109
주문 번호: 1686 min_total_price: 151529
주문 번호: 1687 min_total_price: 101113
주문 번호: 1688 min_total_price: 166651
주문 번호: 1689 min_total_price: 181165
주문 번호: 1690 min_total_price: 181746
주문 번호: 1691 min_total_price: 94398
주문 번호: 1692 min_total_price: 125319
주문 번호: 1693 min_total_price: 152444
주문 번호: 1694 min_total_price: 112172
주문 번호: 1695 min_total_price: 61621
주문 번호: 1696 min_total_price: 96996
주문 번호: 1697 min_total_price: 83428
주문 번호: 1698 min_total_price: 143256
주문 번호: 1699 min_total_price: 62496
주문 번호: 1700 min_total_price: 101412
주문 번호: 1701 min_total_price: 157726
주문 번호: 1702 min_total_price: 198836
주문 번호: 1703 min_total_price: 63659
주문 번호: 1704 min_total_price: 176419
주문 번호: 1705 min_total_price: 60797
주문 번호: 1706 min_total_price: 74186
주문 번호: 1707 min_total_price: 129471
주문 번호: 1708 min_total_price: 131211
주문 번호: 1709 min_total_price: 69210
주문 번호: 1710 min_total_price: 95287
주문 번호: 1711 min_total_price: 173664
주문 번호: 1712 min_total_price: 119500
주문 번호: 1713 min_total_price: 45904
주문 번호: 1714 min_total_price: 193086
주문 번호: 1715 min_total_price: 82400
주문 번호: 1716 min_total_price: 59375
주문 번호: 1717 min_total_price: 105294
주문 번호: 1718 min_total_price: 149450
주문 번호: 1719 min_total_price: 30798
주문 번호: 1720 min_total_price: 107615
주문 번호: 1721 min_total_price: 176779
주문 번호: 1722 min_total_price: 44035
주문 번호: 1723 min_total_price: 33359
주문 번호: 1724 min_total_price: 62048
주문 번호: 1725 min_total_price: 94935
주문 번호: 1726 min_total_price: 95013
주문 번호: 1727 min_total_price: 144171
주문 번호: 1728 min_total_price: 199811
주문 번호: 1729 min_total_price: 174463
주문 번호: 1730 min_total_price: 133804
주문 번호: 1731 min_total_price: 134899
주문 번호: 1732 min_total_price: 140925
주문 번호: 1733 min_total_price: 101999
주문 번호: 1734 min_total_price: 108072
주문 번호: 1735 min_total_price: 111696
주문 번호: 1736 min_total_price: 185881
주문 번호: 1737 min_total_price: 87406
주문 번호: 1738 min_total_price: 132353
주문 번호: 1739 min_total_price: 105396
주문 번호: 1740 min_total_price: 193327
주문 번호: 1741 min_total_price: 54748
주문 번호: 1742 min_total_price: 170471
주문 번호: 1743 min_total_price: 48446
주문 번호: 1744 min_total_price: 74711
주문 번호: 1745 min_total_price: 78899
주문 번호: 1746 min_total_price: 50405
주문 번호: 1747 min_total_price: 127759
주문 번호: 1748 min_total_price: 170947
주문 번호: 1749 min_total_price: 189611
주문 번호: 1750 min_total_price: 95140
주문 번호: 1751 min_total_price: 152265
주문 번호: 1752 min_total_price: 48663
주문 번호: 1753 min_total_price: 175957
주문 번호: 1754 min_total_price: 101226
주문 번호: 1755 min_total_price: 50137
주문 번호: 1756 min_total_price: 192231
주문 번호: 1757 min_total_price: 105878
주문 번호: 1758 min_total_price: 31288
주문 번호: 1759 min_total_price: 186650
주문 번호: 1760 min_total_price: 137596
주문 번호: 1761 min_total_price: 90735
주문 번호: 1762 min_total_price: 175038
주문 번호: 1763 min_total_price: 164080
주문 번호: 1764 min_total_price: 111210
주문 번호: 1765 min_total_price: 47167
주문 번호: 1766 min_total_price: 101031
주문 번호: 1767 min_total_price: 160205
주문 번호: 1768 min_total_price: 33725
주문 번호: 1769 min_total_price: 196368
주문 번호: 1770 min_total_price: 147371
주문 번호: 1771 min_total_price: 195177
주문 번호: 1772 min_total_price: 192603
주문 번호: 1773 min_total_price: 174861
주문 번호: 1774 min_total_price: 33675
주문 번호: 1775 min_total_price: 115136
주문 번호: 1776 min_total_price: 196316
주문 번호: 1777 min_total_price: 140797
주문 번호: 1778 min_total_price: 91211
주문 번호: 1779 min_total_price: 106438
주문 번호: 1780 min_total_price: 76494
주문 번호: 1781 min_total_price: 175749
주문 번호: 1782 min_total_price: 164761
주문 번호: 1783 min_total_price: 145392
주문 번호: 1784 min_total_price: 178421
주문 번호: 1785 min_total_price: 149902
주문 번호: 1786 min_total_price: 185618
주문 번호: 1787 min_total_price: 152321
주문 번호: 1788 min_total_price: 140279
주문 번호: 1789 min_total_price: 80281
주문 번호: 1790 min_total_price: 51425
주문 번호: 1791 min_total_price: 190250
주문 번호: 1792 min_total_price: 115353
주문 번호: 1793 min_total_price: 55929
주문 번호: 1794 min_total_price: 82162
주문 번호: 1795 min_total_price: 34296
주문 번호: 1796 min_total_price: 150053
주문 번호: 1797 min_total_price: 101820
주문 번호: 1798 min_total_price: 32024
주문 번호: 1799 min_total_price: 106569
주문 번호: 1800 min_total_price: 95084
주문 번호: 1801 min_total_price: 56428

주문 번호: 1802 min_total_price: 148689
주문 번호: 1803 min_total_price: 159759
주문 번호: 1804 min_total_price: 185563
주문 번호: 1805 min_total_price: 47530
주문 번호: 1806 min_total_price: 102191
주문 번호: 1807 min_total_price: 124581
주문 번호: 1808 min_total_price: 194684
주문 번호: 1809 min_total_price: 110330
주문 번호: 1810 min_total_price: 94445
주문 번호: 1811 min_total_price: 101613
주문 번호: 1812 min_total_price: 194308
주문 번호: 1813 min_total_price: 173695
주문 번호: 1814 min_total_price: 36721
주문 번호: 1815 min_total_price: 171869
주문 번호: 1816 min_total_price: 165953
주문 번호: 1817 min_total_price: 35804
주문 번호: 1818 min_total_price: 124878
주문 번호: 1819 min_total_price: 41536
주문 번호: 1820 min_total_price: 172586
주문 번호: 1821 min_total_price: 155514
주문 번호: 1822 min_total_price: 127872
주문 번호: 1823 min_total_price: 82789
주문 번호: 1824 min_total_price: 128847
주문 번호: 1825 min_total_price: 194044
주문 번호: 1826 min_total_price: 80787
주문 번호: 1827 min_total_price: 72009
주문 번호: 1828 min_total_price: 81197
주문 번호: 1829 min_total_price: 46471
주문 번호: 1830 min_total_price: 166477
주문 번호: 1831 min_total_price: 58162
주문 번호: 1832 min_total_price: 83257
주문 번호: 1833 min_total_price: 94355
주문 번호: 1834 min_total_price: 133287
주문 번호: 1835 min_total_price: 193415
주문 번호: 1836 min_total_price: 31143
주문 번호: 1837 min_total_price: 58060
주문 번호: 1838 min_total_price: 75961
주문 번호: 1839 min_total_price: 63525
주문 번호: 1840 min_total_price: 73288
주문 번호: 1841 min_total_price: 149657
주문 번호: 1842 min_total_price: 188367
주문 번호: 1843 min_total_price: 155854
주문 번호: 1844 min_total_price: 104789
주문 번호: 1845 min_total_price: 142602
주문 번호: 1846 min_total_price: 72284
주문 번호: 1847 min_total_price: 190579
주문 번호: 1848 min_total_price: 160503
주문 번호: 1849 min_total_price: 101633
주문 번호: 1850 min_total_price: 123010
주문 번호: 1851 min_total_price: 100691
주문 번호: 1852 min_total_price: 60675
주문 번호: 1853 min_total_price: 134939
주문 번호: 1854 min_total_price: 126311
주문 번호: 1855 min_total_price: 153573
주문 번호: 1856 min_total_price: 114011
주문 번호: 1857 min_total_price: 197940
주문 번호: 1858 min_total_price: 154093
주문 번호: 1859 min_total_price: 62560
주문 번호: 1860 min_total_price: 114323
주문 번호: 1861 min_total_price: 99274
주문 번호: 1862 min_total_price: 194977
주문 번호: 1863 min_total_price: 76118
주문 번호: 1864 min_total_price: 163422
주문 번호: 1865 min_total_price: 143457
주문 번호: 1866 min_total_price: 71085
주문 번호: 1867 min_total_price: 157564
주문 번호: 1868 min_total_price: 154014
주문 번호: 1869 min_total_price: 161910
주문 번호: 1870 min_total_price: 129855
주문 번호: 1871 min_total_price: 68542
주문 번호: 1872 min_total_price: 83714
주문 번호: 1873 min_total_price: 31626
주문 번호: 1874 min_total_price: 150192
주문 번호: 1875 min_total_price: 154783
주문 번호: 1876 min_total_price: 51042
주문 번호: 1877 min_total_price: 80061
주문 번호: 1878 min_total_price: 40789
주문 번호: 1879 min_total_price: 71391
주문 번호: 1880 min_total_price: 136727
주문 번호: 1881 min_total_price: 156700
주문 번호: 1882 min_total_price: 60033
주문 번호: 1883 min_total_price: 178879
주문 번호: 1884 min_total_price: 151705
주문 번호: 1885 min_total_price: 188835
주문 번호: 1886 min_total_price: 145999
주문 번호: 1887 min_total_price: 34543
주문 번호: 1888 min_total_price: 123981
주문 번호: 1889 min_total_price: 142812
주문 번호: 1890 min_total_price: 194735
주문 번호: 1891 min_total_price: 134072
주문 번호: 1892 min_total_price: 46907
주문 번호: 1893 min_total_price: 132060
주문 번호: 1894 min_total_price: 187231
주문 번호: 1895 min_total_price: 120109
주문 번호: 1896 min_total_price: 90856
주문 번호: 1897 min_total_price: 114467
주문 번호: 1898 min_total_price: 85770
주문 번호: 1899 min_total_price: 92116
주문 번호: 1900 min_total_price: 134871
주문 번호: 1901 min_total_price: 95489
주문 번호: 1902 min_total_price: 44034
주문 번호: 1903 min_total_price: 87743
주문 번호: 1904 min_total_price: 179961
주문 번호: 1905 min_total_price: 164391
주문 번호: 1906 min_total_price: 184736
주문 번호: 1907 min_total_price: 116133
주문 번호: 1908 min_total_price: 94692
주문 번호: 1909 min_total_price: 37113
주문 번호: 1910 min_total_price: 151522
주문 번호: 1911 min_total_price: 173696
주문 번호: 1912 min_total_price: 183821
주문 번호: 1913 min_total_price: 62027
주문 번호: 1914 min_total_price: 48068
주문 번호: 1915 min_total_price: 55224
주문 번호: 1916 min_total_price: 105388
주문 번호: 1917 min_total_price: 64973
주문 번호: 1918 min_total_price: 169777
주문 번호: 1919 min_total_price: 161227
주문 번호: 1920 min_total_price: 92918
주문 번호: 1921 min_total_price: 79442
주문 번호: 1922 min_total_price: 88232
주문 번호: 1923 min_total_price: 187697
주문 번호: 1924 min_total_price: 136656
주문 번호: 1925 min_total_price: 198504
주문 번호: 1926 min_total_price: 87906
주문 번호: 1927 min_total_price: 184137
주문 번호: 1928 min_total_price: 137434
주문 번호: 1929 min_total_price: 105211
주문 번호: 1930 min_total_price: 196075
주문 번호: 1931 min_total_price: 49919
주문 번호: 1932 min_total_price: 96514
주문 번호: 1933 min_total_price: 99906
주문 번호: 1934 min_total_price: 187296
주문 번호: 1935 min_total_price: 51194
주문 번호: 1936 min_total_price: 194988
주문 번호: 1937 min_total_price: 97517
주문 번호: 1938 min_total_price: 40091
주문 번호: 1939 min_total_price: 80377
주문 번호: 1940 min_total_price: 167722
주문 번호: 1941 min_total_price: 129015
주문 번호: 1942 min_total_price: 100705
주문 번호: 1943 min_total_price: 95997
주문 번호: 1944 min_total_price: 179349
주문 번호: 1945 min_total_price: 56533
주문 번호: 1946 min_total_price: 121307
주문 번호: 1947 min_total_price: 172131
주문 번호: 1948 min_total_price: 131671
주문 번호: 1949 min_total_price: 124418
주문 번호: 1950 min_total_price: 161746
주문 번호: 1951 min_total_price: 115432
주문 번호: 1952 min_total_price: 106889
주문 번호: 1953 min_total_price: 47253
주문 번호: 1954 min_total_price: 52405
주문 번호: 1955 min_total_price: 76106
주문 번호: 1956 min_total_price: 117431
주문 번호: 1957 min_total_price: 197369
주문 번호: 1958 min_total_price: 79693
주문 번호: 1959 min_total_price: 92766
주문 번호: 1960 min_total_price: 189115
주문 번호: 1961 min_total_price: 116964
주문 번호: 1962 min_total_price: 183943
주문 번호: 1963 min_total_price: 195014
주문 번호: 1964 min_total_price: 182470
주문 번호: 1965 min_total_price: 195790
주문 번호: 1966 min_total_price: 181968
주문 번호: 1967 min_total_price: 184612
주문 번호: 1968 min_total_price: 144472
주문 번호: 1969 min_total_price: 86876
주문 번호: 1970 min_total_price: 192850
주문 번호: 1971 min_total_price: 127612
주문 번호: 1972 min_total_price: 76477
주문 번호: 1973 min_total_price: 88887
주문 번호: 1974 min_total_price: 52615
주문 번호: 1975 min_total_price: 129734
주문 번호: 1976 min_total_price: 54600
주문 번호: 1977 min_total_price: 100642
주문 번호: 1978 min_total_price: 97912
주문 번호: 1979 min_total_price: 76220
주문 번호: 1980 min_total_price: 145148
주문 번호: 1981 min_total_price: 162817
주문 번호: 1982 min_total_price: 148846
주문 번호: 1983 min_total_price: 133146
주문 번호: 1984 min_total_price: 97908
주문 번호: 1985 min_total_price: 175371
주문 번호: 1986 min_total_price: 166950
주문 번호: 1987 min_total_price: 161340
주문 번호: 1988 min_total_price: 55037
주문 번호: 1989 min_total_price: 139643
주문 번호: 1990 min_total_price: 40374
주문 번호: 1991 min_total_price: 104189
주문 번호: 1992 min_total_price: 148542
주문 번호: 1993 min_total_price: 134979
주문 번호: 1994 min_total_price: 121628
주문 번호: 1995 min_total_price: 72881
주문 번호: 1996 min_total_price: 158014
주문 번호: 1997 min_total_price: 96747
주문 번호: 1998 min_total_price: 37609
주문 번호: 1999 min_total_price: 115396
주문 번호: 2000 min_total_price: 66618
주문 번호: 2001 min_total_price: 174807
주문 번호: 2002 min_total_price: 80795
주문 번호: 2003 min_total_price: 161388
주문 번호: 2004 min_total_price: 195024
주문 번호: 2005 min_total_price: 42468
주문 번호: 2006 min_total_price: 193070
주문 번호: 2007 min_total_price: 133823
주문 번호: 2008 min_total_price: 186971
주문 번호: 2009 min_total_price: 86715
주문 번호: 2010 min_total_price: 115969
주문 번호: 2011 min_total_price: 129508
주문 번호: 2012 min_total_price: 112055
주문 번호: 2013 min_total_price: 98952
주문 번호: 2014 min_total_price: 125049
주문 번호: 2015 min_total_price: 123429
주문 번호: 2016 min_total_price: 58445
주문 번호: 2017 min_total_price: 115111
주문 번호: 2018 min_total_price: 120186
주문 번호: 2019 min_total_price: 118471
주문 번호: 2020 min_total_price: 160372
주문 번호: 2021 min_total_price: 81481
주문 번호: 2022 min_total_price: 55364
주문 번호: 2023 min_total_price: 125032
주문 번호: 2024 min_total_price: 89522
주문 번호: 2025 min_total_price: 176829
주문 번호: 2026 min_total_price: 90118
주문 번호: 2027 min_total_price: 49085
주문 번호: 2028 min_total_price: 185767
주문 번호: 2029 min_total_price: 191209
주문 번호: 2030 min_total_price: 155219
주문 번호: 2031 min_total_price: 33184
주문 번호: 2032 min_total_price: 104520
주문 번호: 2033 min_total_price: 175235
주문 번호: 2034 min_total_price: 157174
주문 번호: 2035 min_total_price: 144004
주문 번호: 2036 min_total_price: 180779
주문 번호: 2037 min_total_price: 49280
주문 번호: 2038 min_total_price: 67049
주문 번호: 2039 min_total_price: 76382
주문 번호: 2040 min_total_price: 51178
주문 번호: 2041 min_total_price: 109066
주문 번호: 2042 min_total_price: 153936
주문 번호: 2043 min_total_price: 115699
주문 번호: 2044 min_total_price: 87911
주문 번호: 2045 min_total_price: 158252
주문 번호: 2046 min_total_price: 168193
주문 번호: 2047 min_total_price: 198189
주문 번호: 2048 min_total_price: 127448
주문 번호: 2049 min_total_price: 175504
주문 번호: 2050 min_total_price: 104455
주문 번호: 2051 min_total_price: 33679
주문 번호: 2052 min_total_price: 180574
주문 번호: 2053 min_total_price: 143463
주문 번호: 2054 min_total_price: 43284
주문 번호: 2055 min_total_price: 157683
주문 번호: 2056 min_total_price: 145068
주문 번호: 2057 min_total_price: 189098
주문 번호: 2058 min_total_price: 84773
주문 번호: 2059 min_total_price: 62605
주문 번호: 2060 min_total_price: 113771
주문 번호: 2061 min_total_price: 100097
주문 번호: 2062 min_total_price: 149724
주문 번호: 2063 min_total_price: 134265
주문 번호: 2064 min_total_price: 31886
주문 번호: 2065 min_total_price: 106942
주문 번호: 2066 min_total_price: 145503
주문 번호: 2067 min_total_price: 43155
주문 번호: 2068 min_total_price: 184229
주문 번호: 2069 min_total_price: 87371
주문 번호: 2070 min_total_price: 115528
주문 번호: 2071 min_total_price: 47237
주문 번호: 2072 min_total_price: 107860
주문 번호: 2073 min_total_price: 176625
주문 번호: 2074 min_total_price: 127585
주문 번호: 2075 min_total_price: 149191
주문 번호: 2076 min_total_price: 160033
주문 번호: 2077 min_total_price: 140826
주문 번호: 2078 min_total_price: 54126
주문 번호: 2079 min_total_price: 83175
주문 번호: 2080 min_total_price: 87268
주문 번호: 2081 min_total_price: 161291
주문 번호: 2082 min_total_price: 85725
주문 번호: 2083 min_total_price: 106633
주문 번호: 2084 min_total_price: 62356
주문 번호: 2085 min_total_price: 51383
주문 번호: 2086 min_total_price: 166667
주문 번호: 2087 min_total_price: 63150
주문 번호: 2088 min_total_price: 131452
주문 번호: 2089 min_total_price: 113421
주문 번호: 2090 min_total_price: 94516
주문 번호: 2091 min_total_price: 63841
주문 번호: 2092 min_total_price: 41529
주문 번호: 2093 min_total_price: 170058
주문 번호: 2094 min_total_price: 118644
주문 번호: 2095 min_total_price: 157452
주문 번호: 2096 min_total_price: 197144
주문 번호: 2097 min_total_price: 172631
주문 번호: 2098 min_total_price: 112765
주문 번호: 2099 min_total_price: 171417
주문 번호: 2100 min_total_price: 76667
주문 번호: 2101 min_total_price: 195540
주문 번호: 2102 min_total_price: 109813
주문 번호: 2103 min_total_price: 34337
주문 번호: 2104 min_total_price: 187681
주문 번호: 2105 min_total_price: 67899
주문 번호: 2106 min_total_price: 63613
주문 번호: 2107 min_total_price: 162430
주문 번호: 2108 min_total_price: 43541
주문 번호: 2109 min_total_price: 75574
주문 번호: 2110 min_total_price: 169827
주문 번호: 2111 min_total_price: 179566
주문 번호: 2112 min_total_price: 101328
주문 번호: 2113 min_total_price: 199734
주문 번호: 2114 min_total_price: 85473
주문 번호: 2115 min_total_price: 72148
주문 번호: 2116 min_total_price: 156379
주문 번호: 2117 min_total_price: 136462
주문 번호: 2118 min_total_price: 86765
주문 번호: 2119 min_total_price: 162778
주문 번호: 2120 min_total_price: 149110
주문 번호: 2121 min_total_price: 37031
주문 번호: 2122 min_total_price: 46098
주문 번호: 2123 min_total_price: 144374
주문 번호: 2124 min_total_price: 128234
주문 번호: 2125 min_total_price: 64017
주문 번호: 2126 min_total_price: 92116
주문 번호: 2127 min_total_price: 68704
주문 번호: 2128 min_total_price: 159513
주문 번호: 2129 min_total_price: 171319
주문 번호: 2130 min_total_price: 134397
주문 번호: 2131 min_total_price: 178536
주문 번호: 2132 min_total_price: 127411
주문 번호: 2133 min_total_price: 148030
주문 번호: 2134 min_total_price: 115588
주문 번호: 2135 min_total_price: 33366
주문 번호: 2136 min_total_price: 169477
주문 번호: 2137 min_total_price: 161453
주문 번호: 2138 min_total_price: 80740
주문 번호: 2139 min_total_price: 103397
주문 번호: 2140 min_total_price: 194365
주문 번호: 2141 min_total_price: 76748
주문 번호: 2142 min_total_price: 130867
주문 번호: 2143 min_total_price: 121350

주문 번호: 2144 min_total_price: 157410
주문 번호: 2145 min_total_price: 149181
주문 번호: 2146 min_total_price: 118820
주문 번호: 2147 min_total_price: 34728
주문 번호: 2148 min_total_price: 68133
주문 번호: 2149 min_total_price: 193768
주문 번호: 2150 min_total_price: 44087
주문 번호: 2151 min_total_price: 123922
주문 번호: 2152 min_total_price: 98659
주문 번호: 2153 min_total_price: 89936
주문 번호: 2154 min_total_price: 90228
주문 번호: 2155 min_total_price: 39366
주문 번호: 2156 min_total_price: 36458
주문 번호: 2157 min_total_price: 78878
주문 번호: 2158 min_total_price: 143537
주문 번호: 2159 min_total_price: 76019
주문 번호: 2160 min_total_price: 55352
주문 번호: 2161 min_total_price: 86495
주문 번호: 2162 min_total_price: 175678
주문 번호: 2163 min_total_price: 124098
주문 번호: 2164 min_total_price: 141042
주문 번호: 2165 min_total_price: 135566
주문 번호: 2166 min_total_price: 148302
주문 번호: 2167 min_total_price: 174363
주문 번호: 2168 min_total_price: 115322
주문 번호: 2169 min_total_price: 167829
주문 번호: 2170 min_total_price: 144718
주문 번호: 2171 min_total_price: 109685
주문 번호: 2172 min_total_price: 199210
주문 번호: 2173 min_total_price: 124990
주문 번호: 2174 min_total_price: 81585
주문 번호: 2175 min_total_price: 95161
주문 번호: 2176 min_total_price: 88843
주문 번호: 2177 min_total_price: 124934
주문 번호: 2178 min_total_price: 113246
주문 번호: 2179 min_total_price: 74783
주문 번호: 2180 min_total_price: 176701
주문 번호: 2181 min_total_price: 102191
주문 번호: 2182 min_total_price: 142538
주문 번호: 2183 min_total_price: 142539
주문 번호: 2184 min_total_price: 112032
주문 번호: 2185 min_total_price: 47292
주문 번호: 2186 min_total_price: 92199
주문 번호: 2187 min_total_price: 97945
주문 번호: 2188 min_total_price: 157789
주문 번호: 2189 min_total_price: 59087
주문 번호: 2190 min_total_price: 33969
주문 번호: 2191 min_total_price: 159056
주문 번호: 2192 min_total_price: 172524
주문 번호: 2193 min_total_price: 110020
주문 번호: 2194 min_total_price: 191940
주문 번호: 2195 min_total_price: 131738
주문 번호: 2196 min_total_price: 195999
주문 번호: 2197 min_total_price: 69469
주문 번호: 2198 min_total_price: 103929
주문 번호: 2199 min_total_price: 146677
주문 번호: 2200 min_total_price: 136743
주문 번호: 2201 min_total_price: 180164
주문 번호: 2202 min_total_price: 94882
주문 번호: 2203 min_total_price: 169290
주문 번호: 2204 min_total_price: 135547
주문 번호: 2205 min_total_price: 134892
주문 번호: 2206 min_total_price: 124152
주문 번호: 2207 min_total_price: 126746
주문 번호: 2208 min_total_price: 60608
주문 번호: 2209 min_total_price: 92581
주문 번호: 2210 min_total_price: 48841
주문 번호: 2211 min_total_price: 118530
주문 번호: 2212 min_total_price: 81056
주문 번호: 2213 min_total_price: 77399
주문 번호: 2214 min_total_price: 180048
주문 번호: 2215 min_total_price: 46756
주문 번호: 2216 min_total_price: 135451
주문 번호: 2217 min_total_price: 47577
주문 번호: 2218 min_total_price: 138442
주문 번호: 2219 min_total_price: 116579
주문 번호: 2220 min_total_price: 187870
주문 번호: 2221 min_total_price: 155503
주문 번호: 2222 min_total_price: 166677
주문 번호: 2223 min_total_price: 69530
주문 번호: 2224 min_total_price: 136701
주문 번호: 2225 min_total_price: 42143
주문 번호: 2226 min_total_price: 76668
주문 번호: 2227 min_total_price: 147855
주문 번호: 2228 min_total_price: 32781
주문 번호: 2229 min_total_price: 151934
주문 번호: 2230 min_total_price: 142895
주문 번호: 2231 min_total_price: 71700
주문 번호: 2232 min_total_price: 69029
주문 번호: 2233 min_total_price: 157043
주문 번호: 2234 min_total_price: 189533
주문 번호: 2235 min_total_price: 146990
주문 번호: 2236 min_total_price: 85489
주문 번호: 2237 min_total_price: 107613
주문 번호: 2238 min_total_price: 111780
주문 번호: 2239 min_total_price: 32710
주문 번호: 2240 min_total_price: 114622
주문 번호: 2241 min_total_price: 37378
주문 번호: 2242 min_total_price: 54117
주문 번호: 2243 min_total_price: 77550
주문 번호: 2244 min_total_price: 164879
주문 번호: 2245 min_total_price: 57021
주문 번호: 2246 min_total_price: 33475
주문 번호: 2247 min_total_price: 37239
주문 번호: 2248 min_total_price: 59870
주문 번호: 2249 min_total_price: 76358
주문 번호: 2250 min_total_price: 170699
주문 번호: 2251 min_total_price: 187568
주문 번호: 2252 min_total_price: 35500
주문 번호: 2253 min_total_price: 39078
주문 번호: 2254 min_total_price: 159531
주문 번호: 2255 min_total_price: 69691
주문 번호: 2256 min_total_price: 147506
주문 번호: 2257 min_total_price: 58059
주문 번호: 2258 min_total_price: 65904
주문 번호: 2259 min_total_price: 96582
주문 번호: 2260 min_total_price: 157967
주문 번호: 2261 min_total_price: 127601
주문 번호: 2262 min_total_price: 186165
주문 번호: 2263 min_total_price: 71236
주문 번호: 2264 min_total_price: 78908
주문 번호: 2265 min_total_price: 195920
주문 번호: 2266 min_total_price: 132096
주문 번호: 2267 min_total_price: 147259
주문 번호: 2268 min_total_price: 170027
주문 번호: 2269 min_total_price: 47610
주문 번호: 2270 min_total_price: 96769
주문 번호: 2271 min_total_price: 125981
주문 번호: 2272 min_total_price: 104268
주문 번호: 2273 min_total_price: 151168
주문 번호: 2274 min_total_price: 68862
주문 번호: 2275 min_total_price: 140666
주문 번호: 2276 min_total_price: 101786
주문 번호: 2277 min_total_price: 118002
주문 번호: 2278 min_total_price: 171723
주문 번호: 2279 min_total_price: 36146
주문 번호: 2280 min_total_price: 116090
주문 번호: 2281 min_total_price: 126510
주문 번호: 2282 min_total_price: 34563
주문 번호: 2283 min_total_price: 37571
주문 번호: 2284 min_total_price: 67635
주문 번호: 2285 min_total_price: 134763
주문 번호: 2286 min_total_price: 46215
주문 번호: 2287 min_total_price: 123242
주문 번호: 2288 min_total_price: 78387
주문 번호: 2289 min_total_price: 184185
주문 번호: 2290 min_total_price: 93055
주문 번호: 2291 min_total_price: 44439
주문 번호: 2292 min_total_price: 180178
주문 번호: 2293 min_total_price: 185768
주문 번호: 2294 min_total_price: 128299
주문 번호: 2295 min_total_price: 57936
주문 번호: 2296 min_total_price: 157464
주문 번호: 2297 min_total_price: 139716
주문 번호: 2298 min_total_price: 194106
주문 번호: 2299 min_total_price: 176126
주문 번호: 2300 min_total_price: 152372
주문 번호: 2301 min_total_price: 47424
주문 번호: 2302 min_total_price: 36363
주문 번호: 2303 min_total_price: 99608
주문 번호: 2304 min_total_price: 130651
주문 번호: 2305 min_total_price: 56079
주문 번호: 2306 min_total_price: 73698
주문 번호: 2307 min_total_price: 83701
주문 번호: 2308 min_total_price: 93616
주문 번호: 2309 min_total_price: 186692
주문 번호: 2310 min_total_price: 128676
주문 번호: 2311 min_total_price: 105918
주문 번호: 2312 min_total_price: 57845
주문 번호: 2313 min_total_price: 129848
주문 번호: 2314 min_total_price: 162498
주문 번호: 2315 min_total_price: 181069
주문 번호: 2316 min_total_price: 140782
주문 번호: 2317 min_total_price: 54555
주문 번호: 2318 min_total_price: 97533
주문 번호: 2319 min_total_price: 134418
주문 번호: 2320 min_total_price: 86646
주문 번호: 2321 min_total_price: 189446
주문 번호: 2322 min_total_price: 60179
주문 번호: 2323 min_total_price: 137779
주문 번호: 2324 min_total_price: 135874
주문 번호: 2325 min_total_price: 160212
주문 번호: 2326 min_total_price: 169325
주문 번호: 2327 min_total_price: 108771
주문 번호: 2328 min_total_price: 172714
주문 번호: 2329 min_total_price: 160427
주문 번호: 2330 min_total_price: 50609
주문 번호: 2331 min_total_price: 60633
주문 번호: 2332 min_total_price: 192070
주문 번호: 2333 min_total_price: 179225
주문 번호: 2334 min_total_price: 69910
주문 번호: 2335 min_total_price: 37842
주문 번호: 2336 min_total_price: 155824
주문 번호: 2337 min_total_price: 61584
주문 번호: 2338 min_total_price: 49403
주문 번호: 2339 min_total_price: 111646
주문 번호: 2340 min_total_price: 164257
주문 번호: 2341 min_total_price: 138204
주문 번호: 2342 min_total_price: 197266
주문 번호: 2343 min_total_price: 168465
주문 번호: 2344 min_total_price: 134151
주문 번호: 2345 min_total_price: 73693
주문 번호: 2346 min_total_price: 173709
주문 번호: 2347 min_total_price: 61507
주문 번호: 2348 min_total_price: 58739
주문 번호: 2349 min_total_price: 144347
주문 번호: 2350 min_total_price: 50873
주문 번호: 2351 min_total_price: 157889
주문 번호: 2352 min_total_price: 37693
주문 번호: 2353 min_total_price: 92390
주문 번호: 2354 min_total_price: 140914
주문 번호: 2355 min_total_price: 157513
주문 번호: 2356 min_total_price: 33441
주문 번호: 2357 min_total_price: 161740
주문 번호: 2358 min_total_price: 93288
주문 번호: 2359 min_total_price: 74514
주문 번호: 2360 min_total_price: 197035
주문 번호: 2361 min_total_price: 114270
주문 번호: 2362 min_total_price: 55357
주문 번호: 2363 min_total_price: 189188
주문 번호: 2364 min_total_price: 190516
주문 번호: 2365 min_total_price: 129863
주문 번호: 2366 min_total_price: 103333
주문 번호: 2367 min_total_price: 62414
주문 번호: 2368 min_total_price: 98110
주문 번호: 2369 min_total_price: 39837
주문 번호: 2370 min_total_price: 91972
주문 번호: 2371 min_total_price: 51640
주문 번호: 2372 min_total_price: 186080
주문 번호: 2373 min_total_price: 62344
주문 번호: 2374 min_total_price: 199936
주문 번호: 2375 min_total_price: 117390
주문 번호: 2376 min_total_price: 91278
주문 번호: 2377 min_total_price: 80277
주문 번호: 2378 min_total_price: 75188
주문 번호: 2379 min_total_price: 113657
주문 번호: 2380 min_total_price: 116521
주문 번호: 2381 min_total_price: 143060
주문 번호: 2382 min_total_price: 166461
주문 번호: 2383 min_total_price: 153875
주문 번호: 2384 min_total_price: 90749
주문 번호: 2385 min_total_price: 123391
주문 번호: 2386 min_total_price: 143280
주문 번호: 2387 min_total_price: 140079
주문 번호: 2388 min_total_price: 109295
주문 번호: 2389 min_total_price: 61950
주문 번호: 2390 min_total_price: 127823
주문 번호: 2391 min_total_price: 153837
주문 번호: 2392 min_total_price: 180503
주문 번호: 2393 min_total_price: 63615
주문 번호: 2394 min_total_price: 192148
주문 번호: 2395 min_total_price: 135074
주문 번호: 2396 min_total_price: 77735
주문 번호: 2397 min_total_price: 110110
주문 번호: 2398 min_total_price: 142357
주문 번호: 2399 min_total_price: 40555
주문 번호: 2400 min_total_price: 117106
주문 번호: 2401 min_total_price: 82020
주문 번호: 2402 min_total_price: 158491
주문 번호: 2403 min_total_price: 119709
주문 번호: 2404 min_total_price: 48842
주문 번호: 2405 min_total_price: 111593
주문 번호: 2406 min_total_price: 96375
주문 번호: 2407 min_total_price: 173426
주문 번호: 2408 min_total_price: 186759
주문 번호: 2409 min_total_price: 59739
주문 번호: 2410 min_total_price: 71767
주문 번호: 2411 min_total_price: 83287
주문 번호: 2412 min_total_price: 80440
주문 번호: 2413 min_total_price: 51718
주문 번호: 2414 min_total_price: 84893
주문 번호: 2415 min_total_price: 98174
주문 번호: 2416 min_total_price: 71229
주문 번호: 2417 min_total_price: 31222

주문 번호: 2418 min_total_price: 122742
주문 번호: 2419 min_total_price: 141613
주문 번호: 2420 min_total_price: 126056
주문 번호: 2421 min_total_price: 131286
주문 번호: 2422 min_total_price: 77190
주문 번호: 2423 min_total_price: 191909
주문 번호: 2424 min_total_price: 113438
주문 번호: 2425 min_total_price: 154172
주문 번호: 2426 min_total_price: 113549
주문 번호: 2427 min_total_price: 67095
주문 번호: 2428 min_total_price: 103231
주문 번호: 2429 min_total_price: 190730
주문 번호: 2430 min_total_price: 62826
주문 번호: 2431 min_total_price: 133047
주문 번호: 2432 min_total_price: 94229
주문 번호: 2433 min_total_price: 57352
주문 번호: 2434 min_total_price: 65138
주문 번호: 2435 min_total_price: 172037
주문 번호: 2436 min_total_price: 98239
주문 번호: 2437 min_total_price: 41966
주문 번호: 2438 min_total_price: 90713
주문 번호: 2439 min_total_price: 50911
주문 번호: 2440 min_total_price: 114472
주문 번호: 2441 min_total_price: 96861
주문 번호: 2442 min_total_price: 37365
주문 번호: 2443 min_total_price: 88442
주문 번호: 2444 min_total_price: 52719
주문 번호: 2445 min_total_price: 130193
주문 번호: 2446 min_total_price: 140065
주문 번호: 2447 min_total_price: 36730
주문 번호: 2448 min_total_price: 118170
주문 번호: 2449 min_total_price: 197558
주문 번호: 2450 min_total_price: 163448
주문 번호: 2451 min_total_price: 165981
주문 번호: 2452 min_total_price: 78341
주문 번호: 2453 min_total_price: 187746
주문 번호: 2454 min_total_price: 153045
주문 번호: 2455 min_total_price: 76567
주문 번호: 2456 min_total_price: 164886
주문 번호: 2457 min_total_price: 172403
주문 번호: 2458 min_total_price: 30766
주문 번호: 2459 min_total_price: 162606
주문 번호: 2460 min_total_price: 180782
주문 번호: 2461 min_total_price: 130929
주문 번호: 2462 min_total_price: 133129
주문 번호: 2463 min_total_price: 95502
주문 번호: 2464 min_total_price: 49353
주문 번호: 2465 min_total_price: 173442
주문 번호: 2466 min_total_price: 35862
주문 번호: 2467 min_total_price: 199178
주문 번호: 2468 min_total_price: 65623
주문 번호: 2469 min_total_price: 36278
주문 번호: 2470 min_total_price: 191682
주문 번호: 2471 min_total_price: 96505
주문 번호: 2472 min_total_price: 122728
주문 번호: 2473 min_total_price: 87541
주문 번호: 2474 min_total_price: 180145
주문 번호: 2475 min_total_price: 179727
주문 번호: 2476 min_total_price: 190676
주문 번호: 2477 min_total_price: 192188
주문 번호: 2478 min_total_price: 171488
주문 번호: 2479 min_total_price: 149872
주문 번호: 2480 min_total_price: 192735
주문 번호: 2481 min_total_price: 74436
주문 번호: 2482 min_total_price: 165434
주문 번호: 2483 min_total_price: 163278
주문 번호: 2484 min_total_price: 101156
주문 번호: 2485 min_total_price: 152373
주문 번호: 2486 min_total_price: 197980
주문 번호: 2487 min_total_price: 86594
주문 번호: 2488 min_total_price: 106818
주문 번호: 2489 min_total_price: 55045
주문 번호: 2490 min_total_price: 30042
주문 번호: 2491 min_total_price: 58265
주문 번호: 2492 min_total_price: 101341
주문 번호: 2493 min_total_price: 120639
주문 번호: 2494 min_total_price: 141744
주문 번호: 2495 min_total_price: 127997
주문 번호: 2496 min_total_price: 141503
주문 번호: 2497 min_total_price: 37438
주문 번호: 2498 min_total_price: 44690
주문 번호: 2499 min_total_price: 192634
주문 번호: 2500 min_total_price: 70727
주문 번호: 2501 min_total_price: 191045
주문 번호: 2502 min_total_price: 179323
주문 번호: 2503 min_total_price: 115856
주문 번호: 2504 min_total_price: 64919
주문 번호: 2505 min_total_price: 129191
주문 번호: 2506 min_total_price: 191248
주문 번호: 2507 min_total_price: 118522
주문 번호: 2508 min_total_price: 161335
주문 번호: 2509 min_total_price: 79567
주문 번호: 2510 min_total_price: 126804
주문 번호: 2511 min_total_price: 148359
주문 번호: 2512 min_total_price: 68643
주문 번호: 2513 min_total_price: 158551
주문 번호: 2514 min_total_price: 108040
주문 번호: 2515 min_total_price: 127006
주문 번호: 2516 min_total_price: 120249
주문 번호: 2517 min_total_price: 117162
주문 번호: 2518 min_total_price: 166736
주문 번호: 2519 min_total_price: 199183
주문 번호: 2520 min_total_price: 92379
주문 번호: 2521 min_total_price: 175784
주문 번호: 2522 min_total_price: 175705
주문 번호: 2523 min_total_price: 35988
주문 번호: 2524 min_total_price: 105491
주문 번호: 2525 min_total_price: 104190
주문 번호: 2526 min_total_price: 187352
주문 번호: 2527 min_total_price: 194787
주문 번호: 2528 min_total_price: 91773
주문 번호: 2529 min_total_price: 62530
주문 번호: 2530 min_total_price: 138565
주문 번호: 2531 min_total_price: 138399
주문 번호: 2532 min_total_price: 40097
주문 번호: 2533 min_total_price: 56606
주문 번호: 2534 min_total_price: 184646
주문 번호: 2535 min_total_price: 124362
주문 번호: 2536 min_total_price: 141657
주문 번호: 2537 min_total_price: 142255
주문 번호: 2538 min_total_price: 53782
주문 번호: 2539 min_total_price: 145900
주문 번호: 2540 min_total_price: 156106
주문 번호: 2541 min_total_price: 78791
주문 번호: 2542 min_total_price: 195371
주문 번호: 2543 min_total_price: 188363
주문 번호: 2544 min_total_price: 62367
주문 번호: 2545 min_total_price: 44398
주문 번호: 2546 min_total_price: 175327
주문 번호: 2547 min_total_price: 141048
주문 번호: 2548 min_total_price: 162991
주문 번호: 2549 min_total_price: 183828
주문 번호: 2550 min_total_price: 56313
주문 번호: 2551 min_total_price: 67766
주문 번호: 2552 min_total_price: 178150
주문 번호: 2553 min_total_price: 182802
주문 번호: 2554 min_total_price: 119653
주문 번호: 2555 min_total_price: 161771
주문 번호: 2556 min_total_price: 89512
주문 번호: 2557 min_total_price: 169496
주문 번호: 2558 min_total_price: 164611
주문 번호: 2559 min_total_price: 160273
주문 번호: 2560 min_total_price: 154199
주문 번호: 2561 min_total_price: 114046
주문 번호: 2562 min_total_price: 42613
주문 번호: 2563 min_total_price: 105362
주문 번호: 2564 min_total_price: 98188
주문 번호: 2565 min_total_price: 59647
주문 번호: 2566 min_total_price: 191501
주문 번호: 2567 min_total_price: 152273
주문 번호: 2568 min_total_price: 179993
주문 번호: 2569 min_total_price: 78802
주문 번호: 2570 min_total_price: 157206
주문 번호: 2571 min_total_price: 133943
주문 번호: 2572 min_total_price: 178049
주문 번호: 2573 min_total_price: 80602
주문 번호: 2574 min_total_price: 149470
주문 번호: 2575 min_total_price: 190669
주문 번호: 2576 min_total_price: 92548
주문 번호: 2577 min_total_price: 191759
주문 번호: 2578 min_total_price: 49699
주문 번호: 2579 min_total_price: 40731
주문 번호: 2580 min_total_price: 40362
주문 번호: 2581 min_total_price: 86917
주문 번호: 2582 min_total_price: 39739
주문 번호: 2583 min_total_price: 167462
주문 번호: 2584 min_total_price: 122299
주문 번호: 2585 min_total_price: 185111
주문 번호: 2586 min_total_price: 169600
주문 번호: 2587 min_total_price: 134374
주문 번호: 2588 min_total_price: 192528
주문 번호: 2589 min_total_price: 42585
주문 번호: 2590 min_total_price: 97036
주문 번호: 2591 min_total_price: 130953
주문 번호: 2592 min_total_price: 100009
주문 번호: 2593 min_total_price: 75139
주문 번호: 2594 min_total_price: 172411
주문 번호: 2595 min_total_price: 178106
주문 번호: 2596 min_total_price: 33923
주문 번호: 2597 min_total_price: 193617
주문 번호: 2598 min_total_price: 108139
주문 번호: 2599 min_total_price: 32043
주문 번호: 2600 min_total_price: 148460
주문 번호: 2601 min_total_price: 87158
주문 번호: 2602 min_total_price: 90025
주문 번호: 2603 min_total_price: 109499
주문 번호: 2604 min_total_price: 49867
주문 번호: 2605 min_total_price: 192719
주문 번호: 2606 min_total_price: 65514
주문 번호: 2607 min_total_price: 125334
주문 번호: 2608 min_total_price: 88795
주문 번호: 2609 min_total_price: 146647
주문 번호: 2610 min_total_price: 72170
주문 번호: 2611 min_total_price: 108214
주문 번호: 2612 min_total_price: 101037
주문 번호: 2613 min_total_price: 104283
주문 번호: 2614 min_total_price: 101626
주문 번호: 2615 min_total_price: 120614
주문 번호: 2616 min_total_price: 37919
주문 번호: 2617 min_total_price: 80668
주문 번호: 2618 min_total_price: 129147
주문 번호: 2619 min_total_price: 108791
주문 번호: 2620 min_total_price: 188087
주문 번호: 2621 min_total_price: 41302
주문 번호: 2622 min_total_price: 71782
주문 번호: 2623 min_total_price: 183099
주문 번호: 2624 min_total_price: 164499
주문 번호: 2625 min_total_price: 160461
주문 번호: 2626 min_total_price: 139748
주문 번호: 2627 min_total_price: 47867
주문 번호: 2628 min_total_price: 30297
주문 번호: 2629 min_total_price: 176450
주문 번호: 2630 min_total_price: 61500
주문 번호: 2631 min_total_price: 193784
주문 번호: 2632 min_total_price: 81242
주문 번호: 2633 min_total_price: 46715
주문 번호: 2634 min_total_price: 191877
주문 번호: 2635 min_total_price: 96654
주문 번호: 2636 min_total_price: 148486
주문 번호: 2637 min_total_price: 143193
주문 번호: 2638 min_total_price: 84457
주문 번호: 2639 min_total_price: 157921
주문 번호: 2640 min_total_price: 84959
주문 번호: 2641 min_total_price: 114679
주문 번호: 2642 min_total_price: 191100
주문 번호: 2643 min_total_price: 44282
주문 번호: 2644 min_total_price: 173150
주문 번호: 2645 min_total_price: 55464
주문 번호: 2646 min_total_price: 143341
주문 번호: 2647 min_total_price: 153276
주문 번호: 2648 min_total_price: 103682
주문 번호: 2649 min_total_price: 41403
주문 번호: 2650 min_total_price: 136702
주문 번호: 2651 min_total_price: 146650
주문 번호: 2652 min_total_price: 35511
주문 번호: 2653 min_total_price: 191831
주문 번호: 2654 min_total_price: 34526
주문 번호: 2655 min_total_price: 188425
주문 번호: 2656 min_total_price: 138432
주문 번호: 2657 min_total_price: 41750
주문 번호: 2658 min_total_price: 32097
주문 번호: 2659 min_total_price: 143390
주문 번호: 2660 min_total_price: 129989
주문 번호: 2661 min_total_price: 116107
주문 번호: 2662 min_total_price: 67366
주문 번호: 2663 min_total_price: 185863
주문 번호: 2664 min_total_price: 126692
주문 번호: 2665 min_total_price: 141879
주문 번호: 2666 min_total_price: 103203
주문 번호: 2667 min_total_price: 52795
주문 번호: 2668 min_total_price: 135989
주문 번호: 2669 min_total_price: 151476
주문 번호: 2670 min_total_price: 53671
주문 번호: 2671 min_total_price: 66738
주문 번호: 2672 min_total_price: 156512
주문 번호: 2673 min_total_price: 120905
주문 번호: 2674 min_total_price: 39072
주문 번호: 2675 min_total_price: 72315
주문 번호: 2676 min_total_price: 126521
주문 번호: 2677 min_total_price: 94527
주문 번호: 2678 min_total_price: 175432
주문 번호: 2679 min_total_price: 191212
주문 번호: 2680 min_total_price: 52130
주문 번호: 2681 min_total_price: 38024
주문 번호: 2682 min_total_price: 62872
주문 번호: 2683 min_total_price: 164579
주문 번호: 2684 min_total_price: 84558
주문 번호: 2685 min_total_price: 192878
주문 번호: 2686 min_total_price: 145506
주문 번호: 2687 min_total_price: 143783
주문 번호: 2688 min_total_price: 115281
주문 번호: 2689 min_total_price: 82350
주문 번호: 2690 min_total_price: 55207
주문 번호: 2691 min_total_price: 138520
주문 번호: 2692 min_total_price: 93835
주문 번호: 2693 min_total_price: 169666
주문 번호: 2694 min_total_price: 148237
주문 번호: 2695 min_total_price: 100097
주문 번호: 2696 min_total_price: 196522
주문 번호: 2697 min_total_price: 115064
주문 번호: 2698 min_total_price: 55204
주문 번호: 2699 min_total_price: 85379
주문 번호: 2700 min_total_price: 51983
주문 번호: 2701 min_total_price: 45864
주문 번호: 2702 min_total_price: 77701
주문 번호: 2703 min_total_price: 30917
주문 번호: 2704 min_total_price: 175624
주문 번호: 2705 min_total_price: 184274
주문 번호: 2706 min_total_price: 183956
주문 번호: 2707 min_total_price: 57135
주문 번호: 2708 min_total_price: 102624
주문 번호: 2709 min_total_price: 82406
주문 번호: 2710 min_total_price: 42445
주문 번호: 2711 min_total_price: 191412
주문 번호: 2712 min_total_price: 154565
주문 번호: 2713 min_total_price: 80547
주문 번호: 2714 min_total_price: 159100
주문 번호: 2715 min_total_price: 51415
주문 번호: 2716 min_total_price: 91294
주문 번호: 2717 min_total_price: 144086
주문 번호: 2718 min_total_price: 53255
주문 번호: 2719 min_total_price: 180331
주문 번호: 2720 min_total_price: 135006
주문 번호: 2721 min_total_price: 145143
주문 번호: 2722 min_total_price: 34075
주문 번호: 2723 min_total_price: 78741
주문 번호: 2724 min_total_price: 89748
주문 번호: 2725 min_total_price: 158847
주문 번호: 2726 min_total_price: 31392
주문 번호: 2727 min_total_price: 57291
주문 번호: 2728 min_total_price: 185508
주문 번호: 2729 min_total_price: 151452
주문 번호: 2730 min_total_price: 48705
주문 번호: 2731 min_total_price: 103609
주문 번호: 2732 min_total_price: 140302
주문 번호: 2733 min_total_price: 49856
주문 번호: 2734 min_total_price: 103874
주문 번호: 2735 min_total_price: 98361
주문 번호: 2736 min_total_price: 194242
주문 번호: 2737 min_total_price: 80842
주문 번호: 2738 min_total_price: 167076
주문 번호: 2739 min_total_price: 81042
주문 번호: 2740 min_total_price: 159094
주문 번호: 2741 min_total_price: 173747
주문 번호: 2742 min_total_price: 142592
주문 번호: 2743 min_total_price: 139459
주문 번호: 2744 min_total_price: 37141
주문 번호: 2745 min_total_price: 163670
주문 번호: 2746 min_total_price: 157714
주문 번호: 2747 min_total_price: 102970
주문 번호: 2748 min_total_price: 59062
주문 번호: 2749 min_total_price: 137934
주문 번호: 2750 min_total_price: 132798
주문 번호: 2751 min_total_price: 181968
주문 번호: 2752 min_total_price: 178764
주문 번호: 2753 min_total_price: 118479
주문 번호: 2754 min_total_price: 59407
주문 번호: 2755 min_total_price: 161570
주문 번호: 2756 min_total_price: 182187
주문 번호: 2757 min_total_price: 110875
주문 번호: 2758 min_total_price: 149465
주문 번호: 2759 min_total_price: 106171
주문 번호: 2760 min_total_price: 94494
주문 번호: 2761 min_total_price: 171082
주문 번호: 2762 min_total_price: 41501
주문 번호: 2763 min_total_price: 195779
주문 번호: 2764 min_total_price: 53495
주문 번호: 2765 min_total_price: 100572
주문 번호: 2766 min_total_price: 43789
주문 번호: 2767 min_total_price: 149215
주문 번호: 2768 min_total_price: 182643
주문 번호: 2769 min_total_price: 74049
주문 번호: 2770 min_total_price: 141367
주문 번호: 2771 min_total_price: 55867
주문 번호: 2772 min_total_price: 141535
주문 번호: 2773 min_total_price: 48274
주문 번호: 2774 min_total_price: 107804
주문 번호: 2775 min_total_price: 184311
주문 번호: 2776 min_total_price: 102939
주문 번호: 2777 min_total_price: 181148
주문 번호: 2778 min_total_price: 159222
주문 번호: 2779 min_total_price: 174625
주문 번호: 2780 min_total_price: 74682
주문 번호: 2781 min_total_price: 131175
주문 번호: 2782 min_total_price: 33179
주문 번호: 2783 min_total_price: 37284
주문 번호: 2784 min_total_price: 175209
주문 번호: 2785 min_total_price: 87964
주문 번호: 2786 min_total_price: 56704
주문 번호: 2787 min_total_price: 94466
주문 번호: 2788 min_total_price: 159337
주문 번호: 2789 min_total_price: 132360
주문 번호: 2790 min_total_price: 144711
주문 번호: 2791 min_total_price: 65444
주문 번호: 2792 min_total_price: 176715
주문 번호: 2793 min_total_price: 188205
주문 번호: 2794 min_total_price: 198319
주문 번호: 2795 min_total_price: 190792
주문 번호: 2796 min_total_price: 47536
주문 번호: 2797 min_total_price: 188893
주문 번호: 2798 min_total_price: 132366
주문 번호: 2799 min_total_price: 177245
주문 번호: 2800 min_total_price: 98507
주문 번호: 2801 min_total_price: 92261
주문 번호: 2802 min_total_price: 159893
주문 번호: 2803 min_total_price: 78817
주문 번호: 2804 min_total_price: 66826
주문 번호: 2805 min_total_price: 187186
주문 번호: 2806 min_total_price: 173541
주문 번호: 2807 min_total_price: 155449
주문 번호: 2808 min_total_price: 168953
주문 번호: 2809 min_total_price: 75258
주문 번호: 2810 min_total_price: 75675
주문 번호: 2811 min_total_price: 51576
주문 번호: 2812 min_total_price: 63379
주문 번호: 2813 min_total_price: 131303
주문 번호: 2814 min_total_price: 129048
주문 번호: 2815 min_total_price: 97745
주문 번호: 2816 min_total_price: 75098

주문 번호: 2817 min_total_price: 100641
주문 번호: 2818 min_total_price: 50030
주문 번호: 2819 min_total_price: 56047
주문 번호: 2820 min_total_price: 155850
주문 번호: 2821 min_total_price: 180405
주문 번호: 2822 min_total_price: 59036
주문 번호: 2823 min_total_price: 167664
주문 번호: 2824 min_total_price: 195658
주문 번호: 2825 min_total_price: 180925
주문 번호: 2826 min_total_price: 87756
주문 번호: 2827 min_total_price: 186652
주문 번호: 2828 min_total_price: 67520
주문 번호: 2829 min_total_price: 36920
주문 번호: 2830 min_total_price: 125577
주문 번호: 2831 min_total_price: 78697
주문 번호: 2832 min_total_price: 140406
주문 번호: 2833 min_total_price: 69892
주문 번호: 2834 min_total_price: 107319
주문 번호: 2835 min_total_price: 132788
주문 번호: 2836 min_total_price: 62592
주문 번호: 2837 min_total_price: 184053
주문 번호: 2838 min_total_price: 198691
주문 번호: 2839 min_total_price: 133122
주문 번호: 2840 min_total_price: 181668
주문 번호: 2841 min_total_price: 185245
주문 번호: 2842 min_total_price: 177041
주문 번호: 2843 min_total_price: 144107
주문 번호: 2844 min_total_price: 83788
주문 번호: 2845 min_total_price: 199177
주문 번호: 2846 min_total_price: 73220
주문 번호: 2847 min_total_price: 101736
주문 번호: 2848 min_total_price: 52981
주문 번호: 2849 min_total_price: 54028
주문 번호: 2850 min_total_price: 159477
주문 번호: 2851 min_total_price: 159329
주문 번호: 2852 min_total_price: 95736
주문 번호: 2853 min_total_price: 95251
주문 번호: 2854 min_total_price: 52357
주문 번호: 2855 min_total_price: 87202
주문 번호: 2856 min_total_price: 198119
주문 번호: 2857 min_total_price: 159555
주문 번호: 2858 min_total_price: 123779
주문 번호: 2859 min_total_price: 100749
주문 번호: 2860 min_total_price: 132475
주문 번호: 2861 min_total_price: 135024
주문 번호: 2862 min_total_price: 33271
주문 번호: 2863 min_total_price: 72678
주문 번호: 2864 min_total_price: 129776
주문 번호: 2865 min_total_price: 112346
주문 번호: 2866 min_total_price: 188047
주문 번호: 2867 min_total_price: 109065
주문 번호: 2868 min_total_price: 52090
주문 번호: 2869 min_total_price: 198558
주문 번호: 2870 min_total_price: 172551
주문 번호: 2871 min_total_price: 148709
주문 번호: 2872 min_total_price: 117343
주문 번호: 2873 min_total_price: 133972
주문 번호: 2874 min_total_price: 58693
주문 번호: 2875 min_total_price: 49789
주문 번호: 2876 min_total_price: 170146
주문 번호: 2877 min_total_price: 89145
주문 번호: 2878 min_total_price: 73579
주문 번호: 2879 min_total_price: 82605
주문 번호: 2880 min_total_price: 112517
주문 번호: 2881 min_total_price: 189919
주문 번호: 2882 min_total_price: 91207
주문 번호: 2883 min_total_price: 36611
주문 번호: 2884 min_total_price: 83497
주문 번호: 2885 min_total_price: 89723
주문 번호: 2886 min_total_price: 133081
주문 번호: 2887 min_total_price: 128881
주문 번호: 2888 min_total_price: 105746
주문 번호: 2889 min_total_price: 45877
주문 번호: 2890 min_total_price: 166053
주문 번호: 2891 min_total_price: 70106
주문 번호: 2892 min_total_price: 66205
주문 번호: 2893 min_total_price: 142252
주문 번호: 2894 min_total_price: 125991
주문 번호: 2895 min_total_price: 156357
주문 번호: 2896 min_total_price: 68886
주문 번호: 2897 min_total_price: 155866
주문 번호: 2898 min_total_price: 125340
주문 번호: 2899 min_total_price: 156775
주문 번호: 2900 min_total_price: 35040
주문 번호: 2901 min_total_price: 151463
주문 번호: 2902 min_total_price: 177856
주문 번호: 2903 min_total_price: 175492
주문 번호: 2904 min_total_price: 143108
주문 번호: 2905 min_total_price: 115611
주문 번호: 2906 min_total_price: 46219
주문 번호: 2907 min_total_price: 156706
주문 번호: 2908 min_total_price: 141926
주문 번호: 2909 min_total_price: 177450
주문 번호: 2910 min_total_price: 183138
주문 번호: 2911 min_total_price: 191912
주문 번호: 2912 min_total_price: 80452
주문 번호: 2913 min_total_price: 175736
주문 번호: 2914 min_total_price: 174630
주문 번호: 2915 min_total_price: 126693
주문 번호: 2916 min_total_price: 142750
주문 번호: 2917 min_total_price: 65420
주문 번호: 2918 min_total_price: 157467
주문 번호: 2919 min_total_price: 194572
주문 번호: 2920 min_total_price: 63367
주문 번호: 2921 min_total_price: 48038
주문 번호: 2922 min_total_price: 140194
주문 번호: 2923 min_total_price: 65514
주문 번호: 2924 min_total_price: 149911
주문 번호: 2925 min_total_price: 146861
주문 번호: 2926 min_total_price: 124834
주문 번호: 2927 min_total_price: 83755
주문 번호: 2928 min_total_price: 56074
주문 번호: 2929 min_total_price: 125120
주문 번호: 2930 min_total_price: 184860
주문 번호: 2931 min_total_price: 86376
주문 번호: 2932 min_total_price: 64062
주문 번호: 2933 min_total_price: 41834
주문 번호: 2934 min_total_price: 70115
주문 번호: 2935 min_total_price: 142199
주문 번호: 2936 min_total_price: 197548
주문 번호: 2937 min_total_price: 134123
주문 번호: 2938 min_total_price: 197831
주문 번호: 2939 min_total_price: 116007
주문 번호: 2940 min_total_price: 37555
주문 번호: 2941 min_total_price: 164480
주문 번호: 2942 min_total_price: 128230
주문 번호: 2943 min_total_price: 40749
주문 번호: 2944 min_total_price: 146414
주문 번호: 2945 min_total_price: 191171
주문 번호: 2946 min_total_price: 123833
주문 번호: 2947 min_total_price: 86656
주문 번호: 2948 min_total_price: 44088
주문 번호: 2949 min_total_price: 54169
주문 번호: 2950 min_total_price: 110760
주문 번호: 2951 min_total_price: 171082
주문 번호: 2952 min_total_price: 111773
주문 번호: 2953 min_total_price: 165065
주문 번호: 2954 min_total_price: 148803
주문 번호: 2955 min_total_price: 162877
주문 번호: 2956 min_total_price: 194077
주문 번호: 2957 min_total_price: 85417
주문 번호: 2958 min_total_price: 175828
주문 번호: 2959 min_total_price: 161283
주문 번호: 2960 min_total_price: 50858
주문 번호: 2961 min_total_price: 39321
주문 번호: 2962 min_total_price: 156138
주문 번호: 2963 min_total_price: 75331
주문 번호: 2964 min_total_price: 171265
주문 번호: 2965 min_total_price: 124239
주문 번호: 2966 min_total_price: 151869
주문 번호: 2967 min_total_price: 165854
주문 번호: 2968 min_total_price: 35766
주문 번호: 2969 min_total_price: 81467
주문 번호: 2970 min_total_price: 70219
주문 번호: 2971 min_total_price: 118031
주문 번호: 2972 min_total_price: 150117
주문 번호: 2973 min_total_price: 80457
주문 번호: 2974 min_total_price: 189073
주문 번호: 2975 min_total_price: 78153
주문 번호: 2976 min_total_price: 30516
주문 번호: 2977 min_total_price: 90167
주문 번호: 2978 min_total_price: 130772
주문 번호: 2979 min_total_price: 151685
주문 번호: 2980 min_total_price: 77155
주문 번호: 2981 min_total_price: 182876
주문 번호: 2982 min_total_price: 128658
주문 번호: 2983 min_total_price: 140952
주문 번호: 2984 min_total_price: 121986
주문 번호: 2985 min_total_price: 147460
주문 번호: 2986 min_total_price: 125942
주문 번호: 2987 min_total_price: 183019
주문 번호: 2988 min_total_price: 49484
주문 번호: 2989 min_total_price: 57506
주문 번호: 2990 min_total_price: 155539
주문 번호: 2991 min_total_price: 192066
주문 번호: 2992 min_total_price: 185248
주문 번호: 2993 min_total_price: 164584
주문 번호: 2994 min_total_price: 69962
주문 번호: 2995 min_total_price: 190554
주문 번호: 2996 min_total_price: 103933
주문 번호: 2997 min_total_price: 44079
주문 번호: 2998 min_total_price: 195217
주문 번호: 2999 min_total_price: 30035
주문 번호: 3000 min_total_price: 132184
주문 번호: 3001 min_total_price: 199678
주문 번호: 3002 min_total_price: 34057
주문 번호: 3003 min_total_price: 193498
주문 번호: 3004 min_total_price: 46466
주문 번호: 3005 min_total_price: 127786
주문 번호: 3006 min_total_price: 80852
주문 번호: 3007 min_total_price: 118753
주문 번호: 3008 min_total_price: 57587
주문 번호: 3009 min_total_price: 56475
주문 번호: 3010 min_total_price: 91604
주문 번호: 3011 min_total_price: 182873
주문 번호: 3012 min_total_price: 50674
주문 번호: 3013 min_total_price: 102301
주문 번호: 3014 min_total_price: 194747
주문 번호: 3015 min_total_price: 48872
주문 번호: 3016 min_total_price: 163003
주문 번호: 3017 min_total_price: 31523
주문 번호: 3018 min_total_price: 186627
주문 번호: 3019 min_total_price: 177262
주문 번호: 3020 min_total_price: 90845
주문 번호: 3021 min_total_price: 35088
주문 번호: 3022 min_total_price: 150364
주문 번호: 3023 min_total_price: 157469
주문 번호: 3024 min_total_price: 147890
주문 번호: 3025 min_total_price: 172538
주문 번호: 3026 min_total_price: 190102
주문 번호: 3027 min_total_price: 129281
주문 번호: 3028 min_total_price: 192797
주문 번호: 3029 min_total_price: 82696
주문 번호: 3030 min_total_price: 106465
주문 번호: 3031 min_total_price: 122975
주문 번호: 3032 min_total_price: 47861
주문 번호: 3033 min_total_price: 44263
주문 번호: 3034 min_total_price: 41425
주문 번호: 3035 min_total_price: 45064
주문 번호: 3036 min_total_price: 39981
주문 번호: 3037 min_total_price: 163124
주문 번호: 3038 min_total_price: 108607
주문 번호: 3039 min_total_price: 62136
주문 번호: 3040 min_total_price: 181409
주문 번호: 3041 min_total_price: 158252
주문 번호: 3042 min_total_price: 53186
주문 번호: 3043 min_total_price: 63901
주문 번호: 3044 min_total_price: 145651
주문 번호: 3045 min_total_price: 182265
주문 번호: 3046 min_total_price: 93976
주문 번호: 3047 min_total_price: 67949
주문 번호: 3048 min_total_price: 189316
주문 번호: 3049 min_total_price: 47594
주문 번호: 3050 min_total_price: 108091
주문 번호: 3051 min_total_price: 103561
주문 번호: 3052 min_total_price: 64526
주문 번호: 3053 min_total_price: 40027
주문 번호: 3054 min_total_price: 30705
주문 번호: 3055 min_total_price: 171478
주문 번호: 3056 min_total_price: 137081
주문 번호: 3057 min_total_price: 31789
주문 번호: 3058 min_total_price: 56637
주문 번호: 3059 min_total_price: 80988
주문 번호: 3060 min_total_price: 88410
주문 번호: 3061 min_total_price: 180046
주문 번호: 3062 min_total_price: 95646
주문 번호: 3063 min_total_price: 60485
주문 번호: 3064 min_total_price: 198052
주문 번호: 3065 min_total_price: 148396
주문 번호: 3066 min_total_price: 57953
주문 번호: 3067 min_total_price: 76405
주문 번호: 3068 min_total_price: 105096
주문 번호: 3069 min_total_price: 72106
주문 번호: 3070 min_total_price: 145593
주문 번호: 3071 min_total_price: 48826
주문 번호: 3072 min_total_price: 84670
주문 번호: 3073 min_total_price: 132982
주문 번호: 3074 min_total_price: 87251
주문 번호: 3075 min_total_price: 164395
주문 번호: 3076 min_total_price: 166591
주문 번호: 3077 min_total_price: 127211
주문 번호: 3078 min_total_price: 84627
주문 번호: 3079 min_total_price: 179823
주문 번호: 3080 min_total_price: 195467
주문 번호: 3081 min_total_price: 122868
주문 번호: 3082 min_total_price: 187632
주문 번호: 3083 min_total_price: 131350
주문 번호: 3084 min_total_price: 54243
주문 번호: 3085 min_total_price: 133587
주문 번호: 3086 min_total_price: 77933
주문 번호: 3087 min_total_price: 111222
주문 번호: 3088 min_total_price: 43353
주문 번호: 3089 min_total_price: 142821
주문 번호: 3090 min_total_price: 175409
주문 번호: 3091 min_total_price: 41503
주문 번호: 3092 min_total_price: 63939
주문 번호: 3093 min_total_price: 177529
주문 번호: 3094 min_total_price: 136138
주문 번호: 3095 min_total_price: 115701
주문 번호: 3096 min_total_price: 52876
주문 번호: 3097 min_total_price: 156890
주문 번호: 3098 min_total_price: 46095
주문 번호: 3099 min_total_price: 186114

주문 번호: 3100 min_total_price: 161449
주문 번호: 3101 min_total_price: 191641
주문 번호: 3102 min_total_price: 121817
주문 번호: 3103 min_total_price: 177883
주문 번호: 3104 min_total_price: 108523
주문 번호: 3105 min_total_price: 65809
주문 번호: 3106 min_total_price: 199853
주문 번호: 3107 min_total_price: 96633
주문 번호: 3108 min_total_price: 47881
주문 번호: 3109 min_total_price: 42823
주문 번호: 3110 min_total_price: 123897
주문 번호: 3111 min_total_price: 117140
주문 번호: 3112 min_total_price: 153827
주문 번호: 3113 min_total_price: 30867
주문 번호: 3114 min_total_price: 38806
주문 번호: 3115 min_total_price: 124039
주문 번호: 3116 min_total_price: 183451
주문 번호: 3117 min_total_price: 176066
주문 번호: 3118 min_total_price: 103594
주문 번호: 3119 min_total_price: 80437
주문 번호: 3120 min_total_price: 106117
주문 번호: 3121 min_total_price: 182844
주문 번호: 3122 min_total_price: 163146
주문 번호: 3123 min_total_price: 155334
주문 번호: 3124 min_total_price: 34792
주문 번호: 3125 min_total_price: 143524
주문 번호: 3126 min_total_price: 93679
주문 번호: 3127 min_total_price: 85483
주문 번호: 3128 min_total_price: 141168
주문 번호: 3129 min_total_price: 112522
주문 번호: 3130 min_total_price: 36214
주문 번호: 3131 min_total_price: 88377
주문 번호: 3132 min_total_price: 53988
주문 번호: 3133 min_total_price: 190232
주문 번호: 3134 min_total_price: 154580
주문 번호: 3135 min_total_price: 104722
주문 번호: 3136 min_total_price: 57592
주문 번호: 3137 min_total_price: 106717
주문 번호: 3138 min_total_price: 199985
주문 번호: 3139 min_total_price: 101629
주문 번호: 3140 min_total_price: 164437
주문 번호: 3141 min_total_price: 192776
주문 번호: 3142 min_total_price: 131115
주문 번호: 3143 min_total_price: 183731
주문 번호: 3144 min_total_price: 145316
주문 번호: 3145 min_total_price: 106470
주문 번호: 3146 min_total_price: 183393
주문 번호: 3147 min_total_price: 123808
주문 번호: 3148 min_total_price: 94221
주문 번호: 3149 min_total_price: 81342
주문 번호: 3150 min_total_price: 102840
주문 번호: 3151 min_total_price: 116886
주문 번호: 3152 min_total_price: 40236
주문 번호: 3153 min_total_price: 144817
주문 번호: 3154 min_total_price: 162963
주문 번호: 3155 min_total_price: 52124
주문 번호: 3156 min_total_price: 61843
주문 번호: 3157 min_total_price: 96950
주문 번호: 3158 min_total_price: 170208
주문 번호: 3159 min_total_price: 43623
주문 번호: 3160 min_total_price: 104240
주문 번호: 3161 min_total_price: 139784
주문 번호: 3162 min_total_price: 104668
주문 번호: 3163 min_total_price: 73517
주문 번호: 3164 min_total_price: 109182
주문 번호: 3165 min_total_price: 135148
주문 번호: 3166 min_total_price: 89824
주문 번호: 3167 min_total_price: 106006
주문 번호: 3168 min_total_price: 149474
주문 번호: 3169 min_total_price: 97893
주문 번호: 3170 min_total_price: 46836
주문 번호: 3171 min_total_price: 174699
주문 번호: 3172 min_total_price: 98873
주문 번호: 3173 min_total_price: 60031
주문 번호: 3174 min_total_price: 161597
주문 번호: 3175 min_total_price: 137587
주문 번호: 3176 min_total_price: 171045
주문 번호: 3177 min_total_price: 89487
주문 번호: 3178 min_total_price: 182636
주문 번호: 3179 min_total_price: 174945
주문 번호: 3180 min_total_price: 183630
주문 번호: 3181 min_total_price: 37757
주문 번호: 3182 min_total_price: 175522
주문 번호: 3183 min_total_price: 144210
주문 번호: 3184 min_total_price: 71386
주문 번호: 3185 min_total_price: 66206
주문 번호: 3186 min_total_price: 169139
주문 번호: 3187 min_total_price: 79833
주문 번호: 3188 min_total_price: 33807
주문 번호: 3189 min_total_price: 64386
주문 번호: 3190 min_total_price: 82479
주문 번호: 3191 min_total_price: 181431
주문 번호: 3192 min_total_price: 147806
주문 번호: 3193 min_total_price: 96642
주문 번호: 3194 min_total_price: 172277
주문 번호: 3195 min_total_price: 94736
주문 번호: 3196 min_total_price: 115802
주문 번호: 3197 min_total_price: 66879
주문 번호: 3198 min_total_price: 139017
주문 번호: 3199 min_total_price: 166265
주문 번호: 3200 min_total_price: 155786
주문 번호: 3201 min_total_price: 105450
주문 번호: 3202 min_total_price: 191227
주문 번호: 3203 min_total_price: 183722
주문 번호: 3204 min_total_price: 105082
주문 번호: 3205 min_total_price: 182917
주문 번호: 3206 min_total_price: 72538
주문 번호: 3207 min_total_price: 118336
주문 번호: 3208 min_total_price: 58463
주문 번호: 3209 min_total_price: 148318
주문 번호: 3210 min_total_price: 44114
주문 번호: 3211 min_total_price: 117210
주문 번호: 3212 min_total_price: 120645
주문 번호: 3213 min_total_price: 191574
주문 번호: 3214 min_total_price: 154969
주문 번호: 3215 min_total_price: 68686
주문 번호: 3216 min_total_price: 84122
주문 번호: 3217 min_total_price: 49482
주문 번호: 3218 min_total_price: 185417
주문 번호: 3219 min_total_price: 31073
주문 번호: 3220 min_total_price: 80275
주문 번호: 3221 min_total_price: 146854
주문 번호: 3222 min_total_price: 148456
주문 번호: 3223 min_total_price: 198204
주문 번호: 3224 min_total_price: 189458
주문 번호: 3225 min_total_price: 189384
주문 번호: 3226 min_total_price: 168999
주문 번호: 3227 min_total_price: 193312
주문 번호: 3228 min_total_price: 77641
주문 번호: 3229 min_total_price: 39050
주문 번호: 3230 min_total_price: 169239
주문 번호: 3231 min_total_price: 33073
주문 번호: 3232 min_total_price: 73202
주문 번호: 3233 min_total_price: 181055
주문 번호: 3234 min_total_price: 67232
주문 번호: 3235 min_total_price: 60828
주문 번호: 3236 min_total_price: 118994
주문 번호: 3237 min_total_price: 78275
주문 번호: 3238 min_total_price: 64220
주문 번호: 3239 min_total_price: 194363
주문 번호: 3240 min_total_price: 139982
주문 번호: 3241 min_total_price: 125105
주문 번호: 3242 min_total_price: 108353
주문 번호: 3243 min_total_price: 72624
주문 번호: 3244 min_total_price: 194211
주문 번호: 3245 min_total_price: 111362
주문 번호: 3246 min_total_price: 54892
주문 번호: 3247 min_total_price: 67696
주문 번호: 3248 min_total_price: 176882
주문 번호: 3249 min_total_price: 178731
주문 번호: 3250 min_total_price: 98317
주문 번호: 3251 min_total_price: 46854
주문 번호: 3252 min_total_price: 73417
주문 번호: 3253 min_total_price: 142545
주문 번호: 3254 min_total_price: 168288
주문 번호: 3255 min_total_price: 32692
주문 번호: 3256 min_total_price: 60314
주문 번호: 3257 min_total_price: 163755
주문 번호: 3258 min_total_price: 73317
주문 번호: 3259 min_total_price: 96152
주문 번호: 3260 min_total_price: 130858
주문 번호: 3261 min_total_price: 91091
주문 번호: 3262 min_total_price: 121261
주문 번호: 3263 min_total_price: 180518
주문 번호: 3264 min_total_price: 86374
주문 번호: 3265 min_total_price: 51321
주문 번호: 3266 min_total_price: 142563
주문 번호: 3267 min_total_price: 146737
주문 번호: 3268 min_total_price: 142872
주문 번호: 3269 min_total_price: 142296
주문 번호: 3270 min_total_price: 76887
주문 번호: 3271 min_total_price: 37593
주문 번호: 3272 min_total_price: 79925
주문 번호: 3273 min_total_price: 139441
주문 번호: 3274 min_total_price: 87855
주문 번호: 3275 min_total_price: 49975
주문 번호: 3276 min_total_price: 94648
주문 번호: 3277 min_total_price: 35590
주문 번호: 3278 min_total_price: 121800
주문 번호: 3279 min_total_price: 53224
주문 번호: 3280 min_total_price: 113551
주문 번호: 3281 min_total_price: 74941
주문 번호: 3282 min_total_price: 59719
주문 번호: 3283 min_total_price: 108537
주문 번호: 3284 min_total_price: 170292
주문 번호: 3285 min_total_price: 80662
주문 번호: 3286 min_total_price: 89734
주문 번호: 3287 min_total_price: 68672
주문 번호: 3288 min_total_price: 91697
주문 번호: 3289 min_total_price: 102758
주문 번호: 3290 min_total_price: 124731
주문 번호: 3291 min_total_price: 105021
주문 번호: 3292 min_total_price: 69639
주문 번호: 3293 min_total_price: 159151
주문 번호: 3294 min_total_price: 147724
주문 번호: 3295 min_total_price: 82496
주문 번호: 3296 min_total_price: 79188
주문 번호: 3297 min_total_price: 164906
주문 번호: 3298 min_total_price: 168206
주문 번호: 3299 min_total_price: 61397
주문 번호: 3300 min_total_price: 53469
주문 번호: 3301 min_total_price: 163519
주문 번호: 3302 min_total_price: 37691
주문 번호: 3303 min_total_price: 31180
주문 번호: 3304 min_total_price: 183027
주문 번호: 3305 min_total_price: 198644
주문 번호: 3306 min_total_price: 92050
주문 번호: 3307 min_total_price: 76633
주문 번호: 3308 min_total_price: 33780
주문 번호: 3309 min_total_price: 165174
주문 번호: 3310 min_total_price: 186320
주문 번호: 3311 min_total_price: 193292
주문 번호: 3312 min_total_price: 82918
주문 번호: 3313 min_total_price: 133282
주문 번호: 3314 min_total_price: 119190
주문 번호: 3315 min_total_price: 137404
주문 번호: 3316 min_total_price: 179933
주문 번호: 3317 min_total_price: 189130
주문 번호: 3318 min_total_price: 135586
주문 번호: 3319 min_total_price: 124664
주문 번호: 3320 min_total_price: 51219
주문 번호: 3321 min_total_price: 48141
주문 번호: 3322 min_total_price: 199920
주문 번호: 3323 min_total_price: 32181
주문 번호: 3324 min_total_price: 131108
주문 번호: 3325 min_total_price: 185187
주문 번호: 3326 min_total_price: 190546
주문 번호: 3327 min_total_price: 157956
주문 번호: 3328 min_total_price: 109938
주문 번호: 3329 min_total_price: 173432
주문 번호: 3330 min_total_price: 162444
주문 번호: 3331 min_total_price: 173295
주문 번호: 3332 min_total_price: 76554
주문 번호: 3333 min_total_price: 82384
주문 번호: 3334 min_total_price: 68259
주문 번호: 3335 min_total_price: 34461
주문 번호: 3336 min_total_price: 134118

주문 번호: 3337 min_total_price: 84680
주문 번호: 3338 min_total_price: 104973
주문 번호: 3339 min_total_price: 193191
주문 번호: 3340 min_total_price: 32636
주문 번호: 3341 min_total_price: 183970
주문 번호: 3342 min_total_price: 36150
주문 번호: 3343 min_total_price: 174331
주문 번호: 3344 min_total_price: 107806
주문 번호: 3345 min_total_price: 98815
주문 번호: 3346 min_total_price: 167662
주문 번호: 3347 min_total_price: 104937
주문 번호: 3348 min_total_price: 184950
주문 번호: 3349 min_total_price: 81826
주문 번호: 3350 min_total_price: 192299
주문 번호: 3351 min_total_price: 171465
주문 번호: 3352 min_total_price: 171699
주문 번호: 3353 min_total_price: 113250
주문 번호: 3354 min_total_price: 148027
주문 번호: 3355 min_total_price: 141995
주문 번호: 3356 min_total_price: 52220
주문 번호: 3357 min_total_price: 174986
주문 번호: 3358 min_total_price: 121604
주문 번호: 3359 min_total_price: 130441
주문 번호: 3360 min_total_price: 58880
주문 번호: 3361 min_total_price: 96180
주문 번호: 3362 min_total_price: 125903
주문 번호: 3363 min_total_price: 116001
주문 번호: 3364 min_total_price: 133893
주문 번호: 3365 min_total_price: 116022
주문 번호: 3366 min_total_price: 81744
주문 번호: 3367 min_total_price: 148691
주문 번호: 3368 min_total_price: 151926
주문 번호: 3369 min_total_price: 119998
주문 번호: 3370 min_total_price: 80378
주문 번호: 3371 min_total_price: 41284
주문 번호: 3372 min_total_price: 82567
주문 번호: 3373 min_total_price: 179332
주문 번호: 3374 min_total_price: 31796
주문 번호: 3375 min_total_price: 117628
주문 번호: 3376 min_total_price: 131410
주문 번호: 3377 min_total_price: 180892
주문 번호: 3378 min_total_price: 131402
주문 번호: 3379 min_total_price: 152142
주문 번호: 3380 min_total_price: 84635
주문 번호: 3381 min_total_price: 135824
주문 번호: 3382 min_total_price: 112272
주문 번호: 3383 min_total_price: 30633
주문 번호: 3384 min_total_price: 30620
주문 번호: 3385 min_total_price: 182887
주문 번호: 3386 min_total_price: 89544
주문 번호: 3387 min_total_price: 45342
주문 번호: 3388 min_total_price: 80593
주문 번호: 3389 min_total_price: 76826
주문 번호: 3390 min_total_price: 89848
주문 번호: 3391 min_total_price: 198792
주문 번호: 3392 min_total_price: 156270
주문 번호: 3393 min_total_price: 187493
주문 번호: 3394 min_total_price: 75447
주문 번호: 3395 min_total_price: 97530
주문 번호: 3396 min_total_price: 130467
주문 번호: 3397 min_total_price: 145269
주문 번호: 3398 min_total_price: 176576
주문 번호: 3399 min_total_price: 105142
주문 번호: 3400 min_total_price: 58760
주문 번호: 3401 min_total_price: 99047
주문 번호: 3402 min_total_price: 57932
주문 번호: 3403 min_total_price: 157316
주문 번호: 3404 min_total_price: 112885
주문 번호: 3405 min_total_price: 165040
주문 번호: 3406 min_total_price: 97511
주문 번호: 3407 min_total_price: 138842
주문 번호: 3408 min_total_price: 174464
주문 번호: 3409 min_total_price: 134592
주문 번호: 3410 min_total_price: 144557
주문 번호: 3411 min_total_price: 183813
주문 번호: 3412 min_total_price: 71919
주문 번호: 3413 min_total_price: 129142
주문 번호: 3414 min_total_price: 70951
주문 번호: 3415 min_total_price: 65889
주문 번호: 3416 min_total_price: 51461
주문 번호: 3417 min_total_price: 76958
주문 번호: 3418 min_total_price: 71267
주문 번호: 3419 min_total_price: 146202
주문 번호: 3420 min_total_price: 32021
주문 번호: 3421 min_total_price: 175206
주문 번호: 3422 min_total_price: 157781
주문 번호: 3423 min_total_price: 55950
주문 번호: 3424 min_total_price: 199350
주문 번호: 3425 min_total_price: 70845
주문 번호: 3426 min_total_price: 122798
주문 번호: 3427 min_total_price: 119660
주문 번호: 3428 min_total_price: 144838
주문 번호: 3429 min_total_price: 158679
주문 번호: 3430 min_total_price: 135317
주문 번호: 3431 min_total_price: 173550
주문 번호: 3432 min_total_price: 106793
주문 번호: 3433 min_total_price: 90393
주문 번호: 3434 min_total_price: 70170
주문 번호: 3435 min_total_price: 161511
주문 번호: 3436 min_total_price: 131888
주문 번호: 3437 min_total_price: 105531
주문 번호: 3438 min_total_price: 78548
주문 번호: 3439 min_total_price: 107959
주문 번호: 3440 min_total_price: 73102
주문 번호: 3441 min_total_price: 82307
주문 번호: 3442 min_total_price: 45078
주문 번호: 3443 min_total_price: 139718
주문 번호: 3444 min_total_price: 57757
주문 번호: 3445 min_total_price: 166959
주문 번호: 3446 min_total_price: 50729
주문 번호: 3447 min_total_price: 57733
주문 번호: 3448 min_total_price: 189914
주문 번호: 3449 min_total_price: 115336
주문 번호: 3450 min_total_price: 175834
주문 번호: 3451 min_total_price: 159729
주문 번호: 3452 min_total_price: 52368
주문 번호: 3453 min_total_price: 126270
주문 번호: 3454 min_total_price: 176135
주문 번호: 3455 min_total_price: 79507
주문 번호: 3456 min_total_price: 40140
주문 번호: 3457 min_total_price: 113729
주문 번호: 3458 min_total_price: 111585
주문 번호: 3459 min_total_price: 141948
주문 번호: 3460 min_total_price: 180160
주문 번호: 3461 min_total_price: 181555
주문 번호: 3462 min_total_price: 144876
주문 번호: 3463 min_total_price: 38276
주문 번호: 3464 min_total_price: 116243
주문 번호: 3465 min_total_price: 131068
주문 번호: 3466 min_total_price: 143362
주문 번호: 3467 min_total_price: 190030
주문 번호: 3468 min_total_price: 70034
주문 번호: 3469 min_total_price: 37436
주문 번호: 3470 min_total_price: 60514
주문 번호: 3471 min_total_price: 73727
주문 번호: 3472 min_total_price: 149667
주문 번호: 3473 min_total_price: 151829
주문 번호: 3474 min_total_price: 138660
주문 번호: 3475 min_total_price: 88707
주문 번호: 3476 min_total_price: 75947
주문 번호: 3477 min_total_price: 67743
주문 번호: 3478 min_total_price: 82300
주문 번호: 3479 min_total_price: 95095
주문 번호: 3480 min_total_price: 72082
주문 번호: 3481 min_total_price: 155121
주문 번호: 3482 min_total_price: 192534
주문 번호: 3483 min_total_price: 90098
주문 번호: 3484 min_total_price: 57118
주문 번호: 3485 min_total_price: 36293
주문 번호: 3486 min_total_price: 155923
주문 번호: 3487 min_total_price: 191969
주문 번호: 3488 min_total_price: 78460
주문 번호: 3489 min_total_price: 87600
주문 번호: 3490 min_total_price: 194544
주문 번호: 3491 min_total_price: 157474
주문 번호: 3492 min_total_price: 124754
주문 번호: 3493 min_total_price: 34589
주문 번호: 3494 min_total_price: 57345
주문 번호: 3495 min_total_price: 112566
주문 번호: 3496 min_total_price: 81499
주문 번호: 3497 min_total_price: 100008
주문 번호: 3498 min_total_price: 32896
주문 번호: 3499 min_total_price: 164201
주문 번호: 3500 min_total_price: 54918
주문 번호: 3501 min_total_price: 158511
주문 번호: 3502 min_total_price: 82865
주문 번호: 3503 min_total_price: 89404
주문 번호: 3504 min_total_price: 44438
주문 번호: 3505 min_total_price: 116810
주문 번호: 3506 min_total_price: 147711
주문 번호: 3507 min_total_price: 172773
주문 번호: 3508 min_total_price: 191803
주문 번호: 3509 min_total_price: 47588
주문 번호: 3510 min_total_price: 30229
주문 번호: 3511 min_total_price: 119313
주문 번호: 3512 min_total_price: 190608
주문 번호: 3513 min_total_price: 112689
주문 번호: 3514 min_total_price: 196728
주문 번호: 3515 min_total_price: 67565
주문 번호: 3516 min_total_price: 96191
주문 번호: 3517 min_total_price: 182791
주문 번호: 3518 min_total_price: 125355
주문 번호: 3519 min_total_price: 150552
주문 번호: 3520 min_total_price: 119482
주문 번호: 3521 min_total_price: 39717
주문 번호: 3522 min_total_price: 181718
주문 번호: 3523 min_total_price: 171748
주문 번호: 3524 min_total_price: 157304
주문 번호: 3525 min_total_price: 185515
주문 번호: 3526 min_total_price: 37477
주문 번호: 3527 min_total_price: 186331
주문 번호: 3528 min_total_price: 146804
주문 번호: 3529 min_total_price: 198538
주문 번호: 3530 min_total_price: 48178
주문 번호: 3531 min_total_price: 172523
주문 번호: 3532 min_total_price: 99363
주문 번호: 3533 min_total_price: 68577
주문 번호: 3534 min_total_price: 171483
주문 번호: 3535 min_total_price: 108124
주문 번호: 3536 min_total_price: 72306
주문 번호: 3537 min_total_price: 141164
주문 번호: 3538 min_total_price: 75660
주문 번호: 3539 min_total_price: 92935
주문 번호: 3540 min_total_price: 129987
주문 번호: 3541 min_total_price: 75209
주문 번호: 3542 min_total_price: 169398
주문 번호: 3543 min_total_price: 142671
주문 번호: 3544 min_total_price: 183991
주문 번호: 3545 min_total_price: 122971
주문 번호: 3546 min_total_price: 52906
주문 번호: 3547 min_total_price: 88576
주문 번호: 3548 min_total_price: 94049
주문 번호: 3549 min_total_price: 135849
주문 번호: 3550 min_total_price: 181350
주문 번호: 3551 min_total_price: 179447
주문 번호: 3552 min_total_price: 199139
주문 번호: 3553 min_total_price: 189285
주문 번호: 3554 min_total_price: 111035
주문 번호: 3555 min_total_price: 147682
주문 번호: 3556 min_total_price: 38764
주문 번호: 3557 min_total_price: 52771
주문 번호: 3558 min_total_price: 143191
주문 번호: 3559 min_total_price: 194456
주문 번호: 3560 min_total_price: 45367
주문 번호: 3561 min_total_price: 96187
주문 번호: 3562 min_total_price: 57941
주문 번호: 3563 min_total_price: 192787
주문 번호: 3564 min_total_price: 152403
주문 번호: 3565 min_total_price: 79685
주문 번호: 3566 min_total_price: 79083
주문 번호: 3567 min_total_price: 184754
주문 번호: 3568 min_total_price: 155306

주문 번호: 3569 min_total_price: 70553
주문 번호: 3570 min_total_price: 162383
주문 번호: 3571 min_total_price: 97992
주문 번호: 3572 min_total_price: 34366
주문 번호: 3573 min_total_price: 184003
주문 번호: 3574 min_total_price: 162608
주문 번호: 3575 min_total_price: 36742
주문 번호: 3576 min_total_price: 38577
주문 번호: 3577 min_total_price: 196985
주문 번호: 3578 min_total_price: 115744
주문 번호: 3579 min_total_price: 110722
주문 번호: 3580 min_total_price: 76681
주문 번호: 3581 min_total_price: 135605
주문 번호: 3582 min_total_price: 197871
주문 번호: 3583 min_total_price: 97228
주문 번호: 3584 min_total_price: 33103
주문 번호: 3585 min_total_price: 197762
주문 번호: 3586 min_total_price: 49421
주문 번호: 3587 min_total_price: 145047
주문 번호: 3588 min_total_price: 181170
주문 번호: 3589 min_total_price: 62269

In [18]:
import pymysql

db= pymysql.connect(host='localhost',user='root',password='root',db='mall')
curs =db.cursor(pymysql.cursors.DictCursor)
query = "select id, price from products"
curs.execute(query)
rows = curs.fetchall()
for row in rows:
    print(row['id'], row['price'])
db.close()

1 12900
2 4980
3 2980
4 11980
5 9480
6 9980
7 13900
8 1580
9 9900
10 8900
11 10900
12 19900
13 29800
14 9900
15 8980
16 14900
17 9980
18 4980
19 8900
20 10800
21 19800
22 8900
23 15900
24 11800
25 6480
26 9980
27 16900
28 14500
29 9980
30 13800
31 1480
32 8980
33 8500
34 7980
35 1990
36 6980
37 9980
38 8980
39 5980
40 7980
41 12800
42 5800
43 13800
44 6980
45 990
46 59800
47 2480
48 7900
49 9980
50 72900
51 49900
52 13800
53 49800
54 49800
55 4980
56 9980
57 8980
58 4980
59 74800
60 79800
61 700
62 54800
63 14900
64 2980
65 59800
66 11980
67 7980
68 59800
69 19800
70 129000
71 99000
72 44900
73 59900
74 2900
75 51900
76 36900
77 6480
78 17800
79 8480
80 3680
81 6980
82 3480
83 15900
84 6780
85 9980
86 3980
87 11900
88 21900
89 10900
90 59900
91 26900
92 22900
93 5980
94 49800
95 29900
96 49800
97 49900
98 21900
99 17900
100 8900
101 99800
102 2980
103 14900
104 88000
105 7800
106 6800
107 5980
108 11800
109 2780
110 11900
111 72900
112 49900
113 89800
114 49800
115 6480
116 7800
117 3980
118 11900
119 12900
120 4980
121 3980
122 9980
123 16900
124 8980
125 17900
126 13900
127 14900
128 49800
129 19900
130 129000
131 99000
132 9980
133 6980
134 10800
135 15900
136 59900
137 7980
138 33000
139 17800
140 31900
141 5980
142 79800
143 79900
144 69900
145 19900
146 6980
147 98000
148 2980
149 9980
150 98000
151 69900
152 59900
153 9980
154 13900
155 9980
156 51900
157 1980
158 21820
159 6780
160 16900
161 42500
162 24900
163 59800
164 7980
165 9980
166 15900
167 39000
168 53900
169 45800
170 41220
171 3980
172 24900
173 6980
174 19980
175 6980
176 5980
177 44800
178 38900
179 17900
180 13900
181 16800
182 16900
183 22900
184 64800
185 56900
186 39900
187 3900
188 20100
189 1980
190 14900
191 12900
192 57900
193 39900
194 8900
195 7500
196 5980
197 48900
198 12800
199 23900
200 89900
201 79900
202 29900
203 24500
204 28900
205 49800
206 78300
207 21200
208 12800
209 89000
210 79000
211 49800
212 14900
213 5980
214 13900
215 17900
216 15900
217 5980
218 75900
219 54800
220 9000
221 10800
222 47900
223 38900
224 18900
225 74800
226 38180
227 11800
228 24900
229 60000
230 49900
231 16900
232 89800
233 79800
234 8980
235 26900
236 980
237 1480
238 24900
239 18900
240 22900
241 19900
242 79800
243 15800
244 51900
245 36900
246 3980
247 51900
248 34800
249 32800
250 9980
251 29900
252 32900
253 46800
254 43800
255 4490
256 62800
257 58800
258 14900
259 5990
260 16900
261 9980
262 4980
263 12900
264 13900
265 21980
266 27900
267 21900
268 8800
269 12900
270 15900
271 22800
272 20800
273 5980
274 11800
275 8800
276 10400
277 14900
278 13980
279 14800
280 13800
281 11980
282 16880
283 31900
284 57500
285 54800
286 7990
287 5880
288 5980
289 45900
290 4980
291 10800
292 13800
293 12800
294 14900
295 11800
296 7980
297 43900
298 22900
299 12980
300 9980
301 33180
302 18900
303 6980
304 15800
305 15800
306 13800
307 50900
308 49900
309 16380
310 9800
311 8800
312 7480
313 8980
314 15980
315 9980
316 13800
317 12800
318 43900
319 4580
320 5980
321 5980
322 3980
323 41500
324 39425
325 33900
326 44500
327 22800
328 19800
329 11900
330 13880
331 4480
332 6480
333 9980
334 9900
335 10800
336 14800
337 2980
338 14800
339 12800
340 7980
341 5980
342 13980
343 15800
344 20900
345 5480
346 8990
347 9990
348 5980
349 13880
350 5980
351 17800
352 15800
353 5780
354 4180
355 9980
356 30900
357 7980
358 6980
359 5980
360 5980
361 13180
362 7480
363 31880
364 5800
365 8980
366 6900
367 9980
368 5100
369 31900
370 8490
371 13800
372 7480
373 5980
374 16980
375 15980
376 7480
377 37800
378 36800
379 4280
380 48900
381 4980
382 9800
383 1990
384 7980
385 13800
386 11900
387 8980
388 9800
389 8800
390 57500
391 54800
392 4980
393 3980
394 3800
395 12800
396 4800
397 8980
398 5980
399 15580
400 7960
401 6960
402 1990
403 28880
404 6900
405 92900
406 88255
407 9980
408 22800
409 4980
410 6980
411 3480
412 5690
413 12800
414 16380
415 34900
416 7980
417 6980
418 16780
419 4980
420 7980
421 9980
422 11980
423 12990
424 9980
425 5600
426 34800
427 39900
428 3000
429 8800
430 7800
431 3980
432 7480
433 27580
434 13900
435 5980
436 14900
437 2780
438 8980
439 46900
440 50000
441 23500
442 33500
443 31825
444 23700
445 22515
446 44200
447 39800
448 46900
449 14800
450 6180
451 20900
452 16900
453 19800
454 81500
455 75800
456 29900
457 15800
458 40800
459 8800
460 3980
461 13800
462 11800
463 3980
464 4980
465 48900
466 8800
467 12800
468 10800
469 15980
470 62900
471 9980
472 79900
473 75905
474 15800
475 13800
476 15900
477 9900
478 36900
479 2800
480 58900
481 14500
482 145000
483 116000
484 18900
485 4980
486 11900
487 11980
488 27700
489 26315
490 9980
491 13800
492 12800
493 8500
494 4980
495 15180
496 11900
497 34900
498 9980
499 3980
500 12900
501 9800
502 29900
503 49500
504 47500
505 11900
506 41900
507 5980
508 49900
509 13800
510 7900
511 6900
512 19900
513 2980
514 31200
515 29640
516 12000
517 6980
518 13900
519 7480
520 35800
521 33800
522 12800
523 13900
524 10800
525 14800
526 990
527 7480
528 34800
529 31800
530 6980
531 5980
532 11800
533 8800
534 50500
535 2480
536 54000
537 20000
538 7480
539 43000
540 9990
541 7500
542 7480
543 17900
544 34900
545 15980
546 4900
547 5780
548 15800
549 2580
550 5980
551 2380
552 13000
553 6480
554 780
555 3980
556 5480
557 3980
558 9900
559 9900
560 4280
561 2980
562 5480
563 2380
564 5980
565 6480
566 3680
567 1180
568 4380
569 6200
570 3980
571 2380
572 2480
573 480
574 2080
575 780
576 9800
577 5900
578 6950
579 6255
580 9900
581 6950
582 6255
583 2980
584 1380
585 9900
586 3480
587 4980
588 5980
589 7180
590 5280
591 9200
592 2380
593 1880
594 1180
595 6600
596 6800
597 2380
598 3250
599 4280
600 480
601 2280
602 3980
603 4280
604 2380
605 2380
606 6280
607 5680
608 3980
609 3980
610 6680
611 8980
612 3980
613 7980
614 2980
615 20500
616 3980
617 5800
618 12800
619 4550
620 2080
621 2980
622 8980
623 8082
624 29500
625 13000
626 1980
627 6380
628 2080
629 9200
630 3980
631 3980
632 3080
633 5550
634 11800
635 10900
636 3980
637 6580
638 1980
639 1180
640 1980
641 15900
642 3480
643 6980
644 3480
645 5450
646 7650
647 4280
648 7200
649 11800
650 11900
651 12800
652 16800
653 6200
654 6800
655 6880
656 2380
657 6480
658 64800
659 7000
660 5480
661 2380
662 129900
663 99900
664 3480
665 7650
666 64800
667 139000
668 4550
669 5750
670 12800
671 5980
672 3280
673 1180
674 5280
675 75000
676 9980
677 98000
678 7000
679 13800
680 2280
681 4980
682 13000
683 119000
684 99000
685 10900
686 6200
687 4980
688 8800
689 3280
690 480
691 3880
692 8800
693 13800
694 11900
695 12500
696 15900
697 26900
698 6700
699 380000
700 4280
701 6980
702 15800
703 1780
704 5480
705 3780
706 2980
707 18500
708 1550
709 8480
710 7980
711 12800
712 11800
713 2580
714 7980
715 3990
716 29800
717 3080
718 11900
719 7980
720 5950
721 9900
722 2180
723 4380
724 6600
725 2280
726 18800
727 5700
728 8580
729 5980
730 4980
731 3580
732 6400
733 3980
734 8980
735 4580
736 5080
737 5980
738 4980
739 1980
740 10900
741 2980
742 6800
743 6120
744 8480
745 3580
746 6080
747 19900
748 6480
749 7480
750 10900
751 12400
752 5200
753 17980
754 2680
755 6980
756 6900
757 5280
758 9600
759 9980
760 2750
761 3280
762 9900
763 2280
764 10800
765 5980
766 6200
767 3880
768 4180
769 500
770 5900
771 6980
772 13900
773 8980
774 2380
775 19900
776 6280
777 49900
778 3580
779 7900
780 11800
781 7480
782 6800
783 11800
784 3980
785 4980
786 7980
787 8980
788 3380
789 8500
790 4980
791 4480
792 620
793 558
794 7980
795 5800
796 9900
797 13800
798 7480
799 6980
800 9000
801 9900
802 10800
803 7800
804 11980
805 20800
806 9800
807 5980
808 5980
809 4980
810 4900
811 15800
812 3580
813 11900
814 12900
815 5980
816 2990
817 9880
818 4900
819 4580
820 24800
821 8980
822 7900
823 580
824 13280
825 4580
826 15980
827 4980
828 14800
829 3980
830 2980
831 13900
832 4480
833 6800
834 8900
835 3980
836 7800
837 4180
838 5980
839 3980
840 7580
841 1280
842 6980
843 8480
844 4980
845 13900
846 4980
847 12900
848 12900
849 7980
850 6980
851 6800
852 2280
853 5980
854 6680
855 2980
856 10800
857 3980
858 28900
859 9900
860 1880
861 4800
862 7400
863 4980
864 4990
865 11900
866 12800
867 53900
868 3980
869 7480
870 3580
871 4080
872 4980
873 13280
874 49800
875 11800
876 11800
877 7980
878 9800
879 8800
880 24900
881 10800
882 11900
883 7980
884 5980
885 135000
886 115000
887 10000
888 135000
889 8800
890 10800
891 10800
892 3580
893 37000
894 10900
895 11900
896 17900
897 22800
898 10900
899 59900
900 112500
901 101250
902 19800
903 7980
904 4000
905 19800
906 3980
907 5480
908 5980
909 66000
910 6980
911 7800
912 3980
913 7980
914 6980
915 6280
916 5980
917 12800
918 9900
919 5980
920 4800
921 99000
922 1980
923 490
924 441
925 48900
926 1980
927 39900
928 2980
929 14800
930 9800
931 9900
932 9900
933 13800
934 3980
935 4980
936 2560
937 1880
938 3980
939 4680
940 2390
941 2980
942 980
943 3000
944 2980
945 4700
946 3880
947 7000
948 2380
949 4750
950 4980
951 1980
952 4200
953 3150
954 3980
955 6080
956 5980
957 1980
958 2680
959 4880
960 5200
961 2530
962 6280
963 3980
964 8380
965 2480
966 9880
967 2790
968 5380
969 5650
970 6480
971 5880
972 5580
973 3150
974 12900
975 5980
976 3980
977 2800
978 8580
979 4880
980 11180
981 4470
982 10980
983 4580
984 2390
985 2360
986 4850
987 4480
988 2080
989 2000
990 4950
991 8680
992 1980
993 5780
994 8000
995 5280
996 2570
997 3180
998 2960
999 10280
1000 3880
1001 2390
1002 7000
1003 3980
1004 6480
1005 2380
1006 2500
1007 3680
1008 3980
1009 6150
1010 3450
1011 10400
1012 3480
1013 34800
1014 6480
1015 1980
1016 6400
1017 2900
1018 3880
1019 2900
1020 34800
1021 5980
1022 2980
1023 3180
1024 5580
1025 3350
1026 3980
1027 2390
1028 14980
1029 2800
1030 3050
1031 4950
1032 3800
1033 2980
1034 5880
1035 13900
1036 27300
1037 27300
1038 4500
1039 5380
1040 11180
1041 6900
1042 4980
1043 4980
1044 3680
1045 2530
1046 2480
1047 2480
1048 2900
1049 3450
1050 2980
1051 3780
1052 7560
1053 11700
1054 15600
1055 2980
1056 16000
1057 15200
1058 4500
1059 2150
1060 9980
1061 5760
1062 7480
1063 7980
1064 3980
1065 5580
1066 4580
1067 3400
1068 2980
1069 1810
1070 11800
1071 5580
1072 2180
1073 2550
1074 10980
1075 4150
1076 8500
1077 3980
1078 8680
1079 18900
1080 3980
1081 2480
1082 4990
1083 2480
1084 4180
1085 6600
1086 10000
1087 4980
1088 3980
1089 9900
1090 5280
1091 2680
1092 980
1093 5980
1094 5980
1095 3880
1096 5980
1097 2250
1098 3980
1099 14900
1100 990
1101 6980
1102 14980
1103 14500
1104 6600
1105 2580
1106 2750
1107 3050
1108 8580
1109 9980
1110 2380
1111 1904
1112 8900
1113 6480
1114 1480
1115 5980
1116 4200
1117 30900
1118 14980
1119 27300
1120 4980
1121 4980
1122 8980
1123 4200
1124 4980
1125 5780
1126 4980
1127 2980
1128 34800
1129 16000
1130 15200
1131 2480
1132 11900
1133 7980
1134 30900
1135 21200
1136 20140
1137 6980
1138 990
1139 15900
1140 14160
1141 12900
1142 4280
1143 4980
1144 2800
1145 1980
1146 3380
1147 6980
1148 2390
1149 13980
1150 43900
1151 8680
1152 11980
1153 21200
1154 20140
1155 4200
1156 2550
1157 4880
1158 5780
1159 4980
1160 28800
1161 25920
1162 2800
1163 43900
1164 13500
1165 2900
1166 2900
1167 8680
1168 2680
1169 5300
1170 12800
1171 2800
1172 1980
1173 7980
1174 3980
1175 3980
1176 3980
1177 4500
1178 15450
1179 5380
1180 14980
1181 4200
1182 3980
1183 2980
1184 3680
1185 6980
1186 4200
1187 6980
1188 4200
1189 2900
1190 4600
1191 4200
1192 8900
1193 5300
1194 6980
1195 3980
1196 4480
1197 13900
1198 4200
1199 4800
1200 2750
1201 4600
1202 7560
1203 12800
1204 4980
1205 2680
1206 4200
1207 2980
1208 2750
1209 9480
1210 4980
1211 2490
1212 2680
1213 3980
1214 4880
1215 4500
1216 5980
1217 9980
1218 9980
1219 990
1220 4500
1221 6900
1222 4980
1223 15980
1224 1890
1225 11200
1226 30900
1227 2990
1228 28800
1229 2680
1230 5750
1231 2250
1232 7040
1233 10900
1234 8480
1235 6480
1236 4980

1237 3980
1238 1380
1239 1980
1240 3880
1241 6500
1242 8480
1243 5580
1244 1980
1245 3880
1246 7980
1247 1680
1248 1380
1249 4380
1250 8580
1251 2580
1252 3980
1253 4580
1254 8480
1255 2880
1256 7980
1257 8480
1258 6980
1259 5680
1260 9480
1261 8580
1262 7980
1263 1100
1264 4500
1265 4680
1266 1980
1267 2980
1268 1680
1269 4980
1270 3980
1271 2786
1272 8480
1273 2980
1274 8980
1275 5980
1276 6980
1277 3480
1278 4580
1279 3664
1280 3480
1281 6980
1282 8480
1283 7980
1284 14980
1285 1980
1286 2680
1287 5980
1288 1280
1289 7980
1290 9980
1291 1980
1292 6980
1293 2580
1294 5880
1295 4050
1296 6980
1297 6980
1298 13980
1299 8480
1300 9480
1301 7980
1302 7980
1303 4980
1304 1280
1305 7980
1306 7980
1307 7980
1308 6980
1309 7980
1310 2980
1311 4580
1312 9980
1313 8580
1314 4980
1315 2480
1316 1480
1317 4580
1318 3800
1319 8980
1320 7480
1321 3980
1322 4980
1323 9980
1324 7380
1325 7480
1326 3800
1327 7980
1328 7580
1329 6480
1330 1480
1331 3980
1332 8480
1333 7980
1334 1480
1335 4980
1336 13480
1337 2800
1338 4980
1339 2780
1340 3550
1341 4480
1342 6980
1343 6480
1344 5980
1345 7980
1346 6480
1347 7980
1348 7880
1349 2680
1350 980
1351 4700
1352 1880
1353 5480
1354 5980
1355 9980
1356 3480
1357 5480
1358 8480
1359 7480
1360 7980
1361 6384
1362 5980
1363 7980
1364 4480
1365 5480
1366 950
1367 1780
1368 4980
1369 3980
1370 3480
1371 5980
1372 8980
1373 7980
1374 5980
1375 9580
1376 7980
1377 2880
1378 4980
1379 10980
1380 6480
1381 6480
1382 6480
1383 7980
1384 8980
1385 3980
1386 2780
1387 4980
1388 900
1389 4580
1390 1680
1391 5980
1392 2200
1393 3680
1394 8780
1395 3980
1396 3480
1397 6980
1398 7480
1399 4480
1400 6180
1401 6980
1402 2980
1403 6980
1404 6180
1405 4380
1406 5480
1407 5480
1408 14300
1409 3480
1410 8480
1411 3980
1412 4980
1413 4480
1414 1980
1415 1980
1416 3980
1417 1480
1418 3980
1419 6980
1420 3280
1421 9980
1422 8580
1423 4680
1424 2980
1425 3980
1426 3184
1427 6880
1428 3680
1429 3980
1430 7980
1431 8480
1432 6980
1433 3280
1434 7480
1435 4480
1436 6980
1437 10980
1438 8480
1439 7980
1440 1280
1441 3480
1442 4980
1443 4980
1444 9980
1445 8980
1446 9680
1447 3280
1448 5980
1449 6980
1450 8480
1451 7980
1452 4980
1453 6400
1454 5480
1455 4980
1456 4580
1457 8480
1458 3180
1459 7980
1460 3480
1461 4980
1462 3900
1463 6980
1464 7980
1465 3980
1466 8480
1467 6980
1468 3180
1469 8580
1470 2580
1471 7480
1472 5480
1473 2800
1474 7280
1475 7480
1476 1700
1477 1980
1478 7980
1479 6480
1480 5830
1481 2680
1482 3980
1483 4980
1484 2850
1485 2280
1486 5490
1487 4980
1488 8480
1489 12600
1490 3980
1491 4980
1492 4980
1493 9580
1494 2980
1495 14980
1496 8580
1497 3580
1498 4480
1499 6480
1500 8480
1501 5980
1502 3580
1503 7980
1504 2400
1505 5980
1506 2480
1507 6480
1508 2900
1509 1480
1510 2780
1511 8880
1512 2980
1513 2980
1514 4680
1515 7980
1516 2780
1517 9680
1518 1980
1519 6980
1520 3680
1521 7980
1522 4980
1523 6980
1524 1480
1525 9980
1526 3680
1527 9980
1528 6980
1529 4980
1530 4180
1531 3980
1532 5980
1533 5340
1534 7980
1535 8880
1536 25800
1537 3480
1538 4700
1539 9900
1540 6980
1541 14800
1542 18800
1543 17400
1544 17900
1545 13800
1546 3680
1547 7500
1548 25800
1549 2480
1550 6480
1551 14800
1552 5900
1553 4950
1554 11900
1555 5800
1556 1900
1557 1425
1558 12800
1559 3680
1560 9980
1561 11800
1562 11900
1563 9880
1564 18500
1565 26800
1566 11800
1567 51800
1568 36260
1569 7980
1570 6480
1571 5580
1572 7900
1573 22800
1574 3500
1575 5480
1576 6980
1577 7280
1578 7180
1579 10900
1580 7580
1581 9880
1582 7980
1583 10900
1584 12800
1585 4490
1586 7580
1587 2700
1588 11800
1589 15900
1590 6480
1591 24800
1592 7580
1593 9980
1594 1900
1595 4180
1596 13800
1597 9980
1598 10900
1599 26900
1600 5400
1601 11500
1602 41900
1603 30587
1604 3980
1605 13800
1606 4990
1607 7980
1608 7500
1609 3500
1610 9980
1611 3980
1612 6800
1613 9980
1614 1720
1615 40800
1616 31824
1617 9900
1618 3980
1619 16800
1620 3900
1621 36000
1622 17800
1623 5200
1624 6980
1625 8480
1626 9480
1627 13800
1628 55900
1629 8500
1630 16900
1631 9980
1632 5980
1633 15000
1634 12800
1635 14900
1636 9400
1637 9980
1638 3900
1639 1500
1640 3900
1641 9990
1642 4980
1643 5900
1644 12800
1645 12900
1646 4900
1647 69900
1648 59415
1649 3900
1650 8900
1651 19900
1652 14527
1653 7900
1654 5900
1655 12800
1656 9990
1657 7480
1658 6480
1659 15800
1660 5980
1661 9980
1662 4200
1663 52900
1664 44965
1665 16900
1666 10500
1667 17800
1668 5380
1669 9980
1670 54900
1671 10900
1672 49800
1673 36354
1674 36900
1675 19900
1676 13930
1677 6900
1678 1380
1679 13900
1680 14800
1681 9600
1682 5980
1683 25500
1684 18615
1685 8280
1686 41800
1687 30514
1688 13900
1689 5980
1690 34300
1691 5600
1692 15800
1693 9900
1694 3480
1695 3900
1696 38900
1697 17900
1698 41900
1699 35900
1700 8900
1701 8010
1702 17900
1703 20900
1704 5900
1705 5900
1706 5310
1707 17900
1708 19500
1709 18600
1710 20900
1711 19800
1712 6500
1713 5850
1714 9400
1715 8460
1716 14900
1717 6900
1718 6210
1719 19900
1720 3480
1721 15500
1722 11625
1723 7800
1724 16900
1725 9900
1726 7900
1727 69900
1728 59415
1729 5900
1730 19800
1731 24900
1732 3800
1733 3300
1734 16900
1735 15500
1736 11625
1737 14900
1738 10900
1739 15900
1740 2300
1741 6900
1742 11000
1743 15900
1744 8900
1745 8900
1746 8900
1747 55900
1748 25800
1749 49800
1750 12000
1751 11160
1752 9900
1753 5000
1754 9900
1755 19900
1756 14527
1757 3480
1758 38900
1759 12900
1760 17900
1761 27900
1762 33800
1763 18900
1764 15900
1765 35000
1766 8900
1767 980
1768 1980
1769 430
1770 630
1771 780
1772 3600
1773 6880
1774 4380
1775 5280
1776 9780
1777 6980
1778 320
1779 4280
1780 11800
1781 7980
1782 5280
1783 980
1784 1000
1785 340
1786 390
1787 5280
1788 880
1789 880
1790 6980
1791 2980
1792 250
1793 1580
1794 1980
1795 1580
1796 5280
1797 2280
1798 2390
1799 310
1800 5100
1801 3570
1802 5280
1803 10480
1804 8980
1805 9780
1806 6980
1807 5480
1808 6980
1809 460
1810 5480
1811 1670
1812 4680
1813 1580
1814 1680
1815 6880
1816 5280
1817 6980
1818 6980
1819 3980
1820 8900
1821 3980
1822 8680
1823 7180
1824 7680
1825 5280
1826 1580
1827 5100
1828 3570
1829 6980
1830 4380
1831 2980
1832 4280
1833 2280
1834 3980
1835 2280
1836 4880
1837 1750
1838 1380
1839 4280
1840 3180
1841 16900
1842 4000
1843 4320
1844 1980
1845 14880
1846 2380
1847 4980
1848 5480
1849 190
1850 3980
1851 4400
1852 1580
1853 2850
1854 3480
1855 3980
1856 980
1857 4280
1858 4280
1859 2780
1860 4980
1861 3180
1862 11000
1863 1080
1864 650
1865 16900
1866 4980
1867 6000
1868 2980
1869 2680
1870 2780
1871 1080
1872 4680
1873 4430
1874 1980
1875 3480
1876 7480
1877 1080
1878 980
1879 4280
1880 19480
1881 990
1882 980
1883 1980
1884 24480
1885 22767
1886 8980
1887 3980
1888 6980
1889 6480
1890 4980
1891 3480
1892 4000
1893 1080
1894 10900
1895 1580
1896 1080
1897 1780
1898 4680
1899 19900
1900 7480
1901 980
1902 1380
1903 1680
1904 1480
1905 3980
1906 3780
1907 2970
1908 4880
1909 2650
1910 1680
1911 2280
1912 7800
1913 4980
1914 1980
1915 3980
1916 7500
1917 1780
1918 3570
1919 6000
1920 3280
1921 4280
1922 340
1923 3600
1924 2880
1925 10500
1926 7800
1927 4980
1928 2780
1929 3480
1930 11900
1931 3980
1932 4900
1933 15000
1934 1480
1935 6480
1936 7680
1937 3980
1938 2980
1939 650
1940 9980
1941 7984
1942 9600
1943 8980
1944 2580
1945 4100
1946 2090
1947 2980
1948 4280
1949 5980
1950 3588
1951 1980
1952 2180
1953 2380
1954 9430
1955 500
1956 2280
1957 8880
1958 1480
1959 980
1960 13600
1961 7800
1962 16500
1963 680
1964 4500
1965 2580
1966 19900
1967 9980
1968 2880
1969 3680
1970 2980
1971 2280
1972 1080
1973 1270
1974 1380
1975 5780
1976 4180
1977 3680
1978 1580
1979 2780
1980 2290
1981 8800
1982 1980
1983 8480
1984 5380
1985 3680
1986 1280
1987 9780
1988 6980
1989 3680
1990 1980
1991 650
1992 18900
1993 1980
1994 1380
1995 4680
1996 2380
1997 4680
1998 2980
1999 4880
2000 9880
2001 2180
2002 1980
2003 5980
2004 2850
2005 1780
2006 19900
2007 8900
2008 19900
2009 9900
2010 3480
2011 1480
2012 1780
2013 980
2014 980
2015 6700
2016 9980
2017 1790
2018 2080
2019 4980
2020 7480
2021 13900
2022 3980
2023 2970
2024 2880
2025 500
2026 1580
2027 8880
2028 1580
2029 1280
2030 18360
2031 2680
2032 6780
2033 1380
2034 11000
2035 2980
2036 6980
2037 1680
2038 4480
2039 2380
2040 2480
2041 3980
2042 12900
2043 880
2044 3960
2045 17980
2046 1680
2047 6700
2048 11900
2049 10900
2050 3980
2051 1280
2052 1380
2053 7480
2054 890
2055 3480
2056 2580
2057 2000
2058 3960
2059 7480
2060 4480
2061 9600
2062 5180
2063 1080
2064 8680
2065 7180
2066 10900
2067 24800
2068 27200
2069 27200
2070 5980
2071 19000
2072 11080
2073 1580
2074 5980
2075 13080
2076 7680
2077 1000
2078 20900
2079 2980
2080 19000
2081 1780
2082 6180
2083 1780
2084 3000
2085 18800
2086 12980
2087 8680
2088 1000
2089 3180
2090 4900
2091 6640
2092 16000
2093 24800
2094 1000
2095 1780
2096 4980
2097 7700
2098 1750
2099 7700
2100 3920
2101 2980
2102 1000
2103 1940
2104 2450
2105 12180
2106 15900
2107 9780
2108 1780
2109 16000
2110 8680
2111 15900
2112 5590
2113 26800
2114 1780
2115 7750
2116 3380
2117 7700
2118 3980
2119 7700
2120 20450
2121 1750
2122 8980
2123 7700
2124 7700
2125 19500
2126 2280
2127 4900
2128 1980
2129 5280
2130 7700
2131 9780
2132 18900
2133 2200
2134 9780
2135 7900
2136 13080
2137 7680
2138 1980
2139 7450
2140 15480
2141 7700
2142 2480
2143 7700
2144 9880
2145 7480
2146 6480
2147 5860
2148 1780
2149 3980
2150 7700
2151 7700
2152 4980
2153 2080
2154 1750
2155 2980
2156 1788
2157 5480
2158 7700
2159 7700
2160 1980
2161 10900
2162 1000
2163 2480
2164 21800
2165 7900
2166 2780
2167 7700
2168 5980
2169 5860
2170 1980
2171 1480
2172 2180
2173 4980
2174 24650
2175 13680
2176 3980
2177 7980
2178 3980
2179 2388
2180 9900
2181 7900
2182 12780
2183 1200
2184 3980
2185 6980
2186 4886
2187 1980
2188 2180
2189 10500
2190 9800
2191 4480
2192 2688
2193 13800
2194 2480
2195 6680
2196 4008
2197 2980
2198 1788
2199 5300
2200 5141
2201 9800
2202 5980
2203 3588
2204 4480
2205 3480
2206 6980
2207 5584
2208 2180
2209 6580
2210 4380
2211 3680
2212 1280
2213 7480
2214 1980
2215 4980
2216 4580
2217 13800
2218 8980
2219 17800
2220 1980
2221 12480
2222 9980
2223 14800
2224 7900
2225 107200
2226 2250
2227 19480
2228 13680
2229 7380
2230 5480
2231 7900
2232 10900
2233 5480
2234 6580
2235 12900
2236 9380
2237 4980
2238 4980
2239 11080
2240 14800
2241 27800
2242 7700
2243 10900
2244 8880
2245 8980
2246 2280
2247 4650
2248 8880
2249 21800
2250 9980
2251 7900
2252 8480
2253 9780
2254 10800
2255 5880
2256 9800
2257 7700
2258 5980
2259 2180
2260 4980
2261 8980
2262 1500
2263 2980
2264 5980
2265 9800
2266 7900
2267 4980
2268 6580
2269 9800
2270 6980
2271 3980
2272 8880
2273 1000
2274 10900
2275 4980
2276 25400
2277 2980
2278 1788
2279 2980
2280 1788
2281 9980
2282 2250
2283 4980
2284 1300
2285 3980
2286 24800
2287 3980
2288 5480
2289 1750
2290 17800
2291 9980
2292 1980
2293 6880
2294 1480
2295 8880
2296 22900
2297 17800
2298 7980
2299 10540
2300 17280
2301 3180
2302 11800
2303 15480
2304 3980
2305 5980
2306 6580
2307 5880
2308 4980
2309 2980
2310 9800
2311 6180
2312 6980
2313 4188
2314 1980
2315 1480
2316 9380
2317 1500
2318 28800
2319 28800
2320 12800
2321 7750
2322 10900
2323 12780
2324 8880
2325 8800
2326 5900
2327 8880
2328 2180
2329 4980
2330 4980
2331 6980
2332 5584
2333 1980
2334 2980
2335 7900
2336 7680
2337 17900
2338 27000
2339 22950
2340 8980
2341 8880
2342 6980
2343 12400
2344 8880
2345 2480
2346 2480
2347 5980
2348 8880
2349 2280
2350 7900
2351 9800
2352 5900
2353 25800
2354 10900
2355 14800
2356 3350
2357 22800
2358 10900
2359 8680
2360 11500
2361 62800
2362 7900
2363 18480
2364 12800
2365 7480
2366 8880
2367 3850
2368 3380
2369 2750
2370 4200
2371 3650
2372 2750
2373 3080
2374 11980
2375 2280
2376 3800
2377 2600
2378 9980
2379 3380
2380 990
2381 2780
2382 980
2383 8480
2384 11980
2385 15980
2386 2480
2387 990
2388 1250
2389 5980
2390 14280
2391 2860
2392 2780
2393 2580
2394 2480
2395 4000
2396 1380
2397 2980
2398 4500
2399 5280
2400 3980
2401 1980
2402 4200
2403 850
2404 850
2405 3600
2406 4500
2407 980
2408 980
2409 9280
2410 1240
2411 6980
2412 950
2413 940
2414 2480
2415 3600
2416 2480
2417 2280
2418 3850
2419 950
2420 10000
2421 1900
2422 9980
2423 1980
2424 980
2425 4200
2426 2280
2427 2980
2428 2480
2429 2980
2430 2480
2431 3480
2432 980
2433 4980
2434 3380
2435 800
2436 2080
2437 950
2438 3980
2439 3650
2440 2980
2441 2480
2442 3480
2443 4500
2444 5980
2445 2980
2446 3980
2447 2480
2448 17480
2449 3980
2450 10480
2451 2480
2452 4650
2453 2480
2454 2980
2455 1980
2456 8980
2457 750
2458 1880
2459 8980
2460 950
2461 2480
2462 940
2463 2980
2464 3850
2465 2980
2466 1120
2467 1780
2468 6480
2469 2280
2470 2980
2471 4280
2472 2480
2473 6980
2474 950
2475 850
2476 1880
2477 1850
2478 4250
2479 2920
2480 9980
2481 6180

2482 2480
2483 1240
2484 9980
2485 6980
2486 18900
2487 1780
2488 14480
2489 2480
2490 5040
2491 2480
2492 1180
2493 2480
2494 950
2495 9980
2496 5980
2497 2080
2498 500
2499 4500
2500 3980
2501 2980
2502 2780
2503 13520
2504 9880
2505 5280
2506 25900
2507 9380
2508 3380
2509 2480
2510 4500
2511 750
2512 2480
2513 2980
2514 2980
2515 4250
2516 1900
2517 5380
2518 3980
2519 5680
2520 4680
2521 950
2522 2980
2523 3980
2524 8480
2525 3980
2526 980
2527 2980
2528 850
2529 11480
2530 950
2531 950
2532 2980
2533 4650
2534 2980
2535 750
2536 4980
2537 7480
2538 4880
2539 2280
2540 750
2541 7980
2542 1980
2543 950
2544 2480
2545 2480
2546 2580
2547 980
2548 980
2549 2980
2550 2880
2551 4680
2552 9980
2553 5980
2554 1980
2555 4980
2556 4280
2557 5980
2558 980
2559 4080
2560 2480
2561 3480
2562 1380
2563 980
2564 2780
2565 11980
2566 4680
2567 2980
2568 3280
2569 650
2570 4980
2571 7480
2572 7480
2573 6980
2574 4900
2575 7980
2576 2980
2577 1880
2578 1280
2579 980
2580 990
2581 2980
2582 800
2583 5880
2584 3980
2585 5980
2586 1380
2587 950
2588 3980
2589 10680
2590 980
2591 4980
2592 1980
2593 850
2594 4880
2595 1780
2596 2380
2597 4480
2598 750
2599 2980
2600 14480
2601 1250
2602 2580
2603 980
2604 3980
2605 2480
2606 3980
2607 6480
2608 5980
2609 8980
2610 5880
2611 3980
2612 2980
2613 6480
2614 1480
2615 7480
2616 6980
2617 4960
2618 3968
2619 2380
2620 1980
2621 11980
2622 2980
2623 1300
2624 7800
2625 1380
2626 1980
2627 15980
2628 1880
2629 3980
2630 2580
2631 7980
2632 2480
2633 2480
2634 750
2635 1780
2636 1850
2637 19900
2638 1980
2639 2280
2640 2380
2641 2980
2642 2480
2643 1780
2644 1380
2645 850
2646 950
2647 3980
2648 2480
2649 2780
2650 2780
2651 4280
2652 2080
2653 6480
2654 3980
2655 1880
2656 940
2657 47800
2658 950
2659 2980
2660 4880
2661 2980
2662 5960
2663 1580
2664 4780
2665 1980
2666 840
2667 10900
2668 1780
2669 3980
2670 1980
2671 5950
2672 3580
2673 1780
2674 2250
2675 6980
2676 3980
2677 7480
2678 4480
2679 1380
2680 5780
2681 1980
2682 3980
2683 1780
2684 3680
2685 1680
2686 2450
2687 2980
2688 1480
2689 11800
2690 2340
2691 2800
2692 3200
2693 2980
2694 4980
2695 3980
2696 1280
2697 14700
2698 2100
2699 6980
2700 2280
2701 5480
2702 2230
2703 2880
2704 4450
2705 4880
2706 8980
2707 3780
2708 22800
2709 3580
2710 2480
2711 5100
2712 1780
2713 1780
2714 4180
2715 5680
2716 1080
2717 6950
2718 1980
2719 3500
2720 5340
2721 3880
2722 2180
2723 2480
2724 3600
2725 1980
2726 4980
2727 3300
2728 4880
2729 1480
2730 8480
2731 3360
2732 8900
2733 2380
2734 2130
2735 3800
2736 2680
2737 1780
2738 1560
2739 2480
2740 1880
2741 3380
2742 2980
2743 4180
2744 3600
2745 2280
2746 4500
2747 3250
2748 3480
2749 1980
2750 9900
2751 6480
2752 5180
2753 6500
2754 5750
2755 11800
2756 1450
2757 2480
2758 4780
2759 3980
2760 3980
2761 3980
2762 6980
2763 15800
2764 1980
2765 2800
2766 7500
2767 10980
2768 2980
2769 5450
2770 6900
2771 2480
2772 3580
2773 2880
2774 6980
2775 2750
2776 2280
2777 10800
2778 2980
2779 1680
2780 14700
2781 7990
2782 5200
2783 4180
2784 2500
2785 6980
2786 4980
2787 3480
2788 2250
2789 3900
2790 1980
2791 6700
2792 9480
2793 2980
2794 6880
2795 1000
2796 5480
2797 3980
2798 4780
2799 4780
2800 5430
2801 6280
2802 2980
2803 2180
2804 18900
2805 9450
2806 6180
2807 1680
2808 1980
2809 1750
2810 2880
2811 8900
2812 11800
2813 1680
2814 1980
2815 4380
2816 3150
2817 4800
2818 3980
2819 1100
2820 7980
2821 3280
2822 2480
2823 2180
2824 3580
2825 2900
2826 2580
2827 3280
2828 1680
2829 1780
2830 12200
2831 5180
2832 2660
2833 1500
2834 7380
2835 3480
2836 9980
2837 1580
2838 4200
2839 2480
2840 6480
2841 3480
2842 2960
2843 4480
2844 2580
2845 3930
2846 4180
2847 8200
2848 1190
2849 6900
2850 6180
2851 6980
2852 3980
2853 8900
2854 7280
2855 1980
2856 6500
2857 6950
2858 1220
2859 1850
2860 4480
2861 10900
2862 2480
2863 4980
2864 3480
2865 1980
2866 1680
2867 15800
2868 10780
2869 1680
2870 2400
2871 3200
2872 3580
2873 4680
2874 7480
2875 6480
2876 3120
2877 2280
2878 1980
2879 3980
2880 3680
2881 4500
2882 2880
2883 20000
2884 3480
2885 11980
2886 3850
2887 5700
2888 1980
2889 2880
2890 2480
2891 6900
2892 3580
2893 12900
2894 1580
2895 6980
2896 5880
2897 6980
2898 2880
2899 2180
2900 1080
2901 2880
2902 1980
2903 1480
2904 1680
2905 4750
2906 5480
2907 3180
2908 6580
2909 2600
2910 3980
2911 1980
2912 2200
2913 2880
2914 5280
2915 3280
2916 4200
2917 3250
2918 4950
2919 9680
2920 2980
2921 1980
2922 1700
2923 1380
2924 2980
2925 5980
2926 6480
2927 9980
2928 2980
2929 2580
2930 2680
2931 3580
2932 2600
2933 2180
2934 3200
2935 2980
2936 1580
2937 4880
2938 6700
2939 3600
2940 2990
2941 3280
2942 2680
2943 15250
2944 9980
2945 2280
2946 2680
2947 1390
2948 8880
2949 9880
2950 6050
2951 1580
2952 2380
2953 5480
2954 1980
2955 3280
2956 3080
2957 1680
2958 10800
2959 6500
2960 2980
2961 6980
2962 10980
2963 4280
2964 3980
2965 3360
2966 3580
2967 1020
2968 990
2969 2880
2970 4480
2971 4320
2972 1280
2973 980
2974 890
2975 3680
2976 2680
2977 2980
2978 3840
2979 4780
2980 3980
2981 3040
2982 1980
2983 1200
2984 8180
2985 980
2986 2870
2987 980
2988 3880
2989 4980
2990 980
2991 4380
2992 4180
2993 980
2994 1200
2995 4380
2996 980
2997 3980
2998 3360
2999 4000
3000 2980
3001 2880
3002 3840
3003 1980
3004 1200
3005 5480
3006 3950
3007 1200
3008 4780
3009 1200
3010 6980
3011 5760
3012 1180
3013 1980
3014 8180
3015 3980
3016 3980
3017 4380
3018 2380
3019 7880
3020 1200
3021 1280
3022 1020
3023 4180
3024 1200
3025 3880
3026 2880
3027 1200
3028 4780
3029 1980
3030 3580
3031 4320
3032 2980
3033 2980
3034 3980
3035 980
3036 3480
3037 7980
3038 6280
3039 4780
3040 2580
3041 2600
3042 7180
3043 2380
3044 1200
3045 8980
3046 1200
3047 3880
3048 5980
3049 3840
3050 2880
3051 980
3052 4480
3053 1020
3054 3980
3055 3840
3056 3980
3057 2980
3058 3980
3059 3580
3060 5980
3061 4320
3062 2980
3063 2880
3064 9960
3065 4500
3066 3840
3067 2880
3068 2880
3069 6400
3070 4850
3071 1910
3072 5880
3073 5380
3074 1180
3075 1200
3076 4480
3077 2380
3078 5500
3079 13500
3080 6480
3081 980
3082 3180
3083 3840
3084 4380
3085 1180
3086 1280
3087 3840
3088 2300
3089 1580
3090 4780
3091 2380
3092 4180
3093 1080
3094 2150
3095 3980
3096 3980
3097 2980
3098 2380
3099 2980
3100 1980
3101 4300
3102 3980
3103 2980
3104 2580
3105 2400
3106 6980
3107 9960
3108 1680
3109 3500
3110 4800
3111 3980
3112 7080
3113 2180
3114 2240
3115 2880
3116 3480
3117 4990
3118 1980
3119 1200
3120 2380
3121 7680
3122 4980
3123 6480
3124 3580
3125 5480
3126 2980
3127 2880
3128 3500
3129 7980
3130 2580
3131 3840
3132 3280
3133 4780
3134 4000
3135 2980
3136 4980
3137 3480
3138 2958
3139 7780
3140 4380
3141 4380
3142 7980
3143 3980
3144 8280
3145 14500
3146 1180
3147 1180
3148 3480
3149 7980
3150 2980
3151 1180
3152 3040
3153 3600
3154 4980
3155 3480
3156 1180
3157 2000
3158 5980
3159 4210
3160 4780
3161 3980
3162 7480
3163 4380
3164 3840
3165 2380
3166 2050
3167 2880
3168 4780
3169 1980
3170 3980
3171 3480
3172 4180
3173 1300
3174 3580
3175 4300
3176 3780
3177 9380
3178 12980
3179 2480
3180 2480
3181 9380
3182 7980
3183 2380
3184 1500
3185 1980
3186 4800
3187 1180
3188 1980
3189 9380
3190 4500
3191 2980
3192 2533
3193 3840
3194 2880
3195 3980
3196 5480
3197 980
3198 3980
3199 2480
3200 2380
3201 3980
3202 4980
3203 3980
3204 980
3205 8980
3206 1980
3207 980
3208 3980
3209 1180
3210 2380
3211 7380
3212 2980
3213 3980
3214 3580
3215 3980
3216 3780
3217 3980
3218 1980
3219 3600
3220 3780
3221 11380
3222 4780
3223 2440
3224 4180
3225 3980
3226 2980
3227 2980
3228 8900
3229 2980
3230 1580
3231 4210
3232 1980
3233 7980
3234 9880
3235 4320
3236 2380
3237 4240
3238 3840
3239 2900
3240 3980
3241 3980
3242 1980
3243 3980
3244 1480
3245 680
3246 3280
3247 5980
3248 2150
3249 3480
3250 1080
3251 1380
3252 2980
3253 2980
3254 3980
3255 2880
3256 2380
3257 3500
3258 2380
3259 980
3260 2780
3261 1200
3262 9380
3263 3580
3264 9880
3265 2300
3266 3580
3267 2380
3268 2380
3269 1980
3270 2850
3271 9980
3272 3780
3273 2180
3274 2980
3275 3880
3276 4980
3277 4280
3278 6980
3279 2380
3280 2780
3281 1980
3282 3580
3283 2980
3284 1980
3285 3180
3286 5980
3287 1980
3288 3830
3289 2680
3290 6980
3291 2780
3292 1980
3293 2980
3294 3280
3295 2980
3296 5650
3297 2680
3298 6980
3299 2680
3300 4980
3301 3680
3302 3280
3303 2850
3304 1980
3305 5480
3306 4980
3307 5800
3308 1980
3309 5480
3310 3480
3311 4900
3312 6980
3313 5980
3314 5650
3315 3480
3316 2780
3317 4980
3318 3984
3319 3680
3320 1680
3321 2980
3322 9980
3323 2980
3324 4980
3325 6980
3326 11900
3327 10710
3328 6980
3329 2380
3330 4500
3331 1980
3332 3980
3333 4280
3334 3180
3335 2280
3336 6980
3337 3980
3338 2680
3339 3980
3340 1700
3341 2800
3342 4980
3343 6480
3344 4980
3345 21800
3346 19620
3347 2380
3348 2380
3349 2480
3350 8980
3351 4900
3352 4980
3353 2850
3354 2980
3355 5980
3356 9980
3357 2580
3358 2780
3359 1980
3360 4980
3361 11900
3362 10710
3363 5980
3364 5480
3365 4980
3366 15900
3367 4390
3368 2680
3369 1980
3370 3480
3371 1280
3372 2980
3373 6280
3374 7000
3375 6300
3376 9800
3377 2780
3378 14300
3379 3800
3380 5500
3381 10000
3382 9000
3383 11900
3384 6480
3385 4280
3386 4980
3387 6980
3388 13800
3389 1350
3390 1148
3391 4980
3392 3984
3393 3980
3394 5980
3395 1780
3396 3180
3397 17900
3398 15752
3399 21800
3400 19620
3401 5180
3402 3980
3403 6480
3404 19000
3405 16720
3406 5780
3407 1750
3408 9800
3409 2380
3410 14000
3411 12600
3412 3800
3413 21200
3414 15476
3415 5980
3416 37900
3417 26530
3418 6900
3419 3980
3420 4980
3421 21800
3422 19620
3423 5800
3424 2480
3425 15900
3426 13992
3427 4700
3428 3480
3429 5980
3430 21200
3431 15476
3432 39000
3433 3180
3434 13900
3435 23800
3436 22134
3437 5480
3438 4200
3439 980
3440 833
3441 3780
3442 3213
3443 22200
3444 6700
3445 4500
3446 16900
3447 6480
3448 9980
3449 5700
3450 34900
3451 27920
3452 16900
3453 5900
3454 11500
3455 18400
3456 13800
3457 10900
3458 9810
3459 21800
3460 19620
3461 6900
3462 19000
3463 15200
3464 17800
3465 5700
3466 15200
3467 13100
3468 21900
3469 16000
3470 12800
3471 6800
3472 10500
3473 17900
3474 7980
3475 6980
3476 2980
3477 18400
3478 13800
3479 13000
3480 5900
3481 19900
3482 23800
3483 21420
3484 16200
3485 18400
3486 13800
3487 5900
3488 22400
3489 5700
3490 12900
3491 15900
3492 8800
3493 16000
3494 12800
3495 38000
3496 30400
3497 24900
3498 22410
3499 5500
3500 13900
3501 24500
3502 6300
3503 15900
3504 19300
3505 4200
3506 6500
3507 14900
3508 29900
3509 8500
3510 15400
3511 15000
3512 15900
3513 19900
3514 2000
3515 18900
3516 25000
3517 23250
3518 19300
3519 27900
3520 24900
3521 9000
3522 11900
3523 5000
3524 4500
3525 18900
3526 10900
3527 11900
3528 12900
3529 14800
3530 13500
3531 12555
3532 13900
3533 32000
3534 6200
3535 43000
3536 41710
3537 9900
3538 6480
3539 6500
3540 14900
3541 29800
3542 14900
3543 67500
3544 60000
3545 13400
3546 198000
3547 148500
3548 60000
3549 32900
3550 25800
3551 40900
3552 33900
3553 4980
3554 46900
3555 44555
3556 42900
3557 40755
3558 17800
3559 14900
3560 9900
3561 11900
3562 12800
3563 34800
3564 24360
3565 30800
3566 12800
3567 21800
3568 5800
3569 19800
3570 9900
3571 8800
3572 4980
3573 29800
3574 60000
3575 1980
3576 46000
3577 29800
3578 13410
3579 38800
3580 31000
3581 49500
3582 46750
3583 4980
3584 42900
3585 40755
3586 19800
3587 12980
3588 89800
3589 49900
3590 25000
3591 12500
3592 29900
3593 6800
3594 40000
3595 22000
3596 39900
3597 37905
3598 19800
3599 9900
3600 49800
3601 19800
3602 68000
3603 34900
3604 33155
3605 24900
3606 2980
3607 73900
3608 19800
3609 19800
3610 9900
3611 9750
3612 21880
3613 26900
3614 25555
3615 24900
3616 23655
3617 4980
3618 9000
3619 15800
3620 58900
3621 55955
3622 4900
3623 22400
3624 37800
3625 29700
3626 8980
3627 49900
3628 39920
3629 199000
3630 179100
3631 18800
3632 19900
3633 18905
3634 7800
3635 48400
3636 45980
3637 13500
3638 49900
3639 47405
3640 17900
3641 52000
3642 229500
3643 218025
3644 41900
3645 39805
3646 13900
3647 11815
3648 49900
3649 40900
3650 27900
3651 22320
3652 6380
3653 19800
3654 18980
3655 28000
3656 73900
3657 15400
3658 4900
3659 16980
3660 13584
3661 42900
3662 40755
3663 11800
3664 21480
3665 36500
3666 18400
3667 98000
3668 89000
3669 31900
3670 30305
3671 24800
3672 17800
3673 11800
3674 11800
3675 15800
3676 59800
3677 17800
3678 31200
3679 28080
3680 56000
3681 12900
3682 11610
3683 37900
3684 130900
3685 124355
3686 40000
3687 26900
3688 450000
3689 382500
3690 86400
3691 77760
3692 57900
3693 55005
3694 101800
3695 49800
3696 22800
3697 29900
3698 28405
3699 19900
3700 18905
3701 75000
3702 49900
3703 39920
3704 30000
3705 13900
3706 19800
3707 119000
3708 83300
3709 35000
3710 46000
3711 33900
3712 39900
3713 18700
3714 109000
3715 13800
3716 90000
3717 47900
3718 37800
3719 13900
3720 11815
3721 10800
3722 24900
3723 23655
3724 29900
3725 28405
3726 11990
3727 17800
3728 21900
3729 20805
3730 69800
3731 49900
3732 45479
3733 41600
3734 9900
3735 21000
3736 11800
3737 14900
3738 1080
3739 21000
3740 19950
3741 1830
3742 10900
3743 13900
3744 16800
3745 19800
3746 15840
3747 11800
3748 55000
3749 59800
3750 40000
3751 22000
3752 16500
3753 15675
3754 19000
3755 220000
3756 198000
3757 34800
3758 59800
3759 19900
3760 18905
3761 39800
3762 15800
3763 37800
3764 23900
3765 22705
3766 49800
3767 27390
3768 23900
3769 21510
3770 68900
3771 129900
3772 16900
3773 16055
3774 39800
3775 41900
3776 39805
3777 23800
3778 98000
3779 68600
3780 22800
3781 30800
3782 19900
3783 18905
3784 50900
3785 48355
3786 27900
3787 22320
3788 23800
3789 99000
3790 19900
3791 109000
3792 103550
3793 26900
3794 198000
3795 188100
3796 1400
3797 5980
3798 79900
3799 49900
3800 30000
3801 19800
3802 29900
3803 28405
3804 68000
3805 67500
3806 60750
3807 14980
3808 169200
3809 160740
3810 12700
3811 12065
3812 10800
3813 65000
3814 59800
3815 29900
3816 28405
3817 65900
3818 10800
3819 69800
3820 59000
3821 38000
3822 50000
3823 27800
3824 23800
3825 39000
3826 32800
3827 11800
3828 35900
3829 34105
3830 51800
3831 25900
3832 29800
3833 14800
3834 30000
3835 15900
3836 9900
3837 8910
3838 13900
3839 15900
3840 6480
3841 9480
3842 8980
3843 9980
3844 3580
3845 9980
3846 3980
3847 21980
3848 2180
3849 3480
3850 2480
3851 4380
3852 1780
3853 3400
3854 4580
3855 13980
3856 3980
3857 5980
3858 3800
3859 3100
3860 11980
3861 16880
3862 4280
3863 3480
3864 2980
3865 5880
3866 18900
3867 5200
3868 3100
3869 1980
3870 3480
3871 5200
3872 4580
3873 6380
3874 7100
3875 3680
3876 2780
3877 3480
3878 2580
3879 3800
3880 9980
3881 3280
3882 33180
3883 4980
3884 9900
3885 8900
3886 2780
3887 9980
3888 3100
3889 16380
3890 3480
3891 8980
3892 5200
3893 2480
3894 15980
3895 2100
3896 4980
3897 2480
3898 990
3899 3100
3900 13880
3901 2580
3902 2480
3903 4380
3904 3480
3905 3500
3906 2760
3907 4780
3908 4100
3909 2780
3910 1150
3911 13980
3912 4880
3913 11980
3914 2150
3915 4980
3916 3780
3917 9990
3918 14900
3919 9900
3920 9980
3921 7984
3922 2590
3923 1900
3924 5800
3925 4900
3926 5500
3927 9980
3928 7980
3929 5780
3930 4260
3931 4280
3932 3680
3933 2600
3934 13180
3935 31880
3936 3680
3937 4980
3938 5100
3939 3480
3940 4580
3941 3000
3942 2200
3943 6980
3944 4980
3945 1500
3946 16980
3947 15980
3948 4100
3949 2980
3950 4180
3951 3480
3952 5980
3953 2480
3954 9900
3955 4880
3956 2800
3957 2900
3958 4980
3959 7980
3960 2480
3961 5480
3962 8980
3963 7660
3964 8900
3965 1980
3966 5980
3967 3990
3968 5200
3969 4980
3970 2480
3971 6900
3972 15580
3973 2780
3974 5920
3975 28880
3976 6900
3977 9980
3978 2980
3979 2980
3980 3580
3981 1680
3982 9900
3983 9900
3984 7100
3985 2990
3986 6980
3987 16380
3988 1980
3989 8880
3990 5700
3991 11980
3992 9980
3993 7984
3994 6980
3995 16780
3996 4580
3997 4980
3998 2200
3999 4950
4000 9980
4001 11980
4002 5600
4003 3620
4004 4980
4005 7980
4006 7980
4007 8900
4008 1980
4009 2480
4010 14600
4011 3980
4012 5200
4013 4900
4014 6980
4015 14800
4016 16900
4017 3980
4018 9800
4019 13980
4020 6980
4021 5180
4022 2380
4023 990
4024 7480
4025 13900
4026 3430
4027 17800
4028 3880
4029 2050
4030 3500
4031 2980
4032 4450
4033 4700
4034 14800
4035 6950
4036 6980
4037 2680
4038 5480
4039 4384
4040 2580
4041 5200
4042 1780
4043 4150
4044 4150
4045 8980
4046 2980
4047 8280
4048 2980
4049 2680
4050 9480
4051 11480
4052 2580
4053 9980
4054 4900
4055 5200
4056 4980
4057 15980
4058 9980
4059 9980
4060 8980
4061 4900
4062 4580
4063 41800
4064 4580
4065 1480
4066 2800
4067 2200
4068 7980
4069 6980
4070 24800
4071 4980
4072 11900
4073 5900
4074 9980
4075 8980
4076 6980
4077 8980
4078 15180
4079 3780
4080 2480
4081 5980
4082 8980
4083 45800
4084 41220
4085 19460
4086 2980
4087 3980
4088 1580
4089 13480
4090 12900
4091 9900
4092 19980
4093 5980
4094 9400

4095 19980
4096 9500
4097 5480
4098 3280
4099 16800
4100 3180
4101 990
4102 1280
4103 9800
4104 3900
4105 2180
4106 1980
4107 2980
4108 1480
4109 1580
4110 10900
4111 13800
4112 7980
4113 9790
4114 5200
4115 9900
4116 2480
4117 2980
4118 8980
4119 5700
4120 9280
4121 4980
4122 5900
4123 9000
4124 7390
4125 4980
4126 3980
4127 1580
4128 15980
4129 2980
4130 3980
4131 7980
4132 17480
4133 5200
4134 3500

In [21]:
pick = random.randint(1,4134)
print(pick)
print(rows[pick-1]['price'])

2884
3480

In [5]:
import random
pick =random.randint(1, 4134)
quantity = random.randint(1,4)
print("상품 번호:",pick)
print("상품 가격:",rows[pick-1]["price"],"원")
print("수량:", quantity,"개")
print("상품 가격 * 수량:", rows[pick-1]["price"]*quantity)

상품 번호: 3677
상품 가격: 17800 원
수량: 2 개
상품 가격 * 수량: 35600

In [6]:
import random

for i in range(1,3):
    min_total_price = random.randint(30000, 200000)
    print("\n** 주문 번호:", i, '[min_total_price]', min_total_price, "원")
    
    total_price = 0
    while total_price < min_total_price:
        pick = random.randint(1, 4134)
        quantity = random.randint(1, 4)
        print("\n상품 번호:", pick)
        print("상품 가격:",rows[pick-1]["price"],"원")
        print("수량:", quantity,"개")
        print("상품 가격 * 수량:", rows[pick-1]["price"]*quantity)
        total_price += rows[pick-1]['price']*quantity
    print("\n[총 주문 가격]", total_price,"원")

** 주문 번호: 1 [min_total_price] 73396 원

상품 번호: 673
상품 가격: 1180 원
수량: 4 개
상품 가격 * 수량: 4720

상품 번호: 253
상품 가격: 46800 원
수량: 2 개
상품 가격 * 수량: 93600

[총 주문 가격] 98320 원

** 주문 번호: 2 [min_total_price] 124527 원

상품 번호: 3224
상품 가격: 4180 원
수량: 1 개
상품 가격 * 수량: 4180

상품 번호: 3421
상품 가격: 21800 원
수량: 1 개
상품 가격 * 수량: 21800

상품 번호: 394
상품 가격: 3800 원
수량: 1 개
상품 가격 * 수량: 3800

상품 번호: 2666
상품 가격: 840 원
수량: 1 개
상품 가격 * 수량: 840

상품 번호: 665
상품 가격: 7650 원
수량: 1 개
상품 가격 * 수량: 7650

상품 번호: 2315
상품 가격: 1480 원
수량: 2 개
상품 가격 * 수량: 2960

상품 번호: 623
상품 가격: 8082 원
수량: 2 개
상품 가격 * 수량: 16164

상품 번호: 698
상품 가격: 6700 원
수량: 4 개
상품 가격 * 수량: 26800

상품 번호: 2781
상품 가격: 7990 원
수량: 2 개
상품 가격 * 수량: 15980

상품 번호: 607
상품 가격: 5680 원
수량: 1 개
상품 가격 * 수량: 5680

상품 번호: 295
상품 가격: 11800 원
수량: 4 개
상품 가격 * 수량: 47200

[총 주문 가격] 153054 원

In [23]:
import random

print("마지막 주문 번호:", order_id-1)
order_id_list = list(range(1, order_id))
print("주문 번호 리스트:", order_id_list)
random.shuffle(order_id_list)
print("shuffle 주문 번호 리스트:", order_id_list)
print("1번째 shuffle 주문 번호:", order_id_list[0])

마지막 주문 번호: 3589

In [24]:
import random
for i in range(1, 500):
    min_total_price = random.randint(30000, 150000)
    total_price = 0
    while total_price < min_total_price:
        pick = random.randint(1, 257)
        quantity = random.randint(1, 4)
        total_price += rows[pick-1]['price']*quantity
        
for i in range(500, 1000):
    min_total_price = random.randint(30000, 100000)
    total_price = 0
    while total_price < min_total_price:
        pick = random.randint(1432, 1731 )
        quantity = random.randint(1, 4)
        total_price += rows[pick-1]['price']*quantity
        
for i in range(1, 500):
    min_total_price = random.randint(30000, 50000)
    total_price = 0
    while total_price < min_total_price:
        pick = random.randint(1, 4134)
        quantity = random.randint(1, 4)
        total_price += rows[pick-1]['price']*quantity
for i in range(1, 500):
    min_total_price = random.randint(20000, 200000)
    total_price = 0
    while total_price < min_total_price:
        pick = random.randint(1, 4134)
        quantity = random.randint(1, 4)
        total_price += rows[pick-1]['price']*quantity

In [12]:
import pymysql

db= pymysql.connect(host='localhost',user='root',password='root',db='mall')
curs =db.cursor(pymysql.cursors.DictCursor)
query = "select seq, users_id from credit_cards"
curs.execute(query)
rows = curs.fetchall()
for row in rows:
    print(row['seq'], row['users_id'])
db.close()

1 1
2 1
3 2
4 3
5 3
6 4
7 5
8 5
9 5
10 6
11 7
12 7
13 8
14 8
15 8
16 9
17 9
18 10
19 11
20 11
21 11
22 12
23 13
24 14
25 14
26 14
27 15
28 15
29 16
30 16
31 16
32 17
33 17
34 17
35 18
36 18
37 18
38 19
39 19
40 20
41 21
42 21
43 21
44 22
45 22
46 23
47 23
48 24
49 24
50 24
51 25
52 25
53 26
54 26
55 26
56 27
57 27
58 28
59 28
60 28
61 29
62 29
63 29
64 30
65 30
66 31
67 32
68 32
69 32
70 33
71 34
72 35
73 35
74 36
75 37
76 38
77 38
78 38
79 39
80 40
81 40
82 41
83 41
84 41
85 42
86 42
87 43
88 43
89 44
90 45
91 45
92 45
93 46
94 46
95 46
96 47
97 48
98 48
99 49
100 50
101 50
102 50
103 51
104 52
105 52
106 52
107 53
108 53
109 54
110 54
111 54
112 55
113 55
114 55
115 56
116 57
117 58
118 58
119 59
120 59
121 60
122 60
123 61
124 62
125 62
126 63
127 64
128 65
129 65
130 65
131 66
132 66
133 66
134 67
135 68
136 69
137 70
138 70
139 71
140 72
141 72
142 73
143 74
144 74
145 74
146 75
147 75
148 75
149 76
150 76
151 77
152 77
153 77
154 78
155 79
156 79
157 79
158 80
159 80
160 80
161 81
162 81
163 82
164 82
165 82
166 83
167 84
168 84
169 84
170 85
171 85
172 86
173 86
174 87
175 88
176 88
177 88
178 89
179 90
180 91
181 92
182 93
183 93
184 94
185 94
186 94
187 95
188 95
189 96
190 96
191 96
192 97
193 97
194 97
195 98
196 99
197 99
198 99
199 100
200 101
201 102
202 103
203 104
204 105
205 105
206 106
207 107
208 108
209 108
210 109
211 109
212 110
213 110
214 111
215 111
216 111
217 112
218 112
219 113
220 114
221 114
222 114
223 115
224 116
225 116
226 117
227 117
228 118
229 118
230 119
231 119
232 120
233 121
234 121
235 122
236 123
237 124
238 124
239 125
240 125
241 126
242 126
243 127
244 127
245 128
246 128
247 129
248 129
249 129
250 130
251 130
252 130
253 131
254 131
255 131
256 132
257 132
258 132
259 133
260 134
261 134
262 134
263 135
264 135
265 135
266 136
267 136
268 137
269 137
270 138
271 139
272 139
273 139
274 140
275 141
276 141
277 141
278 142
279 143
280 143
281 144
282 145
283 146
284 147
285 147
286 147
287 148
288 149
289 149
290 149
291 150
292 151
293 151
294 152
295 153
296 154
297 155
298 155
299 155
300 156
301 156
302 157
303 158
304 159
305 159
306 160
307 160
308 161
309 161
310 162
311 162
312 163
313 163
314 163
315 164
316 164
317 164
318 165
319 166
320 166
321 167
322 168
323 168
324 169
325 170
326 171
327 171
328 171
329 172
330 172
331 172
332 173
333 174
334 174
335 175
336 175
337 176
338 176
339 176
340 177
341 177
342 177
343 178
344 179
345 179
346 180
347 181
348 182
349 182
350 183
351 183
352 184
353 185
354 186
355 186
356 187
357 188
358 189
359 189
360 190
361 191
362 191
363 191
364 192
365 192
366 192
367 193
368 194
369 194
370 194
371 195
372 195
373 196
374 197
375 197
376 197
377 198
378 198
379 198
380 199
381 199
382 200
383 201
384 202
385 202
386 203
387 203
388 203
389 204
390 204
391 204
392 205
393 206
394 206
395 206
396 207
397 207
398 207
399 208
400 208
401 209
402 209
403 210
404 211
405 212
406 213
407 214
408 214
409 215
410 215
411 215
412 216
413 216
414 216
415 217
416 217
417 218
418 218
419 218
420 219
421 219
422 220
423 220
424 220
425 221
426 221
427 221
428 222
429 222
430 223
431 223
432 223
433 224
434 224
435 224
436 225
437 225
438 225
439 226
440 227
441 227
442 227
443 228
444 228
445 228
446 229
447 230
448 230
449 230
450 231
451 231
452 232
453 232
454 232
455 233
456 234
457 235
458 236
459 236
460 236
461 237
462 237
463 237
464 238
465 239
466 240
467 241
468 242
469 242
470 243
471 243
472 244
473 245
474 245
475 245
476 246
477 246
478 247
479 248
480 248
481 249
482 249
483 250
484 250
485 250
486 251
487 251
488 252
489 252
490 252
491 253
492 253
493 254
494 255
495 255
496 256
497 256
498 257
499 258
500 259
501 259
502 260
503 260
504 261
505 261
506 262
507 262
508 263
509 263
510 264
511 265
512 265
513 266
514 266
515 266
516 267
517 267
518 268
519 269
520 269
521 269
522 270
523 270
524 270
525 271
526 271
527 271
528 272
529 272
530 273
531 273
532 274
533 274
534 274
535 275
536 275
537 276
538 276
539 277
540 277
541 278
542 278
543 278
544 279
545 279
546 280
547 280
548 280
549 281
550 282
551 282
552 282
553 283
554 284
555 284
556 284
557 285
558 286
559 286
560 286
561 287
562 288
563 289
564 289
565 290
566 290
567 291
568 291
569 291
570 292
571 292
572 292
573 293
574 294
575 294
576 294
577 295
578 296
579 296
580 296
581 297
582 297
583 298
584 298
585 299
586 300
587 301
588 302
589 303
590 304
591 304
592 304
593 305
594 305
595 305
596 306
597 307
598 307
599 307
600 308
601 308
602 308
603 309
604 309
605 309
606 310
607 310
608 310
609 311
610 311
611 312
612 312
613 312
614 313
615 314
616 315
617 316
618 316
619 317
620 317
621 318
622 319
623 320
624 320
625 320
626 321
627 321
628 321
629 322
630 322
631 323
632 324
633 324
634 325
635 326
636 326
637 327
638 328
639 328
640 328
641 329
642 330
643 331
644 331
645 331
646 332
647 333
648 334
649 334
650 334
651 335
652 335
653 336
654 336
655 337
656 337
657 337
658 338
659 339
660 339
661 339
662 340
663 340
664 340
665 341
666 342
667 342
668 342
669 343
670 343
671 343
672 344
673 344
674 345
675 345
676 346
677 346
678 346
679 347
680 347
681 348
682 349
683 350
684 350
685 351
686 351
687 352
688 353
689 354
690 354
691 355
692 355
693 356
694 356
695 357
696 357
697 357
698 358
699 358
700 359
701 359
702 360
703 361
704 361
705 361
706 362
707 362
708 362
709 363
710 363
711 364
712 364
713 365
714 366
715 367
716 367
717 368
718 368
719 368
720 369
721 369
722 369
723 370
724 370
725 370
726 371
727 371
728 372
729 372
730 372
731 373
732 374
733 374
734 375
735 375
736 376
737 376
738 377
739 377
740 378
741 378
742 379
743 379
744 380
745 381
746 382
747 383
748 383
749 384
750 384
751 384
752 385
753 385
754 385
755 386
756 386
757 386
758 387
759 387
760 387
761 388
762 388
763 388
764 389
765 389
766 390
767 390
768 390
769 391
770 392
771 392
772 392
773 393
774 394
775 394
776 395
777 395
778 396
779 396
780 397
781 397
782 398
783 398
784 398
785 399
786 399
787 400
788 400
789 401
790 401
791 402
792 403
793 403
794 404
795 404
796 405
797 405
798 406
799 406
800 406
801 407
802 408
803 408
804 408
805 409
806 410
807 411
808 412
809 412
810 412
811 413
812 413
813 413
814 414
815 415
816 416
817 416
818 416
819 417
820 417
821 418
822 418
823 418
824 419
825 420
826 421
827 422
828 422
829 423
830 423
831 424
832 425
833 425
834 426
835 427
836 427
837 428
838 428
839 428
840 429
841 430
842 430
843 431
844 432
845 432
846 433
847 433
848 433
849 434
850 435
851 436
852 437
853 438
854 438
855 438
856 439
857 439
858 439
859 440
860 440
861 440
862 441
863 442
864 443
865 443
866 443
867 444
868 445
869 445
870 445
871 446
872 446
873 446
874 447
875 447
876 448
877 448
878 449
879 449
880 450
881 450
882 450
883 451
884 452
885 452
886 453
887 454
888 454
889 455
890 455
891 456
892 456
893 457
894 458
895 459
896 459
897 460
898 460
899 461
900 462
901 462
902 463
903 463
904 464
905 465
906 466
907 466
908 467
909 468
910 468
911 468
912 469
913 469
914 470
915 470
916 470
917 471
918 471
919 472
920 472
921 473
922 473
923 473
924 474
925 474
926 474
927 475
928 476
929 476
930 476
931 477
932 477
933 478
934 479
935 479
936 480
937 481
938 482
939 482
940 482
941 483
942 483
943 483
944 484
945 484
946 484
947 485
948 486
949 486
950 486
951 487
952 487
953 488
954 488
955 488
956 489
957 490
958 490
959 490
960 491
961 491
962 492
963 493
964 494
965 494
966 495
967 495
968 496
969 496
970 497
971 497
972 498
973 498
974 499
975 499
976 500
977 500
978 500
979 501
980 501
981 502
982 502
983 502
984 503
985 504
986 505
987 505
988 506
989 506
990 507
991 508
992 509
993 509
994 510
995 511
996 512
997 513
998 513
999 514
1000 514
1001 514
1002 515
1003 516
1004 516
1005 517
1006 517
1007 518
1008 519
1009 520
1010 521
1011 522
1012 522
1013 523
1014 524
1015 524
1016 524
1017 525
1018 525
1019 526
1020 527
1021 528
1022 529
1023 530
1024 530
1025 531
1026 532
1027 533
1028 533
1029 534
1030 535
1031 535
1032 535
1033 536
1034 536
1035 536
1036 537
1037 537
1038 537
1039 538
1040 538
1041 539
1042 540
1043 540
1044 541
1045 541
1046 542
1047 542
1048 542
1049 543
1050 543
1051 543
1052 544
1053 544
1054 544
1055 545
1056 545
1057 546
1058 546
1059 546
1060 547
1061 547
1062 547
1063 548
1064 548
1065 549
1066 550
1067 550
1068 551
1069 551
1070 552
1071 552
1072 553
1073 553
1074 553
1075 554
1076 554
1077 555
1078 555
1079 556
1080 557
1081 557
1082 557
1083 558
1084 558
1085 559
1086 560
1087 560
1088 560
1089 561
1090 561
1091 562
1092 562
1093 562
1094 563
1095 563
1096 564
1097 564
1098 565
1099 565
1100 565
1101 566
1102 566
1103 567
1104 567
1105 568
1106 568
1107 569
1108 569
1109 569
1110 570
1111 570

1112 570
1113 571
1114 572
1115 572
1116 573
1117 574
1118 574
1119 574
1120 575
1121 576
1122 576
1123 576
1124 577
1125 577
1126 578
1127 578
1128 578
1129 579
1130 580
1131 581
1132 582
1133 583
1134 583
1135 584
1136 584
1137 585
1138 585
1139 586
1140 587
1141 587
1142 588
1143 589
1144 590
1145 590
1146 590
1147 591
1148 592
1149 592
1150 593
1151 594
1152 594
1153 594
1154 595
1155 596
1156 596
1157 597
1158 598
1159 599
1160 600
1161 600
1162 601
1163 602
1164 602
1165 603
1166 603
1167 604
1168 604
1169 605
1170 606
1171 607
1172 607
1173 608
1174 608
1175 609
1176 609
1177 609
1178 610
1179 610
1180 611
1181 611
1182 612
1183 612
1184 612
1185 613
1186 613
1187 613
1188 614
1189 614
1190 615
1191 616
1192 616
1193 617
1194 617
1195 617
1196 618
1197 618
1198 619
1199 620
1200 620
1201 621
1202 621
1203 622
1204 622
1205 622
1206 623
1207 624
1208 625
1209 626
1210 626
1211 627
1212 627
1213 628
1214 629
1215 629
1216 629
1217 630
1218 630
1219 630
1220 631
1221 631
1222 632
1223 632
1224 633
1225 633
1226 633
1227 634
1228 634
1229 634
1230 635
1231 635
1232 636
1233 636
1234 637
1235 637
1236 638
1237 638
1238 639
1239 639
1240 639
1241 640
1242 640
1243 641
1244 641
1245 642
1246 642
1247 643
1248 643
1249 643
1250 644
1251 645
1252 645
1253 645
1254 646
1255 647
1256 647
1257 648
1258 649
1259 650
1260 650
1261 650
1262 651
1263 651
1264 651
1265 652
1266 652
1267 652
1268 653
1269 654
1270 654
1271 654
1272 655
1273 656
1274 656
1275 656
1276 657
1277 658
1278 658
1279 659
1280 659
1281 660
1282 660
1283 660
1284 661
1285 661
1286 661
1287 662
1288 663
1289 663
1290 663
1291 664
1292 664
1293 664
1294 665
1295 665
1296 666
1297 666
1298 667
1299 668
1300 668
1301 668
1302 669
1303 669
1304 670
1305 670
1306 670
1307 671
1308 671
1309 671
1310 672
1311 672
1312 673
1313 674
1314 674
1315 674
1316 675
1317 675
1318 675
1319 676
1320 676
1321 676
1322 677
1323 678
1324 678
1325 679
1326 679
1327 679
1328 680
1329 680
1330 680
1331 681
1332 681
1333 681
1334 682
1335 682
1336 683
1337 683
1338 684
1339 684
1340 685
1341 685
1342 686
1343 687
1344 687
1345 688
1346 689
1347 690
1348 691
1349 691
1350 692
1351 692
1352 692
1353 693
1354 693
1355 694
1356 695
1357 695
1358 695
1359 696
1360 696
1361 696
1362 697
1363 697
1364 698
1365 699
1366 700
1367 701
1368 701
1369 702
1370 702
1371 702
1372 703
1373 703
1374 703
1375 704
1376 704
1377 704
1378 705
1379 706
1380 706
1381 707
1382 708
1383 708
1384 709
1385 709
1386 709
1387 710
1388 711
1389 711
1390 712
1391 712
1392 713
1393 714
1394 715
1395 715
1396 716
1397 717
1398 718
1399 718
1400 718
1401 719
1402 719
1403 719
1404 720
1405 720
1406 720
1407 721
1408 721
1409 721
1410 722
1411 722
1412 722
1413 723
1414 723
1415 723
1416 724
1417 724
1418 724
1419 725
1420 726
1421 727
1422 728
1423 728
1424 729
1425 730
1426 731
1427 731
1428 732
1429 732
1430 733
1431 733
1432 733
1433 734
1434 735
1435 735
1436 736
1437 736
1438 736
1439 737
1440 738
1441 739
1442 740
1443 740
1444 741
1445 741
1446 741
1447 742
1448 743
1449 744
1450 745
1451 745
1452 746
1453 746
1454 746
1455 747
1456 748
1457 748
1458 749
1459 749
1460 750
1461 750
1462 751
1463 751
1464 752
1465 752
1466 752
1467 753
1468 754
1469 754
1470 754
1471 755
1472 755
1473 756
1474 757
1475 757
1476 758
1477 759
1478 759
1479 760
1480 760
1481 760
1482 761
1483 761
1484 761
1485 762
1486 762
1487 763
1488 763
1489 763
1490 764
1491 764
1492 764
1493 765
1494 765
1495 766
1496 766
1497 767
1498 767
1499 767
1500 768
1501 768
1502 768
1503 769
1504 769
1505 770
1506 771
1507 771
1508 772
1509 772
1510 773
1511 773
1512 774
1513 775
1514 775
1515 776
1516 776
1517 776
1518 777
1519 777
1520 778
1521 778
1522 778
1523 779
1524 779
1525 779
1526 780
1527 780
1528 780
1529 781
1530 782
1531 782
1532 783
1533 783
1534 784
1535 784
1536 784
1537 785
1538 786
1539 786
1540 786
1541 787
1542 787
1543 788
1544 788
1545 789
1546 789
1547 789
1548 790
1549 790
1550 791
1551 791
1552 792
1553 792
1554 793
1555 793
1556 793
1557 794
1558 794
1559 795
1560 796
1561 796
1562 797
1563 797
1564 798
1565 798
1566 798
1567 799
1568 799
1569 800
1570 800
1571 801
1572 802
1573 802
1574 802
1575 803
1576 803
1577 803
1578 804
1579 804
1580 805
1581 806
1582 806
1583 807
1584 807
1585 808
1586 809
1587 810
1588 810
1589 811
1590 812
1591 812
1592 813
1593 814
1594 815
1595 815
1596 815
1597 816
1598 817
1599 817
1600 817
1601 818
1602 818
1603 818
1604 819
1605 820
1606 820
1607 820
1608 821
1609 821
1610 821
1611 822
1612 822
1613 822
1614 823
1615 823
1616 824
1617 824
1618 825
1619 825
1620 825
1621 826
1622 826
1623 826
1624 827
1625 828
1626 828
1627 828
1628 829
1629 830
1630 830
1631 830
1632 831
1633 831
1634 831
1635 832
1636 833
1637 834
1638 834
1639 834
1640 835
1641 836
1642 837
1643 838
1644 838
1645 838
1646 839
1647 839
1648 839
1649 840
1650 840
1651 841
1652 841
1653 842
1654 843
1655 843
1656 843
1657 844
1658 844
1659 845
1660 845
1661 845
1662 846
1663 846
1664 846
1665 847
1666 847
1667 848
1668 848
1669 849
1670 850
1671 850
1672 851
1673 852
1674 852
1675 852
1676 853
1677 853
1678 854
1679 855
1680 856
1681 856
1682 857
1683 857
1684 858
1685 859
1686 859
1687 860
1688 860
1689 861
1690 861
1691 861
1692 862
1693 862
1694 863
1695 863
1696 864
1697 865
1698 865
1699 865
1700 866
1701 866
1702 867
1703 867
1704 868
1705 868
1706 868
1707 869
1708 869
1709 870
1710 870
1711 871
1712 872
1713 872
1714 873
1715 874
1716 874
1717 875
1718 876
1719 876
1720 876
1721 877
1722 877
1723 877
1724 878
1725 878
1726 879
1727 879
1728 879
1729 880
1730 880
1731 881
1732 881
1733 881
1734 882
1735 882
1736 882
1737 883
1738 884
1739 884
1740 884
1741 885
1742 886
1743 886
1744 886
1745 887
1746 887
1747 887
1748 888
1749 889
1750 889
1751 890
1752 891
1753 891
1754 891
1755 892
1756 893
1757 893
1758 893
1759 894
1760 894
1761 894
1762 895
1763 895
1764 895
1765 896
1766 896
1767 897
1768 897
1769 897
1770 898
1771 899
1772 899
1773 899
1774 900
1775 901
1776 902
1777 902
1778 903
1779 903
1780 903
1781 904
1782 904
1783 905
1784 905
1785 905
1786 906
1787 907
1788 908
1789 908
1790 909
1791 909
1792 910
1793 910
1794 911
1795 911
1796 912
1797 912
1798 912
1799 913
1800 913
1801 914
1802 914
1803 915
1804 915
1805 915
1806 916
1807 916
1808 917
1809 918
1810 919
1811 919
1812 920
1813 920
1814 920
1815 921
1816 921
1817 922
1818 922
1819 923
1820 923
1821 924
1822 924
1823 924
1824 925
1825 926
1826 927
1827 927
1828 927
1829 928
1830 928
1831 929
1832 929
1833 930
1834 930
1835 930
1836 931
1837 931
1838 932
1839 932
1840 932
1841 933
1842 934
1843 934
1844 934
1845 935
1846 936
1847 936
1848 936
1849 937
1850 937
1851 937
1852 938
1853 939
1854 939
1855 940
1856 941
1857 942
1858 942
1859 942
1860 943
1861 944
1862 944
1863 945
1864 945
1865 945
1866 946
1867 946
1868 947
1869 947
1870 948
1871 948
1872 949
1873 950
1874 950
1875 951
1876 951
1877 952
1878 952
1879 952
1880 953
1881 953
1882 954
1883 954
1884 954
1885 955
1886 955
1887 956
1888 956
1889 957
1890 957
1891 957
1892 958
1893 958
1894 959
1895 959
1896 959
1897 960
1898 960
1899 961
1900 962
1901 963
1902 963
1903 963
1904 964
1905 964
1906 964
1907 965
1908 966
1909 966
1910 967
1911 967
1912 967
1913 968
1914 968
1915 968
1916 969
1917 969
1918 970
1919 971
1920 972
1921 973
1922 974
1923 974
1924 975
1925 976
1926 976
1927 976
1928 977
1929 977
1930 977
1931 978
1932 979
1933 979
1934 979
1935 980
1936 980
1937 980
1938 981
1939 981
1940 981
1941 982
1942 983
1943 983
1944 983
1945 984
1946 984
1947 985
1948 985
1949 986
1950 986
1951 986
1952 987
1953 987
1954 987
1955 988
1956 988
1957 988
1958 989
1959 989
1960 990
1961 991
1962 991
1963 992
1964 993
1965 993
1966 993
1967 994
1968 994
1969 995
1970 996
1971 996
1972 997
1973 997
1974 997
1975 998
1976 999
1977 1000
1978 1000

In [13]:
import random
credit_seq_list = []
for i in range(1, 1001):
    line = []
    for row in rows:
        if i == row['users_id']:
            line.append(row['seq'])
    credit_seq_list.append(line)
print("회원별 신용카드 식별 번호 리스트: ", credit_seq_list)
pick_credit_seq = random.choice(credit_seq_list[1-1])
print("1번 회원의 신용카드 중 선택된 1개의 식별 번호: ", pick_credit_seq)
pick_credit_seq = random.choice(credit_seq_list[998-1])
print("998번 회원의 신용카드 중 선택된 1개의 식별번호: ", pick_credit_seq)

회원별 신용카드 식별 번호 리스트:  [[1, 2], [3], [4, 5], [6], [7, 8, 9], [10], [11, 12], [13, 14, 15], [16, 17], [18], [19, 20, 21], [22], [23], [24, 25, 26], [27, 28], [29, 30, 31], [32, 33, 34], [35, 36, 37], [38, 39], [40], [41, 42, 43], [44, 45], [46, 47], [48, 49, 50], [51, 52], [53, 54, 55], [56, 57], [58, 59, 60], [61, 62, 63], [64, 65], [66], [67, 68, 69], [70], [71], [72, 73], [74], [75], [76, 77, 78], [79], [80, 81], [82, 83, 84], [85, 86], [87, 88], [89], [90, 91, 92], [93, 94, 95], [96], [97, 98], [99], [100, 101, 102], [103], [104, 105, 106], [107, 108], [109, 110, 111], [112, 113, 114], [115], [116], [117, 118], [119, 120], [121, 122], [123], [124, 125], [126], [127], [128, 129, 130], [131, 132, 133], [134], [135], [136], [137, 138], [139], [140, 141], [142], [143, 144, 145], [146, 147, 148], [149, 150], [151, 152, 153], [154], [155, 156, 157], [158, 159, 160], [161, 162], [163, 164, 165], [166], [167, 168, 169], [170, 171], [172, 173], [174], [175, 176, 177], [178], [179], [180], [181], [182, 183], [184, 185, 186], [187, 188], [189, 190, 191], [192, 193, 194], [195], [196, 197, 198], [199], [200], [201], [202], [203], [204, 205], [206], [207], [208, 209], [210, 211], [212, 213], [214, 215, 216], [217, 218], [219], [220, 221, 222], [223], [224, 225], [226, 227], [228, 229], [230, 231], [232], [233, 234], [235], [236], [237, 238], [239, 240], [241, 242], [243, 244], [245, 246], [247, 248, 249], [250, 251, 252], [253, 254, 255], [256, 257, 258], [259], [260, 261, 262], [263, 264, 265], [266, 267], [268, 269], [270], [271, 272, 273], [274], [275, 276, 277], [278], [279, 280], [281], [282], [283], [284, 285, 286], [287], [288, 289, 290], [291], [292, 293], [294], [295], [296], [297, 298, 299], [300, 301], [302], [303], [304, 305], [306, 307], [308, 309], [310, 311], [312, 313, 314], [315, 316, 317], [318], [319, 320], [321], [322, 323], [324], [325], [326, 327, 328], [329, 330, 331], [332], [333, 334], [335, 336], [337, 338, 339], [340, 341, 342], [343], [344, 345], [346], [347], [348, 349], [350, 351], [352], [353], [354, 355], [356], [357], [358, 359], [360], [361, 362, 363], [364, 365, 366], [367], [368, 369, 370], [371, 372], [373], [374, 375, 376], [377, 378, 379], [380, 381], [382], [383], [384, 385], [386, 387, 388], [389, 390, 391], [392], [393, 394, 395], [396, 397, 398], [399, 400], [401, 402], [403], [404], [405], [406], [407, 408], [409, 410, 411], [412, 413, 414], [415, 416], [417, 418, 419], [420, 421], [422, 423, 424], [425, 426, 427], [428, 429], [430, 431, 432], [433, 434, 435], [436, 437, 438], [439], [440, 441, 442], [443, 444, 445], [446], [447, 448, 449], [450, 451], [452, 453, 454], [455], [456], [457], [458, 459, 460], [461, 462, 463], [464], [465], [466], [467], [468, 469], [470, 471], [472], [473, 474, 475], [476, 477], [478], [479, 480], [481, 482], [483, 484, 485], [486, 487], [488, 489, 490], [491, 492], [493], [494, 495], [496, 497], [498], [499], [500, 501], [502, 503], [504, 505], [506, 507], [508, 509], [510], [511, 512], [513, 514, 515], [516, 517], [518], [519, 520, 521], [522, 523, 524], [525, 526, 527], [528, 529], [530, 531], [532, 533, 534], [535, 536], [537, 538], [539, 540], [541, 542, 543], [544, 545], [546, 547, 548], [549], [550, 551, 552], [553], [554, 555, 556], [557], [558, 559, 560], [561], [562], [563, 564], [565, 566], [567, 568, 569], [570, 571, 572], [573], [574, 575, 576], [577], [578, 579, 580], [581, 582], [583, 584], [585], [586], [587], [588], [589], [590, 591, 592], [593, 594, 595], [596], [597, 598, 599], [600, 601, 602], [603, 604, 605], [606, 607, 608], [609, 610], [611, 612, 613], [614], [615], [616], [617, 618], [619, 620], [621], [622], [623, 624, 625], [626, 627, 628], [629, 630], [631], [632, 633], [634], [635, 636], [637], [638, 639, 640], [641], [642], [643, 644, 645], [646], [647], [648, 649, 650], [651, 652], [653, 654], [655, 656, 657], [658], [659, 660, 661], [662, 663, 664], [665], [666, 667, 668], [669, 670, 671], [672, 673], [674, 675], [676, 677, 678], [679, 680], [681], [682], [683, 684], [685, 686], [687], [688], [689, 690], [691, 692], [693, 694], [695, 696, 697], [698, 699], [700, 701], [702], [703, 704, 705], [706, 707, 708], [709, 710], [711, 712], [713], [714], [715, 716], [717, 718, 719], [720, 721, 722], [723, 724, 725], [726, 727], [728, 729, 730], [731], [732, 733], [734, 735], [736, 737], [738, 739], [740, 741], [742, 743], [744], [745], [746], [747, 748], [749, 750, 751], [752, 753, 754], [755, 756, 757], [758, 759, 760], [761, 762, 763], [764, 765], [766, 767, 768], [769], [770, 771, 772], [773], [774, 775], [776, 777], [778, 779], [780, 781], [782, 783, 784], [785, 786], [787, 788], [789, 790], [791], [792, 793], [794, 795], [796, 797], [798, 799, 800], [801], [802, 803, 804], [805], [806], [807], [808, 809, 810], [811, 812, 813], [814], [815], [816, 817, 818], [819, 820], [821, 822, 823], [824], [825], [826], [827, 828], [829, 830], [831], [832, 833], [834], [835, 836], [837, 838, 839], [840], [841, 842], [843], [844, 845], [846, 847, 848], [849], [850], [851], [852], [853, 854, 855], [856, 857, 858], [859, 860, 861], [862], [863], [864, 865, 866], [867], [868, 869, 870], [871, 872, 873], [874, 875], [876, 877], [878, 879], [880, 881, 882], [883], [884, 885], [886], [887, 888], [889, 890], [891, 892], [893], [894], [895, 896], [897, 898], [899], [900, 901], [902, 903], [904], [905], [906, 907], [908], [909, 910, 911], [912, 913], [914, 915, 916], [917, 918], [919, 920], [921, 922, 923], [924, 925, 926], [927], [928, 929, 930], [931, 932], [933], [934, 935], [936], [937], [938, 939, 940], [941, 942, 943], [944, 945, 946], [947], [948, 949, 950], [951, 952], [953, 954, 955], [956], [957, 958, 959], [960, 961], [962], [963], [964, 965], [966, 967], [968, 969], [970, 971], [972, 973], [974, 975], [976, 977, 978], [979, 980], [981, 982, 983], [984], [985], [986, 987], [988, 989], [990], [991], [992, 993], [994], [995], [996], [997, 998], [999, 1000, 1001], [1002], [1003, 1004], [1005, 1006], [1007], [1008], [1009], [1010], [1011, 1012], [1013], [1014, 1015, 1016], [1017, 1018], [1019], [1020], [1021], [1022], [1023, 1024], [1025], [1026], [1027, 1028], [1029], [1030, 1031, 1032], [1033, 1034, 1035], [1036, 1037, 1038], [1039, 1040], [1041], [1042, 1043], [1044, 1045], [1046, 1047, 1048], [1049, 1050, 1051], [1052, 1053, 1054], [1055, 1056], [1057, 1058, 1059], [1060, 1061, 1062], [1063, 1064], [1065], [1066, 1067], [1068, 1069], [1070, 1071], [1072, 1073, 1074], [1075, 1076], [1077, 1078], [1079], [1080, 1081, 1082], [1083, 1084], [1085], [1086, 1087, 1088], [1089, 1090], [1091, 1092, 1093], [1094, 1095], [1096, 1097], [1098, 1099, 1100], [1101, 1102], [1103, 1104], [1105, 1106], [1107, 1108, 1109], [1110, 1111, 1112], [1113], [1114, 1115], [1116], [1117, 1118, 1119], [1120], [1121, 1122, 1123], [1124, 1125], [1126, 1127, 1128], [1129], [1130], [1131], [1132], [1133, 1134], [1135, 1136], [1137, 1138], [1139], [1140, 1141], [1142], [1143], [1144, 1145, 1146], [1147], [1148, 1149], [1150], [1151, 1152, 1153], [1154], [1155, 1156], [1157], [1158], [1159], [1160, 1161], [1162], [1163, 1164], [1165, 1166], [1167, 1168], [1169], [1170], [1171, 1172], [1173, 1174], [1175, 1176, 1177], [1178, 1179], [1180, 1181], [1182, 1183, 1184], [1185, 1186, 1187], [1188, 1189], [1190], [1191, 1192], [1193, 1194, 1195], [1196, 1197], [1198], [1199, 1200], [1201, 1202], [1203, 1204, 1205], [1206], [1207], [1208], [1209, 1210], [1211, 1212], [1213], [1214, 1215, 1216], [1217, 1218, 1219], [1220, 1221], [1222, 1223], [1224, 1225, 1226], [1227, 1228, 1229], [1230, 1231], [1232, 1233], [1234, 1235], [1236, 1237], [1238, 1239, 1240], [1241, 1242], [1243, 1244], [1245, 1246], [1247, 1248, 1249], [1250], [1251, 1252, 1253], [1254], [1255, 1256], [1257], [1258], [1259, 1260, 1261], [1262, 1263, 1264], [1265, 1266, 1267], [1268], [1269, 1270, 1271], [1272], [1273, 1274, 1275], [1276], [1277, 1278], [1279, 1280], [1281, 1282, 1283], [1284, 1285, 1286], [1287], [1288, 1289, 1290], [1291, 1292, 1293], [1294, 1295], [1296, 1297], [1298], [1299, 1300, 1301], [1302, 1303], [1304, 1305, 1306], [1307, 1308, 1309], [1310, 1311], [1312], [1313, 1314, 1315], [1316, 1317, 1318], [1319, 1320, 1321], [1322], [1323, 1324], [1325, 1326, 1327], [1328, 1329, 1330], [1331, 1332, 1333], [1334, 1335], [1336, 1337], [1338, 1339], [1340, 1341], [1342], [1343, 1344], [1345], [1346], [1347], [1348, 1349], [1350, 1351, 1352], [1353, 1354], [1355], [1356, 1357, 1358], [1359, 1360, 1361], [1362, 1363], [1364], [1365], [1366], [1367, 1368], [1369, 1370, 1371], [1372, 1373, 1374], [1375, 1376, 1377], [1378], [1379, 1380], [1381], [1382, 1383], [1384, 1385, 1386], [1387], [1388, 1389], [1390, 1391], [1392], [1393], [1394, 1395], [1396], [1397], [1398, 1399, 1400], [1401, 1402, 1403], [1404, 1405, 1406], [1407, 1408, 1409], [1410, 1411, 1412], [1413, 1414, 1415], [1416, 1417, 1418], [1419], [1420], [1421], [1422, 1423], [1424], [1425], [1426, 1427], [1428, 1429], [1430, 1431, 1432], [1433], [1434, 1435], [1436, 1437, 1438], [1439], [1440], [1441], [1442, 1443], [1444, 1445, 1446], [1447], [1448], [1449], [1450, 1451], [1452, 1453, 1454], [1455], [1456, 1457], [1458, 1459], [1460, 1461], [1462, 1463], [1464, 1465, 1466], [1467], [1468, 1469, 1470], [1471, 1472], [1473], [1474, 1475], [1476], [1477, 1478], [1479, 1480, 1481], [1482, 1483, 1484], [1485, 1486], [1487, 1488, 1489], [1490, 1491, 1492], [1493, 1494], [1495, 1496], [1497, 1498, 1499], [1500, 1501, 1502], [1503, 1504], [1505], [1506, 1507], [1508, 1509], [1510, 1511], [1512], [1513, 1514], [1515, 1516, 1517], [1518, 1519], [1520, 1521, 1522], [1523, 1524, 1525], [1526, 1527, 1528], [1529], [1530, 1531], [1532, 1533], [1534, 1535, 1536], [1537], [1538, 1539, 1540], [1541, 1542], [1543, 1544], [1545, 1546, 1547], [1548, 1549], [1550, 1551], [1552, 1553], [1554, 1555, 1556], [1557, 1558], [1559], [1560, 1561], [1562, 1563], [1564, 1565, 1566], [1567, 1568], [1569, 1570], [1571], [1572, 1573, 1574], [1575, 1576, 1577], [1578, 1579], [1580], [1581, 1582], [1583, 1584], [1585], [1586], [1587, 1588], [1589], [1590, 1591], [1592], [1593], [1594, 1595, 1596], [1597], [1598, 1599, 1600], [1601, 1602, 1603], [1604], [1605, 1606, 1607], [1608, 1609, 1610], [1611, 1612, 1613], [1614, 1615], [1616, 1617], [1618, 1619, 1620], [1621, 1622, 1623], [1624], [1625, 1626, 1627], [1628], [1629, 1630, 1631], [1632, 1633, 1634], [1635], [1636], [1637, 1638, 1639], [1640], [1641], [1642], [1643, 1644, 1645], [1646, 1647, 1648], [1649, 1650], [1651, 1652], [1653], [1654, 1655, 1656], [1657, 1658], [1659, 1660, 1661], [1662, 1663, 1664], [1665, 1666], [1667, 1668], [1669], [1670, 1671], [1672], [1673, 1674, 1675], [1676, 1677], [1678], [1679], [1680, 1681], [1682, 1683], [1684], [1685, 1686], [1687, 1688], [1689, 1690, 1691], [1692, 1693], [1694, 1695], [1696], [1697, 1698, 1699], [1700, 1701], [1702, 1703], [1704, 1705, 1706], [1707, 1708], [1709, 1710], [1711], [1712, 1713], [1714], [1715, 1716], [1717], [1718, 1719, 1720], [1721, 1722, 1723], [1724, 1725], [1726, 1727, 1728], [1729, 1730], [1731, 1732, 1733], [1734, 1735, 1736], [1737], [1738, 1739, 1740], [1741], [1742, 1743, 1744], [1745, 1746, 1747], [1748], [1749, 1750], [1751], [1752, 1753, 1754], [1755], [1756, 1757, 1758], [1759, 1760, 1761], [1762, 1763, 1764], [1765, 1766], [1767, 1768, 1769], [1770], [1771, 1772, 1773], [1774], [1775], [1776, 1777], [1778, 1779, 1780], [1781, 1782], [1783, 1784, 1785], [1786], [1787], [1788, 1789], [1790, 1791], [1792, 1793], [1794, 1795], [1796, 1797, 1798], [1799, 1800], [1801, 1802], [1803, 1804, 1805], [1806, 1807], [1808], [1809], [1810, 1811], [1812, 1813, 1814], [1815, 1816], [1817, 1818], [1819, 1820], [1821, 1822, 1823], [1824], [1825], [1826, 1827, 1828], [1829, 1830], [1831, 1832], [1833, 1834, 1835], [1836, 1837], [1838, 1839, 1840], [1841], [1842, 1843, 1844], [1845], [1846, 1847, 1848], [1849, 1850, 1851], [1852], [1853, 1854], [1855], [1856], [1857, 1858, 1859], [1860], [1861, 1862], [1863, 1864, 1865], [1866, 1867], [1868, 1869], [1870, 1871], [1872], [1873, 1874], [1875, 1876], [1877, 1878, 1879], [1880, 1881], [1882, 1883, 1884], [1885, 1886], [1887, 1888], [1889, 1890, 1891], [1892, 1893], [1894, 1895, 1896], [1897, 1898], [1899], [1900], [1901, 1902, 1903], [1904, 1905, 1906], [1907], [1908, 1909], [1910, 1911, 1912], [1913, 1914, 1915], [1916, 1917], [1918], [1919], [1920], [1921], [1922, 1923], [1924], [1925, 1926, 1927], [1928, 1929, 1930], [1931], [1932, 1933, 1934], [1935, 1936, 1937], [1938, 1939, 1940], [1941], [1942, 1943, 1944], [1945, 1946], [1947, 1948], [1949, 1950, 1951], [1952, 1953, 1954], [1955, 1956, 1957], [1958, 1959], [1960], [1961, 1962], [1963], [1964, 1965, 1966], [1967, 1968], [1969], [1970, 1971], [1972, 1973, 1974], [1975], [1976], [1977, 1978]]
1번 회원의 신용카드 중 선택된 1개의 식별 번호:  1
998번 회원의 신용카드 중 선택된 1개의 식별번호:  1975

In [8]:
from faker import Faker
import datetime
fake =Faker('ko_KR')
start=datetime.datetime(2020, 9, 7, 12, 0, 0)
end = datetime.datetime(2020, 11, 7, 12, 0, 0)
for _ in range(5):
    print(fake.date_time_between_dates(datetime_start=start, datetime_end=end))

2020-10-09 21:57:11
2020-10-11 03:28:39
2020-10-12 07:57:57
2020-10-11 10:18:50
2020-10-08 08:55:53

In [39]:
import random
delivery_time =['10:00','11:00','14:00','17:00','18:00','23:59']
for _ in range(5):
    print("배송 요일:", random.randint(1,6))
    print("배송 시간:", random.choice(delivery_time))

배송 요일: 2
배송 시간: 11:00
배송 요일: 2
배송 시간: 14:00
배송 요일: 1
배송 시간: 14:00
배송 요일: 1
배송 시간: 23:59
배송 요일: 1
배송 시간: 14:00

In [2]:
import pymysql
import random
from faker import Faker
import datetime
db= pymysql.connect(host='localhost',user='root',password='root',db='mall')
curs = db.cursor(pymysql.cursors.DictCursor)
query = "select id, price from products"
curs.execute(query)
rows = curs.fetchall()
query2 = "select seq, users_id from credit_cards"
curs.execute(query2)
rows2 = curs.fetchall()
db.close()

delivery_time_type =['10:00','11:00','14:00','17:00','18:00','23:59']
start = datetime.datetime(2020, 9, 7, 12, 0, 0)
end =datetime.datetime(2020, 11, 7, 12, 0, 0)
fake = Faker('ko_KR')

credit_seq_list=[]
for i in range(1, 1001):
    line= []
    for row2 in rows2:
        if i == row2['users_id']:
            line.append(row2['seq'])
    credit_seq_list.append(line)

orders_id_users_seq= []
orders_id= 1
for i in range(1, 200):
    for _ in range(random.randint(4,12)):
        orders_id_users_seq.append([i, orders_id])
        orders_id +=1
for i in range(201, 1001):
    for _ in range(random.randint(1,4)):
        orders_id_users_seq.append([i, orders_id])
        orders_id +=1
last_orders_id = orders_id-1
#print('마지막 주문 번호: ', last_orders_id)
orders_id_list = list(range(1, orders_id))
random.shuffle(orders_id_list)

users_id =0
for i in range(0,500):
    for j in range(last_orders_id):
        if orders_id_list[i] == orders_id_users_seq[j][1]:
            users_id = orders_id_users_seq[j][0]
    order_time = fake.date_time_between_dates(datetime_start=start, datetime_end=end)
    min_total_price = random.randint(30000,150000)
    total_price=0
    while total_price < min_total_price:
        products_id = random.randint(1,257)
        products_quantity = random.randint(1,5)
        total_price +=rows[products_id-1]['price']*products_quantity
        query4 = "INSERT INTO carts(orders_id, products_id, products_quantity)"\
                +" VALUES("+str(orders_id_list[i])+","+str(products_id)+","\
                +str(products_quantity)+");";
    credit_cards_seq = random.choice(credit_seq_list[users_id-1])
    delivery_day = random.randint(1,6)
    delivery_time = random.choice(delivery_time_type)
    query3 = "INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time)"\
            +" VALUES("+str(orders_id_list[i])+", "+str(users_id)+", '"+str(order_time)+"', "\
            +str(total_price)+", "+str(credit_cards_seq)+", "+str(delivery_day)+", '"\
            +delivery_time+"');";
for i in range(500,1000):
    for j in range(last_orders_id):
        if orders_id_list[i] == orders_id_users_seq[j][1]:
            users_id = orders_id_users_seq[j][0]
    order_time = fake.date_time_between_dates(datetime_start=start, datetime_end=end)
    min_total_price = random.randint(30000,150000)
    total_price=0
    while total_price < min_total_price:
        products_id = random.randint(1432,1731)
        products_quantity = random.randint(1,4)
        total_price +=rows[products_id-1]['price']*products_quantity
        query4 = "INSERT INTO carts(orders_id, products_id, products_quantity)"\
                +" VALUES("+str(orders_id_list[i])+","+str(products_id)+","\
                +str(products_quantity)+");";
        print(query4)
    credit_cards_seq = random.choice(credit_seq_list[users_id-1])
    delivery_day = random.randint(1,6)
    delivery_time = random.choice(delivery_time_type)
    query3 = "INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time)"\
            +" VALUES("+str(orders_id_list[i])+", "+str(users_id)+", '"+str(order_time)+"', "\
            +str(total_price)+", "+str(credit_cards_seq)+", "+str(delivery_day)+", '"\
            +delivery_time+"');";
    print(query3)
for i in range(1000,3000):
    for j in range(last_orders_id):
        if orders_id_list[i] == orders_id_users_seq[j][1]:
            users_id = orders_id_users_seq[j][0]
    order_time = fake.date_time_between_dates(datetime_start=start, datetime_end=end)
    min_total_price = random.randint(30000,50000)
    total_price=0
    while total_price < min_total_price:
        products_id = random.randint(1,4134)
        products_quantity = random.randint(1,4)
        total_price +=rows[products_id-1]['price']*products_quantity
        query4 = "INSERT INTO carts(orders_id, products_id, products_quantity)"\
                +" VALUES("+str(orders_id_list[i])+","+str(products_id)+","\
                +str(products_quantity)+");";
        print(query4)
    credit_cards_seq = random.choice(credit_seq_list[users_id-1])
    delivery_day = random.randint(1,6)
    delivery_time = random.choice(delivery_time_type)
    query3 = "INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time)"\
            +" VALUES("+str(orders_id_list[i])+", "+str(users_id)+", '"+str(order_time)+"', "\
            +str(total_price)+", "+str(credit_cards_seq)+", "+str(delivery_day)+", '"\
            +delivery_time+"');";
    print(query3)
for i in range(3000,orders_id-1):
    for j in range(last_orders_id):
        if orders_id_list[i] == orders_id_users_seq[j][1]:
            users_id = orders_id_users_seq[j][0]
            #print("[users_id]", orders_id_users_seq[j][0])
            #print("[orders_id]", orders_id_users_seq[j][1])
    order_time = fake.date_time_between_dates(datetime_start=start, datetime_end=end)
    min_total_price = random.randint(20000,200000)
    #print("\n**",i+1," 주문번호:", orders_id_list[i],"[min_total_price]", min_total_price, "원")
    total_price=0
    while total_price < min_total_price:
        products_id = random.randint(1,4134)
        products_quantity = random.randint(1,6)
       # print("\n상품 번호:", products_id)
        #print("상품 가격:",rows[products_id-1]["price"],"원")
        #print("수량:", priducts_quantity,"개")
        #print("상품 가격 * 수량:", rows[products_id-1]["price"]*priducts_quantity,"원")
        total_price += rows[products_id-1]['price']*products_quantity
        query4 ="INSERT INTO carts(orders_id,products_id,products_quantity)"\
               +"VALUES("+str(orders_id_list[i])+","+str(products_id)+","\
               +str(products_quantity)+");";
        print(query4)
    #print("\n[총 주문가격]",total_price,"원")
    credit_cards=seq = random.choice(credit_seq_list[users_id-1])
    delivery_day = random.randint(1,6)
    delivery_time = random.choice(delivery_time_type)
    query3="INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)"\
    +"VALUES("+str(orders_id_list[i])+","+str(users_id)+",'"+str(order_time)+"',"\
    +str(total_price)+","+str(credit_cards_seq)+","+str(delivery_day)+",'"\
    +delivery_time+"');";
    print(query3)
#print(orders_id_users_seq)

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2860,1612,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2860,1683,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2860,1620,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2860,1603,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2860, 699, '2020-09-30 06:40:35', 169248, 1365, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1550,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1546,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1513,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1704,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1618,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1454,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1531,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2966,1721,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2966, 739, '2020-10-04 20:46:06', 125860, 1441, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1751,1534,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1751,1528,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1751,1565,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1751, 255, '2020-11-02 10:39:48', 145100, 495, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(291,1535,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(291,1539,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(291,1699,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(291, 35, '2020-10-24 21:13:54', 181160, 73, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1893,1652,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1893,1578,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1893,1586,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1893,1482,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1893,1682,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1893,1584,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1893, 314, '2020-09-29 12:26:21', 104727, 615, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2060,1564,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2060, 386, '2020-09-10 10:15:26', 55500, 755, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1512,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1695,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1467,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1678,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1594,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1677,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1668,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1509,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1530,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1549,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1720,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1668,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1440,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1491,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1470,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1519,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1835,1488,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1835, 287, '2020-11-07 11:48:05', 164300, 561, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(849,1588,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(849,1570,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(849,1696,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(849, 102, '2020-09-22 07:52:26', 170380, 201, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1753,1481,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1753,1609,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1753,1688,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1753,1453,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1753, 255, '2020-10-13 01:29:45', 57220, 494, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1588,1537,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1588,1546,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1588,1531,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1588,1726,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1588,1463,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1588,1536,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1588,1577,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1588, 197, '2020-11-05 17:35:21', 146560, 374, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2840,1527,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2840,1580,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2840,1464,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2840,1580,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2840,1666,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2840, 689, '2020-10-20 19:01:17', 106240, 1346, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2929,1607,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2929,1632,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2929,1567,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2929,1464,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2929, 725, '2020-09-14 01:06:41', 97680, 1419, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3328,1657,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3328,1674,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3328, 879, '2020-10-12 10:46:28', 177520, 1728, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(442,1477,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(442,1462,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(442,1692,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(442,1650,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(442,1678,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(442,1442,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(442,1653,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(442, 55, '2020-09-24 08:55:25', 138760, 112, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(26,1453,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(26,1640,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(26,1598,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(26,1688,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(26,1488,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(26,1452,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(26, 3, '2020-10-14 21:58:17', 152080, 5, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3075,1600,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3075,1634,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3075, 780, '2020-11-05 18:37:25', 47200, 1526, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1051,1706,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1051,1453,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1051,1600,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1051,1494,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1051,1675,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1051, 127, '2020-11-01 04:59:32', 81400, 244, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1209,1568,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1209,1478,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1209,1690,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1209, 150, '2020-10-30 22:27:16', 207340, 291, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(571,1644,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(571,1608,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(571,1525,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(571,1545,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(571, 68, '2020-09-27 22:56:58', 93180, 135, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3388,1627,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3388,1710,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3388,1676,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3388, 900, '2020-10-30 18:37:55', 90030, 1774, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2851,1731,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2851,1665,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2851,1635,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2851,1552,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2851,1528,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2851,1514,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2851, 695, '2020-11-05 12:25:28', 149400, 1356, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2832,1562,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2832,1671,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2832,1432,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2832,1590,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2832,1470,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2832,1595,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2832, 687, '2020-10-11 23:58:56', 117200, 1344, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(680,1460,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(680,1622,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(680,1509,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(680,1628,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(680, 83, '2020-10-23 10:15:19', 145000, 166, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1334,1678,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1334,1692,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1334,1486,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1334,1471,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1334,1581,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1334,1599,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1334, 165, '2020-09-24 17:31:32', 154920, 318, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3006,1527,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3006,1481,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3006,1567,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3006,1494,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3006,1606,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3006, 756, '2020-10-18 19:46:48', 137260, 1473, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2699,1436,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2699,1610,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2699,1541,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2699, 638, '2020-09-29 09:40:26', 75320, 1237, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2950,1619,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2950,1635,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2950,1611,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2950,1677,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2950, 733, '2020-11-05 09:42:49', 159440, 1431, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1660,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1715,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1612,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1672,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1474,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1578,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1596,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1476,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(604,1615,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(604, 73, '2020-10-31 10:43:51', 303420, 142, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(10,1484,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(10,1532,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(10,1530,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(10,1647,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(10, 1, '2020-09-18 10:56:45', 100570, 2, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1521,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1564,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1490,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1638,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1513,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1443,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1685,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3104,1447,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3104, 792, '2020-09-07 15:44:04', 115100, 1553, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3133,1551,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3133,1651,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3133,1569,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3133,1710,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3133, 806, '2020-09-24 15:05:36', 146180, 1582, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1610,1449,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1610,1450,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1610,1573,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1610, 199, '2020-09-27 15:22:42', 109300, 381, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2728,1576,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2728,1686,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2728,1490,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2728,1680,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2728, 649, '2020-10-29 09:49:08', 131140, 1258, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1255,1526,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1255,1696,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1255, 155, '2020-10-27 20:07:02', 131420, 297, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1610,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1435,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1487,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1606,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1535,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1518,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1507,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1434,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3131,1726,3);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3109,1611,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3109,1607,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3109,1632,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3109,1451,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3109, 793, '2020-11-03 00:36:55', 69800, 1554, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(318,1716,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(318,1612,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(318,1564,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(318, 39, '2020-09-13 00:55:31', 91700, 79, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1474,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1458,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1638,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1550,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1557,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1486,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1601,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3237,1471,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3237, 842, '2020-10-16 18:59:06', 94035, 1653, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(699,1577,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(699,1467,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(699,1673,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(699, 85, '2020-10-30 07:41:27', 152142, 170, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1587,1674,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1587, 197, '2020-09-11 20:13:38', 36900, 374, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3419,1598,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3419,1730,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3419, 913, '2020-09-29 21:14:47', 52500, 1800, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1656,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1449,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1460,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1501,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1436,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1477,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1654,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1547,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(127,1671,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(127, 15, '2020-10-11 13:45:15', 129090, 27, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2205,1665,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2205,1492,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2205,1564,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2205,1514,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2205,1597,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2205,1657,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2205, 440, '2020-09-11 01:40:15', 126500, 861, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2547,1490,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2547,1468,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2547,1479,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2547,1621,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2547, 576, '2020-09-20 07:04:06', 67260, 1122, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2274,1506,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2274,1446,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2274,1456,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2274,1655,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2274,1501,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2274,1582,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2274,1439,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2274, 466, '2020-09-16 18:19:30', 142720, 906, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3498,1561,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3498,1673,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3498,1467,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3498,1680,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3498, 945, '2020-09-24 15:37:33', 132888, 1865, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(169,1668,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(169,1542,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(169, 19, '2020-11-01 15:25:48', 96720, 39, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2212,1486,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2212,1498,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2212,1451,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2212,1671,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2212,1526,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2212,1588,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2212, 443, '2020-11-04 22:33:59', 141770, 865, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1586,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1523,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1535,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1595,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1569,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1609,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1641,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2684,1575,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2684, 633, '2020-09-29 04:01:08', 158010, 1226, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1736,1529,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1736,1495,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1736,1482,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1736,1602,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1736, 249, '2020-10-18 23:56:40', 158600, 482, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2082,1630,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2082,1465,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2082,1701,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2082, 392, '2020-10-31 06:35:05', 69820, 772, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1655,1697,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1655,1502,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1655,1723,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1655,1631,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1655,1506,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1655,1437,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1655, 219, '2020-09-15 04:01:03', 117520, 421, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2681,1693,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2681,1571,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2681,1463,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2681,1503,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2681,1454,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2681,1456,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2681, 631, '2020-09-10 04:46:11', 122520, 1220, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(312,1727,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(312, 38, '2020-10-21 11:41:04', 69900, 77, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1962,1692,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1962,1624,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1962,1723,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1962,1436,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1962,1610,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1962,1617,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1962,1630,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1962, 343, '2020-10-27 20:26:20', 149600, 670, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(496,1504,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(496,1632,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(496,1679,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(496,1642,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(496,1722,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(496,1445,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(496,1466,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(496, 60, '2020-10-04 13:55:09', 153820, 122, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(235,1493,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(235,1651,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(235, 27, '2020-09-12 22:57:04', 108340, 56, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2802,1515,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2802,1580,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2802, 678, '2020-11-01 16:28:13', 46680, 1324, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2747,1448,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2747,1615,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2747, 657, '2020-09-30 05:54:37', 93560, 1276, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2835,1526,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2835,1577,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2835,1724,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2835,1626,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2835,1591,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2835, 688, '2020-09-24 20:08:13', 127740, 1345, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1729,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1439,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1449,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1676,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1617,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1454,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1579,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1509,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2425,1644,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2425, 526, '2020-10-01 22:00:11', 145870, 1019, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1874,1481,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1874,1685,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1874,1683,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1874,1711,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1874,1512,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1874, 306, '2020-09-11 03:00:05', 135440, 596, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(516,1705,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(516,1609,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(516,1726,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(516,1625,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(516,1675,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(516, 63, '2020-10-03 08:27:21', 157520, 126, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2777,1521,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2777,1656,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2777,1467,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2777,1585,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2777,1630,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2777, 671, '2020-09-14 09:04:01', 134530, 1309, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2969,1465,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2969,1655,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2969,1664,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2969, 740, '2020-10-04 23:28:29', 106710, 1443, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1098,1582,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1098,1628,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1098, 133, '2020-10-31 19:57:21', 63880, 259, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1891,1497,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1891,1670,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1891, 314, '2020-11-02 12:22:42', 116960, 615, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2126,1518,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2126,1614,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2126,1667,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2126,1693,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2126,1637,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2126, 410, '2020-10-07 03:29:28', 110880, 806, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1576,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1432,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1605,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1513,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1560,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1495,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1504,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1726,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1873,1577,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1873, 306, '2020-09-15 13:32:16', 146140, 596, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(378,1480,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(378,1579,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(378,1688,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(378, 48, '2020-09-27 15:17:47', 44530, 98, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(161,1469,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(161,1726,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(161,1726,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(161,1522,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(161, 18, '2020-09-19 14:24:39', 61460, 35, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(808,1564,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(808,1432,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(808,1626,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(808,1530,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(808,1702,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(808, 97, '2020-10-24 00:05:13', 139420, 193, 3, '11:00');

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2081,1682,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2081, 392, '2020-10-03 02:37:37', 74840, 770, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2083,1487,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2083,1502,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2083,1496,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2083, 392, '2020-10-31 06:58:15', 37880, 772, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(721,1434,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(721,1550,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(721,1584,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(721, 87, '2020-10-26 05:04:07', 100560, 174, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(677,1579,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(677,1631,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(677,1658,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(677,1446,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(677, 83, '2020-10-30 16:32:10', 99000, 166, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3287,1687,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3287,1458,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3287,1486,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3287, 861, '2020-10-19 15:17:13', 48724, 1689, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(284,1666,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(284,1682,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(284,1538,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(284,1623,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(284,1545,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(284, 34, '2020-09-08 10:05:52', 111140, 71, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1562,1700,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1562,1602,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1562, 194, '2020-10-27 21:44:04', 152400, 370, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1519,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1550,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1701,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1492,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1572,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1668,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1722,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1447,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3126,1475,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3126, 801, '2020-09-09 02:28:11', 146285, 1571, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2665,1545,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2665, 626, '2020-10-30 16:00:25', 55200, 1209, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2230,1686,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2230,1616,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2230,1469,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2230,1466,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2230, 449, '2020-10-25 06:11:23', 156528, 879, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1507,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1477,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1518,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1592,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1485,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1597,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1486,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1574,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1484,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1587,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3029,1474,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3029, 764, '2020-09-23 16:36:07', 117510, 1491, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(348,1705,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(348,1628,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(348,1495,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(348, 44, '2020-10-28 06:44:02', 132680, 89, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1764,1591,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1764, 259, '2020-09-24 00:39:18', 49600, 500, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1689,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1535,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1629,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1443,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1643,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1531,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1693,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(269,1663,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(269, 32, '2020-09-22 19:25:56', 331100, 68, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2825,1593,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2825,1669,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2825,1688,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2825, 685, '2020-10-07 17:46:45', 71640, 1341, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(512,1571,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(512,1605,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(512, 62, '2020-10-20 21:34:23', 58140, 124, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1432,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1606,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1687,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1502,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1658,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1484,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1606,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(46,1690,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(46, 5, '2020-10-11 21:19:47', 200744, 8, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(948,1578,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(948,1603,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(948, 113, '2020-09-23 10:30:30', 129528, 219, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(167,1708,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(167,1620,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(167,1555,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(167,1577,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(167,1680,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(167, 19, '2020-09-11 11:56:36', 122240, 38, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2134,1619,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2134,1478,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2134, 414, '2020-11-04 05:21:58', 99120, 814, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2720,1717,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2720,1598,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2720,1729,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2720,1648,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2720, 646, '2020-09-12 09:38:49', 163230, 1254, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2009,1676,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2009,1473,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2009,1636,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2009, 363, '2020-11-05 10:56:43', 54330, 709, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1335,1663,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1335, 165, '2020-11-01 06:47:19', 158700, 318, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2031,1569,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2031, 376, '2020-10-03 08:53:56', 31920, 737, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1308,1591,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1308, 161, '2020-10-19 05:42:54', 74400, 308, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3301,1640,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3301,1572,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3301,1541,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3301,1700,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3301, 867, '2020-09-14 09:24:16', 97600, 1703, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2432,1520,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2432,1511,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2432,1538,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2432,1538,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2432, 530, '2020-09-23 19:16:10', 60680, 1024, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2964,1592,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2964,1607,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2964,1613,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2964,1720,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2964,1523,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2964,1551,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2964, 738, '2020-10-09 13:19:24', 123360, 1440, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1113,1459,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1113,1562,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1113,1444,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1113, 136, '2020-10-16 20:01:40', 65780, 267, 3, '23:59');

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2204,1537,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2204,1566,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2204,1439,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2204,1617,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2204, 439, '2020-09-08 23:58:35', 72400, 856, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2639,1616,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2639,1683,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2639,1522,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2639,1506,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2639,1464,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2639, 617, '2020-09-30 06:29:14', 117008, 1193, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3562,1515,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3562,1538,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3562,1504,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3562,1509,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3562,1665,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3562,1528,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3562, 970, '2020-10-24 01:31:44', 82360, 1918, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1533,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1575,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1639,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1526,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1549,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1639,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1635,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1635,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1722,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(16,1700,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(16, 2, '2020-09-13 01:36:04', 130635, 3, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2130,1481,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2130,1634,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2130,1691,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2130,1672,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2130, 412, '2020-09-16 23:53:41', 239520, 810, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1389,1503,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1389,1512,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1389,1665,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1389,1597,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1389, 171, '2020-10-10 21:33:25', 99580, 326, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2897,1540,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2897,1433,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2897,1646,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2897,1490,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2897,1446,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2897,1719,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2897, 713, '2020-10-29 07:52:29', 111600, 1392, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2993,1655,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2993,1667,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2993,1594,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2993,1578,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2993,1522,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2993,1442,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2993, 750, '2020-10-24 16:28:03', 146780, 1460, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2591,1525,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2591,1591,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2591, 596, '2020-09-13 08:50:33', 84380, 1156, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2726,1624,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2726,1584,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2726,1506,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2726,1720,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2726,1547,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2726,1672,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2726, 648, '2020-10-08 01:20:04', 220880, 1257, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1795,1607,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1795,1527,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1795,1457,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1795,1550,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1795,1450,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1795,1582,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1795,1647,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1795, 272, '2020-11-05 14:17:19', 153700, 528, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1763,1625,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1763,1545,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1763,1593,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1763,1676,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1763, 259, '2020-10-31 15:02:39', 114660, 501, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1185,1713,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1185,1727,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1185, 145, '2020-09-27 13:59:38', 157350, 282, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1293,1723,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1293,1433,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1293,1549,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1293,1580,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1293,1596,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1293, 159, '2020-09-27 17:27:09', 113660, 305, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1373,1683,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1373, 169, '2020-10-31 06:26:09', 102000, 324, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3327,1532,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3327,1471,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3327,1653,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3327,1683,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3327, 878, '2020-09-23 21:00:45', 169500, 1725, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1817,1545,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1817,1645,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1817,1526,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1817,1693,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1817,1497,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1817,1660,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1817,1675,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1817, 279, '2020-10-22 10:40:42', 171120, 544, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1715,1473,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1715,1569,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1715,1728,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1715, 241, '2020-09-28 23:16:56', 251240, 467, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1635,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1500,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1710,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1635,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1512,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1496,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1469,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1575,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2135,1719,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2135, 414, '2020-11-04 14:45:44', 204000, 814, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(882,1487,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(882,1697,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(882,1564,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(882, 105, '2020-10-13 09:58:11', 124140, 204, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1754,1610,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1754, 256, '2020-11-03 17:08:40', 39920, 497, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2160,1686,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2160, 422, '2020-10-03 04:04:17', 167200, 827, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(497,1634,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(497,1603,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(497,1523,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(497,1682,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(497, 61, '2020-09-21 18:41:23', 126647, 123, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1565,1624,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1565,1547,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1565,1686,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1565, 194, '2020-11-07 04:05:14', 196160, 369, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1263,1452,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1263,1505,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1263,1586,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1263,1580,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1263,1552,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1263,1527,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1263, 156, '2020-09-16 07:22:42', 96500, 300, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2015,1540,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2015,1571,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2015,1556,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2015,1572,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2015,1616,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2015, 367, '2020-10-26 08:16:42', 198056, 715, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(326,1651,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(326,1555,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(326,1470,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(326,1655,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(326,1691,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(326,1629,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(326, 40, '2020-09-15 22:49:35', 96720, 80, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1480,1515,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1480,1467,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1480,1690,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1480, 182, '2020-09-13 21:15:16', 125840, 348, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(564,1682,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(564,1620,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(564,1635,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(564,1570,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(564, 67, '2020-10-16 18:02:02', 56540, 134, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3365,1436,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3365,1447,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3365,1588,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3365,1654,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3365,1455,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3365,1490,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3365,1707,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3365, 891, '2020-11-04 07:00:32', 129700, 1752, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1390,1544,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1390, 171, '2020-09-07 20:53:46', 53700, 326, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(664,1433,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(664,1489,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(664,1681,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(664,1650,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(664,1494,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(664,1480,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(664, 81, '2020-10-29 15:08:41', 133420, 162, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1590,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1472,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1723,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1583,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1574,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1540,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1704,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(301,1437,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(301, 37, '2020-10-26 20:59:57', 136800, 75, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(298,1616,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(298,1705,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(298,1601,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(298,1435,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(298,1648,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(298, 36, '2020-11-07 11:48:54', 277129, 74, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1664,1450,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1664,1631,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1664,1469,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1664, 221, '2020-09-30 22:20:49', 74140, 426, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(185,1633,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(185,1622,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(185,1480,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(185,1623,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(185,1616,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(185, 21, '2020-10-08 08:16:32', 166708, 43, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(294,1717,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(294,1549,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(294,1630,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(294, 36, '2020-09-27 21:22:50', 56980, 74, 2, '18:00');

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(355,1501,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(355,1604,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(355,1607,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(355,1459,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(355, 45, '2020-09-14 02:39:16', 89720, 92, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2155,1615,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2155,1518,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2155,1695,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2155,1502,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2155, 420, '2020-09-28 03:19:16', 147520, 825, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1147,1628,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1147, 141, '2020-10-11 12:01:44', 223600, 275, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2959,1536,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2959, 736, '2020-09-14 20:08:10', 77400, 1436, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(386,1699,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(386, 48, '2020-09-14 17:52:43', 107700, 97, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1115,1697,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1115,1631,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1115,1706,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1115,1699,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1115, 136, '2020-11-07 10:28:02', 223210, 267, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2913,1696,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2913, 720, '2020-11-06 19:54:59', 77800, 1404, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3136,1454,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3136,1713,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3136,1684,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3136, 807, '2020-09-27 04:20:59', 97490, 1584, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(625,1629,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(625,1464,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(625, 75, '2020-09-10 04:33:10', 57940, 147, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1117,1707,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1117,1459,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1117,1712,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1117,1541,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1117, 136, '2020-10-14 07:45:39', 161240, 266, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3484,1496,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3484,1580,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3484,1503,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3484,1692,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3484,1459,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3484,1669,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3484, 939, '2020-10-15 13:40:14', 109180, 1854, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1473,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1610,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1702,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1531,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1516,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1654,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1579,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1513,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1061,1661,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1061, 128, '2020-10-06 02:22:18', 133040, 245, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1233,1623,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1233,1557,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1233,1607,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1233,1575,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1233,1490,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1233, 152, '2020-10-26 11:55:42', 55315, 294, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2870,1613,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2870,1571,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2870,1448,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2870,1493,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2870,1496,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2870,1536,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2870, 702, '2020-11-01 01:57:05', 180200, 1371, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(740,1503,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(740,1648,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(740,1580,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(740, 89, '2020-09-22 08:46:45', 157130, 178, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3245,1628,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3245, 845, '2020-09-30 19:49:40', 167700, 1660, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2666,1533,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2666,1714,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2666, 626, '2020-10-02 02:29:17', 49560, 1209, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1367,1731,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1367,1513,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1367,1663,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1367,1605,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1367, 168, '2020-10-17 00:12:06', 131120, 322, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1452,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1587,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1571,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1455,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1523,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1506,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1638,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1537,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2936,1573,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2936, 728, '2020-10-25 14:53:36', 104520, 1423, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2580,1598,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2580,1570,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2580,1490,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2580,1611,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2580,1512,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2580,1662,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2580,1659,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2580, 592, '2020-10-10 02:29:55', 164440, 1148, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1519,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1578,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1476,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1496,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1447,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1486,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1526,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2343,1615,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2343, 493, '2020-10-08 13:36:34', 137640, 963, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2129,1448,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2129,1728,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2129,1609,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2129,1697,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2129, 412, '2020-09-08 20:20:12', 159455, 810, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1118,1716,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1118,1573,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1118, 136, '2020-09-11 19:19:39', 150800, 266, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1459,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1590,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1681,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1645,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1710,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1532,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1484,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1332,1616,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1332, 165, '2020-09-22 09:59:06', 171318, 318, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(909,1467,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(909,1514,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(909,1659,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(909, 108, '2020-10-26 11:33:51', 88820, 209, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1660,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1538,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1557,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1472,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1660,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1435,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1528,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3062,1543,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3062, 774, '2020-10-17 21:03:28', 90655, 1512, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(208,1439,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(208,1629,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(208,1644,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(208,1693,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(208, 24, '2020-10-30 09:09:46', 121220, 50, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3229,1597,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3229,1605,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3229, 839, '2020-10-15 21:48:36', 75160, 1646, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1510,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1611,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1462,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1516,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1482,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1652,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1498,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1627,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1539,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3552,1728,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3552, 967, '2020-11-02 16:01:46', 246084, 1910, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1243,1440,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1243,1624,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1243,1451,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1243,1491,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1243,1523,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1243, 154, '2020-09-10 22:58:36', 66940, 296, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2789,1573,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2789, 674, '2020-11-04 09:34:38', 91200, 1315, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2148,1560,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2148,1550,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2148,1612,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2148, 418, '2020-10-25 02:21:38', 53320, 821, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3253,1704,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3253,1653,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3253,1708,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3253,1718,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3253,1673,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3253,1680,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3253,1660,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3253, 847, '2020-11-06 11:17:01', 147804, 1665, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3272,1646,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3272,1446,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3272,1596,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3272, 855, '2020-10-12 21:27:37', 61540, 1679, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(474,1486,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(474,1687,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(474, 58, '2020-10-06 02:18:35', 77498, 117, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(923,1651,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(923, 110, '2020-09-22 03:53:11', 79600, 213, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3112,1581,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3112,1601,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3112,1621,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3112, 795, '2020-09-12 01:00:43', 183640, 1559, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1050,1546,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1050,1618,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1050,1474,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1050,1510,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1050,1621,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1050, 127, '2020-11-02 10:08:06', 154320, 244, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(983,1566,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(983,1605,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(983,1516,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(983, 118, '2020-10-12 17:46:23', 98940, 228, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1082,1488,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1082,1486,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1082,1490,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1082,1479,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1082,1730,2);

INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3601, 985, '2020-10-14 22:42:42', 59500, 1947, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1322,1580,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1322,1698,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1322, 164, '2020-09-25 08:37:51', 197920, 316, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1950,1659,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1950,1435,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1950,1713,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1950,1589,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1950,1472,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1950,1522,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1950, 338, '2020-11-06 21:37:21', 78260, 658, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1438,1726,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1438,1629,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1438,1445,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1438,1586,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1438,1588,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1438, 177, '2020-10-29 14:30:24', 107320, 340, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1453,1647,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1453, 179, '2020-09-29 20:06:05', 209700, 344, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3194,1608,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3194,1717,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3194,1438,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3194,1663,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3194,1697,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3194, 829, '2020-09-16 20:22:37', 120060, 1628, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(652,1700,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(652,1675,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(652,1660,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(652,1444,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(652,1701,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(652,1730,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(652,1635,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(652, 79, '2020-09-16 02:07:53', 173220, 157, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1487,1471,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1487,1596,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1487,1634,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1487, 183, '2020-09-27 02:44:11', 95760, 351, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1926,1469,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1926,1504,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1926,1460,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1926,1504,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1926,1696,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1926, 328, '2020-09-11 17:56:48', 123280, 638, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3223,1614,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3223,1497,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3223,1569,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3223,1663,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3223, 837, '2020-09-25 10:47:35', 171980, 1642, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1976,1682,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1976,1681,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1976,1545,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1976,1483,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1976,1540,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1976,1578,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1976, 350, '2020-09-14 00:13:26', 135800, 683, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2703,1630,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2703,1496,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2703,1603,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2703,1655,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2703, 639, '2020-10-26 05:51:36', 128527, 1240, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2587,1581,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2587,1627,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2587,1456,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2587,1630,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2587, 595, '2020-09-26 01:34:14', 134000, 1154, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(66,1689,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(66,1679,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(66,1615,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(66, 7, '2020-10-17 07:44:01', 202960, 11, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1419,1695,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1419,1703,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1419,1574,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1419,1555,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1419,1704,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1419,1667,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1419,1720,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1419, 175, '2020-11-06 15:58:08', 117720, 335, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1480,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1653,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1579,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1527,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1620,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1470,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1447,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2231,1483,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2231, 449, '2020-09-23 02:37:55', 154310, 879, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1600,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1470,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1468,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1678,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1617,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1476,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1440,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1450,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1584,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1608,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1490,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3284,1596,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3284, 860, '2020-10-19 06:05:01', 166680, 1688, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1058,1518,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1058,1589,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1058,1639,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1058,1611,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1058,1698,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1058, 128, '2020-10-25 14:53:30', 95600, 246, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2249,1548,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2249, 458, '2020-10-30 16:45:21', 51600, 894, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1942,1471,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1942,1563,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1942,1479,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1942, 334, '2020-09-28 23:44:18', 70520, 648, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(609,1703,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(609, 74, '2020-09-08 03:26:38', 41800, 145, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(821,1436,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(821,1584,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(821,1455,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(821,1654,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(821,1480,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(821, 98, '2020-10-12 03:41:25', 73750, 195, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2315,1664,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2315,1497,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2315,1634,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2315,1721,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2315, 484, '2020-10-13 12:32:40', 87585, 946, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2760,1478,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2760,1452,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2760, 663, '2020-09-22 18:03:34', 46860, 1290, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2722,1557,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2722,1488,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2722,1643,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2722,1652,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2722,1585,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2722, 647, '2020-10-23 03:35:52', 124908, 1255, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2120,1503,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2120,1519,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2120,1583,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2120,1584,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2120,1723,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2120, 407, '2020-10-10 22:27:27', 130460, 801, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1542,1678,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1542,1558,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1542,1656,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1542,1599,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1542, 191, '2020-10-28 17:31:35', 113510, 363, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2321,1640,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2321,1486,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2321,1564,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2321, 486, '2020-09-26 09:57:56', 74280, 948, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2989,1664,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2989, 749, '2020-09-24 04:32:58', 134895, 1459, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(804,1470,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(804,1576,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(804,1543,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(804,1547,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(804, 96, '2020-09-28 11:12:35', 66860, 190, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(855,1589,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(855,1476,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(855,1482,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(855,1547,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(855,1698,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(855, 102, '2020-09-08 10:50:08', 182380, 201, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3322,1716,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3322,1727,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3322, 877, '2020-09-24 18:01:27', 184500, 1723, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2332,1459,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2332,1668,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2332,1706,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2332,1455,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2332,1601,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2332,1562,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2332, 490, '2020-09-24 03:51:26', 88050, 957, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1689,1698,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1689,1439,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1689,1466,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1689, 232, '2020-09-19 01:44:42', 133680, 454, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1633,1539,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1633,1434,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1633,1471,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1633,1675,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1633,1699,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1633, 205, '2020-11-03 13:09:35', 258080, 392, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1899,1561,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1899,1452,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1899,1692,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1899, 316, '2020-09-14 12:38:43', 125340, 618, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(79,1505,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(79,1450,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(79,1563,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(79,1470,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(79,1593,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(79,1701,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(79,1597,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(79, 8, '2020-10-16 09:44:17', 125530, 14, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3084,1636,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3084,1676,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3084,1716,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3084,1527,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3084, 784, '2020-09-12 12:49:20', 130120, 1535, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3605,1707,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3605,1714,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3605,1590,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3605,1700,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3605,1633,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3605,1463,3);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2293,1432,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2293,1626,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2293, 473, '2020-09-08 12:40:58', 125060, 922, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1656,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1706,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1474,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1515,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1485,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1432,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1632,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1141,1484,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1141, 141, '2020-09-30 21:41:22', 71810, 275, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3058,1466,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3058,1671,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3058,1455,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3058,1702,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3058, 773, '2020-09-09 05:59:51', 150600, 1511, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3375,1721,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3375,1449,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3375,1549,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3375,1438,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3375, 894, '2020-09-09 01:07:26', 76340, 1759, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(517,1569,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(517,1590,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(517,1670,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(517, 63, '2020-09-21 04:00:03', 154680, 126, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2341,1456,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2341,1539,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2341, 493, '2020-10-29 10:09:15', 48760, 963, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(104,1647,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(104,1720,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(104,1691,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(104, 11, '2020-09-16 19:36:43', 85940, 21, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3299,1593,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3299,1663,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3299, 867, '2020-09-22 18:25:04', 241540, 1702, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(25,1728,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(25, 3, '2020-09-08 15:18:26', 118830, 5, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3070,1596,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3070,1530,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3070,1630,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3070, 778, '2020-09-19 17:38:41', 111920, 1521, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3262,1534,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3262,1590,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3262, 852, '2020-09-16 20:25:12', 43380, 1675, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1467,1603,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1467,1612,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1467,1468,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1467,1483,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1467,1458,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1467,1684,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1467, 181, '2020-10-19 21:37:33', 154624, 347, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2907,1558,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2907,1677,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2907,1497,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2907,1701,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2907,1437,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2907,1553,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2907,1615,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2907, 717, '2020-10-03 21:18:56', 249600, 1397, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1393,1509,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1393,1643,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1393,1671,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1393,1541,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1393,1503,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1393,1726,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1393,1493,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1393, 172, '2020-09-25 19:01:22', 141260, 329, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1241,1694,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1241,1446,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1241,1571,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1241, 153, '2020-09-13 03:59:24', 69380, 295, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(323,1467,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(323,1721,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(323,1595,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(323,1655,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(323,1440,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(323,1537,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(323, 40, '2020-11-06 00:27:48', 110860, 81, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2548,1505,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2548,1590,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2548,1520,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2548,1653,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2548,1558,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2548, 577, '2020-10-23 15:35:09', 89980, 1124, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1515,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1714,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1622,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1713,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1525,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1465,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1555,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3570,1633,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3570, 973, '2020-10-04 06:42:55', 168070, 1921, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(974,1545,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(974,1663,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(974, 116, '2020-10-21 15:43:48', 213900, 225, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1476,1690,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1476, 182, '2020-09-11 09:39:13', 137200, 348, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3069,1554,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3069,1627,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3069, 778, '2020-10-02 02:04:56', 90900, 1521, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(466,1597,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(466,1502,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(466,1672,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(466, 57, '2020-09-29 08:35:58', 96880, 116, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1623,1731,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1623,1674,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1623,1439,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1623,1513,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1623,1708,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1623, 203, '2020-10-06 02:30:47', 195080, 387, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1533,1546,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1533,1575,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1533,1614,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1533,1481,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1533,1497,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1533,1505,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1533,1599,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1533, 189, '2020-11-05 06:09:42', 161940, 358, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3254,1474,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3254,1441,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3254,1725,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3254,1556,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3254,1598,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3254, 848, '2020-10-04 23:42:43', 94860, 1667, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1049,1692,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1049,1489,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1049,1654,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1049,1648,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1049, 127, '2020-09-21 12:58:30', 262645, 243, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2244,1673,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2244, 456, '2020-09-15 19:05:58', 109062, 891, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1792,1641,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1792,1690,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1792, 271, '2020-09-10 13:15:12', 108560, 527, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1947,1446,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1947,1609,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1947,1660,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1947,1673,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1947, 337, '2020-10-16 06:36:55', 208876, 655, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2224,1473,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2224,1672,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2224, 446, '2020-09-17 23:19:41', 207600, 873, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1623,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1676,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1501,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1705,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1614,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1487,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1484,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2916,1675,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2916, 721, '2020-10-02 07:29:05', 143970, 1409, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2982,1524,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2982,1507,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2982,1708,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2982,1439,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2982,1516,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2982,1436,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2982, 746, '2020-09-25 09:38:44', 74460, 1452, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(178,1485,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(178,1654,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(178,1466,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(178,1604,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(178,1635,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(178,1709,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(178, 20, '2020-10-27 12:57:33', 145020, 40, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1181,1652,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1181,1531,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1181,1674,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1181,1683,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1181,1601,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1181, 144, '2020-09-14 10:59:04', 156401, 281, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1525,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1457,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1649,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1450,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1717,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1512,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1577,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2371,1581,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2371, 504, '2020-09-27 19:25:26', 133940, 985, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1469,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1679,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1472,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1693,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1487,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1644,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1464,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1985,1605,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1985, 353, '2020-10-22 11:35:53', 135400, 688, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2192,1581,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2192,1715,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2192,1652,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2192,1433,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2192,1639,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2192,1484,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2192,1595,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2192, 434, '2020-09-21 15:09:23', 97054, 849, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(888,1666,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(888,1651,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(888,1727,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(888, 106, '2020-09-12 15:34:23', 381300, 206, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3553,1495,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3553,1575,4);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1640,1035,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1640, 209, '2020-09-27 23:34:59', 55600, 401, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(943,2639,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(943,274,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(943,569,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(943,612,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(943,858,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(943, 112, '2020-10-21 04:17:50', 100840, 218, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3446,3794,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3446, 926, '2020-10-11 04:35:45', 396000, 1825, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2735,1933,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2735,2628,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2735,1488,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2735, 651, '2020-09-16 07:54:07', 52600, 1264, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3222,2390,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3222,2117,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3222,3234,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3222, 837, '2020-10-21 12:15:59', 69200, 1642, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1077,1812,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1077,2470,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1077,2764,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1077,2985,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1077,2875,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1077, 130, '2020-09-23 21:01:44', 41820, 252, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(927,2631,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(927,4084,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(927, 111, '2020-11-06 09:08:34', 188820, 216, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3385,609,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3385,1474,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3385,3702,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3385, 899, '2020-10-26 08:55:54', 225420, 1771, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1440,4113,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1440,2321,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1440, 177, '2020-09-10 15:52:17', 52620, 342, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1553,2414,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1553,3534,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1553,3216,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1553,1236,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1553,645,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1553, 193, '2020-09-20 19:26:48', 56660, 367, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2997,2532,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2997,2658,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2997,2330,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2997,2802,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2997,2343,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2997, 751, '2020-10-05 21:28:43', 42620, 1462, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(939,3990,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(939,3732,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(939, 112, '2020-10-20 23:19:59', 153537, 218, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(706,2904,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(706,2640,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(706,2352,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(706,3720,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(706,2753,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(706, 86, '2020-09-13 11:06:30', 61270, 172, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(778,3681,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(778,2861,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(778,456,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(778, 94, '2020-10-11 05:43:05', 64600, 184, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2043,2938,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2043,918,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2043,3460,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2043, 380, '2020-09-10 12:50:02', 104980, 744, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1048,787,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1048,634,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1048,2410,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1048, 126, '2020-10-05 19:03:25', 36300, 241, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2567,1548,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2567, 587, '2020-09-19 22:27:56', 103200, 1140, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1822,1301,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1822,2078,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1822, 283, '2020-09-18 00:27:54', 57760, 553, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1508,888,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1508, 186, '2020-09-11 00:59:44', 270000, 354, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1878,3284,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1878,1004,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1878,3796,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1878,2125,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1878, 308, '2020-09-30 22:17:29', 87500, 601, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(764,2031,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(764,2930,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(764,1204,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(764,988,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(764,2853,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(764, 92, '2020-09-27 17:22:42', 52160, 181, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2756,1988,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2756,931,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2756, 662, '2020-10-01 14:39:30', 67520, 1287, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(319,1210,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(319,409,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(319,1115,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(319, 39, '2020-10-10 18:50:13', 52800, 79, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2209,3968,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2209,3602,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2209, 441, '2020-10-02 10:32:44', 151600, 862, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1210,3057,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1210,453,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1210, 150, '2020-09-17 11:18:06', 82180, 291, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(106,3118,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(106,2189,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(106,2653,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(106,2492,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(106,1921,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(106, 11, '2020-09-11 07:44:50', 62220, 19, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2052,3474,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2052,1967,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2052, 383, '2020-09-28 13:30:32', 51880, 747, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1787,940,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1787,3496,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1787, 270, '2020-09-10 06:20:51', 98370, 523, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1773,2453,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1773,548,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1773, 264, '2020-10-05 14:06:44', 68160, 510, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2996,617,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2996,1781,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2996,229,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2996, 751, '2020-10-09 16:07:34', 201760, 1463, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2888,3081,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2888,2684,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2888,1380,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2888,1621,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2888, 709, '2020-11-02 12:21:22', 90500, 1384, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1946,293,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1946,742,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1946, 336, '2020-09-15 08:50:35', 39200, 654, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1451,1799,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1451,1464,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1451,3767,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1451, 179, '2020-09-28 06:27:01', 99370, 345, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1945,1325,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1945,3273,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1945,4128,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1945,2269,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1945, 335, '2020-10-18 17:35:02', 64840, 652, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2853,1786,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2853,1626,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2853,996,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2853,545,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2853, 695, '2020-11-05 23:11:48', 59800, 1358, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(970,2136,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(970, 116, '2020-10-11 22:22:05', 52320, 224, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1577,2647,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1577,3275,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1577,3149,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1577,1654,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1577, 195, '2020-09-09 16:15:09', 43260, 371, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(211,1282,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(211,3387,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(211, 25, '2020-09-24 10:53:49', 44880, 52, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3489,353,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3489,2228,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3489, 942, '2020-10-15 00:23:12', 77840, 1857, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1418,3276,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1418,1296,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1418,3077,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1418, 175, '2020-10-18 13:17:50', 41020, 335, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1460,1477,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1460,1544,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1460, 180, '2020-10-27 10:55:10', 59640, 346, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2822,2793,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2822,495,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2822, 684, '2020-10-31 19:21:08', 54480, 1339, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2443,1640,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2443,1990,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2443,180,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2443, 534, '2020-09-18 10:14:43', 61320, 1029, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2651,2301,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2651,1493,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2651,2588,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2651,2062,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2651,3926,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2651, 621, '2020-10-18 10:57:20', 57120, 1202, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2161,208,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2161,1966,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2161, 423, '2020-11-04 11:17:18', 72500, 830, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1569,1465,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1569,3500,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1569, 195, '2020-10-14 07:13:39', 67540, 371, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2481,2997,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2481,2782,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2481, 549, '2020-10-27 08:16:20', 32740, 1065, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(861,36,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(861,3714,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(861, 103, '2020-10-30 17:07:26', 129940, 202, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2801,1347,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2801,2323,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2801,1107,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2801,3031,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2801, 677, '2020-10-19 15:33:41', 40910, 1322, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1221,1329,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1221,1055,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1221,51,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1221, 151, '2020-10-29 16:52:00', 59360, 292, 6, '14:00');

INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3421, 914, '2020-09-11 02:13:45', 45580, 1801, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3025,1148,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3025,653,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3025,165,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3025, 762, '2020-10-28 12:41:27', 68080, 1485, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1366,3009,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1366,282,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1366, 168, '2020-09-23 19:55:07', 38560, 323, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(197,2611,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(197,2000,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(197, 23, '2020-09-10 20:07:31', 55440, 46, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2906,2293,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2906,688,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2906, 716, '2020-09-23 02:21:56', 62720, 1396, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3402,1589,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3402, 905, '2020-10-09 05:39:56', 47700, 1783, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3433,4024,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3433,3935,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3433, 920, '2020-09-18 08:14:40', 71240, 1813, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2671,639,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2671,2748,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2671,2557,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2671,865,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2671, 628, '2020-10-20 01:43:03', 78200, 1213, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(800,2523,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(800,2065,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(800,3905,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(800,2163,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(800,2897,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(800, 96, '2020-10-25 17:58:37', 49020, 191, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2999,1764,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2999,1064,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2999, 753, '2020-10-27 20:09:41', 43740, 1467, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(551,489,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(551, 66, '2020-11-01 13:10:27', 105260, 132, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(634,2031,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(634,2976,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(634,1815,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(634,2047,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(634, 77, '2020-10-13 01:11:21', 49940, 153, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3587,2929,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3587,1431,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3587,3170,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3587,837,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3587,3808,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3587, 979, '2020-10-26 19:40:24', 721140, 1934, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,1266,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,1243,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,2051,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,2262,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,3993,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,854,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,1852,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2946,1263,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2946, 731, '2020-09-20 02:59:38', 51428, 1426, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1847,165,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1847,3710,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1847, 294, '2020-09-18 07:12:53', 111960, 576, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(897,1253,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(897,3657,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(897, 107, '2020-10-22 05:34:20', 39960, 207, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(648,437,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(648,791,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(648,3407,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(648,909,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(648, 79, '2020-11-07 04:26:26', 216070, 155, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2265,965,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2265,3953,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2265,407,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2265,997,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2265, 463, '2020-11-06 02:42:28', 36240, 903, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1571,1013,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1571, 195, '2020-09-20 10:49:13', 69600, 372, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(908,1518,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(908,644,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(908,1596,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(908,3711,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(908, 108, '2020-09-20 10:02:46', 59100, 209, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1384,3166,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1384,1546,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1384,2413,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1384,3055,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1384, 171, '2020-10-14 14:38:58', 35890, 326, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2744,2233,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2744,186,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2744, 657, '2020-10-04 01:02:40', 96240, 1276, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1875,2818,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1875,1214,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1875,3653,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1875, 306, '2020-10-24 11:55:36', 96020, 596, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(125,3687,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(125, 15, '2020-09-28 07:39:27', 107600, 28, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(985,334,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(985,1882,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(985,312,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(985,1618,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(985, 118, '2020-11-05 04:21:18', 37220, 228, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1557,1357,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1557,412,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1557,2600,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1557, 193, '2020-10-04 13:12:21', 71470, 367, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2442,2795,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2442,1726,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2442,250,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2442, 533, '2020-09-22 06:37:37', 52560, 1027, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2234,2217,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2234, 452, '2020-10-20 13:46:36', 55200, 884, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2533,2468,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2533,3390,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2533,2460,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2533,1299,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2533, 570, '2020-09-19 18:49:07', 47274, 1110, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2839,2908,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2839,2223,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2839, 689, '2020-10-10 05:29:26', 85520, 1346, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2198,1715,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2198,448,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2198, 437, '2020-10-19 06:19:42', 63820, 852, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1578,3371,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1578,2365,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1578,1249,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1578,3741,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1578,1655,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1578, 196, '2020-10-17 20:41:02', 70900, 373, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(215,3880,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(215,3143,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(215,760,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(215,1432,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(215, 25, '2020-11-07 02:38:00', 53630, 52, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2046,988,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2046,3731,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2046, 381, '2020-09-08 20:23:05', 201680, 745, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,2461,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,3960,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,784,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,2907,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,3004,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,3342,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,2545,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,961,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2218,3476,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2218, 444, '2020-10-28 15:12:06', 52630, 867, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,3377,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,2986,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,1993,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,3304,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,1022,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,3864,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,3049,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2449,1104,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2449, 535, '2020-10-21 21:07:37', 63570, 1030, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1609,1251,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1609,3854,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1609,2388,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1609,2234,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1609,2725,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1609,1320,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1609, 198, '2020-10-06 23:28:59', 57930, 379, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1993,2516,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1993,971,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1993,1389,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1993,1731,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1993, 357, '2020-09-21 05:31:20', 57400, 696, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3580,1382,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3580,828,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3580, 976, '2020-09-25 08:44:34', 65680, 1925, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3102,1917,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3102,3627,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3102, 791, '2020-09-22 01:18:37', 51680, 1551, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3225,804,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3225,2084,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3225,2694,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3225,3100,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3225,1820,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3225, 838, '2020-09-26 17:30:44', 64540, 1645, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(891,746,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(891,195,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(891,860,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(891,4128,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(891, 106, '2020-10-28 14:55:31', 64300, 206, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(772,556,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(772,3073,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(772,269,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(772, 93, '2020-09-25 19:42:57', 71380, 183, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(131,449,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(131,4009,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(131,2241,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(131, 15, '2020-09-23 06:26:07', 59880, 28, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2596,2611,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2596,1540,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2596,1435,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2596, 599, '2020-10-23 14:35:30', 53800, 1159, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3297,3005,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3297,1073,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3297,3591,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3297,1192,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3297, 865, '2020-10-30 15:06:47', 63780, 1698, 6, '18:00');

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(382,3096,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(382,1997,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(382,3592,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(382, 48, '2020-09-10 15:01:58', 38560, 98, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2410,42,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2410,3561,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2410,898,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2410, 521, '2020-09-16 03:42:13', 62000, 1010, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(588,1860,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(588,3735,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(588, 71, '2020-09-23 16:21:21', 82920, 139, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(975,2482,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(975,2262,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(975,126,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(975,31,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(975,1953,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(975,3703,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(975, 116, '2020-10-15 11:04:21', 153300, 224, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1958,3348,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1958,2522,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1958,108,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1958,3418,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1958,3076,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1958,4110,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1958, 342, '2020-10-23 11:23:06', 76480, 666, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2901,3073,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2901,2489,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2901,2209,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2901,2475,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2901,908,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2901, 715, '2020-10-16 15:31:43', 41340, 1395, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1738,1270,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1738,1292,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1738,346,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1738, 250, '2020-10-15 17:15:33', 63830, 485, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(814,3840,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(814,2977,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(814,499,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(814,2784,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(814,3088,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(814,3196,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(814, 98, '2020-09-26 10:50:02', 51120, 195, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1521,1400,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1521,3769,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1521, 188, '2020-10-10 13:13:21', 110760, 357, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2794,2950,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2794,3897,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2794,1275,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2794,2379,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2794,422,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2794, 675, '2020-10-07 23:37:57', 79230, 1317, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(889,3954,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(889,905,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(889, 106, '2020-10-10 17:10:43', 99000, 206, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3540,695,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3540,3969,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3540,2487,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3540,2341,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3540, 962, '2020-10-06 02:13:06', 74040, 1900, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2823,3952,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2823,3177,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2823,3948,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2823,3025,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2823, 684, '2020-11-01 18:13:30', 43180, 1338, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2294,2224,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2294,3695,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2294, 473, '2020-10-09 17:58:07', 131200, 922, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2430,946,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2430,3153,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2430,4088,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2430,1708,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2430, 529, '2020-09-12 22:54:09', 64600, 1022, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(143,3235,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(143,1864,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(143,2825,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(143,1797,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(143,1365,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(143,3676,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(143, 17, '2020-09-14 01:00:25', 95850, 34, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2078,1293,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2078,30,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2078, 391, '2020-10-18 18:39:46', 65520, 769, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3298,1160,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3298,1867,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3298, 866, '2020-09-30 18:02:13', 52800, 1701, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(24,3829,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(24,2597,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(24, 2, '2020-09-30 16:51:00', 52025, 3, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2184,470,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2184, 431, '2020-09-18 00:38:31', 62900, 843, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3435,3253,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3435,3445,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3435,1037,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3435, 921, '2020-10-03 12:19:22', 43780, 1815, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3199,1080,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3199,2377,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3199,640,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3199,296,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3199, 831, '2020-10-13 01:42:28', 40280, 1634, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2039,734,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2039,2923,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2039,1255,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2039,1997,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2039, 379, '2020-09-24 09:36:40', 52340, 743, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1290,2066,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1290,1295,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1290,1478,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1290, 158, '2020-09-13 12:57:21', 46990, 303, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3265,2505,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3265,2452,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3265, 853, '2020-10-28 17:52:41', 39720, 1677, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2415,3227,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2415,1548,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2415, 523, '2020-10-06 07:47:19', 86340, 1013, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3274,2729,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3274,903,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3274,3045,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3274, 856, '2020-10-15 06:25:03', 62820, 1681, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1712,1028,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1712,4054,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1712,3728,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1712, 240, '2020-09-28 14:35:49', 46680, 466, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1086,94,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1086, 132, '2020-10-08 07:38:48', 49800, 258, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1430,1369,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1430,2306,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1430,2505,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1430, 176, '2020-10-24 15:15:36', 51500, 339, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3597,1986,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3597,1552,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3597,3569,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3597,3602,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3597, 983, '2020-09-28 20:29:13', 98820, 1942, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2863,785,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2863,2965,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2863,474,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2863, 700, '2020-10-19 13:47:38', 80760, 1366, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1841,4054,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1841,54,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1841, 291, '2020-10-15 07:04:18', 109400, 569, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2472,4108,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2472,3170,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2472,227,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2472, 544, '2020-09-10 23:25:46', 40860, 1052, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2001,3618,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2001,1450,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2001, 359, '2020-10-23 13:11:47', 43440, 700, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2316,3507,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2316, 484, '2020-10-23 14:52:21', 44700, 945, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1170,2351,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1170,99,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1170, 143, '2020-10-20 03:53:13', 101000, 279, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(688,1303,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(688,2675,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(688,3236,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(688,3154,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(688,3023,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(688, 84, '2020-09-14 16:22:39', 41800, 169, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2981,1396,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2981,2662,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2981,2948,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2981, 745, '2020-10-02 06:00:00', 39120, 1451, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3103,3,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3103,511,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3103,4122,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3103,879,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3103, 791, '2020-09-30 16:36:30', 63840, 1551, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2609,3287,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2609,1954,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2609,4042,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2609,3850,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2609,617,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2609, 604, '2020-10-05 00:27:32', 60350, 1167, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(147,3004,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(147,2005,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(147,217,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(147,3759,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(147, 17, '2020-10-02 19:43:46', 59500, 32, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(840,1655,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(840,1097,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(840,10,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(840, 101, '2020-11-05 13:35:21', 67950, 200, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2189,1802,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2189,2116,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2189,3554,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2189, 433, '2020-11-03 05:58:34', 125060, 848, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3049,193,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3049,3495,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3049, 770, '2020-09-20 15:31:56', 153900, 1505, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(93,2680,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(93,3829,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(93, 10, '2020-10-24 19:23:13', 85550, 18, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1002,850,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1002,677,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1002, 120, '2020-09-08 21:25:47', 321920, 232, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(515,2002,2);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2769,3601,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2769, 667, '2020-09-16 07:53:11', 39600, 1298, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3367,3984,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3367,3118,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3367,3907,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3367, 892, '2020-09-29 15:44:52', 48680, 1755, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2062,2804,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2062, 386, '2020-10-15 02:42:34', 56700, 757, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1934,1832,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1934,1907,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1934,2437,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1934,2549,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1934,3752,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1934, 331, '2020-10-15 20:15:38', 94890, 643, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2307,2380,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2307,701,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2307,3041,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2307,2594,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2307,3604,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2307, 479, '2020-11-02 12:04:53', 63265, 935, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(55,1216,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(55,3288,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(55,1945,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(55,2836,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(55, 6, '2020-09-23 12:23:59', 81380, 10, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2830,1234,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2830,2440,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2830,3748,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2830, 686, '2020-10-31 03:48:57', 251400, 1342, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3515,658,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3515, 950, '2020-09-24 20:12:43', 194400, 1873, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2170,3222,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2170,48,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2170,99,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2170, 426, '2020-10-28 15:40:58', 46380, 834, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1033,187,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1033,927,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1033, 124, '2020-10-13 16:50:37', 87600, 237, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2833,332,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2833,3147,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2833,2280,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2833,1845,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2833, 688, '2020-10-26 07:55:48', 57496, 1345, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3162,2901,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3162,2822,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3162,1021,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3162,652,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3162, 817, '2020-09-16 10:03:09', 87300, 1598, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2578,3709,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2578, 591, '2020-09-22 08:28:52', 105000, 1147, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1944,1827,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1944,1620,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1944,3770,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1944, 335, '2020-09-12 22:19:44', 223500, 652, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1579,2016,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1579,3965,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1579,1010,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1579, 196, '2020-10-08 02:30:59', 41680, 373, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3401,2065,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3401,2198,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3401,51,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3401, 905, '2020-10-10 20:37:11', 226504, 1784, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2657,948,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2657,813,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2657,1281,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2657, 623, '2020-10-01 09:11:27', 45060, 1206, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2771,2530,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2771,1587,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2771,1436,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2771,3974,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2771,421,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2771, 669, '2020-09-25 15:10:28', 72500, 1302, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1339,2393,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1339,1113,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1339,3650,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1339, 166, '2020-09-30 09:29:50', 128400, 320, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2280,1005,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2280,1629,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2280, 468, '2020-09-26 07:44:40', 43520, 909, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(786,910,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(786,3235,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(786, 95, '2020-09-27 23:21:13', 38220, 187, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3316,3100,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3316,577,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3316,883,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3316,2144,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3316, 874, '2020-09-10 05:33:11', 45480, 1716, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1417,2989,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1417,963,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1417,1747,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1417, 175, '2020-09-22 17:07:08', 81780, 336, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3429,924,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3429,2975,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3429,595,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3429,2443,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3429,3394,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3429, 918, '2020-09-14 09:10:38', 65083, 1809, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(751,1754,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(751,2728,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(751, 91, '2020-10-12 03:08:30', 34580, 180, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(656,2677,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(656,1289,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(656,4012,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(656, 79, '2020-10-30 15:24:16', 48800, 156, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1087,915,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1087,4066,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1087, 132, '2020-09-08 19:25:43', 36320, 256, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3441,469,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3441, 923, '2020-09-30 20:04:35', 63920, 1819, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(205,942,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(205,1229,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(205,1559,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(205,760,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(205,167,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(205, 24, '2020-10-21 18:53:17', 108340, 49, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3317,1857,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3317,1344,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3317,1499,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3317, 875, '2020-10-31 18:17:53', 52420, 1717, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2110,2115,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2110,666,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2110, 404, '2020-09-14 21:04:59', 145100, 794, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3527,1110,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3527,3850,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3527,219,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3527, 956, '2020-10-07 00:14:31', 69380, 1888, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(607,421,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(607, 73, '2020-10-13 04:47:16', 39920, 142, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3567,4120,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3567,1287,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3567,668,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3567,1449,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3567, 972, '2020-09-07 16:01:54', 68410, 1920, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(795,2322,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(795,1484,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(795,1214,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(795, 96, '2020-09-12 01:59:40', 36940, 189, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2383,2230,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2383,1225,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2383, 510, '2020-09-25 19:42:22', 44320, 994, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1684,1869,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1684,460,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1684,1547,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1684,642,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1684,3850,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1684,3515,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1684, 229, '2020-11-06 21:57:25', 96900, 446, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(88,3569,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(88, 10, '2020-09-28 00:11:20', 79200, 18, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(933,2091,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(933,1199,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(933,524,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(933,3701,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(933, 111, '2020-10-31 16:31:56', 247240, 215, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1076,908,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1076,3511,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1076, 130, '2020-10-04 13:49:19', 83920, 250, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2489,2110,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2489,1758,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2489, 553, '2020-09-24 00:57:17', 181640, 1073, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1887,3078,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1887,2474,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1887,1120,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1887,479,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1887,1015,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1887,1807,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1887, 311, '2020-09-23 20:12:34', 43880, 609, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3633,1767,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3633,1413,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3633,2739,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3633,782,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3633, 998, '2020-10-31 02:05:55', 47560, 1975, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3371,1471,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3371,684,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3371, 893, '2020-10-05 08:04:41', 227920, 1758, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1975,3098,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1975,1065,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1975,1469,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1975,3732,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1975, 349, '2020-09-14 17:48:45', 214376, 682, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1307,1813,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1307,683,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1307, 161, '2020-10-08 03:22:05', 482320, 308, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3406,1215,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3406,1474,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3406,4057,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3406, 907, '2020-11-05 03:27:26', 76000, 1787, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(885,712,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(885,3174,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(885, 105, '2020-11-06 10:02:25', 34340, 204, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3219,3447,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3219,470,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3219, 836, '2020-09-24 15:18:45', 195180, 1641, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3128,1894,2);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2127,4126,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2127,3761,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2127, 410, '2020-09-07 19:13:33', 175120, 806, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(132,3154,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(132,2038,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(132,3996,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(132,2669,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(132, 16, '2020-10-26 22:48:32', 44000, 30, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(613,1354,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(613,2123,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(613, 74, '2020-09-20 03:21:12', 35060, 143, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(771,3210,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(771,1389,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(771,1532,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(771,3275,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(771,2482,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(771,942,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(771, 93, '2020-10-10 12:30:03', 52000, 183, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(982,3602,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(982, 118, '2020-09-08 19:38:00', 272000, 229, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3312,1373,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3312,204,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3312,2318,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3312, 872, '2020-10-12 09:31:46', 152080, 1712, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(932,3900,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(932,1298,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(932, 111, '2020-10-08 12:03:43', 97560, 214, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1916,4052,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1916,1186,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1916,305,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1916, 324, '2020-10-20 21:05:04', 82580, 633, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1679,2248,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1679,3150,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1679, 228, '2020-09-15 09:34:45', 44460, 445, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(705,1285,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(705,422,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(705,2752,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(705, 86, '2020-09-24 04:27:54', 62600, 172, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2807,3336,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2807,2413,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2807,484,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2807, 679, '2020-10-17 15:34:24', 79520, 1327, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1365,4028,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1365,3786,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1365, 168, '2020-11-04 23:19:56', 67440, 323, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(575,1822,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(575,3128,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(575,3730,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(575, 69, '2020-11-07 01:26:14', 230260, 136, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3167,608,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3167,1446,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3167,3867,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3167,3161,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3167,2967,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3167,3458,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3167, 818, '2020-10-10 01:52:06', 71250, 1601, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1296,1310,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1296,3085,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1296,3242,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1296,460,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1296,287,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1296, 159, '2020-09-30 12:05:19', 54080, 304, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2361,12,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2361, 500, '2020-10-16 08:06:20', 59700, 977, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(32,1673,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(32, 3, '2020-09-23 03:17:28', 109062, 5, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(129,1358,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(129,3582,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(129, 15, '2020-09-30 13:10:07', 110460, 28, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(87,530,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(87,3513,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(87, 10, '2020-11-04 15:33:48', 47820, 18, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1169,3211,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1169,2912,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1169,3164,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1169,46,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1169, 143, '2020-09-24 05:40:04', 141260, 279, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(623,526,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(623,730,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(623,1070,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(623,3949,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(623,2808,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(623,1658,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(623, 75, '2020-09-27 03:57:47', 62050, 146, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(368,2933,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(368,2734,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(368,3571,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(368,3199,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(368,1337,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(368, 46, '2020-09-20 11:49:58', 45210, 93, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1752,3613,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1752, 255, '2020-10-09 23:08:21', 107600, 495, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3423,2277,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3423,2969,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3423,2423,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3423,554,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3423,2952,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3423,2680,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3423,2621,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3423, 915, '2020-09-13 00:34:30', 82820, 1803, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2759,2360,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2759,3813,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2759, 663, '2020-10-22 14:28:58', 153000, 1289, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3068,164,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3068,515,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3068,1780,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3068, 777, '2020-09-20 06:07:51', 73020, 1519, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(944,1005,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(944,4064,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(944,402,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(944,1038,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(944,511,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(944, 112, '2020-11-01 22:36:10', 50310, 218, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(473,49,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(473,1283,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(473,1741,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(473,3259,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(473,503,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(473, 58, '2020-10-19 12:40:20', 83220, 118, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(794,2032,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(794,2283,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(794,595,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(794, 95, '2020-10-29 13:53:56', 56700, 187, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1177,724,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1177,3441,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1177,924,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1177,589,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1177, 144, '2020-10-24 00:54:14', 38242, 281, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2513,1370,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2513,3501,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2513, 561, '2020-10-20 06:22:02', 104960, 1089, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1238,1289,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1238,861,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1238,1595,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1238,2103,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1238,2805,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1238, 153, '2020-09-28 23:30:12', 42450, 295, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3578,3903,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3578,2782,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3578,3463,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3578, 975, '2020-11-05 04:11:54', 80780, 1924, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(126,594,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(126,2642,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(126,278,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(126, 15, '2020-11-05 13:51:13', 48080, 27, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2603,1943,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2603,4127,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2603, 602, '2020-10-15 05:11:58', 40660, 1164, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1125,435,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1125,1315,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1125,2494,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1125,1209,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1125,1502,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1125, 137, '2020-10-02 13:29:06', 45020, 269, 2, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1556,3211,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1556,3993,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1556,2325,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1556, 193, '2020-10-20 09:31:39', 72704, 367, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3534,1124,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3534,3448,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3534,482,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3534, 960, '2020-09-26 23:50:12', 324920, 1897, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1072,3549,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1072,3644,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1072, 129, '2020-10-19 01:06:47', 158600, 248, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2780,3050,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2780,671,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2780,124,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2780, 672, '2020-10-20 23:25:46', 56740, 1311, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(447,2804,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(447,3760,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(447, 55, '2020-10-18 18:53:44', 37805, 112, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3465,417,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3465,3946,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3465, 932, '2020-09-21 06:30:08', 78860, 1840, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(669,2748,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(669,1608,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(669, 81, '2020-09-16 17:06:26', 32940, 162, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1798,3221,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1798,1561,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1798,247,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1798, 274, '2020-09-08 07:01:25', 126980, 533, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1298,1100,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1298,2569,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1298,511,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1298,1175,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1298, 160, '2020-09-09 01:51:34', 45450, 306, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(224,325,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(224, 26, '2020-09-16 13:55:24', 135600, 55, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(356,3473,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(356, 45, '2020-10-09 08:12:31', 53700, 91, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1473,3267,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1473,1807,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1473,1048,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1473,3617,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1473,2190,2);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1777,1489,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1777,555,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1777,2061,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1777,3539,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1777, 265, '2020-09-27 20:29:47', 59740, 512, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1871,2904,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1871,2235,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1871,91,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1871, 305, '2020-10-20 22:02:25', 138440, 593, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1973,1697,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1973, 349, '2020-10-10 05:10:41', 53700, 682, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2140,2167,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2140,3602,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2140, 416, '2020-10-29 20:30:35', 159100, 816, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1219,517,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1219,3702,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1219, 151, '2020-09-19 04:23:03', 127720, 292, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1881,1920,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1881,2929,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1881,1348,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1881,2909,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1881, 309, '2020-10-01 07:48:50', 39260, 605, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3048,2159,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3048,3830,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3048, 770, '2020-10-11 19:01:24', 170800, 1505, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2168,3179,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2168,1688,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2168,172,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2168, 426, '2020-09-24 04:47:13', 55180, 834, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1618,75,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1618, 199, '2020-10-16 08:12:48', 155700, 380, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2419,1962,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2419,366,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2419,76,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2419, 525, '2020-09-24 17:09:02', 76800, 1018, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2466,3080,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2466,3861,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2466, 542, '2020-10-25 09:06:29', 86960, 1048, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2973,377,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2973, 742, '2020-09-12 08:31:44', 151200, 1447, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1312,3953,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1312,1011,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1312,2916,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1312, 162, '2020-10-24 11:53:05', 48280, 310, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(292,1299,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(292,3429,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(292, 35, '2020-10-14 00:16:30', 57840, 73, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(463,2324,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(463,1849,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(463,3872,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(463, 57, '2020-09-19 01:01:19', 49450, 116, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3079,3245,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3079,50,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3079, 782, '2020-09-23 09:04:34', 292960, 1530, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3561,2020,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3561,999,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3561, 970, '2020-10-21 10:11:24', 38320, 1918, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2346,3847,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2346, 495, '2020-09-17 06:32:11', 43960, 966, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1044,553,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1044,2788,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1044,1922,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1044,1449,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1044,639,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1044,3880,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1044, 126, '2020-09-22 16:26:56', 48440, 242, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3358,1182,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3358,666,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3358, 889, '2020-10-24 08:37:06', 206340, 1750, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(38,3366,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(38, 4, '2020-10-29 18:49:03', 63600, 6, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1624,2222,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1624,4103,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1624,1669,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1624,4056,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1624,125,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1624, 203, '2020-10-16 20:15:26', 57620, 388, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2965,256,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2965, 738, '2020-10-06 11:30:44', 188400, 1440, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(455,945,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(455,2256,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(455,2187,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(455,1873,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(455, 56, '2020-09-19 15:24:40', 54910, 115, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1680,4094,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1680,2160,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1680,3742,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1680, 228, '2020-09-17 12:47:19', 83180, 444, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2309,946,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2309,2943,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2309, 481, '2020-10-30 10:59:42', 64880, 937, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1305,359,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1305,4111,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1305,3583,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1305,681,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1305, 161, '2020-09-16 03:32:39', 40700, 309, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1198,3563,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1198, 147, '2020-10-17 22:05:46', 139200, 286, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3071,3591,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3071, 778, '2020-10-20 03:19:59', 50000, 1521, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3060,2128,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3060,84,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3060,103,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3060, 774, '2020-10-26 10:54:55', 42520, 1512, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2930,3358,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2930,3561,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2930,3127,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2930,1497,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2930, 725, '2020-09-21 08:58:06', 52220, 1419, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(850,521,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(850, 102, '2020-09-28 22:56:00', 135200, 201, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2846,442,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2846, 692, '2020-09-11 13:45:02', 100500, 1352, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(567,1680,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(567, 68, '2020-10-21 07:02:35', 59200, 135, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3362,3180,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3362,2638,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3362,3869,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3362,527,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3362,588,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3362, 890, '2020-09-16 11:42:42', 35800, 1751, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(360,2619,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(360,2099,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(360,2175,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(360, 45, '2020-10-12 20:19:06', 37440, 90, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(191,1558,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(191,1194,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(191, 22, '2020-10-04 17:43:04', 53520, 44, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3134,1238,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3134,3765,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3134,2155,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3134,1611,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3134, 806, '2020-11-06 22:39:49', 43965, 1582, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2502,1937,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2502,3460,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2502,1693,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2502, 557, '2020-10-06 14:27:28', 57280, 1081, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1165,1490,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1165,2678,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1165,239,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1165, 143, '2020-09-19 05:08:53', 48760, 279, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1295,2811,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1295,3375,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1295,3720,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1295, 159, '2020-09-13 05:34:34', 86560, 305, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3046,3909,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3046,2187,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3046,3393,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3046, 769, '2020-09-27 10:21:04', 34960, 1503, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2111,1544,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2111, 404, '2020-10-02 09:21:02', 53700, 794, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1131,2757,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1131,2417,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1131,2721,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1131,1700,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1131, 138, '2020-11-07 03:02:05', 53080, 270, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2221,3255,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2221,880,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2221,2030,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2221, 445, '2020-09-19 16:56:26', 101220, 869, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3452,964,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3452,2000,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3452,4085,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3452, 928, '2020-09-15 23:37:45', 114360, 1830, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1351,100,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1351,465,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1351, 167, '2020-09-15 00:21:48', 66700, 321, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2423,4029,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2423,1485,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2423,1375,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2423, 526, '2020-10-23 19:49:14', 41500, 1019, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3494,3645,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3494, 944, '2020-09-07 23:45:40', 119415, 1861, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2096,1056,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2096, 397, '2020-09-27 11:36:21', 48000, 780, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1807,4068,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1807,2766,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1807, 277, '2020-10-13 16:41:10', 53940, 539, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3549,375,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3549,3240,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3549,353,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3549, 966, '2020-09-25 01:42:46', 49240, 1909, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(289,3213,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(289,3228,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(289,280,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(289, 34, '2020-09-29 12:04:06', 53360, 71, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(263,1947,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(263,2648,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(263,322,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(263,1341,3);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2156,1035,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2156, 421, '2020-10-03 20:11:03', 57420, 826, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2296,4046,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2296,2336,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2296,1912,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2296, 475, '2020-10-23 18:04:00', 50800, 927, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2686,1967,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2686,1169,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2686,1907,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2686,1426,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2686,1473,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2686,962,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2686, 633, '2020-11-03 09:39:49', 49832, 1226, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1505,1716,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1505, 186, '2020-11-04 14:55:31', 59600, 355, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(958,2933,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(958,3498,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(958, 114, '2020-09-14 22:38:18', 53540, 221, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1019,857,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1019,103,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1019, 122, '2020-10-19 06:00:19', 37760, 235, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1231,2232,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1231, 152, '2020-10-03 21:04:24', 43600, 294, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(845,3227,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(845,718,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(845, 101, '2020-11-03 07:54:50', 50580, 200, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2727,3951,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2727,2379,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2727,2366,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2727,2490,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2727, 648, '2020-09-26 18:02:44', 53820, 1257, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(489,1345,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(489,3736,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(489,3316,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(489,2763,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(489, 60, '2020-10-31 13:59:46', 65960, 121, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2943,3410,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2943, 730, '2020-09-14 20:02:07', 56000, 1425, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1250,515,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1250, 154, '2020-09-07 12:30:22', 118560, 296, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1234,3099,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1234,1619,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1234, 152, '2020-09-21 22:01:18', 79120, 294, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3623,676,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3623,3211,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3623, 993, '2020-09-25 14:10:29', 52080, 1966, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2373,603,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2373,40,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2373,2055,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2373, 505, '2020-10-30 00:53:26', 46640, 987, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3462,494,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3462,375,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3462,2076,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3462, 930, '2020-11-06 14:06:09', 49600, 1834, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(687,2845,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(687,3611,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(687,2932,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(687,605,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(687,3098,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(687,430,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(687,2106,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(687, 84, '2020-09-19 16:34:56', 56030, 169, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1750,3609,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1750,103,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1750, 254, '2020-10-07 22:18:02', 99200, 493, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2469,1275,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2469,897,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2469, 544, '2020-10-30 13:07:03', 86340, 1054, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2904,2941,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2904,2681,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2904,3454,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2904, 716, '2020-09-11 03:09:23', 54540, 1396, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1257,3505,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1257,2003,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1257,1391,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1257, 155, '2020-10-04 14:41:38', 34740, 298, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2852,1697,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2852, 695, '2020-09-26 19:52:17', 71600, 1358, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2719,4084,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2719, 645, '2020-11-01 09:33:45', 164880, 1251, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2664,24,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2664, 626, '2020-09-24 13:40:38', 47200, 1209, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3291,1545,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3291, 862, '2020-10-13 05:23:09', 41400, 1692, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1493,682,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1493,2526,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1493, 184, '2020-10-04 03:15:04', 42920, 352, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1889,3973,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1889,3711,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1889, 313, '2020-09-15 19:11:28', 73360, 614, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2803,2484,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2803, 678, '2020-10-17 15:33:40', 39920, 1323, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(810,563,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(810,673,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(810,3837,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(810,1307,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(810, 97, '2020-09-15 00:25:16', 54230, 192, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3593,9,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3593,2584,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3593, 982, '2020-11-01 02:06:20', 45620, 1941, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1422,2853,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1422,2558,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1422,2128,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1422,88,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1422, 176, '2020-11-07 06:31:53', 58460, 337, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1248,1189,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1248,1175,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1248,24,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1248,3118,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1248,387,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1248, 154, '2020-11-05 05:01:37', 69260, 296, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(505,2779,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(505,2353,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(505,3428,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(505, 62, '2020-10-04 01:30:50', 43080, 124, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(621,1658,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(621,2956,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(621,1343,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(621, 75, '2020-10-30 19:26:06', 44720, 148, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2967,2832,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2967,783,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2967, 739, '2020-10-21 17:38:49', 38060, 1441, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3619,4051,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3619, 992, '2020-11-03 01:04:18', 45920, 1963, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2540,750,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2540,3087,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2540,2234,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2540, 572, '2020-09-30 09:42:42', 39420, 1115, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1959,2320,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1959, 342, '2020-10-29 20:32:41', 51200, 668, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(334,961,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(334,2583,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(334,3674,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(334,1128,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(334, 41, '2020-10-17 11:29:16', 100750, 84, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2242,621,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2242,502,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2242, 455, '2020-09-12 11:14:12', 122580, 889, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(60,3106,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(60,1175,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(60, 6, '2020-10-27 08:46:13', 35880, 10, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3132,62,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3132, 805, '2020-10-20 12:05:33', 54800, 1580, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1700,679,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1700, 236, '2020-09-27 00:14:25', 55200, 458, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2563,3069,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2563,2173,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2563, 584, '2020-11-02 05:55:45', 45520, 1135, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2320,1839,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2320,3212,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2320,483,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2320, 486, '2020-10-12 14:54:21', 129220, 948, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2885,2074,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2885,1681,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2885, 707, '2020-10-24 16:26:25', 43120, 1381, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1933,642,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1933,3773,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1933, 331, '2020-10-20 10:22:30', 62085, 645, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2963,998,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2963,128,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2963, 738, '2020-10-21 04:47:27', 55720, 1440, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3201,2179,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3201,853,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3201,2092,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3201, 831, '2020-10-10 09:50:03', 60696, 1633, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(401,1020,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(401, 50, '2020-09-22 23:48:27', 139200, 100, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1552,3625,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1552, 193, '2020-09-16 12:11:49', 59400, 367, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2734,1291,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2734,4078,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2734, 651, '2020-09-17 18:55:24', 36300, 1263, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3500,1797,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3500,1812,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3500,2868,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3500, 945, '2020-09-27 18:13:41', 48540, 1863, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3088,632,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3088,947,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3088,1043,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3088, 786, '2020-10-24 11:52:38', 53240, 1539, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2816,3284,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2816,2665,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2816,2369,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2816,2542,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2816,2953,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2816,1847,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2816, 682, '2020-10-09 21:04:55', 55260, 1335, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(383,3700,4);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3607,2129,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3607,1785,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3607,2504,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3607,2251,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3607, 987, '2020-10-19 12:26:58', 44820, 1953, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3352,2749,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3352,1374,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3352,975,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3352,3447,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3352,384,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3352,2835,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3352,3181,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3352, 887, '2020-11-03 02:21:29', 54680, 1747, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3591,546,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3591,2928,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3591,2165,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3591, 982, '2020-10-12 23:22:40', 55240, 1941, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3239,2351,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3239,3359,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3239,1173,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3239, 843, '2020-10-27 11:58:01', 71060, 1654, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1175,3119,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1175,75,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1175, 144, '2020-11-05 19:53:18', 105000, 281, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(155,3822,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(155, 18, '2020-10-16 18:40:25', 150000, 36, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2223,1706,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2223,3944,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2223, 446, '2020-09-22 11:30:28', 41160, 871, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3478,2031,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3478,839,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3478,1355,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3478, 938, '2020-10-08 13:45:42', 51940, 1852, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1017,1586,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1017,152,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1017, 122, '2020-10-15 18:34:08', 254760, 235, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(501,3016,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(501,3994,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(501,2890,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(501,949,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(501,2823,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(501,3997,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(501, 62, '2020-11-01 09:30:38', 56000, 124, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3353,2531,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3353,1351,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3353,992,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3353,4000,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3353,1288,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3353, 888, '2020-10-30 14:09:52', 46480, 1748, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2974,520,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2974, 742, '2020-09-20 01:08:40', 107400, 1447, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(883,2204,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(883,2566,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(883,3491,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(883, 105, '2020-11-03 12:52:42', 54400, 204, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3076,3803,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3076, 780, '2020-10-19 22:41:40', 85215, 1527, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3430,956,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3430,1441,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3430,1039,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3430, 919, '2020-09-30 05:24:36', 42620, 1811, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(461,3587,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(461,631,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(461, 57, '2020-10-04 10:26:54', 54860, 116, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(894,209,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(894, 106, '2020-09-25 10:44:02', 356000, 206, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(546,233,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(546, 66, '2020-11-02 21:58:19', 239400, 131, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2500,492,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2500, 557, '2020-09-20 18:55:35', 38400, 1081, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(68,2517,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(68,3435,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(68, 7, '2020-09-16 01:42:34', 63740, 12, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3497,1980,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3497,3569,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3497,210,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3497, 944, '2020-10-15 11:06:24', 184670, 1861, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2902,1556,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2902,668,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2902,3393,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2902,3986,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2902,1110,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2902,3378,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2902, 715, '2020-09-09 08:15:41', 52330, 1395, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(196,1225,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(196,2220,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(196,2404,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(196,2567,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(196,1104,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(196, 23, '2020-10-18 14:49:18', 63890, 46, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3277,1711,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3277, 857, '2020-09-13 04:42:53', 59400, 1682, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1499,299,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1499,2539,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1499,2502,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1499,715,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1499,2744,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1499,1769,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1499,1550,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1499, 185, '2020-10-04 09:51:57', 57830, 353, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1429,747,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1429,617,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1429,1081,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1429, 176, '2020-11-06 08:21:02', 45580, 337, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2413,102,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2413,2534,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2413,1271,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2413,3398,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2413, 522, '2020-10-23 08:33:52', 55150, 1011, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1574,1873,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1574,3759,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1574, 195, '2020-10-04 07:31:52', 77420, 371, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3066,2993,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3066,2574,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3066,4083,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3066, 776, '2020-10-01 20:48:02', 199860, 1516, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3331,1394,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3331,4026,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3331,3449,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3331, 879, '2020-11-05 03:26:13', 38900, 1726, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1638,2765,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1638,4079,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1638,2821,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1638,1932,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1638,1479,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1638, 208, '2020-09-28 19:08:54', 61960, 399, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1353,3748,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1353, 167, '2020-11-04 07:24:49', 165000, 321, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2829,319,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2829,1201,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2829,2261,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2829, 686, '2020-09-26 09:47:23', 54300, 1342, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2121,2033,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2121,1320,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2121,1868,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2121,2272,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2121, 407, '2020-11-01 01:52:59', 59060, 801, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3439,634,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3439,2479,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3439, 922, '2020-10-19 12:41:53', 50120, 1818, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1688,186,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1688, 231, '2020-09-12 08:59:09', 79800, 450, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(902,977,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(902,501,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(902,1775,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(902, 107, '2020-10-23 23:59:51', 51920, 207, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2255,2666,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2255,3229,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2255,2791,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2255,2360,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2255, 460, '2020-10-25 18:07:38', 65460, 897, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3300,495,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3300, 867, '2020-09-16 17:40:23', 45540, 1702, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3011,3992,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3011,3783,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3011, 757, '2020-10-14 06:04:59', 67750, 1475, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(424,1657,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(424,2177,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(424,255,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(424, 53, '2020-11-06 06:33:55', 52870, 107, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2264,2597,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2264,2330,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2264,693,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2264, 463, '2020-10-13 05:40:36', 60320, 903, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3168,3278,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3168,3961,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3168,2656,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3168,3494,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3168,484,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3168, 819, '2020-10-14 18:44:00', 115540, 1604, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2679,3243,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2679,1869,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2679,957,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2679,3332,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2679,2932,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2679,630,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2679, 630, '2020-09-08 00:46:53', 37780, 1218, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3150,845,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3150,744,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3150,1248,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3150,512,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3150, 813, '2020-10-11 23:08:32', 56280, 1592, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3273,3607,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3273, 855, '2020-09-24 18:10:58', 147800, 1679, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3315,668,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3315,2317,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3315,2933,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3315,3738,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3315,677,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3315, 874, '2020-09-19 04:11:16', 316910, 1716, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(997,3940,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(997,4107,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(997,615,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(997, 119, '2020-11-05 10:19:44', 62300, 230, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(308,518,1);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(339,825,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(339,1756,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(339,4036,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(339, 42, '2020-10-01 15:58:33', 61554, 85, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(995,869,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(995,3777,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(995, 119, '2020-10-18 19:41:39', 70040, 231, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(946,2080,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(946, 112, '2020-09-19 22:37:07', 76000, 217, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(735,2477,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(735,2917,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(735,3027,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(735,677,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(735, 89, '2020-10-29 07:41:24', 117550, 178, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2571,1751,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2571,211,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2571, 588, '2020-09-08 22:20:13', 133080, 1142, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3111,3517,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3111, 795, '2020-10-04 13:15:49', 46500, 1559, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1204,3350,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1204,1269,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1204,894,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1204, 149, '2020-09-18 03:17:43', 45720, 290, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1782,1842,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1782,2507,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1782, 268, '2020-09-12 12:32:28', 45520, 518, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2076,587,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2076,1420,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2076,387,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2076,2097,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2076,4016,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2076,819,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2076, 390, '2020-10-22 14:42:39', 60160, 766, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(649,3327,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(649,503,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(649, 79, '2020-10-02 10:55:29', 131130, 156, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1757,4077,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1757,1523,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1757, 257, '2020-10-17 14:17:28', 47880, 498, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2566,4007,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2566,2193,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2566, 586, '2020-11-01 12:37:37', 40500, 1139, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(376,2730,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(376,3967,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(376, 47, '2020-09-28 09:22:29', 49880, 96, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3086,3955,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3086,2907,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3086,28,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3086,1380,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3086, 785, '2020-10-07 01:17:28', 62980, 1537, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(321,2599,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(321,1616,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(321, 39, '2020-11-02 21:53:15', 133256, 79, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2289,1567,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2289, 471, '2020-09-28 01:26:04', 155400, 918, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1971,154,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1971,3226,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1971, 348, '2020-10-09 14:53:58', 44680, 681, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1200,3569,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1200, 148, '2020-10-06 02:11:06', 39600, 287, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2219,2641,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2219,3250,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2219,3160,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2219,2121,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2219,2753,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2219, 445, '2020-10-17 16:21:53', 36980, 869, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1091,1350,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1091,2699,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1091,2773,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1091,2455,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1091, 132, '2020-10-28 02:33:35', 48400, 257, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2889,2241,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2889, 709, '2020-10-30 12:31:37', 55600, 1385, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1711,3579,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1711, 239, '2020-10-28 16:44:39', 116400, 465, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3394,871,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3394,50,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3394, 902, '2020-10-15 22:29:14', 149880, 1777, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(58,1836,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(58,12,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(58, 6, '2020-10-27 16:00:55', 74340, 10, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2522,415,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2522, 565, '2020-10-11 04:43:05', 104700, 1099, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2427,2856,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2427,887,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2427,2883,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2427, 527, '2020-10-19 14:23:46', 73000, 1020, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(209,3107,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(209,1683,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(209, 25, '2020-10-21 23:46:59', 55380, 52, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(141,1170,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(141, 17, '2020-10-11 05:13:22', 51200, 34, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(708,1709,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(708, 86, '2020-10-01 16:56:10', 55800, 173, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3547,1636,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3547,292,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3547, 965, '2020-10-15 20:02:16', 60200, 1907, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2414,1483,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2414,688,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2414,3274,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2414,2880,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2414,3977,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2414, 523, '2020-10-08 12:05:03', 65000, 1013, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(712,2686,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(712,3508,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(712, 86, '2020-09-15 09:20:44', 129400, 172, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(351,158,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(351, 45, '2020-09-13 15:33:29', 65460, 92, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(364,1402,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(364,1633,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(364,1465,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(364,1481,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(364, 46, '2020-10-31 06:10:26', 50280, 93, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(375,1176,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(375,2796,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(375,3052,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(375,3729,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(375, 47, '2020-10-04 19:32:05', 99755, 96, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(411,2852,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(411,1177,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(411,3280,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(411,2215,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(411,176,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(411,953,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(411, 52, '2020-09-24 20:50:06', 48590, 105, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2523,1780,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2523, 566, '2020-09-19 17:08:13', 47200, 1102, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1877,759,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1877, 307, '2020-10-23 15:03:11', 39920, 597, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(120,1293,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(120,2548,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(120,2253,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(120,2841,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(120,862,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(120, 15, '2020-09-08 17:57:39', 43120, 27, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1808,3566,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1808,466,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1808, 277, '2020-10-01 00:50:17', 52000, 540, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2961,4006,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2961,2630,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2961,635,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2961,3290,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2961, 737, '2020-09-21 08:39:36', 54300, 1439, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2701,3117,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2701,1934,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2701,340,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2701,2052,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2701,1061,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2701,1091,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2701, 638, '2020-09-21 16:45:14', 45050, 1237, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(905,2957,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(905,2658,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(905,2412,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(905,3326,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(905, 107, '2020-09-12 21:17:41', 55930, 207, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1142,2285,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1142,1488,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1142,3260,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1142,1185,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1142, 141, '2020-10-02 03:52:27', 60660, 276, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2886,3301,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2886,3122,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2886,2171,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2886,592,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2886,2438,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2886, 708, '2020-11-04 12:49:30', 44700, 1383, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3081,562,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3081,4010,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3081,2833,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3081,4098,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3081,251,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3081, 782, '2020-09-17 21:47:25', 56260, 1530, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2065,3535,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2065, 387, '2020-10-17 08:13:43', 172000, 758, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3431,781,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3431,2842,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3431,2125,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3431, 919, '2020-09-14 10:01:09', 82340, 1810, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2827,478,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2827, 685, '2020-11-05 23:14:10', 73800, 1341, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2159,509,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2159, 422, '2020-09-12 09:20:25', 55200, 827, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1347,1775,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1347,908,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1347,718,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1347, 166, '2020-09-20 11:03:56', 76100, 320, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1394,4134,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1394,2631,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1394, 172, '2020-10-05 16:22:00', 35420, 331, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1011,462,4);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1697,1162,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1697,1994,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1697,2588,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1697,263,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1697,2714,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1697, 235, '2020-09-07 15:02:13', 51300, 457, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(91,3004,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(91,3448,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(91,3104,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(91,1672,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(91, 10, '2020-09-19 10:00:23', 219140, 18, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2222,3956,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2222,912,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2222,650,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2222, 445, '2020-10-06 03:35:07', 69120, 869, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(857,3149,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(857,3735,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(857, 102, '2020-10-05 06:28:41', 91980, 201, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2172,61,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2172,680,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2172,980,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2172,1204,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2172,2716,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2172, 427, '2020-09-18 15:11:47', 37220, 836, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2439,1590,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2439,4104,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2439,54,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2439, 532, '2020-09-22 17:07:32', 176640, 1026, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2766,3978,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2766,1635,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2766, 665, '2020-10-06 02:46:12', 68540, 1295, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1855,1401,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1855,369,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1855,1772,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1855, 298, '2020-09-19 23:31:21', 49680, 583, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1468,1487,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1468,644,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1468,553,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1468, 181, '2020-11-02 17:22:54', 46320, 347, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1541,3311,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1541,3520,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1541, 191, '2020-10-28 07:03:21', 119200, 363, 4, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3033,1490,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3033,2771,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3033,2947,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3033,1894,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3033, 765, '2020-10-31 09:57:24', 49030, 1494, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1918,2340,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1918,1002,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1918, 325, '2020-10-23 06:54:06', 49920, 634, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1045,2402,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1045,3493,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1045,3843,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1045, 126, '2020-09-30 01:21:44', 84520, 242, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1748,767,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1748,1358,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1748,2664,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1748, 253, '2020-09-27 06:56:53', 51240, 491, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2743,3715,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2743,1047,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2743,1338,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2743, 656, '2020-09-30 12:24:06', 38680, 1275, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3384,3217,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3384,58,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3384,1356,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3384,3127,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3384, 899, '2020-09-15 00:21:43', 43980, 1773, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2939,3237,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2939,1228,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2939, 729, '2020-09-23 04:05:26', 103360, 1424, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3390,2141,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3390,2783,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3390, 901, '2020-10-03 09:47:54', 32120, 1775, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(996,3631,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(996, 119, '2020-10-26 13:52:58', 75200, 230, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(151,948,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(151,1308,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(151,3886,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(151,4060,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(151, 18, '2020-10-20 03:41:23', 49220, 36, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2306,1737,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2306,1249,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2306,1627,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2306, 479, '2020-09-30 15:42:42', 51260, 934, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(550,1611,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(550,769,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(550,2568,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(550,765,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(550,15,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(550, 66, '2020-10-02 02:00:53', 51640, 132, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1276,961,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1276,3461,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1276,1746,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1276, 157, '2020-10-11 15:02:44', 47560, 302, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(175,3989,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(175,1289,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(175, 20, '2020-09-14 03:22:49', 67440, 40, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3442,2843,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3442,245,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3442, 923, '2020-09-09 22:59:07', 128620, 1820, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2424,2462,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2424,146,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2424,685,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2424,672,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2424,2626,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2424,3913,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2424, 526, '2020-10-01 01:24:25', 61580, 1019, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2933,1669,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2933,2420,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2933,3166,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2933, 727, '2020-09-15 11:15:16', 44060, 1421, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1779,2229,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1779,3512,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1779, 266, '2020-09-28 18:28:01', 45420, 513, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2938,1118,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2938,1218,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2938, 728, '2020-09-22 05:12:24', 54920, 1422, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(170,1735,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(170, 19, '2020-10-13 02:56:04', 62000, 39, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3063,2193,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3063,2766,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3063, 775, '2020-09-14 07:31:12', 71400, 1513, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3185,476,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3185,3936,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3185,2499,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3185, 827, '2020-10-18 21:31:25', 53480, 1624, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1695,3540,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1695,588,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1695,568,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1695,3711,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1695, 234, '2020-09-12 18:08:16', 131340, 456, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3444,1457,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3444,1346,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3444,4059,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3444, 925, '2020-10-02 05:07:22', 47880, 1824, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1127,3452,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1127, 138, '2020-10-09 08:49:45', 67600, 270, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1740,2498,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1740,3227,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1740,1275,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1740,3236,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1740,2352,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1740, 251, '2020-10-04 06:03:34', 53020, 486, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3110,2426,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3110,773,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3110,2532,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3110, 794, '2020-10-29 08:52:22', 49420, 1558, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1114,1114,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1114,2692,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1114,2384,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1114, 136, '2020-09-14 08:15:24', 49980, 267, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1632,2610,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1632,4063,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1632, 205, '2020-10-04 06:14:05', 53560, 392, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2347,4096,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2347,146,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2347,3874,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2347, 495, '2020-10-05 08:25:30', 51860, 967, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1089,3237,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1089,2456,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1089,1521,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1089, 132, '2020-09-16 06:06:48', 57860, 257, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2678,1863,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2678,1242,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2678,239,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2678,3949,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2678, 630, '2020-09-17 21:16:26', 48400, 1217, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(102,238,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(102,3684,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(102, 11, '2020-10-18 01:07:24', 417600, 20, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1570,1056,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1570,3122,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1570,1682,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1570,2717,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1570, 195, '2020-09-17 14:55:18', 62750, 371, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3361,3281,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3361,4101,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3361,1309,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3361,1535,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3361, 890, '2020-11-02 08:52:30', 75360, 1751, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1879,1342,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1879,2206,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1879, 308, '2020-09-26 01:53:48', 55840, 600, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1992,1738,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1992,907,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1992, 356, '2020-10-04 18:56:04', 65520, 694, 5, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(67,3944,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(67,956,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(67,2554,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(67,655,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(67, 7, '2020-09-21 04:58:51', 50580, 12, 6, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(430,2820,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(430,2567,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(430,2294,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(430,3610,2);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2941,915,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2941,2630,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2941,1590,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2941,1288,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2941,1081,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2941,3308,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2941,155,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2941, 730, '2020-10-15 18:00:07', 75600, 1425, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3581,3373,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3581,2138,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3581,2142,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3581,388,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3581,2606,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3581,1049,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3581, 977, '2020-10-05 06:20:36', 41330, 1928, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2021,2088,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2021,1790,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2021,990,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2021,45,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2021,846,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2021, 371, '2020-10-06 01:10:11', 58750, 727, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2044,343,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2044, 380, '2020-09-12 22:21:20', 47400, 744, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1450,263,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1450,1180,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1450, 179, '2020-10-06 19:42:58', 85720, 345, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2490,3153,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2490,3206,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2490,1419,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2490,3829,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2490, 553, '2020-10-09 16:50:19', 75385, 1074, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1826,2980,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1826,2230,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1826,2429,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1826,3233,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1826, 284, '2020-10-23 01:54:46', 43800, 555, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3163,3238,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3163,1832,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3163,4060,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3163, 817, '2020-10-21 20:05:13', 39340, 1600, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2355,3329,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2355,326,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2355, 497, '2020-11-02 05:25:49', 98520, 970, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(545,3717,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(545, 66, '2020-10-06 02:10:25', 191600, 132, 3, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2395,1298,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2395,881,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2395, 516, '2020-09-14 15:51:04', 60360, 1004, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2509,3971,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2509,3298,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2509,243,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2509,3315,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2509, 560, '2020-10-28 20:39:11', 50520, 1086, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(514,205,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(514, 63, '2020-09-21 00:58:35', 99600, 126, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1371,193,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1371,3841,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1371, 169, '2020-09-12 03:28:02', 49380, 324, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2422,2748,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2422,535,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2422,1899,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2422, 525, '2020-09-28 16:11:49', 43740, 1018, 4, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2663,809,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2663,344,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2663, 626, '2020-10-05 20:46:01', 82620, 1209, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(379,48,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(379,3252,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(379,3546,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(379, 48, '2020-09-16 04:48:48', 610840, 98, 4, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1862,3951,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1862,3611,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1862, 301, '2020-11-04 05:40:35', 42480, 587, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(606,1029,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(606,1087,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(606,191,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(606, 73, '2020-10-14 22:23:12', 51940, 142, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(779,1309,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(779,1390,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(779,486,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(779, 94, '2020-09-18 07:53:30', 68600, 186, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1108,3458,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1108,3543,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1108, 134, '2020-10-29 08:55:58', 222120, 261, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(774,846,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(774,1002,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(774,3195,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(774, 93, '2020-11-04 05:37:53', 46880, 182, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2698,343,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2698, 637, '2020-10-17 08:29:07', 47400, 1234, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1648,2042,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1648, 215, '2020-09-08 15:47:13', 51600, 411, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(733,1033,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(733,3080,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(733,3015,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(733,1407,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(733, 89, '2020-10-03 01:40:50', 42840, 178, 2, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1214,3583,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1214,1313,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1214,928,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1214, 150, '2020-10-04 19:47:59', 57580, 291, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(481,3057,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(481,1699,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(481, 59, '2020-11-01 13:56:19', 74780, 119, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3574,1977,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3574,1701,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3574,2931,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3574, 974, '2020-10-01 22:12:37', 45810, 1923, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(477,1449,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(477,483,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(477, 58, '2020-10-14 18:25:16', 361960, 117, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(938,2027,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(938,1759,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(938, 112, '2020-09-21 01:42:22', 43560, 217, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1484,4067,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1484,2655,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1484,1485,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1484,1834,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1484,3551,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1484, 183, '2020-09-17 17:56:39', 192500, 351, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2737,2725,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2737,1235,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2737, 653, '2020-10-23 15:39:28', 31860, 1268, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2809,127,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2809,1720,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2809, 680, '2020-10-30 16:42:59', 51660, 1329, 3, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3502,1279,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3502,2575,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3502,2725,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3502,2042,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3502, 946, '2020-10-08 15:59:16', 74828, 1867, 1, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1788,1033,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1788,2272,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1788,35,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1788,1115,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1788,3499,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1788,1544,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1788, 270, '2020-09-22 15:22:46', 84020, 522, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3030,171,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3030,2101,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3030,4113,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3030, 764, '2020-10-07 18:39:46', 60040, 1491, 3, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(637,851,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(637,1554,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(637,2205,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(637,1004,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(637, 77, '2020-10-22 03:30:02', 57480, 151, 1, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2004,2052,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2004,3982,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2004,116,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2004, 362, '2020-09-15 20:32:25', 63660, 707, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(12,4091,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(12,29,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(12, 1, '2020-10-27 03:58:54', 69620, 2, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(519,3575,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(519,1201,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(519,2708,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(519, 63, '2020-11-01 07:34:36', 56140, 126, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(614,370,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(614,417,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(614,3477,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(614, 74, '2020-10-24 10:30:42', 63300, 144, 3, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1424,461,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1424, 176, '2020-10-05 12:38:32', 55200, 338, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3285,510,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3285,3449,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3285, 861, '2020-11-01 23:58:28', 48700, 1691, 6, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3129,3104,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3129,3980,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3129,2246,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3129,1582,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3129,1233,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3129,4006,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3129, 804, '2020-10-07 10:08:42', 51420, 1578, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1070,33,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1070,2590,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1070,1927,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1070, 129, '2020-10-29 04:17:27', 43380, 247, 3, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(827,2572,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(827,1800,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(827, 99, '2020-10-14 07:16:48', 37740, 198, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2882,474,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2882, 706, '2020-09-27 11:31:22', 63200, 1379, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(443,1793,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(443,2271,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(443,2817,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(443,1039,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(443, 55, '2020-09-26 11:06:09', 45640, 113, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2401,3940,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2401,544,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2401, 518, '2020-11-06 07:28:19', 74380, 1007, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3264,2091,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3264,1210,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3264,2738,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3264,3925,2);

INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1628,3503,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1628,4093,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1628,3686,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1628, 204, '2020-11-01 22:59:27', 157780, 389, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3340,3579,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3340, 883, '2020-11-06 03:48:33', 155200, 1737, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(366,4052,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(366,3002,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(366,1783,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(366,2217,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(366, 46, '2020-10-28 23:59:06', 64580, 94, 4, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2884,2323,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2884,635,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2884, 707, '2020-10-05 14:19:05', 58260, 1381, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(396,4043,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(396,1614,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(396,3747,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(396,955,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(396, 49, '2020-10-10 19:23:45', 51440, 99, 4, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(836,1728,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(836, 100, '2020-10-19 06:34:38', 237660, 199, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2002,1941,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2002,3248,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2002,1447,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2002,1836,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2002,2761,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2002, 360, '2020-10-16 17:48:07', 48082, 702, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2702,3871,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2702,982,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2702,3800,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2702, 638, '2020-09-21 19:40:11', 127560, 1237, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3233,2913,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3233,3245,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3233,1118,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3233, 841, '2020-09-21 06:53:23', 57820, 1651, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(578,3226,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(578,2215,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(578,1612,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(578, 69, '2020-11-07 07:20:58', 33340, 136, 5, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1883,2183,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1883,3808,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1883, 310, '2020-09-22 20:15:16', 174000, 607, 2, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2688,1527,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2688,2820,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2688,2761,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2688, 634, '2020-10-05 21:44:49', 49860, 1227, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1299,2482,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1299,896,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1299,862,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1299,3130,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1299,1683,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1299, 160, '2020-09-27 08:06:07', 68220, 306, 6, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(540,4038,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(540,1128,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(540, 65, '2020-10-19 01:48:52', 109880, 130, 1, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1928,1091,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1928,2510,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1928,36,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1928,2278,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1928,166,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1928, 328, '2020-10-22 18:14:54', 63496, 638, 5, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(536,3280,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(536,3173,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(536,1853,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(536,2937,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(536, 65, '2020-10-31 21:39:07', 37530, 130, 6, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2560,421,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2560,279,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2560, 582, '2020-09-25 17:09:56', 49560, 1132, 5, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2586,532,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2586,1284,1);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2586, 595, '2020-09-13 08:52:02', 50380, 1154, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2463,2614,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2463,479,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2463,1819,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2463,2695,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2463,1514,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2463, 541, '2020-10-23 03:27:39', 49980, 1045, 2, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3333,1234,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3333,71,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3333, 880, '2020-09-26 04:31:47', 231920, 1730, 1, '17:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2417,2320,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2417,4062,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2417,702,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2417, 524, '2020-10-28 21:35:37', 97960, 1014, 6, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2326,2557,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2326,975,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2326,1823,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2326, 488, '2020-09-23 14:56:07', 39480, 955, 2, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2928,1055,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2928,2394,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2928,3841,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2928,2663,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2928,643,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2928, 724, '2020-10-04 01:04:37', 52580, 1416, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1685,1282,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1685,3872,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1685,1240,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1685, 230, '2020-11-03 01:53:08', 50820, 449, 1, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2028,3539,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2028,1959,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2028,1039,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2028,3982,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2028, 374, '2020-10-10 19:51:32', 57260, 732, 4, '23:59');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1584,3993,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1584,2306,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1584, 196, '2020-10-19 10:42:35', 51676, 373, 5, '14:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1280,3872,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1280,2625,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1280,4018,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1280, 157, '2020-09-20 03:25:58', 49300, 302, 5, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2617,2355,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2617,1557,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2617, 609, '2020-09-14 22:31:06', 33875, 1177, 1, '11:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1661,3886,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1661,1919,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1661,3395,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(1661,2067,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(1661, 221, '2020-09-20 09:54:46', 115760, 427, 3, '10:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3115,2284,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3115,786,4);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(3115,2813,4);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(3115, 796, '2020-09-10 14:03:03', 41240, 1561, 2, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2053,685,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2053,2667,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2053,1151,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2053,202,3);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2053, 383, '2020-10-03 16:09:29', 128860, 748, 6, '18:00');
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2351,2019,2);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2351,3094,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2351,3442,3);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2351,2297,1);
INSERT INTO carts(orders_id, products_id, products_quantity) VALUES(2351,3462,2);
INSERT INTO orders(id, users_seq, time, total_price, credit_cards_seq, delivery_day, delivery_time) VALUES(2351, 496, '2020-11-05 16:58:29', 77549, 969, 3, '10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(373,1694,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(373,3531,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(373,47,'2020-09-21 01:59:08',92730,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1581,1449,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1581,1725,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1581,2078,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1581,196,'2020-09-16 00:22:33',206880,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2071,1954,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2071,511,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2071,389,'2020-09-17 02:06:06',35190,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3334,181,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3334,2359,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3334,824,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3334,880,'2020-10-22 03:33:34',90800,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(967,1076,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(967,453,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(967,3774,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(967,2718,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(967,115,'2020-10-09 18:20:15',126100,969,6,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1028,1873,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1028,3413,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1028,123,'2020-10-17 01:43:59',123720,969,4,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1650,537,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1650,217,'2020-09-29 15:47:27',100000,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2636,1752,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2636,616,'2020-11-01 11:50:10',59400,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2496,3164,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2496,1818,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2496,3565,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2496,556,'2020-10-20 00:58:30',207140,969,6,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,98,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,2340,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,1230,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,2980,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,1806,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,1498,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,2989,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,252,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,3227,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1055,3512,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1055,127,'2020-11-02 04:56:06',214910,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1967,3746,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1967,3620,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1967,346,'2020-10-04 22:12:21',133640,969,6,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3564,3527,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3564,2007,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3564,971,'2020-10-11 22:45:45',56400,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3400,1079,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3400,905,'2020-10-01 05:06:06',56700,969,5,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,2639,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,1115,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,2915,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,2863,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,233,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,2545,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,3439,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,1876,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2210,288,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2210,442,'2020-10-14 04:44:28',184840,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3043,1914,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3043,486,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3043,768,'2020-10-06 20:48:02',79320,969,1,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2303,651,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2303,474,6);

INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2977,2017,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2977,277,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2977,3176,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2977,743,'2020-09-16 16:12:32',85660,969,1,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3548,1301,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3548,2903,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3548,1627,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3548,966,'2020-11-05 22:15:54',84380,969,5,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2093,28,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2093,2732,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2093,395,'2020-10-20 07:51:16',140400,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(399,3892,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(399,643,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(399,1778,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(399,375,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(399,446,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(399,50,'2020-11-02 00:52:21',259760,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(707,2226,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(707,737,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(707,86,'2020-09-07 14:24:54',28420,969,4,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2662,380,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2662,625,'2020-09-11 06:00:31',293400,969,5,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(174,3519,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(174,19,'2020-10-02 03:21:09',83700,969,1,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(52,2259,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(52,264,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(52,1067,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(52,2107,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(52,1164,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(52,5,'2020-11-06 13:26:18',169020,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(799,2321,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(799,2321,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(799,934,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(799,3643,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(799,96,'2020-10-01 18:39:29',915040,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,1205,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,3028,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,2747,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,1485,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,2807,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,2881,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,1873,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,3883,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,2817,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2876,1723,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2876,704,'2020-09-19 05:21:17',119600,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(585,384,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(585,2898,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(585,3084,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(585,1129,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(585,399,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(585,70,'2020-09-24 11:20:09',163980,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2570,3483,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2570,588,'2020-10-18 14:51:25',64260,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1323,3844,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1323,524,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1323,1129,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1323,472,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1323,164,'2020-09-29 04:46:45',208640,969,2,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1491,1884,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1491,184,'2020-09-24 08:39:39',48960,969,6,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(962,2515,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(962,593,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(962,2549,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(962,640,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(962,2826,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(962,1217,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(962,114,'2020-09-25 12:40:39',75440,969,2,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3491,1121,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3491,892,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3491,2032,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3491,3587,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3491,943,'2020-10-31 20:36:27',88160,969,2,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1078,314,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1078,1344,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1078,3378,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1078,130,'2020-09-11 12:18:12',163360,969,1,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(65,2843,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(65,3164,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(65,582,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(65,696,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(65,7,'2020-10-26 01:24:03',142965,969,2,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3335,4056,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3335,15,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3335,2112,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3335,3936,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3335,1159,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3335,3787,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3335,880,'2020-11-07 03:01:34',216680,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(769,136,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(769,93,'2020-10-10 23:32:24',299500,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,2952,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,1260,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,4018,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,3298,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,3167,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,3199,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,3920,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1355,256,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1355,167,'2020-09-15 01:47:08',243800,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1273,3277,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1273,2221,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1273,718,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1273,157,'2020-10-06 07:21:44',159480,969,3,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(180,623,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(180,784,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(180,3150,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(180,20,'2020-11-01 21:12:08',45004,969,5,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(372,2035,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(372,1587,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(372,997,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(372,1034,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(372,3824,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(372,1361,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(372,47,'2020-10-26 09:44:16',208696,969,5,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3096,3708,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3096,789,'2020-10-17 22:41:14',499800,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1173,2275,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1173,1044,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1173,580,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1173,3118,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1173,390,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1173,143,'2020-09-25 02:45:01',149860,969,1,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2167,726,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2167,1936,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2167,546,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2167,135,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2167,426,'2020-09-20 19:45:39',235480,969,5,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,596,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,2853,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,1756,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,3123,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,1851,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,2007,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,2346,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2055,374,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2055,384,'2020-11-05 03:16:10',212215,969,2,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1057,3177,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1057,79,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1057,127,'2020-10-28 16:02:52',60260,969,6,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(783,1416,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(783,1709,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(783,3189,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(783,784,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(783,1517,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(783,871,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(783,94,'2020-10-17 12:50:39',183080,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2408,1225,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2408,632,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2408,2499,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2408,937,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2408,624,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2408,521,'2020-11-05 08:41:56',235460,969,3,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(993,368,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(993,119,'2020-10-04 11:16:30',30600,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3546,2596,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3546,3600,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3546,965,'2020-10-30 09:37:35',211100,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2670,4043,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2670,1767,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2670,3982,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2670,466,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2670,3237,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2670,3630,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2670,628,'2020-09-25 02:17:34',1167600,969,5,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2229,3592,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2229,4101,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2229,2473,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2229,2626,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2229,3919,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2229,2841,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2229,1176,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2229,448,'2020-10-19 23:39:39',164940,969,4,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3139,2324,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3139,480,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3139,807,'2020-10-22 20:37:40',288880,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3438,1233,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3438,990,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3438,2083,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3438,88,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3438,1682,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3438,922,'2020-11-06 21:38:27',152310,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3399,3694,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3399,3311,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3399,905,'2020-09-18 10:07:16',116500,969,4,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(858,3787,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(858,102,'2020-10-27 09:43:07',44640,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1370,659,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1370,450,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1370,2226,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1370,169,'2020-09-14 01:22:31',60860,969,1,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3485,2860,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3485,8,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3485,3059,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3485,940,'2020-10-24 09:06:41',45040,969,2,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3346,2856,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3346,689,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3346,124,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3346,2366,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3346,885,'2020-10-04 17:50:30',122660,969,2,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3514,1095,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3514,3274,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3514,2267,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3514,3524,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3514,2335,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3514,138,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3514,1671,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3514,950,'2020-10-29 03:35:33',195400,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2338,2086,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2338,4116,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2338,2048,4);

INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(345,304,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(345,43,'2020-09-08 02:49:00',103300,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2903,869,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2903,4077,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2903,1929,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2903,3072,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2903,3469,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2903,4015,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2903,715,'2020-11-04 07:55:01',171040,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2114,594,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2114,2140,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2114,1859,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2114,3689,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2114,405,'2020-09-27 09:40:21',1554160,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(111,3689,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(111,12,'2020-10-10 17:14:43',1530000,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2626,301,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2626,3,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2626,1088,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2626,1800,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2626,292,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2626,2610,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2626,613,'2020-10-25 12:22:23',200600,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(150,2029,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(150,1909,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(150,576,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(150,17,'2020-09-28 00:28:52',39730,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2891,1459,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2891,3917,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2891,710,'2020-10-25 15:47:26',65910,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(212,1696,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(212,25,'2020-09-28 16:42:14',194500,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3360,2721,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3360,1523,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3360,3681,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3360,3479,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3360,2340,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3360,4108,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3360,307,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3360,889,'2020-11-01 06:36:47',390600,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3449,1308,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3449,3011,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3449,999,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3449,1976,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3449,671,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3449,972,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3449,471,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3449,926,'2020-10-11 12:10:03',177680,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1558,909,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1558,193,'2020-11-06 16:11:14',132000,969,4,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1560,3285,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1560,515,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1560,1824,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1560,1054,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1560,2482,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1560,193,'2020-09-28 06:04:11',158500,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,1180,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,625,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,3355,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,3364,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,212,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,2698,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,331,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,2257,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2779,234,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2779,671,'2020-09-28 14:34:28',170080,969,5,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(942,1914,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(942,789,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(942,1557,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(942,263,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(942,26,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(942,3662,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(942,112,'2020-09-30 13:08:27',317820,969,2,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1567,3948,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1567,1756,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1567,1939,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1567,3064,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1567,3449,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1567,4001,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1567,195,'2020-10-07 07:02:14',148394,969,6,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2775,2860,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2775,3850,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2775,746,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2775,3535,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2775,670,'2020-09-10 01:24:17',233000,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3482,4075,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3482,2348,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3482,220,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3482,939,'2020-10-13 05:03:59',89620,969,5,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2254,3075,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2254,41,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2254,460,'2020-10-30 17:21:21',78000,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1706,3515,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1706,2039,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1706,2429,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1706,73,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1706,237,'2020-09-29 07:57:14',491260,969,2,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2143,3317,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2143,523,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2143,811,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2143,416,'2020-09-12 01:48:17',139580,969,3,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1443,1503,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1443,1734,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1443,829,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1443,3951,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1443,2942,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1443,1048,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1443,4007,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1443,178,'2020-10-07 01:45:29',170500,969,3,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(675,3977,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(675,899,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(675,82,'2020-09-17 15:03:40',189680,969,3,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2624,1442,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2624,2089,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2624,1518,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2624,2084,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2624,3589,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2624,613,'2020-11-01 04:59:59',288500,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1629,247,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1629,204,'2020-10-14 00:24:05',259500,969,6,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(449,3044,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(449,1509,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(449,3793,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(449,55,'2020-10-24 23:17:15',176280,969,6,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(530,694,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(530,1150,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(530,64,'2020-10-01 20:19:11',147300,969,5,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(925,429,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(925,656,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(925,1719,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(925,1910,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(925,1181,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(925,2220,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(925,3856,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(925,110,'2020-11-02 02:35:01',130480,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(124,3524,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(124,3997,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(124,15,'2020-09-22 18:28:23',43380,969,2,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3488,1853,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3488,1302,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3488,1204,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3488,2474,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3488,292,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3488,3637,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3488,563,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3488,941,'2020-09-12 16:32:45',197110,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(929,1547,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(929,438,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(929,3681,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(929,111,'2020-10-04 17:04:01',133380,969,2,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(590,1051,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(590,3232,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(590,3178,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(590,1596,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(590,71,'2020-10-28 07:36:27',103380,969,3,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(242,4072,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(242,28,'2020-09-30 18:30:32',23800,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2978,3382,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2978,2000,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2978,1613,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2978,3552,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2978,743,'2020-10-19 16:14:06',227900,969,5,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(691,190,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(691,190,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(691,2595,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(691,135,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(691,2420,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(691,84,'2020-09-16 14:07:32',146180,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1140,2760,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1140,522,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1140,140,'2020-10-09 07:49:19',46360,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2295,3569,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2295,3960,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2295,2624,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2295,3278,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2295,474,'2020-09-25 17:08:24',144880,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2549,363,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2549,3531,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2549,577,'2020-10-05 04:28:03',158415,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3100,2506,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3100,790,'2020-10-22 09:37:48',77700,969,1,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3535,2165,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3535,1506,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3535,3477,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3535,3201,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3535,960,'2020-09-26 05:24:27',70540,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2898,1716,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2898,3456,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2898,713,'2020-10-06 23:51:00',85000,969,4,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1768,1713,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1768,2383,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1768,1035,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1768,1448,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1768,2654,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1768,18,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1768,3153,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1768,260,'2020-10-20 08:18:29',154400,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2397,471,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2397,3409,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2397,2089,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2397,1652,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2397,516,'2020-09-27 01:02:56',116861,969,4,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2615,3006,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2615,639,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2615,583,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2615,3157,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2615,1153,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2615,608,'2020-11-07 08:28:34',148960,969,1,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1379,26,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1379,3057,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1379,3818,4);

INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1790,422,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1790,270,'2020-10-15 08:45:15',71880,969,4,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2991,3684,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2991,750,'2020-11-03 07:55:28',523600,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2770,1390,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2770,106,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2770,65,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2770,668,'2020-10-21 15:10:38',261200,969,2,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1937,2043,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1937,175,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1937,3404,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1937,371,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1937,2125,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1937,333,'2020-09-24 12:33:32',199440,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3376,3568,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3376,3146,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3376,2709,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3376,894,'2020-10-17 18:57:23',51760,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1317,2796,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1317,143,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1317,1039,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1317,163,'2020-10-21 06:13:05',101620,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1472,2966,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1472,3602,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1472,181,'2020-09-23 11:17:37',289900,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2328,2080,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2328,2133,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2328,261,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2328,2711,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2328,1169,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2328,489,'2020-10-21 13:43:46',118280,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1382,3317,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1382,2027,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1382,2732,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1382,171,'2020-09-20 00:19:58',94980,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1529,13,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1529,324,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1529,189,'2020-09-20 19:20:25',276900,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2956,186,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2956,1928,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2956,2309,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2956,3758,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2956,2449,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2956,383,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2956,735,'2020-10-30 20:45:40',190900,969,1,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1010,1637,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1010,1613,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1010,4068,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1010,715,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1010,121,'2020-10-15 20:57:49',103770,969,3,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3337,3631,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3337,747,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3337,881,'2020-09-25 22:09:10',213400,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(454,4050,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(454,2874,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(454,3772,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(454,2139,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(454,56,'2020-10-31 04:59:35',184170,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(431,2122,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(431,184,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(431,54,'2020-10-31 18:51:44',350940,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,366,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,1863,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,924,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,4087,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,3366,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,1127,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,1247,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(183,3701,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(183,21,'2020-09-30 17:27:14',212923,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(270,1367,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(270,2451,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(270,1323,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(270,1175,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(270,316,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(270,1045,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(270,4095,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(270,32,'2020-10-02 14:46:11',126880,969,1,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(867,4016,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(867,103,'2020-10-17 05:57:24',101400,969,2,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(333,1711,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(333,41,'2020-10-01 18:37:11',99000,969,6,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(210,3074,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(210,3618,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(210,1154,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(210,25,'2020-11-06 14:00:35',159200,969,1,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(697,2562,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(697,1159,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(697,3599,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(697,3783,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(697,3170,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(697,85,'2020-09-13 14:11:10',174090,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,3940,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,3828,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,1959,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,1849,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,2714,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,3903,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,2316,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,1721,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1516,85,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1516,187,'2020-10-13 01:13:50',180980,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3463,2552,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3463,1456,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3463,931,'2020-10-07 08:03:25',57420,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,803,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,3252,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,1093,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,3911,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,1819,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,2843,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,2937,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1031,1636,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1031,124,'2020-09-30 21:11:40',189780,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(248,2600,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(248,29,'2020-11-02 07:17:57',86880,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2536,1427,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2536,4022,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2536,1599,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2536,571,'2020-10-14 21:22:27',163160,969,2,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(812,3156,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(812,2305,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(812,3805,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(812,97,'2020-10-05 15:10:13',293840,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(999,288,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(999,1029,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(999,2836,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(999,2675,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(999,2126,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(999,154,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(999,119,'2020-10-16 17:18:20',151460,969,1,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1514,2174,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1514,187,'2020-10-29 17:56:14',123250,969,4,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(168,2716,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(168,277,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(168,3875,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(168,1890,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(168,19,'2020-10-31 07:50:53',38920,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1538,3804,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1538,190,'2020-09-07 19:15:30',272000,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(991,3736,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(991,3017,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(991,3872,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(991,4008,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(991,3657,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(991,119,'2020-10-04 07:57:33',116120,969,1,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,2641,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,1129,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,2582,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,556,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,2569,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,1695,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,3406,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(653,737,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(653,79,'2020-10-26 09:28:50',185870,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1555,2235,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1555,1381,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1555,224,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1555,193,'2020-09-23 02:29:20',152580,969,3,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,2358,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,852,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,2030,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,1395,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,623,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,1954,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,977,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,3062,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(186,107,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(186,21,'2020-10-22 23:40:51',193588,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3140,2770,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3140,3960,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3140,290,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3140,808,'2020-09-17 21:59:05',58000,969,2,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1816,3718,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1816,279,'2020-10-27 02:44:39',151200,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2911,515,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2911,2378,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2911,718,'2020-10-31 04:18:14',208080,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,698,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,3553,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,2495,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,2191,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,555,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,3987,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,1291,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1989,3711,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1989,355,'2020-09-15 04:24:37',162120,969,6,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2337,2658,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2337,1734,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2337,1233,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2337,491,'2020-10-19 17:48:38',94000,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1319,1872,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1319,1693,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1319,2423,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1319,2983,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1319,3801,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1319,4111,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1319,163,'2020-09-12 10:29:29',191880,969,4,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,2391,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,1171,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,673,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,555,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,2520,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,1917,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,1406,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,1550,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,2847,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1154,1833,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1154,142,'2020-11-04 05:11:32',95860,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2448,4045,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2448,965,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2448,3754,6);

INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(854,102,'2020-10-01 00:34:59',56780,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1820,318,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1820,282,'2020-09-08 03:52:01',219500,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3310,3855,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3310,1067,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3310,1882,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3310,3738,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3310,1763,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3310,374,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3310,870,'2020-10-18 07:33:50',200060,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3117,2260,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3117,3400,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3117,3013,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3117,3356,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3117,797,'2020-09-19 04:56:35',219360,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(314,1532,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(314,297,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(314,39,'2020-10-15 21:39:44',181580,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2365,2704,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2365,1145,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2365,3382,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2365,3745,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2365,501,'2020-09-10 05:12:56',162030,969,6,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2680,1450,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2680,1726,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2680,1143,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2680,213,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2680,4029,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2680,918,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2680,631,'2020-10-04 04:56:57',174990,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3325,810,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3325,1773,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3325,878,'2020-09-21 06:08:42',58900,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3051,2210,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3051,3087,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3051,3374,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3051,1616,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3051,3630,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3051,771,'2020-09-13 22:46:49',332996,969,2,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1397,2859,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1397,3609,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1397,172,'2020-10-10 04:30:34',120650,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(144,2078,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(144,17,'2020-09-28 07:02:10',62700,969,5,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(75,2471,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(75,24,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(75,1048,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(75,708,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(75,4055,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(75,8,'2020-10-25 13:59:10',101750,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(582,3460,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(582,70,'2020-10-23 01:05:20',98100,969,2,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3169,4032,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3169,2583,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3169,3695,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3169,820,'2020-09-18 17:50:37',123280,969,5,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(285,3417,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(285,34,'2020-10-18 20:12:40',132650,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2207,2252,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2207,2184,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2207,774,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2207,146,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2207,3841,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2207,2050,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2207,1483,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2207,440,'2020-10-31 06:39:46',134220,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3469,947,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3469,2637,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3469,2541,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3469,1796,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3469,933,'2020-11-07 04:05:26',113360,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3596,2297,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3596,1868,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3596,2790,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3596,751,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3596,1764,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3596,3502,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3596,829,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3596,983,'2020-09-26 00:05:05',160960,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(557,2353,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(557,153,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(557,67,'2020-10-28 23:50:21',85680,969,5,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(831,1310,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(831,384,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(831,357,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(831,1167,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(831,749,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(831,99,'2020-10-16 23:13:38',148120,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(73,2961,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(73,4125,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(73,2058,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(73,3583,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(73,2539,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(73,1768,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(73,2283,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(73,8,'2020-09-13 09:02:19',98220,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1498,3314,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1498,3848,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1498,2330,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1498,3781,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1498,185,'2020-10-28 07:55:26',240800,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1716,1886,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1716,1224,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1716,1700,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1716,242,'2020-09-12 01:15:31',89870,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(357,289,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(357,3956,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(357,4096,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(357,3043,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(357,2840,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(357,45,'2020-10-07 00:49:11',110700,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(14,3928,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(14,2990,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(14,1678,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(14,1653,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(14,1467,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(14,176,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(14,2270,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(14,2,'2020-10-22 09:03:25',152380,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3004,2739,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3004,541,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3004,1698,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3004,755,'2020-10-06 22:29:09',220040,969,4,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3344,229,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3344,884,'2020-10-25 15:17:54',240000,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3005,1552,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3005,537,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3005,755,'2020-09-14 02:42:25',49500,969,2,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(600,943,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(600,578,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(600,3929,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(600,2961,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(600,2841,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(600,2079,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(600,1762,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(600,72,'2020-09-29 06:51:44',338440,969,5,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3095,3029,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3095,728,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3095,2506,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3095,1403,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3095,3438,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3095,191,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3095,788,'2020-10-13 23:11:57',227220,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(42,2288,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(42,3504,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(42,4,'2020-11-02 14:20:27',148680,969,4,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1135,4010,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1135,2343,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1135,1891,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1135,787,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1135,1809,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1135,1909,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1135,2938,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1135,139,'2020-10-20 00:08:31',129300,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3178,1755,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3178,3794,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3178,823,'2020-09-28 11:16:38',1109400,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1957,775,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1957,2313,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1957,995,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1957,1837,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1957,3240,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1957,1321,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1957,341,'2020-10-29 08:42:53',76312,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2193,121,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2193,1197,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2193,434,'2020-11-02 04:39:19',91360,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1249,3289,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1249,3893,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1249,204,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1249,645,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1249,3789,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1249,154,'2020-10-25 07:08:08',190710,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1456,1115,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1456,3899,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1456,3834,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1456,180,'2020-10-09 00:13:37',147240,969,2,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(139,2777,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(139,682,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(139,3412,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(139,492,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(139,16,'2020-10-14 12:21:10',180600,969,2,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,1953,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,2418,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,622,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,3125,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,731,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,2190,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,1608,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,1923,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,2710,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,3463,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1714,1082,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1714,241,'2020-09-22 00:45:36',182660,969,4,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1774,133,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1774,264,'2020-11-04 13:40:32',41880,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(280,1199,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(280,461,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(280,2707,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(280,208,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(280,106,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(280,33,'2020-11-03 16:55:57',133500,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1060,2526,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1060,364,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1060,1897,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1060,1416,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1060,3140,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1060,3563,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1060,128,'2020-09-22 20:11:18',279320,969,3,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1667,1722,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1667,3506,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1667,889,4);

INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1682,165,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1682,1579,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1682,1898,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1682,228,'2020-10-04 02:56:14',188020,969,2,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1013,3034,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1013,3036,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1013,866,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1013,121,'2020-10-29 09:48:46',110620,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1459,3596,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1459,3039,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1459,1526,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1459,1825,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1459,2293,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1459,2674,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1459,1285,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1459,180,'2020-10-21 16:50:09',144860,969,3,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2016,2396,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2016,3480,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2016,1145,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2016,2503,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2016,2562,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2016,3695,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2016,368,'2020-10-01 21:11:08',352780,969,4,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2363,4044,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2363,2341,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2363,400,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2363,501,'2020-10-03 00:28:47',87430,969,2,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(29,439,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(29,772,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(29,1688,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(29,3,'2020-09-29 15:00:43',172000,969,4,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,2557,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,1918,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,267,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,1622,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,3010,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,32,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,3368,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,3102,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(531,1113,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(531,64,'2020-10-04 00:27:12',175270,969,2,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3065,2823,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3065,3388,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3065,34,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3065,776,'2020-10-12 23:55:50',56640,969,5,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2795,1949,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2795,842,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2795,2862,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2795,3670,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2795,2671,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2795,2008,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2795,676,'2020-09-22 07:14:14',199925,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3235,3071,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3235,1935,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3235,4022,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3235,1978,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3235,4037,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3235,2882,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3235,2502,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3235,841,'2020-10-31 17:30:16',52560,969,4,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(822,443,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(822,491,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(822,682,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(822,98,'2020-09-19 09:43:47',167100,969,6,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(162,1285,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(162,1852,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(162,1382,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(162,3495,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(162,18,'2020-11-01 16:49:04',186080,969,1,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1000,2111,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1000,3573,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1000,120,'2020-09-18 00:01:09',151000,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,2462,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,3903,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,3016,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,45,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,4010,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,1046,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,693,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,3261,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2600,1160,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2600,600,'2020-10-31 13:04:52',239170,969,1,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,1786,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,826,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,2170,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,1231,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,1076,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,1849,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,1849,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,2422,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,2534,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,3406,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,1560,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2348,37,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2348,495,'2020-09-13 17:42:32',201570,969,1,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(743,1156,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(743,1157,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(743,1713,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(743,90,'2020-09-24 05:40:24',39620,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1415,2757,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1415,3768,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1415,1062,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1415,174,'2020-10-03 04:11:35',188200,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1603,3308,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1603,2014,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1603,3104,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1603,2751,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1603,544,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1603,1021,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1603,3480,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1603,198,'2020-09-10 09:18:01',198860,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,1364,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,66,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,1921,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,2500,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,18,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,2983,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,2991,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1901,3185,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1901,318,'2020-09-13 22:04:35',93860,969,4,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1652,265,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1652,217,'2020-10-13 10:08:06',109900,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3295,997,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3295,204,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3295,4024,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3295,865,'2020-10-13 15:51:52',68360,969,4,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3543,933,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3543,963,'2020-09-10 11:49:42',82800,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,597,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,3040,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,3316,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,3430,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,231,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,2417,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,1590,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(200,1472,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(200,24,'2020-10-05 13:24:40',166320,969,1,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2382,3782,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2382,3669,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2382,509,'2020-09-19 22:30:15',278900,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(776,613,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(776,762,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(776,1234,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(776,3343,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(776,94,'2020-10-19 06:53:52',134280,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,3076,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,1156,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,2449,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,4077,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,2227,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,780,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,2947,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,1144,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3148,3950,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3148,812,'2020-10-13 09:20:07',184030,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2511,3824,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2511,3779,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2511,560,'2020-09-15 00:41:21',506800,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1094,1173,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1094,1262,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1094,2595,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1094,2221,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1094,3792,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1094,132,'2020-09-23 18:22:21',587870,969,4,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2785,1144,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2785,3428,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2785,3863,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2785,1078,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2785,1728,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2785,673,'2020-09-08 02:26:17',381210,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3496,1645,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3496,665,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3496,3761,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3496,944,'2020-09-18 22:06:33',207950,969,5,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(363,727,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(363,1653,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(363,3197,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(363,2450,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(363,2067,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(363,46,'2020-09-26 13:02:25',203640,969,4,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,337,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,2018,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,4052,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,2349,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,979,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,1915,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,4083,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,1515,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,290,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(437,2329,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(437,54,'2020-11-06 02:22:49',202600,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2175,1776,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2175,2252,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2175,428,'2020-09-16 12:19:31',52180,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(934,910,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(934,2368,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(934,1469,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(934,221,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(934,111,'2020-10-16 00:39:24',128200,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1378,1074,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1378,1818,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1378,3758,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1378,170,'2020-10-25 08:49:31',237280,969,1,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3326,808,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3326,3775,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3326,878,'2020-10-07 03:57:03',221460,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,2567,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,2640,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,1542,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,3218,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,1980,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,355,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,3326,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,1913,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3318,3588,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3318,875,'2020-10-30 10:08:26',704170,969,5,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3539,1211,1);

INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2654,634,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2654,755,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2654,1053,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2654,622,'2020-09-18 17:03:21',95960,969,6,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,499,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,384,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,2512,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,3355,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,752,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,1481,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,27,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,4118,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,1208,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,2627,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1130,315,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1130,138,'2020-09-09 22:25:54',195980,969,1,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3161,936,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3161,2986,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3161,1664,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3161,816,'2020-09-09 12:27:51',280340,969,4,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2451,2053,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2451,1450,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2451,536,'2020-10-31 14:13:19',62840,969,6,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(825,1621,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(825,3597,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(825,343,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(825,99,'2020-09-21 20:16:56',159210,969,2,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,3440,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,3284,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,2820,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,3606,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,3797,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,681,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,366,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2643,1134,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2643,618,'2020-10-02 05:11:18',142213,969,2,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(448,2834,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(448,660,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(448,1953,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(448,2483,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(448,1677,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(448,1162,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(448,3588,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(448,55,'2020-10-11 19:15:52',263180,969,1,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2010,2436,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2010,2931,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2010,335,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2010,3592,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2010,364,'2020-10-31 15:03:38',191100,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3175,3016,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3175,39,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3175,1275,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3175,3922,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3175,3518,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3175,822,'2020-09-19 17:09:01',176570,969,5,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,378,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,2860,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,1363,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,2779,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,493,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,2698,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,1092,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,3886,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,2080,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2128,3831,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2128,411,'2020-10-23 06:53:28',249240,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(913,3136,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(913,3125,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(913,3855,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(913,2530,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(913,2993,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(913,479,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(913,3638,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(913,109,'2020-10-05 02:06:23',218340,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(665,2905,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(665,2835,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(665,1707,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(665,944,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(665,2255,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(665,81,'2020-09-27 07:17:44',112430,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1354,2382,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1354,1629,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1354,1771,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1354,909,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1354,167,'2020-10-26 16:29:45',280120,969,3,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2987,111,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2987,748,'2020-09-10 10:29:00',437400,969,5,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3628,2639,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3628,1541,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3628,5,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3628,498,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3628,1278,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3628,996,'2020-10-10 09:34:17',119360,969,6,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(676,1490,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(676,3304,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(676,1517,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(676,71,1);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(676,82,'2020-10-15 08:32:07',141920,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2215,2952,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2215,2517,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2215,38,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2215,444,'2020-10-25 19:43:19',48440,969,5,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(980,3683,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(980,117,'2020-09-28 17:20:08',227400,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1412,2665,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1412,4001,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1412,932,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1412,623,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1412,174,'2020-11-07 06:20:15',137730,969,3,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1859,201,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1859,299,'2020-10-25 10:58:18',479400,969,5,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,159,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,461,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,1803,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,4106,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,1486,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,2939,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,2172,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,3166,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(957,364,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(957,114,'2020-10-13 06:27:23',198090,969,5,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1827,1200,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1827,685,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1827,3121,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1827,2076,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1827,291,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1827,284,'2020-09-07 12:45:19',102190,969,5,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(689,2051,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(689,436,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(689,741,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(689,3243,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(689,2984,2);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(689,84,'2020-09-22 09:26:50',90180,969,2,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,1586,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,2219,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,44,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,409,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,493,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,981,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,2926,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,2458,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,2208,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,2412,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,411,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1857,44,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1857,299,'2020-09-27 00:32:52',181540,969,5,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(176,1915,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(176,3754,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(176,3313,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(176,374,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(176,1201,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(176,1263,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(176,789,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(176,20,'2020-11-04 17:02:57',182140,969,6,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(377,2637,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(377,2088,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(377,3432,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(377,47,'2020-10-12 23:56:48',255700,969,4,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(611,2814,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(611,3410,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(611,2771,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(611,866,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(611,74,'2020-10-04 04:28:32',94840,969,3,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(220,1480,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(220,3723,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(220,746,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(220,1181,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(220,3344,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(220,2676,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(220,777,5);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(220,25,'2020-10-30 01:30:14',388905,969,3,'17:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3477,2206,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3477,2301,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3477,3557,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3477,493,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3477,2266,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3477,3830,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3477,392,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3477,937,'2020-10-20 16:05:38',201215,969,4,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1929,1903,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1929,1505,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1929,4002,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1929,769,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1929,3604,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1929,242,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1929,329,'2020-10-22 21:48:00',438630,969,6,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,2094,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,2497,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,3366,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,668,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,464,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,1729,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,2903,5);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,2034,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,3043,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,3757,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,2510,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(960,3844,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(960,114,'2020-10-23 14:11:28',198540,969,4,'23:59');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1545,2238,2);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1545,2288,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1545,1942,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(1545,192,'2020-11-04 22:36:14',89480,969,2,'11:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(903,2988,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(903,4080,3);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(903,2833,6);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(903,1318,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(903,3414,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(903,107,'2020-10-30 04:27:26',93588,969,1,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2569,152,1);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2569,1171,4);
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(2569,4027,4);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(2569,588,'2020-09-27 21:58:50',142300,969,5,'10:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3451,59,3);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3451,927,'2020-10-23 18:46:19',224400,969,4,'14:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(3350,440,6);
INSERT INTO orders(id, users_seq,time, total_price, credit_cards_seq, delivery_day, delivery_time)VALUES(3350,887,'2020-11-03 19:35:35',300000,969,3,'18:00');
INSERT INTO carts(orders_id,products_id,products_quantity)VALUES(1746,1772,3);